﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PollPrint.ascx.cs"
 Inherits="Poll_UserControls_PollPrint" %>
  <asp:HyperLink ID="hlnkPrint" runat="server" CssClass="printLink" h="400" w="350" scrolling='yes'  title='Print' Text="Print"  
    ToolTip="Print"></asp:HyperLink>
