﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PollReportHeader.ascx.cs" Inherits="Polls_new_design_UserControls_PollReportHeader" %>
<!--<link href="css/StyleSheet.css" rel="stylesheet" type="text/css" />
<div class="reportsmain"> 
    <div class="bgbar">
    <table width="100%">
    <tr>
    <td width="20%">    
      <asp:Label ID="lblReport" runat="server" Text="Report:" meta:resourcekey="lblReportResource1"></asp:Label>
        <asp:Label ID="lblSurveyName" runat="server" meta:resourcekey="lblSurveyNameResource1"></asp:Label>
        </td>
        <td width="20%" >
            <asp:Label ID="lblstatus" runat="server" Text="Status:" Font-Names="Arial, Helvetica, sans-serif" ForeColor="Blue"></asp:Label>
            <asp:Label ID="lblstatusValue" runat="server"  Font-Names="Arial, Helvetica, sans-serif" ForeColor="Blue"></asp:Label>
            </td>
            <td width="20%" >
            <asp:Label ID="lblvisits" runat="server" Text="Views:" Font-Names="Arial, Helvetica, sans-serif" ForeColor="Blue"></asp:Label>
            <asp:Label ID="lblvisitsValue" runat="server"  Font-Names="Arial, Helvetica, sans-serif" ForeColor="Blue"></asp:Label>  
            </td>      
            <td width="20%" >     
              <asp:Label ID="lblvotes" runat="server" Text="Votes:" Font-Names="Arial, Helvetica, sans-serif" ForeColor="Blue"></asp:Label>
            <asp:Label ID="lblvotesvalue" runat="server"  Font-Names="Arial, Helvetica, sans-serif" ForeColor="Blue"></asp:Label>
            </td>
            <td width="20%">
                <%--<asp:Label ID="lblModified" runat="server" Text="LastModified:" Font-Names="Arial, Helvetica, sans-serif" ForeColor="Blue"></asp:Label>--%>
                <asp:HyperLink ID="lblModifiedValue" runat="server" Font-Names="Arial, Helvetica, sans-serif" ForeColor="Blue">Manage my poll</asp:HyperLink>
            </td>
            </tr>
            </table>
    </div>
</div>-->