﻿<div class="block-head">
    <h2><i class="material-icons left">check_circle</i>Closed<div class="badge" id="closedcount"></div></h2>
</div>
<div class="col s12 m12" ng-repeat="poll in polls | filter:{Status:'Closed'}">
    <div class="card hoverable white" style="cursor:pointer;overflow: visible !important;">

        <div class="card-title col m12">
            <div class="col m12">
                <div class="col m2 nopad" ng-click="openPollWindow" pollwindow fancybox="report">
                    <i class="material-icons midium col nopad red-text" style="color:#326EA2 !important;font-size:40px;" ng-show="{{poll.PollIcon == 'play_circle_filled'}}">{{poll.PollIcon}}</i>
                    <i class="material-icons midium col nopad orange-text darken-1" style="font-size:40px;color:black;" ng-show="{{poll.PollIcon == 'photo_size_select_actual'}}">{{poll.PollIcon}}</i>
                    <i class="material-icons midium col nopad green-text" style="font-size:40px;" ng-show="{{poll.PollIcon == 'help'}}">chat</i>
                </div>
                <div class="col m8 nopad black-text" fancybox="report">
                    <p class="pollname"> {{poll.name}}</p>
                    <p class="pollquestion">{{poll.question}}</p>
                </div>
                <div class="col m2 right-align">

                    <a href='#!' class="dropdown-button" data-activates="{{'carddrop' + poll.pk_pollid}}" menudropdown><i class="material-icons">menu</i></a>
                    <ul id="{{'carddrop' + poll.pk_pollid}}" class='dropdown-content  carddropdown' style="z-index:2000;">
                        <li><a href="#!" fancybox="edit">View poll</a></li>
                        <li><a href="#!" fancybox="report">Analytics</a></li>
                        <li><a href="#!" pollcopying>Copy poll</a></li>
                        <li><a href="#!" polldeletion>Delete poll</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col m12 s12 nopad">
            <div class="resultsclass" style="text-align:center;margin-left:0px;background-color:white;border-style:none;" resultschart="resultschart" ng-bind-html="chartsdata" fancybox="report"></div>
        </div>

        <div class="card-action" fancybox="report">
            <span class="col m4 s4 left-align nopad">{{poll.closed_on}}</span>
            <span class="col m4 s4 center-align nopad" ng-hide="{{poll.TOTAL_RESPONSES == 0}}"><i class="tiny material-icons" style="vertical-align:middle;">visibility</i> {{poll.TOTAL_RESPONSES}} Votes</span>
            <span class="col m4 s4 center-align nopad red-text normal" ng-show="{{poll.TOTAL_RESPONSES == 0}}" style="font-style:normal;">No Responses</span>
            <span class="col m4 s4 right-align nopad"  ng-show="{{poll.ActiveSince > 0}}"><i class="tiny material-icons" style="vertical-align:middle;">radio_button_checked</i> {{poll.ActiveSince}} Day(s)</span>
            <span class="col m4 s4 right-align nopad red-text" ng-show="{{poll.ActiveSince == 0 && poll.EmbedCode == ''}}" style="font-style:normal;">Not Launched</span>
            <span class="col m4 s4 right-align nopad"  ng-show="{{poll.ActiveSince == 0 && poll.EmbedCode != ''}}"><i class="tiny material-icons" style="vertical-align:middle;">radio_button_checked</i> 1 Day(s)</span>
        </div>
    </div>
    <div id="{{'modal-' + poll.pk_pollid}}" class="modal">
        <div class="modal-content text-center">
            <h4 id="{{'modalheader-' + poll.pk_pollid}}" class="center-align">Modal Header</h4>
            <p id="{{'modalbody-' + poll.pk_pollid}}" class="center-align">A bunch of text</p>
        </div>
        <div class="modal-footer center-align col m12" style="text-align:center;">
            <div class="col m6" style="text-align:center;">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn red  white-text" style="float:none;">No</a>
            </div>
            <div class="col m6" style="text-align:center;">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn green white-text" pollaction style="float:none;">Yes</a>
            </div>
        </div>
    </div>
</div>