﻿<div class="col s12 m12" ng-repeat="poll in polls | filter:{Status:'Draft'} | orderBy:'-pk_pollid'">
    <a class="fancybox-iframe" fancybox="edit">
        <div class="card hoverable white" style="cursor:pointer;overflow: visible !important;">

            <div class="card-title col m12">
                <div class="col m12">
                    <div class="col m2 nopad" ng-click="openPollWindow" fancybox="edit">
                        <i class="material-icons midium col nopad red-text" style="color:#326EA2 !important;font-size:40px;" ng-show="{{poll.PollIcon == 'play_circle_filled'}}">{{poll.PollIcon}}</i>
                        <i class="material-icons midium col nopad orange-text darken-1" style="font-size:40px;color:black;" ng-show="{{poll.PollIcon == 'photo_size_select_actual'}}">{{poll.PollIcon}}</i>
                        <i class="material-icons midium col nopad green-text" style="font-size:40px;" ng-show="{{poll.PollIcon == 'help'}}">chat</i>
                    </div>
                    <div class="col m8 nopad black-text" fancybox="edit">
                        <p class="pollname"> {{poll.name}}</p>
                        <p class="pollquestion">{{poll.question}}</p>
                    </div>
                    <div class="col m2 right-align">
                        <a href='#!' class="dropdown-button" data-activates="{{'carddrop' + poll.pk_pollid}}" menudropdown><i class="material-icons">menu</i></a>
                        <ul id="{{'carddrop' + poll.pk_pollid}}" class='dropdown-content carddropdown' style="z-index:2000;">
                            <li><a href="#!" fancybox="edit">Manage poll</a></li>
                            <li><a href="#!" fancybox="launch">Launch poll</a></li>
                            <li><a href="#!" pollcopying>Copy poll</a></li>
                            <li><a href="#!" pollclosing>Close poll</a></li>
                            <li><a href="#!" polldeletion>Delete poll</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-content black-text col m12 s12" ng-show="{{poll.type != 'Text'}}" fancybox="edit">
                <div class="col s12 m12 nopad">
                    <div ng-show="{{poll.IsImagePoll}}">
                        <span ng-show="{{poll.ImageLink != ''}}">
                            <img src="images/{{poll.pk_pollid}}/{{poll.ImageLink}}" class="responsive-img" style="width: 100%;" id="{{'image-' + poll.pk_pollid}}" />
                        </span>
                        <span ng-show="{{poll.ImageLink == ''}}">
                            <img src="/Polls/App_Themes/images/ImagePoll.jpg" class="responsive-img" style="width: 100%;" id="{{'image-' + poll.pk_pollid}}" />
                        </span>
                    </div>
                    <div ng-show="{{poll.IsVideoPoll}}">
                        <div ng-show="{{poll.VideoLink != ''}}" ng-hide="{{poll.VideoLink == ''}}" ng-bind-html="videoFrame" style="padding-right:15px;" class="video-container" youtube id="{{'video-' + poll.pk_pollid}}"></div>
                        <div ng-show="{{poll.VideoLink == ''}}" ng-hide="{{poll.VideoLink != ''}}" style="padding-right:15px;" id="{{'video-' + poll.pk_pollid}}">
                            <img src="/Polls/App_Themes/images/video.jpg" class="responsive-img" style="width: 100%;" id="{{'image-' + poll.pk_pollid}}" ng-show="{{poll.ImageLink == ''}}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-action" fancybox="edit">
                <span class="col m4 s4 left-align nopad">{{poll.created_on}}</span>
                <span class="col m4 s4 center-align nopad">&nbsp;</span>
                <span class="col m4 s4 right-align nopad">&nbsp;</span>
            </div>
        </div>
        <div id="{{'modal-' + poll.pk_pollid}}" class="modal">
            <div class="modal-content text-center">
                <h4 id="{{'modalheader-' + poll.pk_pollid}}" class="center-align">Modal Header</h4>
                <p id="{{'modalbody-' + poll.pk_pollid}}" class="center-align">A bunch of text</p>
            </div>
            <div class="modal-footer center-align col m12" style="text-align:center;">
                <div class="col m6" style="text-align:center;">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn red white-text" style="float:none;">No</a>
                </div>
                <div class="col m6" style="text-align:center;">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn green white-text" pollaction style="float:none;">Yes</a>
                </div>
            </div>
        </div>
    </a>
</div>
<script type="text/javascript">
    function showFirstPollEditBubble(q) {
        if (q == "") {
            var pos = $("#newpollbutton").position();
            var toppos = pos.top;
            var leftpos = pos.left;
            var width = $("#newpollbutton").css("width");
            var intwidth = parseInt(width.replace("px"));
            $("#firstpolledit").show("easing");
            $("#firstpolledit").css({ "position": "absolute", "top": (toppos * 1.8), "left": (intwidth * 1.05) })
        }
    }


</script>