﻿<div class="block-head">
    <h2><i class="material-icons left">drafts</i>Drafts<span class="badge right" id="draftcount"></span></h2>
</div>

<div class="col s12 m12" style="background-color:transparent;">
    <div class="add-block" style="background-color:transparent;">
        <ul class="collapsible" data-collapsible="accordion" style="box-shadow: none; border: none !important;">
            <li>
                <div class="collapsible-header" style="border: none; padding: 5px 0 10px 0; background:transparent; box-show:none;" id="newpollbutton">
                    <a class="btn-floating btn-large waves-effect waves-light red"><i style="width: 100%; color: #fff;" class="material-icons">add</i></a>
                </div>
                <div class="collapsible-body" style="border: none;" id="polltypebuttons">
                    <div class="col m12 s12" style="padding: 10px 0;">
                        <div class="col m4 s4">
                            <a class="btn-floating btn-large" href="#" id="addvideopoll" style="color:#326EA2 !important;background-color:#326EA2 !important;"><i class="material-icons white-text">play_circle_filled</i></a>
                        </div>
                        <div class="col m4 s4">
                            <a class="btn-floating btn-large orange darken-1" href="#" id="addimagepoll"><i class="material-icons white-text">photo_size_select_actual</i></a>
                        </div>
                        <div class="col m4 s4">
                            <a class="btn-floating btn-large green" href="#" id="addtextpoll"><i class="material-icons white-text">chat</i></a>
                        </div>
                    </div>

                </div>
            </li>
        </ul>

    </div>
    <div class="addpool" style="display:none; background: transparent; border: none;">
        <p id="newpolltitle">Give a name to your poll</p>
        <textarea name="newpollname" id="newpollname" tabindex="2" ng-blur="createNewPoll()"></textarea>
        <p id="newpollmessage" class="red-text" style="margin: 0;"></p>
        <input type="hidden" name="polltype" id="polltype" />
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.collapsible').collapsible(
            {
                accordion: true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            }
        );
        $("#newpollbutton").click(function () {
            $("#firstpollcreate").fadeOut();
        });
        $("#addvideopoll").click(function () {
            $(".addpool").show();
            $("#addcmt").hide();
            $("#newpolltitle").html("Give a name to your video poll");
            $("#polltype").val("Video");
            $("#newpollname").focus();
        });

        $("#addtextpoll, #linktext").click(function () {
            $(".addpool").show();
            $("#addcmt").hide();
            $("#newpolltitle").html("Give a name to your text poll");
            $("#polltype").val("Text");
            $("#newpollname").focus();
        });

        $("#addimagepoll").click(function () {
            $(".addpool").show();
            $("#addcmt").hide();
            $("#newpolltitle").html("Give a name to your image poll");
            $("#polltype").val("Image");
            $("#newpollname").focus();
        });

        //$("#newpollname").blur(function () {
        //    var newpollname = $("#newpollname").val();
        //    if (newpollname == "") {
        //        $(".addpool").hide();
        //        $("#addcmt").show();
        //    }
        //    else {
        //        savePollName();
        //    }
        //});

        $("#newpollname").keypress(function (event) {
            if (event.keyCode == 27) {
                $(".addpool").hide();
                $("#addcmt").show();
            }
            if (event.keyCode == 13) {
                $("#newpollname").blur();
            }
        });
    });

</script>
