﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AdminMaster.master" AutoEventWireup="true" CodeFile="WelcomeAdmin.aspx.cs" Inherits="Admin_WelcomeAdmin" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">

<div class="contentPanelHeader"><div class="pageTitle">&nbsp;</div></div>
<div class="contentPanel">
<p >&nbsp;</p>
<p >&nbsp;</p>
<p >&nbsp;</p>
<p >&nbsp;</p>
<p >&nbsp;</p>
<p >&nbsp;</p>
<center><h1><asp:Label ID ="lblWelcomeMsg"  runat ="server" 
        meta:resourcekey="lblWelcomeMsgResource1"></asp:Label></h1></center>
<p >&nbsp;</p>
<p >&nbsp;</p>
<p >&nbsp;</p>
<p >&nbsp;</p>
<p >&nbsp;</p>
<p >&nbsp;</p>
</div>
</asp:Content>

