﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="pushcommit2340902.aspx.cs" Inherits="bitbucket_pushcommit2340902" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lblheaderslist" runat="server"></asp:Label>
        <br />
        <asp:Label ID="lblreqbody" runat="server"></asp:Label>
    </div>
    </form>
</body>
</html>
