﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ImageConrol.ascx.cs" Inherits="UserControls.RespondentControls.ImageConrol" %>
<%@ Register Src="DisplayQuestionControl.ascx" TagName="DisplayQuestionControl" TagPrefix="Insighto" %>
<%@ Register Src="NarrationHeaderControl.ascx" TagName="NarrationHeaderControl" TagPrefix="Insighto" %>
<Insighto:NarrationHeaderControl ID="ucNarrationHeaderControl" runat="server" />

<%--<style type="text/css">
img {
    width: 100px;
}
img:hover {
    width: 300px;
}
</style>--%>
<div class="ResondLbl">
<div class="qImageControl" runat="server" id="divImages">
</div>
</div>
