﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="IntroductionTextControl.ascx.cs"
    Inherits="UserControls.RespondentControls.IntroductionTextControl" %>
<div class="respondentIntroText">
    <asp:Label ID="lblSurveyIntroduction" runat="server" />
</div>
