﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NarrationHeaderControl.ascx.cs"
    Inherits="UserControls.RespondentControls.NarrationHeaderControl" %>
<div class="narrationHeader">
    <asp:Label runat="server" ID="lblHeader" />
</div>
