﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PageBreakControl.ascx.cs"
    Inherits="UserControls.RespondentControls.PageBreakControl" %>
    <div class="pageBreakControls">
<asp:Label ID="lblPageBreak" runat="server" CssClass="pageBreaklbl" Text="------------------------------- Page Break ---------------------------" /></div>
