﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TextControl.ascx.cs" Inherits="UserControls.RespondentControls.TextControl" %>
<div class="surveyResponseQContent">
<div class="defaultHeight"> </div>
<div class="ResondLbl">
     <table border="0" cellpadding="2" cellspacing="0" runat="server" id="tblRankSum">
    </table>
   <%-- <asp:HiddenField ID="hdnOptionId" runat="server" />--%>
</div>
</div>
