﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="VideoControl.ascx.cs"
    Inherits="UserControls.RespondentControls.VideoConrol" %>
<%@ Register Src="NarrationHeaderControl.ascx" TagName="NarrationHeaderControl" TagPrefix="Insighto" %>
<Insighto:NarrationHeaderControl id="ucNarrationHeaderControl" runat="server" />
<div class="ResondLbl">
<div class="qImageControl">
    <div id="divCustomVideo" runat="server">
    </div>
</div>
</div>
