* { margin:0; padding:0; }
p { margin:5px 0 10px 0; }

.box {
background-color: #ffffff;
color: #888888;
height: 155px;
left: 100%;
padding: 10px;
position: fixed;
right: 30%;
top: 25%;
width: 500px;
z-index: 101;
border: 5px solid #888888;
border-radius: 10px;
-moz-border-radius: 10px;
}


.boxclose {
background: url("../images/Notifications/cancel.png") repeat scroll left top transparent;
cursor: pointer;
float: right;
height: 26px;
left: 32px;
position: relative;
top: -33px;
width: 26px;
}

.slideContent {
	background-color:#fff;
    width:400px;
    height:160px;
    position: fixed;
    margin:margin:0 auto;
    font-size:12px;
    z-index:100000000;
    border-color:Gray;
    border-width:2px;
}


.slideContentPart1 {
	background-color:#484848;
    width:400px;
    height:100px;
    font-size:14px;
    text-align:left;
}
.slideContentPart2 {
	background-color:#F0F0F0;
	top:100px;
    width:400px;
    height:60px;
    font-size:14px;
    text-align:center;
}

.plusIcon:hover{
	/* Applying a CSS3 outer glow on hover */
	-moz-box-shadow:0 0 4px #999;
	-webkit-box-shadow:0 0 4px #999;
	box-shadow:0 0 4px #999;
}

/* The holder for the title and the icon: */
.tipVisible{ cursor:pointer; height:22px; }

.tipTitle{
	float:left;
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	white-space:nowrap;
	line-height:22px;
	padding-right:5px;
}

.tipIcon{
	width:20px;
	height:20px;
	float:left;
	background-color:#61b035;
	border:1px solid #70c244;
	margin-right:8px;
	
	/* CSS3 Rounded corners */
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
}


.plusIcon{
	/* The plus icon */
	width:13px;
	height:13px;
	background:url('../images/Notifications/plus.gif') no-repeat center center;
	margin:4px;
	float:right;

	/* Defining a CSS3 animation. Currently only works in Chrome and Safari */
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

.slideOutContent{
	/* Hiding the div with the slide out content: */
	display:none;
	padding:10px;
	font-size:11px;
}

.notify_panel {
float: left;
position: absolute;
left: 660px;
margin-top:30px;
display:none;
}

.notify_sym {
    width: 30px;
    height: 14px;
    padding: 6px 0px 13px;
    border-radius: 5px 5px 7px 7px;
    background: none repeat scroll 0% 0% #266DCE;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.notification {
display:none;
}

.notify_tip {
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 8px solid #FB931A;
border-top: 0 solid #d2d2d2;
width: 0;
height: 0;
position: relative;
top: 0;
left: 8px;
}

.notify .header {
padding: 7px 10px;
float: left;
background: #FB931A;
display: block;
width: 320px;
}

.notify .msgbox {
float: left;
width: 320px;
max-height: 320px;
overflow-y: auto;
overflow-x: hidden;
}

.notify {
width: 340px;
position: absolute;
z-index: 9999;
border-radius: 5px;
border: 1px solid #FB931A;
overflow: auto;
left: -1px;
background: #fff;
}
