body {margin:0px; padding:0px; height:100%;  background:#f7f7f7; font-family: 'Arimo', sans-serif; }
.clear {clear:both;}
h1,h2,h3,h4, h5, p{margin:0px; padding:0px; font-weight:normal;}
header {
	background:#dcb9d5;
	height:110px;
	display:block;
}
.top_btn_panel {
		background: #f4f4f4;
	padding: 30px 0px 50px 0px;
	text-align: center;
	box-shadow: 0px 0px 5px #ccc;
	position: relative;
	border-bottom: solid 1px #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.top_btn_panel:hover {
	box-shadow:0px 0px 15px #ccc;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.top_btn_panel label {
	position:absolute;
	padding:10px;
	font-size:14px;
	color: #454545;
	background:#f4f4f4;
	border-radius:5px;
	text-align:center;
	width:300px;
	bottom:-17px;
	left:50%;
	margin-left:-160px;
	box-shadow:0px 0px 5px #ccc;
	border:solid 1px #fff;
}
.btn_green_style {
	padding:10px 20px 10px 47px;
	border:solid 1px #49aa5d;
	display:inline-block;
	text-decoration:none;
	color:#fff!important;
	font-size:16px;
	border-radius:3px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.btn_green_style:hover {
	box-shadow:0px 1px 2px #888;
	border:solid 1px #267a38;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.add_icn {
	background:url(../WebImages/Add_icn.png) no-repeat 10px 6px #49aa5d;
}
.add_icn:hover {
	background:url(../WebImages/Add_icn.png) no-repeat 10px 6px #228e38;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.polls_list_panle {
	padding:15px;
}
.polls_list_panle ul{
	margin:0px;
	padding:0px;
}
.polls_list_panle ul{
	margin:20px 0px 0px 0px;
	padding:0px;
}
.polls_list_panle ul li{
	list-style:none;
	width:170px;
	height:170px;
	background:#f7f7f7;
	box-shadow:0px 0px 3px #ccc;
	position:relative;
	display:inline-block;
	margin:15px;
	border-radius:5px;
	border:solid 1px #d9d9d9;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.polls_list_panle ul li:hover{
	box-shadow:0px 2px 15px #adadad;
	border:solid 1px #fefefe;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.polls_list_panle ul li label,
.polls_list_panle ul li span,
.polls_list_panle ul li span a
 {
	display:block;
}
.polls_list_panle ul li label {
	color:#4c4c4c;
	font-size:16px;
	padding:0px;
	height:130px;
	position:absolute;
	width:100%;
}
.polls_list_panle ul li label p{
	padding:15px;
}
.polls_list_panle ul li label a{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(73,170,93,0.7);
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	color: #FFFFFF;
	opacity: 0; 
	text-align: center;
	left: 0px;
	top: 0px;
	display: block;
}
.polls_list_panle ul li label a:hover{
	opacity: 1;
}
.polls_list_panle ul li label a i{
	margin-top: 60px;
}
.polls_list_panle ul li label:hover{
	background:#FBF2D7;
}
.polls_list_panle ul li span {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
}
.polls_list_panle ul li span a{
	padding: 13px 0px 13px 0px;
	text-decoration:none;
	text-align: center;
	color: #FFF;
	font-size:15px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.replace_icn {
	background-color: #4292b1;
}
.replace_icn:hover {
	background-color: #307f9e;
	box-shadow:0px -3px 5px #888;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}



/*Slider style*/
.slider_panel {
	width:400px;
	height:100%;
	position:fixed;
	right:-500px;
	top:0px;
	z-index:1000;
	box-shadow: 0px 0px 10px #888;
	background-color: #FCFCFC;
}
a.slider_panel_close_btn {
	color: #333333;
	position: absolute;
	top: 10px;
	right: 10px;
}
.poll_prev_panel {
	width:100%;
	min-height:100px;
	/*background:#fff;
	box-shadow:0px 0px 15px #121212;
	border-radius:4px;*/
	margin:0px auto;
	/*left:50%;
	margin-left:-170px;*/
	z-index:1000;
	display:none;
	margin-left:20px;
}
.poll_prev_panel span{
	display:block;
}
.poll_prev_panel span img{
	border-top-right-radius:4px;
	border-top-left-radius:4px;
}
.poll_content {
	margin:0px;
	font-size:14px;
	text-align: center;
	
}
.poll_content iframe[style] {
	/*display:block!Important;
	font-size:16px!Important;
	font-weight:bold!Important;
	margin-bottom:15px!Important;
	background-color:Red!Important;*/
	margin:15px auto;
	box-shadow:0px 0px 15px #121212!important;
    border-radius:5px!important;
}
.poll_content label {
	display:block;
	margin:10px 0px;
	color:#4B4B4B;
	padding:3px 5px;
	border-radius:4px;
}
.poll_content label:hover {
	background:#efefef;
}
.poll_content .vote_btn {
	padding:6px 15px;
	border:solid 1px #49aa5d;
	display:inline-block;
	text-decoration:none;
	background:#49aa5d;
	color:#fff;
	font-size:16px;
	border-radius:3px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin-top:10px;
}
.poll_content .vote_btn:hover {
	box-shadow:0px 1px 2px #888;
	border:solid 1px #267a38;
	background:#228e38;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.poll_content .normal_link {
	padding:8px 15px;
	color:#196f91;
	display:inline-block;
	text-decoration:none;
	background:#fff;
	font-size:14px;
	border-radius:3px;
	margin-top:10px;
}
.poll_content .normal_link:hover {
	background:#efefef;
}
.pow_txt{
	color:#b5b5b5;
	display:block;
	padding:7px 13px;
	text-align:right;
	font-size:12px;
	font-style:italic;
	margin-top:30px;
}

































