@charset "utf-8";
/* CSS Document */

@font-face
{
font-family: RupeeForadian;
src: url('Rupee_Foradian.eot'), /* IE */
	url('Rupee_Foradian.ttf'); /* non-IE */ 
} 
.font_ruppe{
	font-family: RupeeForadian;
}
	
html, body { 
	margin:0;
	padding:0;
	height:100%; 
}
body{
    font:normal 13px Tahoma, Geneva, sans-serif;	
	background:#F5F5F5; 
	color:#666666;
	line-height: 18px;
}
form, img, input, p{
	margin:0px;
	padding:0px;
	border:0px;
}
.clr:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

a{
	color:#2771D3;
	text-decoration:none;
}
a:hover{
	color:#5E96E1;
	text-decoration:underline;
}
.underline{
	text-decoration:underline;
}

/*  Header styles */
h1,h2,h3,h4,h5,h6{
	line-height:1.2em;
	padding-bottom:18px;
	margin:0px;
	color:#666666;
	font-weight:bold;
}
h1{font-size:32px;}
h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:30px; font-weight:normal; padding-bottom:24px;}
h4{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:24px; font-weight:normal; padding-bottom:5px;}

input[type="checkbox"]{
	margin-right:8px;
}
.dropbox_timezone{
	width:95%;
	padding:10px;
	color:#666666;
	border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:1px solid #ADADAD;
	box-shadow:inset 0px 1px 3px rgba(000,000,000,0.3);
	-webkit-box-shadow:inset 0px 1px 3px rgba(000,000,000,0.3);
	-o-box-shadow:inset 0px 1px 3px rgba(000,000,000,0.3);
}
.btn_bg{
	background:url(../images/btn_bg.jpg) repeat-x left top #266DCE;
	padding:7px 15px;
	margin:8px 0px;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	cursor:pointer;
	cursor:hand;
}
.btn_bg:hover{
	background:url(../images/btn_bg.jpg) repeat-x left bottom #266DCE;
}


/* ----------------    Container Begin    ------------------  */
#wrapper{
	width:940px;
	background: #FFF;
	margin:0 auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
	box-shadow:0px 0px 8px 4px rgba(000,000,000,0.1);
}

/* ----------------    Header Begin    ------------------  */
#header_main{
	width:100%;
	height:auto;
	margin:0 auto 0px auto;
	padding:20px 0px 20px 0px;
	border-bottom:1px solid #EBEBEB;
}
#header_main a.header_logo{
	width:325px;
	height:68px;
	display:inline-block;
	background:url(../images/logo_insighto.png) no-repeat left top;
	margin:0px auto 0px 20px;
	padding: 0px 0px 0px 0px;
}


/* ----------------    Navigation Begin    ------------------  */
#nav_main{
	width:100%;
	background:url(../images/top_menu_bgr.jpg) repeat-x left top;
	margin:0 auto 0px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
}
#nav_main ul{
	width:75%;
	float:left;
	padding: 0 0 0 20px;
	margin:0px 0 0px 0;
	list-style-type:none;
	text-align:center;
}
#nav_main ul li{
	margin:0px;
	float:left;
}
#nav_main ul li a{
	color:#FFF;
	font-size:14px;
	font-weight:700;
	text-decoration:none;
	text-transform: lowercase;
	display:inline-block;
	display:block;
	padding:11px 20px;
	text-transform: uppercase;
}
#nav_main ul li a:hover, #nav_main ul li a.selected{
	background:#B12895;
	text-decoration:none;
}


#nav_main #nav_rgt{
	width:20%;
	float:right;
	padding: 0 0 0 0px;
	margin:0px 0 0px 0;
	text-align:center;
}
#nav_main #nav_rgt a{
	float:right;
	color:#FFF;
	font-size:14px;
	font-weight:700;
	text-decoration:none;
	text-transform: lowercase;
	display:inline-block;
	display:block;
	padding:11px 10px;
	text-transform: uppercase;
}

/*------------------- Navigation End -------------------*/


/* ----------------    Container Begin    ------------------  */
#container_main{
	margin:0 auto 0px auto;
	padding:20px 20px 40px 20px;
}
#container_main .container_mainL{
	width:600px;
	float:left;
}
.container_mainL .title_blk{
	border:1px solid #EBEBEB;
	padding:20px;
	text-align:center;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}
#container_main .container_mainR{
	width:280px;
	float:right;
}
.container_mainR .special_offer_blk{
	border:1px solid #EBEBEB;
	padding:10px 20px;
	margin-bottom:20px;
	font-size:14px;
	text-align:center;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}
.container_mainR .special_offer_blk p.title{
	font-size:20px;
	line-height:24px;
}
.container_mainR .special_offer_blk img{
	margin:5px 0px;
}
.container_mainR .points_blk{
	border:1px solid #EBEBEB;
	padding:20px 20px;
	margin-bottom:20px;
	font-size:14px;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}

.points_blk ul{
	list-style:outside; 
	margin:0px;
	padding:0px 0px 0px 0px;
	line-height:19px;
}
.points_blk ul li{
	list-style:none;
	background:url(../images/icon_arrow.png) no-repeat left 3px;
	padding:0px 0px 15px 24px;
}
.points_blk ul li:last-child{
	padding-bottom:0px;
}

#container_main .thx_txt{
	font-size:26px;
	line-height:36px;
	padding:15px 0px;
	text-align:center;
}

#container_main .priceplan_blk{
	margin:0 auto 0px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
	font:13px Tahoma, Geneva, sans-serif;
	text-align:center;
}
.priceplan_blk .price_1_blk{
	width:286px;
	float:left;
	margin:0 28px 0px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
}
.priceplan_blk .price_1_blk.no_marg{
	margin:0 0px 0px auto;
}
.price_1_blk .price_1_blk_cont{
	background:#F5F5F5;
	margin:0 0px 0px 0px;
	padding:0px 15px 10px 15px;
}
.priceplan_blk h3{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	padding:20px 10px;
}
.price_1_blk .price_1_blk_cont .price_tag_header{
	width:180px;
	height:120px;
	background:url(../images/price_tag_blue.png) no-repeat center top;
	padding:18px 10px 0px 10px;
	margin:-10px auto 0px auto;
	font-size:14px;
	color:#1E1E1E;
	position:relative;
	*position: relative;
}
.price_1_blk .price_1_blk_cont .price_tag_header.green{
	background:url(../images/price_tag_green.png) no-repeat center top;
}
.price_1_blk .price_1_blk_cont .price_tag_header.orange{
	background:url(../images/price_tag_orange.png) no-repeat center top;
}
.price_1_blk_cont .price_tag_header .price, .price_1_blk_cont .price_tag_header .strike_txt{
	font-size:32px;
	line-height:27px;
	padding:0px 0px 3px 0px;
}
.price_1_blk_cont .price_tag_header .strike_txt{
	color:#E1E1E1;
	padding-bottom:8px;
	position:relative;
}
.price_1_blk_cont .price_tag_header .strike_txt .strike_bg{
	width:93px;
	height:12px;
	background:url(../images/strike_line.png) no-repeat center top;
	position:absolute;
	left: 26%;
	top: 10px;
}
.price_1_blk_cont .price_tag_header .price span, .price_1_blk_cont .price_tag_header .strike_txt span{
	font-family: RupeeForadian;
}
.price_1_blk_cont .price_tag_header .price_tag_free{
	width:54px;
	height:45px;
	background:url(../images/price_tag_free.png) no-repeat center top;
	font-size:13px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:24px 8px 10px;
	top:-13px;
	left:-14px;
	position:absolute;
}

.priceplan_blk table tr td{
	/*background:#FFF;*/
	border-bottom:1px dashed #E1E1E1;
	text-align:center;
	padding:8px 10px;
	line-height: 19px;
}
.priceplan_blk table tr td.no_border{
	border-bottom:1px solid #F5F5F5;
}
.priceplan_blk table tr td.txt_underline{
	text-decoration:underline;
}
.priceplan_blk table tr td.txt_green{
	color:#699F03;
	font-weight:bold;
}
.priceplan_blk table tr td a{
	color:#1F58A5;
	text-decoration:underline;
}
.priceplan_blk table tr td a:hover{
	color:#2771D3;
	text-decoration:none;
}



/* ----------------    Welcome Container Begin    ------------------  */
#container_main.success_main{
	width:860px;
	padding-top:40px;
}

#container_main .welcome_title_blk{
	font-size:24px;
	line-height:34px;
	text-align:center;
	text-shadow:0px 1px #fff;
	background:#FFF;
	border:1px solid #D1D1D1;
	padding:1px;
	margin:0px auto 40px auto;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	-o-border-radius:15px;
}
#container_main .welcome_title{	
	padding:30px 30px;
	border-radius:15px;
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	-o-border-radius:15px;
	-webkit-border-radius:15px;
	
	background: #f2f2f2; /* for non-css3 browsers */
	background: -moz-linear-gradient(top, #f2f2f2,  #dddddd); /* for firefox 3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#dddddd)); /* Safari 4+, Chrome */
	background: -webkit-linear-gradient(left top, left bottom, #f2f2f2, #dddddd); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background: -o-linear-gradient(top, #f2f2f2,#dddddd); /* Opera 11.10+ */
	background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#f2f2f2, EndColorStr=#dddddd, GradientType=0)";
	background: linear-gradient(to bottom, #f2f2f2,#dddddd); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#dddddd', GradientType='0'); /* for IE */

}
#container_main .welcome_title h3{
	font-size:30px;
	font-weight:normal;
	line-height:30px;
	padding-bottom: 10px;
}


#container_main .welcome_blk{
	margin:0px auto 30px auto;
	font-size:14px;
	line-height:21px;
}
#container_main .welcome_blk p{
	padding-bottom:16px;
}
#container_main .welcome_blk p.chk_txt{
	font-size:13px;
}

.welcome_blk .welcome_blkL{
	width:400px;
	float:left;
	margin-right:20px;
}
.welcome_blk .welcome_blkR{
	width:380px;
	float:right;
}

/* ----------------    Footer Container Begin    ------------------  */
#footer_blk {
	border-top:1px solid #EBEBEB;
	padding:25px 10px 25px 20px;
	position:relative; 
    font-size: 12px;
	color:#424242 !important;	
}
#footer_blk #footerL{
	float:left;
	padding:0px 0 0px 0px;
}
#footer_blk #footerR{
	float:right;
}
#footerR ul{
	text-align:center;
	margin:0px;
	padding:0px;
}
#footerR ul li{
	display:inline-block;
	padding:0 10px;
	margin:0 0px;
	line-height: 12px;
	border-left:1px solid #727272;
}
#footerR ul li:first-child{
	border-left:0px;
}
#footerR ul li a{
	color: #858587;
	text-decoration:none;
}
#footerR ul li a:hover{
	color: #000;
}