﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TopLinks.ascx.cs" Inherits="UserControls_AdminControls_TopLinks" %>
<div id="topLinksPanel">
    <div id="divVersion" runat="server" class="divVersion">
        <asp:Literal ID="ltlVersion" runat="server" Visible="false" />
    </div>
    <!-- top links panel -->
    <div id="topLinkNav">
       
    </div>
    <!-- //top links panel -->
</div>