@charset "utf-8";
/* CSS Document */

html, body {
    font:normal 12px Arial, Helvetica, sans-serif;	
	color:#424242;
	background:url('../homeimages/body_bgr.jpg') #D0D0D0 0 0 repeat; 
	margin:0;
	padding:0;
}
.popupBody 
{
	background:#fff;
}
.errorMesg {
	color:red;
	font-size:12px;
}

a:link{color:#009de1; text-decoration:none;}
a:visited{color:#009de1; text-decoration:none;}
a:hover{color:#009de1; text-decoration:none;}

#topnavigation {
    background:url(nav1.jpg) no-repeat;
    width:676px;
    height:40px;
    margin:0;
    padding:0;
    }

    #topnavigation span {
    display: none;
    }

    #topnavigation li, #topnavigation a {
    height:40px;
    display:block;
    }

    #topnavigation li {
    float:left;
    list-style:none;
    display:inline;
    }

    #topnavigation-01 {width: 131px;}
    #topnavigation-02 {width: 136px;}
    #topnavigation-03 {width: 136px;}
    #topnavigation-04 {width: 136px;}
	#topnavigation-05 {width: 136px;}
	#topnavigation-06 {width: 136px;}
   

    #topnavigation-01 a:hover {background:url(nav1.jpg) 0px -40px no-repeat; }
    #topnavigation-02 a:hover {background:url(nav1.jpg) -131px -40px no-repeat; }
    #topnavigation-03 a:hover {background:url(nav1.jpg) -267px -40px no-repeat; }
    #topnavigation-04 a:hover {background:url(nav1.jpg) -403px -40px no-repeat; }
	#topnavigation-05 a:hover {background:url(nav1.jpg) -539px -40px no-repeat; }	

.botnav {
font-family:"Arial";
font-size: 13px;
font-style: normal;
font-weight: normal;
padding-left: 10px;
padding-right: 10px;
color:#858587;
}

a.botnav:link {color: #858587; font-size: 13px; font-weight:normal; text-decoration: none} 
a.botnav:visited {color: #858587; font-size: 13px; font-size: 13px; font-weight:normal; text-decoration: none} 
a.botnav:hover { color: #000000; font-size: 13px; font-weight:normal; text-decoration: none}
				
.pra {color:#6c59a2;font-family:'Arial'; font-size:13px}
.logg {color:#CCCCCC;}
.normal{font-family:"Arial"; color:#5a574e; font-size:12px; font-weight:normal;}
.normal_bold{font-family:"Arial"; color:#5a574e; font-size:12px; font-weight:bold;}
.login_text{font-family:"Arial"; color:#df600b; font-size:14px; font-weight:bold;}
	
.check_box{background-image:url(In/homeimages/check_box.gif); background-color:none; background-repeat:no-repeat; border:none; width:13px; height:13px; }
	
.round_corner_box_left{border-left:#954f9f 1px solid;}
.round_corner_box_right{border-right:#954f9f 1px solid;}
.round_corner_box_top{border-top:1px solid #954f9f ;}
.round_corner_box_bottom{border-bottom:#954f9f 1px solid;}
	
.list_menu{	background-color:#FFFFFF; border:#b2b2b2 1px solid; width:120px; height:18px; font-family:"Arial"; font-size:11px; color:#666666; text-decoration:none; }
	
.combo_box{	background-color:#FFFFFF; border:#b2b2b2 1px solid; width:120px; height:13px; font-family:"Arial"; font-size:11px; color:#666666; text-decoration:none;}
	
.buttons{ background-image:url(In/homeimages/login_btn_bg.gif); background-color:#FFFFFF; background-repeat:no-repeat; border:none; width:42px; height:16px; font-family:"Arial"; font-size:11px; color:#FFFFFF; font-weight:bold; text-decoration:none; }
	
	.copyright{font-family:"Arial";
	color:#858587;
	font-size:11px;
	font-weight:normal;
	}
	
	.try_it_text{font-family:"Arial";
	color:#FFFFFF;
	font-size:12px;
	font-weight:normal;
	}
	
	.buy_now_header{font-family:Georgia, "Times New Roman", Times, serif;
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;
	}
	
	.buy_now_header ul {clear:both; padding:0 0 0 25px; margin:0}
	.buy_now_header li {clear:both; padding:0; margin:0}
	
	
	.table_main_header{font-family:"Arial";
	color:#696969;
	font-size:14px;
	font-weight:bold;
	}
	
	
	
	#flashcontain {
	z-index: 2; 
	}

.morel{clear: both; font-family:"Arial"; font-size:12px; font-weight: normal; color:#FFFFFF}
.morel a:link{color:#FFFFFF; text-decoration:underline;}
.morel a:visited{color:#FFFFFF; text-decoration:none;}
.morel a:hover{color:#F8F8F8; text-decoration:underline;}
.morel a:active{color:#FFFFFF; text-decoration:underline;}

.morelb{clear: both; font-family:"Arial"; font-size:12px; font-weight: normal; color:#9a9a9a}
.morelb a:link{color:#9a9a9a; text-decoration:underline;}
.morelb a:visited{color:#9a9a9a; text-decoration:none;}
.morelb a:hover{color:#9a9a9a; text-decoration:underline;}
.morelb a:active{color:#9a9a9a; text-decoration:underline;}

#scrollingtxt {font-family:"Arial"; font-size:15px; font-weight: bold; color:#9a9a9a; }
#scrollingtxt a:link{color:#9a9a9a; text-decoration:underline;}
#scrollingtxt a:visited{color:#9a9a9a; text-decoration:none;}
#scrollingtxt a:hover{color:#6c6b6b; text-decoration:underline;}
#scrollingtxt a:active{color:#9a9a9a; text-decoration:none;}
#scrollingtxt p{margin-bottom:2px;}

#loginid form,input{color:#9f9f9f;}
#loginid input{border: 1px solid #9f9f9f; padding:2px; font-size:12px;}

.inleftpanel {background-image:url(../homeimages/internal_leftpanel.jpg);
	background-color:#FFFFFF;
	background-repeat:no-repeat;}


.content td{ padding:4px; text-align:justify; font-weight:normal;}/*font-size:12px;*/
.content h2{font-size:20px; font-weight:bold; color:#F67803; padding:0; margin: 4px 0 10px 0}
.content1 h3{font-size:18px; font-weight:bold; margin:0; padding: 4px 0 4px 0}
.content h4{font-size:14px; font-weight:bold; color:#49649a; padding:0 0 0 28px; margin: 4px 0 4px 0; background-image:url(../homeimages/subhead_bg.gif); background-repeat:no-repeat; line-height:24px;}
.content p{ padding:4px 0 4px 0; text-align:justify; font-size:13px;}

.prcingFaqContent h2 {
    background: none repeat scroll 0 0 #F4F4F4;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width:100%;
}

.prcingFaqContent { background-color:#FFFFFF; padding-left:10px; padding-right:10px; width: 742px; padding:5px;}
.prcingFaqHeading {  padding-left:10px; padding-right:10px; width: 742px;}
.prcingFaqContent td{ padding:4px; text-align:justify; font-weight:normal;}/*font-size:12px;*/
.prcingFaqContent h2{font-size:20px; font-weight:bold; color:#F67803; padding:0; margin: 4px 0 10px 0}
.prcingFaqContent h3{font-size:18px; font-weight:bold; margin:0; padding: 4px 0 4px 0}
.prcingFaqContent h4{font-size:14px; font-weight:bold; color:#49649a; padding:0 0 0 28px; margin: 4px 0 4px 0; background-image:url(../homeimages/subhead_bg.gif); background-repeat:no-repeat; line-height:24px;}
.prcingFaqContent p{ padding:4px 0 4px 0; text-align:justify; font-size:13px;}

/* PRICING PAGE CSS STARTS HERE */
.comparison {border-top:1px solid #f2f4f4; font-size:12px;}
.colr { color:#414141;}
.comparison td {border-right:1px solid #dadddd;border-bottom:1px solid #dadddd; padding:0 0 0 2px; height:30px;}
.comparison2 .headbg {background-image:url(../homeimages/comparison_bghead.jpg); background-repeat:repeat-x ; border-right:1px solid #f2f4f4}
.comparison2 h2 {font-size:14px; font-weight:bold; padding:0; margin:0;}
.comparison h4 {font-size:14px; font-weight:bold; padding:0; margin:0; color:#F67803;}

.comparison1 {font-size:12px;}
.comparison1 td {border-right:1px solid #dadddd; border-bottom:1px solid #dadddd; padding:0 0 0 2px; height:30px;}
.comparison1 thead {padding:0; margin:0}
.comparison1 tbody { padding:0; margin:0}
.comparison1 .vis { padding:0; margin:0}

.prof {background-color: #fdf5fe; color:#666; border-left:1px solid #af6db9; border-bottom:1px solid #af6db9; height:30px;}
.profen {background-color: #fdf5fe; color:#666; border-left:1px solid #af6db9; border-bottom:1px solid #af6db9; border-right:1px solid #af6db9;height:30px;}


.headleftcol { font-size:14px; font-weight:bold;  color:#49649a;}
.headleftcolsub { font-size:12px; font-weight:bold;  color:#6d59a1;}
.headleftcol a, a:hover, a:visited, a:link{font-weight:bold; text-decoration:none; color:#49649a;}

.gt{font-size:14px; font-weight:bold; padding:0; margin:0; color:#ffffff !important;}
.pro { border-top:2px solid #af6db9; border-left:2px solid #af6db9; border-right:2px solid #af6db9;}
.pre { border-top:2px solid #7d2889; border-left:2px solid #7d2889; border-right:2px solid #7d2889;}

.shade1 {background-color: #F9F9F9; color:#666;}
.shade2 {background-color: #fefcf7; color:#666;}
.shade3 {background-color: #fdf5fe; color:#666;}
.shade4 {background-color: #fbfafa; color:#666;}

.tabme {padding:0; margin:0; font-size:12px; font-weight:normal; }
.tabme td{padding:0; margin:0 0 2px 0; border-right:1px solid #dadddd;}
.bordown {border-bottom:1px solid #dadddd; border-top:1px solid #dadddd;}
.tabme1 {padding:0; margin:0; font-size:12px; font-weight:normal;}
.tabme1 td{padding:0; margin:0 0 2px 0; border-right:1px solid #dadddd; border-bottom:1px solid #dadddd;}

.leftcol1 { font-size:14px; font-weight:bold; color:#49649a; background-image:url(bx1.gif); background-repeat: no-repeat; padding:0!important; margin:0 !important;}
.leftcol2 { font-size:14px; font-weight:bold; color:#49649a; background-image:url(bx2.gif); background-repeat: no-repeat; padding:0 !important; margin:0 !important;}

.thankyou h3 {font-size:20px; font-weight:bold; color: #004080;margin:0; padding:0;}
.thankyou h4 {font-size:18px; color:#49649a; margin:5px 0 10px 0;}
.thankyou .high {color: #339966}
.thankyou h5 {font-size:20px; color:#AF7BB7; margin:0 0 10px 0;}
.thankyou h6 {font-size:16px; color: #707070; margin:3px 0 3px 0;}
.thankyou h7 {font-size:18px; font-weight:bold; color: #828282; margin:13px 0 3px 0;}

/* REGISTRATION PAGE CSS STARTS HERE */
#regtab {font-family:"Arial", Arial, Helvetica, sans-serif; font-size:12px; color:#666666}
#regtab .bol{font-family:"Arial", Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold;}
#regtab form, input, select {font-family:"Arial", Arial, Helvetica, sans-serif; font-size:12px; color:#666666} 
#regtab td{padding-bottom:5px; }
.alertcol {color:#FF0000;}
.errormess {color:#FF0000; font-size:11px; font-weight:normal; vertical-align:middle;}
/* REGISTRATION PAGE CSS ENDS HERE */

/* NEW REGISTRATION PAGE CSS STARTS HERE */
.reg {font-size:10px;}
.reg a {text-decoration:underline; color:Blue; font-size:10px; font-weight:normal;}
.reg a:link {text-decoration:underline; color:Blue}
.reg a:visited {text-decoration:underline; color:Blue}
.reg a:hover {text-decoration:underline; color:Blue}

.regheading {font-size:16px; color:#F67803; margin:0 0 5px 0;}
.tabheading { font-size: 14px; font-weight:bold; color:#d4ac0a; padding: 0 0 5px 0; margin:0;}
.tabregheading { font-size: 14px; font-weight:bold; color:#6e8cc6; padding: 0 0 5px 0; margin:0;}


.regstyle { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666;}
.regstyle th { font-size: 12px; font-weight:normal; padding:0 0 3px 0;}
.regstyle td {padding:0 4px 2px 5px;}
.regstyle .colon { font-size: 14px; font-weight:bold; color:#666666;}
.regstyle form, input, select {font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#666666} 
.htxt { font-size: 10px; font-weight:normal; color:#999999}
.validtxt {font-size: 10px; font-weight:normal; color:#FF0000}
.reglfbor {background-image:url(../homeimages/reg_top_bg.jpg); background-color:none; background-repeat:repeat-y; background-position:left;}
.regrhtbor {background-image:url(../homeimages/reg_rht_bg.jpg); background-color:none; background-repeat:repeat-y; background-position:right;}


/* NEW REGISTRATION PAGE CSS ENDS HERE */

/* NEW REGISTRATION PAGE CSS STARTS HERE */
#logstyle { font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#666666;}
#logstyle th { font-size: 10px; font-weight:bold;}
#logstyle .colon { font-size: 10px; font-weight:bold; color:#666666;}
#logstyle .htxt { font-size: 10px; font-weight:normal; color:#999999}
#logstyle .validtxt {font-weight:normal; color:#FF0000}


/* //////////////styles for home page. 
                 by Covalense, 02-08-2011
///////////////////////////////*/
.clear 
{
    clear:both;
}
.mainPanel 
{
    width:950px;
    margin:15px auto 0 auto;
   
}

.buyNowPanel 
{
    width:270px;
    height:auto;
    float:right;
    
}
/*.buyNowHeader 
{
    width:270px;
    height:44px;
    background:url('../homeimages/buy-header-bg.jpg') top no-repeat;
}*/

.buyNowHeader 
{
    width:270px;
    height:43px;
    background:url('../homeimages/buyNowHeader.gif') no-repeat;
}

.buyNowHeader div 
{
    color:#fff;
    line-height:44px;
    text-align:left;
    margin-left:20px;
}
.buyNowHeader div span 
{
    font-weight:700;
}
.buyNowContentPanel, .buyNowContentPanelSelected 
{
    background:url('../homeimages/buy-panel-body-bg.jpg') #fff repeat-x 0 -1px;
    border-right:solid 1px #B363C6;
    border-left:solid 1px #B363C6;
    padding:10px 0 10px 10px;
    text-align:left;
    
}
.buyNowContentPanelSelected 
{
   background:url('../homeimages/benefits_body-bgr-selected.jpg') #fff top repeat-x;
   border-top:solid 1px #B363C6;
   
}
.buyNowContentPanelHeight 
{
    height:202px;   
    
}
.buyPanelBottom 
{
    width:270px;
    height:7px;
    background:url('../homeimages/buy-panel-botttom-bg.gif') bottom no-repeat;
}

ul.proList, ul.proListSmallFont, ol.proNumberList
{
    margin:10px 0 10px 10px;
    padding:0;
}
.proList li, .proListSmallFont li
{
    list-style-image:url('../homeimages/right-list-arrow.jpg');
    padding:0 0 8px 0;
    line-height:17px;
    margin:0 0 0 10px;
}
.proNumberList li 
{
    padding:0 0 8px 0;
    line-height:17px;
    margin:0 0 0 10px;
   
}
ul.proListSmallFont 
{
    margin-bottom:5px;
}
.proListSmallFont 
{
    font-size:12px;
    padding-bottom:5px;
}

.bottomPanel 
{
    width:336px;
    float:left;
    margin:5px 4px 0 0;
}
.bottomPanelHeader 
{
    height:43px;
    background:url('../homeimages/bottomPanelHeader.gif') bottom no-repeat;
}
.bottomPanelHeader div 
{
    color:#fff;
    font-weight:700;
    height:44px;
    line-height:44px;
    margin-left:20px;
    text-align:left;
}
.bottomPanelBottom
{
    width:336px;
    height:6px;
    background:url('../homeimages/bottom-panel-bottom-bgr.gif') bottom no-repeat;
}

.buyNowContentPanel a:link, .buyNowContentPanel a:visited 
{
    font-weight:normal;
    color:#525252;
}
.buyNowContentPanel a:hover 
{
    text-decoration:underline;
}
.buyNowContentPanel img, .bContent img {border:none}
.smallFont 
{
    font-size:11px;
}
.bottomRightPanel 
{
    width:270px;
    margin:6px 0 0 0;
    float:right;
}
.bTop 
{
    height:7px;
    background:url(../homeimages/bottom-right-panel-top.gif) top no-repeat;
}
.bBottom 
{
    height:7px;
    background:url(../homeimages/bottom-right-panel-bottom.gif) bottom no-repeat;
}
.bContent 
{
    background:#f6f6f6;
    border-right:solid 1px #B363C6;
    border-left:solid 1px #B363C6;
    padding:20px 30px;
    text-align:left;
    height:163px;
}
.bContent h2 
{
    font-size:22px;
}
/*   ///// home page banner styles ////////////////  */
/*.homeFlashBanner 
{
    width:695px;
    height:285px;
    float:left;
    background:url('../homeimages/home-banner-bgr.jpg') no-repeat;
}*/
.preface-top-wrapper-home{
width:675px;
height:272px;
background:url(../homeimages/banner-bgr.gif) repeat-x;
float:left;

}

.block-home-slider-wrapper{width:100%; height:280px !important;}

.block-home-img-slide{width:385px;height:auto;margin-right:10px;float:left}
.block-home-text-slide{width:695px; height:238px;padding-right:10px;float:left;}

.bannerTextPanel {
	margin:50px 0 0 50px;
	text-align:left;
}

.block-home-sub-title-wrapper {padding-top:10px; margin-bottom:10px; color:#944fa0; font-size:18px; font-weight:700;}

.block-home-sub-title-wrapper span {color:#000;}
.sub-text-panel {margin:10px 0 0 0; height:100px; text-align:left;}
.home-span-title-second{color:#fa911b; font-size:40px; line-height:40px;}

.block-home-slider-a{float:right; width:300px; margin-top:46px; text-align:left; }
.block-home-slider-a a:hover{text-decoration:none}
.block-home-slider-a a{
/*color:#9A1214;
font-weight:bold;
font-size:14px;
background:url(../homeimages/homerightarrow.png) scroll no-repeat left center;
padding-left:25px;
font-family:Tahoma;
text-decoration:underline*/}
.block-home-slider-a span {
	font-weight:700;
	color:#94509d;
	font-size:14px;
	padding-right:8px;
}
.block-home-slider-a img {border:0;}


.block-home-slide-menu{width:200px; float:left; padding-left:20px;}
.block-home-slide-menu a{text-decoration:none !important;}
.block-home-slide-menu ul li{list-style:none !important;list-style-type:none !important;float:left;}

.block-pink-dot{background:url(../homeimages/pink-dot.png);background-repeat:no-repeat;display:block;height:11px;width:11px;cursor:pointer;float:left;margin:0 3px}

.block-white-dot{background:url(../homeimages/white-dot.png);background-repeat:no-repeat;display:block;height:11px;width:11px;cursor:pointer;float:left;margin:0 3px}

.loginButton 
{
    background:url('../homeimages/button_login.gif') no-repeat;
    width:76px;
    height:30px;
    margin:0;
    padding:0;
    border:none;
    cursor:pointer;
}
.benefitsPanel 
{
    border:solid 1px #9a51a2;
    margin-bottom:20px;
    width:99%;
    
}
.benefitsPanelforwhyinsighto 
{
    border:solid 1px #9a51a2;
    margin-bottom:20px;
    float:left;
    width:99%;
}
.benefitsPanelprice 
{
    border:solid 1px #9a51a2;
    margin-bottom:20px;
}
.benefitsHeader 
{
    height:47px;
    /*background:url('../homeimages/benefits_header.jpg') top repeat-x;*/
    background:#ebebeb;
}
.benefitsHeader div 
{
    margin:0;
    padding:12px 0 8px 0;
    text-align:center;
    color:#964f9f;
    font-size:14px;
}
.benefitsText 
{
    background:url('../homeimages/form_bgr.gif');
    padding:20px 20px 5px 20px;
}
.formBodyText 
{
    background:url('../homeimages/form_bgr.gif');
    padding:20px 20px 5px 20px;
}
.benefitsText ul 
{
    margin:0 0 0 30px;
    padding:0;
    text-align:left;
}
.benefitsText li 
{
    list-style-image:url('../homeimages/right-list-arrow.jpg');
    padding:0 0 8px 0;
    line-height:17px;
    margin:0 0 0 10px;
    font-size:13px;
}
.aspxtextbox 
{
	background:#fff;
	border:solid 1px #9F9F9F;
	margin-right:0;
	padding-left:4px;
	font-size:12px;
	color:#000;
	font-family: "Arial", "Century Gothic", "Myriad Pro", "Gill Sans", Helvetica, Verdana, Arial, sans-serif;
}
a.orangeLink:link, a.orangeLink:visited 
{
    color:#cd6b01;
    text-decoration:underline;
    font-weight:500;
    font-size:11px;
}
a.orangeLink:hover 
{
    text-decoration:none;
}
.surveyBox1, .surveyBox2, .surveyBox3
{
    background:url('../homeimages/survey_box-1.jpg') no-repeat;
    width:88px;
    height:116px;
    text-align:center;
    margin-right:10px;
}
.surveyBox2 
{
    background:url('../homeimages/survey_box-2.jpg') no-repeat;
}
.surveyBox3 
{
    background:url('../homeimages/survey_box-3.jpg') no-repeat;
}
.surveyBox1 div, .surveyBox2 div, .surveyBox3 div 
{
    padding:25px 0 0 0;    
}
.surveyBox1 a:link, .surveyBox1 a:visited, .surveyBox2 a:link, .surveyBox2 a:visited, .surveyBox3 a:link, .surveyBox3 a:visited 
{
    color:#000;
    font-weight:700;
    font-size:12px;
}
.benefitBannerPanel 
{
    background:url('../homeimages/benefit-bottom-img.gif') #d15600 bottom no-repeat;
    margin:0 0 15px 0;
    padding:0 0 2px 0;
    width:652px;
    float:left;
    height:auto;
    
   
}
.benefitBannerTop 
{
    background:url('../homeimages/benefit-top-img.gif') top no-repeat;
    height:7px;

}
.benefitBannerPanel h1 
{
    font-size:12pt;
    font-weight:normal;
    text-align:center;
    padding:5px 0 10px 0;
    margin-bottom:0;
    margin-top:0;
    color:#fff;
}
.benefitBannerPanel h1 span 
{
    font-weight:700;
}
.benefitBannerText 
{
    background:url('../homeimages/benefit-text-bgr.jpg') #fff bottom repeat-x;   
    margin:0 2px 0 2px;
    padding:0 10px 0 10px;
   
}
.benefitHeight 
{
    height:124px;
}
.craftHeight 
{
    height:102px;
}
.tickUL ul
{
	margin:0 0 0 30px;
    padding:0;
    text-align:left;
}
.tickUL li 
{
	list-style-image:url('../homeimages/icon_benefit-tick.gif');
    padding:0 0 8px 3px;
    line-height:17px;
    margin:0;
    font-size:13px;
}
.tickUL li ul li 
{
	list-style-type:inherit;
	
}
.benefitBannerText ul 
{
    margin:0 0 0 30px;
    padding:0;
    text-align:left;
}
.benefitBannerText li 
{
    list-style-image:url('../homeimages/icon_benefit-tick.gif');
    padding:0 0 8px 3px;
    line-height:17px;
    margin:0;
    font-size:13px;
}
.benefitPointsPanel, .benefitPointsPanelTwo 
{
    background:url('../homeimages/benefit-arrow-down.gif') 50px 0 no-repeat;
    width:300px;
    float:left;
    padding:15px 0 0 0;
   
}
.benefitPointsPanelTwo 
{
    background:none;
    margin:0 0 0 10px;
}
.inr-small 
{
    background:url('../homeimages/icon_INR-small.gif') left no-repeat;
    padding-left:13px;
}

.contactLbl 
{
 width:150px;
 text-align:right;   
}

.submitBtn 
{
 background:url("../homeimages/button_submit.gif") no-repeat;
 width:87px;
 height:30px;
 margin:0px;
 padding:0px;
 border:0    
}


/*top main menu 
**********************************/
#topMainMenu {
	background:url('../homeimages/top_menu_bgr.jpg') #9D1481 0 0 repeat-x;
	height:40px;	
}
div#topMainLeftLinks 
{
	float:left; 
	width: 65%;  
	margin:0; 
	clear:right;
}
	
#topMennuRight {
	width:18%;
	float:right;	
}

ul.nav,ul.nav li 
{
	list-style-type:none; 
	margin:0; 
	padding:0 
	}
ul#nav 
{
	margin-left:20px;
	}
ul.nav li 
{
	float:left; 
	margin-right: 3px; 
	text-align: center; 
	text-transform:uppercase;
	}
ul.nav a  
{
	float:left; 
	padding: 11px 20px; 
	color: #fff; 
	font-size:14px;
	font-weight:700;  
	}
ul.nav a:hover  
{
	background: #B12895; 
	color: #fff; 
	}
ul.nav li.activelink a,ul.nav li.activelink a:hover  
{
	background: #B12895; 
	color: #FFF; 
	font-weight:700; 
	}



.insightoTagLine {
	width:180px;
	height:60px;
	margin:10px 0 0 0;	
	background:url('../homeimages/insighto-tagline.jpg') no-repeat left;
}

#topLinksPanel {
	background:#F7F7F7;
	height:27px;
	border-bottom:solid 1px #DCDCDC;
}

#wrapper {
	width:960px;
	background:#F5F5F5;
	margin:0 auto 0 auto;
}

.header {
	background: #fff;
}
.logoHeader 
{
	background:url('header_bg.jpg') 0 0 repeat-x;
	padding:5px 0;
}

.loginBtn 
{ 
  border:none;
  margin:0 0 0 8px;
  padding:2px 0 3px 21px;	  
  background: url(login_button.gif)  left no-repeat; 
  cursor:pointer;
  font-size:11px;
  color:Orange;
  font-weight:700;
  
 }
 
 input.homeTextbox 
 {
     border: 1px solid #9f9f9f; 
     padding:2px; 
     font-size:12px;
     width:160px;
 }
 
 .footer {
	height:65px;
	background:url('footer_bg.jpg') #fff 0 0 repeat-x;
	margin-top:20px;
}
.copyRights {	
	
	padding-left:10px;
	padding-top:18px !important;
}

.textalignment p
{
    margin: 10px 0 10px 0;
    line-height:18px;
    }
.orangeColor {
	color:#FF9000;
}
.freeStamp 
{
	background:url('../homeimages/freestamp.gif') 5% 100% no-repeat;
	
}
.marginNewInnerPanel
 {
     margin:10px 8px 0 10px;
 }
 .takeAtourRow 
 {
 	background:#f6f6f6;
 	padding:5px;
 	margin:8px 0 8px 0;
 	-moz-border-radius: 10px;
 	border-radius: 10px;
 }
 a.orangeLinksml:link, a.orangeLinksml:visited
{
    color: #FF9000;
    font-weight: normal;
    text-decoration: none;
    font-size: 11px;
}
a.orangeLinksml:hover
{
    color: #424242;
    text-decoration: underline;
}
.bottomMainPanel 
{
	margin:10px 0;
	padding:0 7px;
}
.surveyToday 
{	
	width:465px;
	float:left;
}
.surveyToday_1 
{	
	width:220px;
	float:left;
}
ul.todayUl 
{
	margin:0;
	padding:0;
}
ul.todayUl li 
{
	padding:5px 0 8px 15px;
	list-style-type:none;
	background:url('list_bullet.png') 0 3px no-repeat;
	font-size:12px;
	color:#666;
}
ul.todayUl li a
{
    font-size:14px !important;
}
.marketingPanel 
{
	width:470px;
	float:left;
	margin:0;
}
.bottomMainPanel h1 
{
	font-size:18px;
	font-weight:normal;
	color:#CD32AD;
	margin-bottom:10px;
}
.bottomMainPanel h2 
{
	font-size:18px;
	font-weight:normal;
	color:#CD32AD;
	margin-bottom:10px;
}

.bottomMainPanelText  
{
	font-size:12px;
	font-weight:normal;
	color:#CD32AD;
	margin-bottom:8px;
}
.bottomMainPanel h4 
{
	margin-bottom:10px;
	color:#666;
}
ul.marketingUL 
{
	margin:0;
	padding:0;
}
ul.marketingUL li 
{	
	list-style-type:none;
	float:left;
	padding:5px 15px 5px 0;
	
}
ul.marketingUL li a 
{
	color:#964FA1;
	font-weight:700;
	font-size:16px;
	background:url('marketin_link_bgr.jpg') repeat-x;
	border-right:solid 1px #C4C4C4;
	border-bottom:solid 1px #C4C4C4;
	width:200px;
	height:75px;
	padding:0 0 0 15px;
	display:block;
}
ul.marketingUL li a:hover 
{
	color:#CD32AD;
}
ul.marketingUL li.marketin a span, ul.marketingUL li.sales a span, ul.marketingUL li.hr a span, ul.marketingUL li.customer a span
{
	background:url('marketing_icon.png') 0 0 no-repeat;
	padding:15px 0 15px 55px;
	float:left;
	margin-top:15px;
}
ul.marketingUL li.sales a span 
{
	background:url('sales_icon.png') 0 0 no-repeat;
}
ul.marketingUL li.hr a span
{
	background:url('human_resources_icons.png') 0 0 no-repeat;
	padding-top:3px;
}
ul.marketingUL li.customer a span
{
	background:url('customer_services_icon.png') 0 0 no-repeat;
	padding-top:0;
}
.testimonialsPanel 
{
	width:416px;
	min-height:198px;
	float:left;
	background:url('pre_bg_1.jpg') #fff 0 100% repeat-x;
	border-right:solid 1px #C4C4C4;
	border-bottom:solid 1px #C4C4C4;
	padding:15px;
	color:#666;
}
.testimonialsText 
{
	background:url('testimonial_sign.png') 0 -20px no-repeat;
	padding-left:35px;
}
.authorname
{
	color:#BC1B9B;
	font-size:12px;
	font-weight:500;
}
.authorRole
{	
    color:#BC1B9B;
	font-size:11px;
	font-weight:500;
}
.featurePanel 
{
	width:195px;
	float:left;
	min-height:198px;
	padding:15px;
	background:url('pre_bg_1.jpg') #fff 0 100% repeat-x;
	border-right:solid 1px #C4C4C4;
	border-bottom:solid 1px #C4C4C4;
	margin-left:18px;
	color:#666;
}

/* pricing grid style */
.pricingGrid 
{
	border-right:solid 1px #C4C4C4;
	border-bottom:solid 1px #C4C4C4;
	width:750px;
	margin:20px auto;
}
.pricingHeader, .pricingHeaderPro, .pricingHeader_free
{
	background:url('pricing_header_bg.jpg') 0 0 repeat-x;
	height:40px;
	text-align:center;
	font-weight:600;
	font-size:20px;
	color:#666;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
}
.pricingHeader_free 
{
	background:url('price_header_free.jpg') 100% 0 no-repeat;
}
.pricingHeaderPro
{
	background:url('pricing_header_pro.jpg') 0 0 repeat-x;
	color:#A948A7 !important;
}
.pricingRow
{
	background:#fff;
}
.shadow_01 
{
	background:url(shade_01.jpg) #F7F7F7 100% 0 repeat-y !important;
}
.shadow_02 
{
	background:url(shade_02.jpg) #EFEFEF 100% 0 repeat-y !important;
}
.priceRowStyle, .priceAlterRow
{
	background:#F7F7F7;
	padding:7px;
	font-size:12px;
}
.priceAlterRow
{
	background:#fff;		
}

.priceGridLbl 
{
	color:#BE29A2;
}
.priceBottomBorder 
{
	border-bottom:solid 1px #ccc;
}
.priceRowStyle a, .priceAlterRow a 
{
	font-size:12px !important;
	font-weight:normal !important;
	color:#BE29A2 !important;
}
ul.proUl 
{
	margin:-20px 0 0 0;
	padding:0;
}
ul.proUl li 
{
	padding:3px 0;
	text-align:center;
	list-style-type:none;
}
ul.proUl li a 
{
	font-size:14px;
	font-weight:700 !important;
	color:#FF6B11 !important;
}
ul.proUl li a:hover 
{
	text-decoration:none;
}
.priceRs 
{
	background:url('rupees_sybmol.jpg') 0 1px no-repeat;
	padding-left:12px;
	color:#BC3CAB;
	font-weight:500;
	font-size:10px;
}
.monthlyHeading 
{	
	padding-left:12px;
	color:#BC3CAB;
	font-weight:500;
	font-size:12px;
}
.saveText 
{
	color:#BC3CAB;
	font-weight:500;
	font-size:10px;
}
.plusExpand 
{
	background:#C0C0C0;
	color:#fff;
	width:16px;
	height:16px;
	padding-bottom:2px;
	text-align:center;
	float:right;
	margin-right:48%;
	display:inline;
	-moz-border-radius:2px;
	border-radius:2px;
}

.plusExpandFAQ 
{
	/*background:#82C5F5;*/
	background:#C0C0C0;
	color:#fff;
	padding:2px 5px;	
	text-align:center;	
	margin-left:10px;	
	/*display:inline;*/
	-moz-border-radius:2px;
	border-radius:2px;
}
ul.loginUL 
{
	margin:0;
	padding:0;
	float:right;
}
ul.loginUL li 
{
	list-style-type:none;
	padding:10px 10px;
}
ul.loginUL li a 
{
	color:#fff;
	font-weight:700;
	font-size:14px;
}
.innerContentLeft 
{
	background:#fff;
	margin:20px 15px 0 20px;
	width:675px;
	float:left;
	border-right:solid 1px #C4C4C4;
	border-bottom:solid 1px #C4C4C4;
	color:#666;
}
.innerContentRight 
{
	width:225px;
	float:right;
	margin:20px 20px 0 0;
	background:#fff;
	border-right:solid 1px #C4C4C4;
	border-bottom:solid 1px #C4C4C4;
	color:#666;
}
.innerTextPanel 
{
	padding:15px;
}
.innerContentLeft h1,  .innerContentLeft h2, .innerContentRight h2
{
	color:#CC30AC;
}
.innerContentLeft h2, .innerContentRight h2 
{
	font-weight:normal;
	margin:2px 0 15px 0;
}
.innerContentLeft h3 
{
	font-style:italic;
	font-weight:normal;
	padding:8px 0;
	border-bottom:Solid 1px #C4C4C4;	
}
.textPanelHalf 
{
	width:305px;
	float:left;
	padding-right:15px;
}
.serviceFormPanel 
{
	padding:20px 15px;
}
ul.serviceUL 
{
	margin:0;
	padding:0;
}
ul.serviceUL li 
{
	padding:3px 0;
	list-style-type:none;
}
.textBoxService
{
	background:#F8F8F8;
	border-top:solid 1px #DADADA;
	border-left:solid 1px #DADADA;
	height:29px;
	padding-left:10px;
	font-size:13px;
	width:177px;
	margin-bottom:3px;
}
.dropdownService 
{
	padding:7px 5px 7px 10px;
	width:190px;
	background:#F8F8F8;
	border-top:solid 1px #DADADA;
	border-left:solid 1px #DADADA;
	font-size:13px;
	margin-bottom:3px;
}
ul.imgCenter 
{
    margin:0;
    padding:0;
    width:100%;
}
ul.imgCenter li 
{
    padding:0;
    width:100%;
    text-align:center;
    list-style-type:none;
    float:left;
    border:solid 1px red;
}
ul.imgCenter li img 
{
    text-align:center;
}
.faq-box-style {
    background-color: #FFFFFF;
    border-bottom: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    float: left;
    margin: 20px 0 0 80px;
    padding: 20px 0 0 20px;
    width: 759px;
}