<table width="400" border="0" cellspacing="0" cellpadding="0" style="font-family:'Trebuchet MS'; font-size:12px; color:#4a4a4a">
  <tr>
    <td><p>Insighto gives you an innovative edge and  flexibility to understand your customer&rsquo;s mind and collect wide range of  information like their preferences, attitudes, values and beliefs, and history  on behaviors.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An online survey for researching with the existing customers is  the best way to initiate a dialogue with your target audience for any future  products and is not only made easy, but also cost-effective, at Insighto.com.</p>
      <ul>
        <li>Enhance Lead Acquisition</li>
        <li>Identify Cross-sell and Up-sell opportunities and more.</li>
    </ul></td>
  </tr>
</table>