<table width="400" border="0" cellspacing="0" cellpadding="0" style="font-family:'Trebuchet MS'; font-size:12px; color:#4a4a4a">
  <tr>
    <td><p>Insighto empowers the HR function of every  organization to gather feedback from the employees on various aspects like  Performance management, Facilities and Infrastructure, Leadership Effectiveness  etc and hence provide qualitative and quantitative logic and data to define  action plans that address key issues.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gaining insights through online surveys  from the internal customers (employees) is not only made easy, but also  cost-effective, at Insighto.com.</p>
      <ul>
        <li>Evaluate Post-hire progress</li>
        <li>Conduct Exit Interview</li>
        <li>Analyze Employee Satisfaction &amp; Development</li>
        <li>Understand Training need-analysis and  effectiveness</li>
        <li>Assess Performance Management</li>
        <li>Understand Organizational Climate</li>
        <li>Provide Self Assessment platform</li>
    </ul></td>
  </tr>
</table>