<table width="400" border="0" cellspacing="0" cellpadding="0" style="font-family:'Trebuchet MS'; font-size:12px; color:#4a4a4a">
  <tr>
    <td><p>Insighto helps you gather information on  industry trends, market segments, and analyze market developments. An online  survey at Insighto can determine your real competition and prospective customer  base which is the desired supporting data for your next strategic move.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A  successful business plan always includes extensive and comprehensive market  research which is not only made easy, but also cost-effective at Insighto.com.</p>
      <ul>
        <li>Gain Business Intelligence</li>
        <li> Customize Product Development</li>
        <li>Pre and Post Event Evaluations</li>
        <li>Evaluate Marketing Campaigns</li>
    </ul></td>
  </tr>
</table>