<table width="400" border="0" cellspacing="0" cellpadding="0" style="font-family:'Trebuchet MS'; font-size:12px; color:#4a4a4a">
  <tr>
    <td><p>Insighto helps your organization to get to the heart of your  customer and understand, how better - you serve them and you can serve them. An  Online survey with Insighto will help you realize you customer&rsquo;s needs,  aspirations and increase customer satisfaction and loyalty.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reaching to your  customers and asking feedback is the most appropriate way to evaluate your  service department&rsquo;s effectiveness.<br>
        Engaging your customers and increasing your chances of  making informed decisions is not only made easy, but also cost-effective, at  Insighto.com. </p>
      <ul>
        <li>Understand Customer Satisfaction levels</li>
        <li>Enhance engagement with customers</li>
    </ul></td>
  </tr>
</table>