<table width="400" border="0" cellspacing="0" cellpadding="0" style="font-family:'Trebuchet MS'; font-size:12px; color:#4a4a4a">
  <tr>
    <td><p>Insighto helps your institute to understand and  gain feedback from students  and parent-body  which can provide a strong base and  reason to justify your curriculum changes and others. Students are generally  vocal about their opinions and thoughts.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An online survey with Insighto.com  gives you an opportunity to capture this pool of innovative thoughts, increase  the student participation and thereby increase your institutions overall  effectiveness. All of this is not only made easy, but also cost-effective, at  Insighto.com.</p>
      <ul>
        <li>Gather feedback from parent-body</li>
        <li>Understand the curriculum effectiveness</li>
        <li>Invite innovative and creative thoughts</li>
    </ul></td>
  </tr>
</table>