﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CheckPollAnswered.aspx.cs" Inherits="Polls_CheckPollAnswered" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="pollanswered" runat="server" ClientIDMode="Static"></asp:Label>    
            <asp:Label ID="respondentid" runat="server" ClientIDMode="Static"></asp:Label>    
            <asp:Label ID="pollid" runat="server" ClientIDMode="Static"></asp:Label>    
            
        </div>
        <div id="newreq"></div>
    </form>
  
</body>
</html>
