﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MyPolls.master.cs" Inherits="MyPolls" %>
<%@ Register TagPrefix="ucHeaderPolls" TagName="HeaderPolls" Src="UserControls/HeaderPolls.ascx" %>
<%@ Register TagPrefix="ucFooter" TagName="Footer" Src="~/UserControls/Footer.ascx" %>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="pollsList"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <title>Insighto Polls</title>
        <!-- BEGIN SHORTCUT AND TOUCH ICONS -->
        <link rel="shortcut icon" href="img/insighto.ico">
        <link rel="apple-touch-icon" href="img/apple_touch.png">
        <!-- END SHORTCUT AND TOUCH ICONS -->
      <!-- CSS  -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/speechbubble.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/jquery.fancybox-transitions.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/jquery.fancybox.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/jquery.ui.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/materialize.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js"></script>
    
    <script src="js/angularControl.js?ver=<%=DateTime.Now.Millisecond.ToString() %>"></script>
    <script src="js/jquery.lazyload.js"></script>
    <script src="js/jquery.fancybox-transitions.js"></script>
  
    <script type="text/javascript">
        function savePollName() {
            var pollname = $("#newpollname").val();
            var polltype = $("#polltype").val();
            $.ajax({
                    type: "GET",
                    url: "/Polls/AjaxService.aspx?method=SavePollNameAndType",
                    data: { Name: pollname, Type: polltype }
                })
                .done(function (data) {
                    if (data == "Success") {
                        window.location.reload(true);
                    }
                    else if (data == "Duplicate") {
                        $("#newpollmessage").html('A poll with this name already exists.');
                        $("#newpollname").focus();
                        return;
                    }
                    else {
                        $("#newpollmessage").html('The poll could not be created. Please try again.');
                    }
                }
            );
        }

        function closeFancybox() {
            $.fancybox.close();
        }

    </script>
    <style>
        iframe {

    width:450px;
}


    </style>


    <asp:ContentPlaceHolder id="head" runat="server"></asp:ContentPlaceHolder>

</head>
<body>
    <form id="form1" runat="server" style="margin-left:0px;">
        <div class="progress active" id="loader" style="background-color:white;border:none;margin-top:0px;max-height:2px;position:absolute;top:0;z-index:99999;">
            <div class="indeterminate"></div>
        </div>
        <div class="preloader-wrapper big hide" id="preloader2" style="z-index:999999;">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
            </div>
          </div>

        <div class="progress" id="iframeloader" style="background-color:white;border:none;margin-top:0px;max-height:2px;position:absolute;z-index:99999;vertical-align:middle;top:50px;left:150px;display:none;">
            <div class="indeterminate"></div>
        </div>
    
        <ucHeaderPolls:HeaderPolls ID="ucHeader" runat="server" />
        <div>
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
            </asp:ContentPlaceHolder>
        </div>
        <ucFooter:Footer ID="Footer" runat="server" />
    </form>
    <style>
        #Footer_dvFooter {
            text-align:center;
            margin-bottom:5px;
            margin-top:5px;
            background-color:transparent;
            filter: alpha(Opacity=90);
            opacity: 0.5;
        }
    </style>
    
</body>
</html>
