﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="paymentconfirmation.aspx.cs" Inherits="Polls_paymentconfirmation" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
<%--        <asp:Label ID="transactionid" runat="server"></asp:Label>    
        <br />
        <asp:Label ID="status1" runat="server"></asp:Label>    
        <br />
        <asp:Label ID="postvars" runat="server"></asp:Label>    
        <br />--%>
        <asp:Label ID="lblMessage" runat="server" meta:resourcekey="lblMessageResource1"/>
    </div>
    </form>
</body>
</html>
