﻿<%@ Page Title="" Language="C#" MasterPageFile="~/FAQMaster.master" AutoEventWireup="true"
    CodeFile="CNS_AboutSurvey.aspx.cs" Inherits="AboutSurvey" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <%--<div class="faqPagePathway">
        <asp:Label ID="lblCategoryName" runat="server"></asp:Label>
        >>
        <asp:Label ID="lblParentNode" runat="server"></asp:Label>
        >> <b>
            <asp:Label ID="lblPageName" runat="server"></asp:Label>
        </b>
    </div>
    <div class="clear"></div>--%>
    <div id="divAboutSurvey" runat="server">
    </div>
</asp:Content>
