﻿<%@ Page Title="" Language="C#" MasterPageFile="~/FAQMaster.master" AutoEventWireup="true" CodeFile="QA_EditSurveyName.aspx.cs" Inherits="Faqcms_QA_EditSurveyName" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

       <%-- <div class="faqPagePathway"><asp:Label ID="lblCategoryName" runat="server" ></asp:Label> >> <asp:Label ID="lblParentNode" runat="server"></asp:Label> >> <b><asp:Label ID="lblPageName" runat="server"></asp:Label>  </b></div>
  
    <div class="clear"></div>--%>
    <div id="divQAEditSurveyName" runat="server"> 
   
    </div>
</asp:Content>

