@charset "utf-8";
/* CSS Document */
	
html, body { 
	margin:0;
	padding:0;
	height:100%; 
}
body{
    font:normal 12px Tahoma, Geneva, sans-serif;	
	background:url(../images/bg.jpg) repeat-x left top #FFF; 
	color:#666666;
	line-height: 18px;
}
form, img, input, p{
	margin:0px;
	padding:0px;
	border:0px;
}
p{
	padding-bottom:16px;
}
p.last{
	padding-bottom:0px;
}
.clr{
	clear:both;
}
a{
	color:#2771D3;
	text-decoration:none;
}
a:hover{
	color:#5E96E1;
	text-decoration:underline;
}
.underline{
	text-decoration:underline;
}
.txtcnt{
	text-align:center;
}
.txtrgt{
	text-align:right;
}

/*  Header styles */
h1,h2,h3,h4,h5,h6{
	line-height:1.2em;
	padding-bottom:18px;
	margin:0px;
	color:#666666;
	font-weight:normal;
}
h1{
	font-family:"Gill Sans MT",  Tahoma, Geneva, sans-serif;
	font-size:36px;
}
.bannerL.noimg h1{
	padding-bottom:8px;
}
h2{
	font-size:22px;
	font-weight:normal;
	padding-bottom:5px; 
	color:#666666;
	text-align:center;
	text-shadow: 2px 1px 0 #FFFFFF !important;
}
h3{
	font-size:28px;
	font-weight:normal;
	padding-bottom:5px; 
	color:#666666;
	text-align:center;
	text-shadow: 2px 1px 0 #FFFFFF !important;
}
h4{
	font-size:16px;
	font-weight:normal;
	padding-bottom:20px; 
	text-shadow: 2px 1px 0 #FFFFFF !important;
}
.bannerL.noimg h3{
	padding:5px 0px 10px 0px; 
}

input[type="checkbox"]{
	margin-right:8px;
}
.txtbox{
	width:92%;
	padding:10px;
	color:#8B8B8B;	
	font-size:17px;
	background:url(../images/txtbox_bg.jpg) repeat-x left top #FFF;
	
	border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	-webkit-border-radius:6px;
	
}
.btn_bg{
	padding:7px 25px;
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	color:#FFF;
	width:99%;
	
	text-shadow: 2px 1px 0 #153D73 !important;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	
	background: #266dce; /* for non-css3 browsers */
	background: -moz-linear-gradient(top, #266dce,  #1f57a4); /* for firefox 3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, from(#266dce), to(#1f57a4)); /* Safari 4+, Chrome */
	background: -webkit-linear-gradient(left top, left bottom, #266dce, #1f57a4); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background: -o-linear-gradient(top, #266dce,#1f57a4); /* Opera 11.10+ */
	background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#266dce, EndColorStr=#1f57a4, GradientType=0)";
	background: linear-gradient(to bottom, #266dce,#1f57a4); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#266dce', endColorstr='#1f57a4', GradientType='0'); /* for IE */

	cursor:pointer;
	cursor:hand;
}


h1 {
	height: 60px; text-align:center;  font-size: 32px; font-weight: normal; color: #843D99; margin-bottom:10px
}


/* ----------------    Container Begin    ------------------  */
#wrapper{
	width:986px;
	margin:0 auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
}

/* ----------------    Header Begin    ------------------  */
#header_main{
	width:100%;
	height:56px;
	margin:0 auto 0px auto;
	padding:25px 0px 5px 0px;
}
#header_main a.header_logo{
	width:325px;
	height:85px;
	display:inline-block;
	background:url(../images/Insighto_logo.png) no-repeat left top;
	margin:0px auto 0px 10px;
	padding: 0px 0px 0px 0px;
}


/* ----------------    Banner Begin    ------------------  */
#banner_main{
	width:100%;
	height:100%;
	margin:0 auto 30px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
}
#banner_main .bannerL_blk{
	width:610px;
	float:left;
}
.bannerL{
	width:600px;
	height:100%;
	float:left;
	padding:17px;
	
	margin:0px 20px 15px 0px;
	border:1px solid #CDCDCD;
	
	/*text-shadow:2px 1px 0px #FFF !important;*/
	
	background: #ffffff; /* for non-css3 browsers */
	background: -moz-radial-gradient(center, #ffffff,  #f5f5f5); /* for firefox 3.6+ */ 
	background: -webkit-gradient(radial, center center, from(#ffffff), to(#f5f5f5)); /* Safari 4+, Chrome */
	background: -webkit-radial-gradient(center center, #ffffff, #f5f5f5); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background: -o-radial-gradient(center, #ffffff,#f5f5f5); /* Opera 11.10+ */
	background: radial-gradient(center, #ffffff,#f5f5f5); /* W3C */
	
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	
	font-family: "Calibri", Tahoma, Geneva, sans-serif ;
	font-size:17px;
	font-weight:normal;
	line-height:21px;
	text-align:center;
}

#banner_main .bannerL.noimg{
	font-size:16px;
	line-height:20px;
	padding:10px 20px 20px 20px;
}
#banner_main .bannerL.noimg p{
	padding-bottom:10px;
}
.bannerL .banner_img{
	width:310px;
	float:right;
	background:url(../images/banner_img.jpg) no-repeat center top;
	margin:10px -20px 0px 0px;
}
.bannerL .banner_img .pers_detail{
	width:240px;
	margin:0 auto;
	padding-top:156px;
	font-size:12px;
	font-weight:bold;
	line-height:16px;
	text-align:center;
}





#banner_main #bannerR_blk{
	width:310px;
	height:100%;
	float:right;
}
#bannerR{
	width:310px;
	height:100%;
	float:right;
	padding:1px;
	margin:0px 0px 10px 0px;
	border:1px solid #D3D3D3;
	background:#FFF;
		
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}
#bannerR .signup_blk{
	font-size:14px;
	padding:10.5px;	
	background: #f4f4f4; /* for non-css3 browsers */
	background: -moz-linear-gradient(top, #f4f4f4,  #e2e2e2); /* for firefox 3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e2e2e2)); /* Safari 4+, Chrome */
	background: -webkit-linear-gradient(left top, left bottom, #f4f4f4, #e2e2e2); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background: -o-linear-gradient(top, #f4f4f4,#e2e2e2); /* Opera 11.10+ */
	background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#f4f4f4, EndColorStr=#e2e2e2, GradientType=0)";
	background: linear-gradient(to bottom, #f4f4f4,#e2e2e2); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e2e2e2', GradientType='0'); /* for IE */
		
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	
	text-shadow: 1px 1px 0 #FFFFFF !important;
}
#bannerR .signup_blk a{
	color:#666;
	text-decoration:underline;
}
#bannerR .signup_blk a:hover{
	color:#333;
	text-decoration:none;
}
.lblRequired
{
    background: url('../images/required_red.jpg') no-repeat 0 -2px;
    padding-left: 20px;
    color: red;
     height: 19px;
}
.signup_blk .title{
	text-align:center;
	padding-bottom:10px;
}
.signup_blk .frm_blk{
	padding-bottom:0px;
}
.signup_blk .frm_blk_txt{
	padding-bottom:0px;
	 font-size:15px;
}
.signup_blk .frm_blk.last{
	padding-bottom:0px;
}
.signup_blk .txt_free{
	font-size:18px;
	font-weight:bold;
	color:#9B4795;
	padding-left:20px;
	text-shadow: 1px 1px 0 #FFFFFF !important;
}
.signup_blk .note{
	font-size:12px;
	text-align:center;
}


/*------------------- Banner End -------------------*/


/* ----------------    Container Begin    ------------------  */
#container_main{
	margin:0 auto 20px auto;
	padding:0px 0px 0px 0px;
}

.uses_list_blk{
	margin:0 auto;
}
.uses_list_blk table{
	border-top:1px solid #CDCDCD;
	margin-bottom:18px;
}
.uses_list_blk table td{
	padding:8px 12px;
	border-bottom:1px solid #CDCDCD;
}
.uses_list_blk ul{
	margin:0px;
	padding:0px;
}
.uses_list_blk ul li{
	width:222px;
	float:left;
	list-style:none;
	background:url(../images/icon_arrow.png) no-repeat center left;
	padding:0px 0px 0px 24px;
	margin:0px 0px 10px 0px;
	font-size:14px;
	text-align:left;
}




/* ----------------    Footer Container Begin    ------------------  */
#footer_main{
	width:100%;
	background:#F8F8F8;
	border-top:1px solid #EFEFEF;
}
#footer_blk {
	width: 986px;
	margin:0 auto;
	padding:25px 0 30px 0;
	position:relative; 
    font-size: 11px;
	color:#727272 !important;	
}
#footer_blk #footerL{
	float:left;
}
#footer_blk #footerR{
	float:right;
}
#footerR ul{
	text-align:center;
	margin:0px;
	padding:0px;
}
#footerR ul li{
	line-height: 12px;
	display:inline-block;
	padding:0 7px;
	margin:0 0px;
	border-left:1px solid #858587;
}
#footerR ul li.last{
	border:0px;
}
#footerR ul li a{
	color: #727272;
	text-decoration:none;
}
#footerR ul li a:hover{
	color: #000;
}
.uses_list_blk1
{
    
  
	margin-bottom:5px;
	margin-top:20px;
    border:1px solid #DFDCDC;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}

.uses_list_blk1 table td{

	padding:8px 8px;
	padding:
	border-bottom:1px solid #CDCDCD;
}
.uses_list_blk1 ul{
	margin:0px;
	padding:0px;
}
.uses_list_blk1 ul li{
	width:208px;
	float:left;
	list-style:none;
	background:url(../images/icon_arrow1.png) no-repeat center left;
	padding:0px 0px 0px 20px;
	margin:0px 0px 10px 0px;
	font-size:14px;
	text-align:left;
}


#container {
	width: 600px; padding: 5px 5px 5px 5px;
	background: url(images/bg-pattern.png);
}


td {
	 padding: 10px; 
}

tr {border:#999 solid 1px}


th {
	text-align: center; padding: 5px;
}


.feature {
	width: 183px; text-align: right;
	font-size: 24px; font-weight: normal; color: #fff; 
}



.iron, .nightster{ width:140px;
	background: rgba(55,55,55,0.09); 
}


.nightster{ width:140px;background: rgba(202,166,200,0.8);
}



tr:hover {
	background: rgba(238,243,250,10.05);
}
	thead tr:hover {
		background: none;
	}
	
	
