﻿img{
	margin:0px;
	padding:0px;
	
	border:none;
	}
	.bannerPanel 
	{
		margin:0 auto 20px auto;
		width:940px;
		height:350px;
	}
	#banner{
	margin:0px;
	padding:0px;
	float:left;
	width:940px;
	position:relative;
	}
	
	
	.imgs1{
	background:url(../images//homeimages/banner01.jpg) left top no-repeat;
	height:345px;
	
	}
	.imgs2{
	background:url(../images/homeimages/banner02.jpg) left top no-repeat;
	height:345px;
	
	}
	.imgs3{
	background:url(../images/homeimages/banner03.jpg) left top no-repeat;
	height:345px;
	
	}
	.imgs4{
	background:url(../images/homeimages/banner04.jpg) left top no-repeat;
	height:345px;
	
	}
	
	#banner #slideshow
	 h3{
	margin:0px;
	padding:0px;
	margin-bottom:5px;
	font-size:46px;
	color:#ffffff;
	letter-spacing:-2px;
	text-shadow: 1px 1px #4f2853;

	}
	#banner #slideshow  h4{
	margin:0px;
	padding:0px;
	font-size:26px;
	color:#ff91ea;
	letter-spacing:-1px;
	margin-top:7px;
	}
	#banner #slideshow h4.ex-margin5px{
	margin-top:15px;
	}
	#banner .banner-popup2 p{
	color:#666666;
	font-family:"Segoe UI", Arial, Helvetica, sans-serif;
	font-size:14px;

	margin:0px;
	margin-top:7px;
	}
	a.margin-top-button01{
	margin:0px;
	margin-top:10px;
	display:block;
	float:left;
	}
	a.margin-top-button02{
	margin:0px;
	margin-top:15px;
	display:block;
	float:left;
	}
	a.margin-top-button03{
	margin:0px;
	margin-top:10px;
	margin-left:20px;
	display:block;
	float:left;
	}
	a.margin-top-button04{
	margin:0px;
	margin-top:14px;
	display:block;
	float:left;
	}
	.banner-head1{
	margin:20px 0px 0px 20px;
	padding:0px;
	float:left;
	width:530px;

	}
	.banner-head2{
	margin:20px 0px 0px 20px;
	padding:0px;
	float:left;
	width:467px;
	}
	.banner-popup{
	width:940px;
	padding:0px;
	margin:0px;
	height:59px;
	float:left;
	background:url(../images/homeimages/bg_transparent.png) left top no-repeat;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:11;
	}
	.banner-popup2{
	z-index:12;
	width:240px;
	padding:0px 25px 0px 0px;
	height:294px;
	position:absolute;
	right:20px;
	bottom:20px;
	background-color:#FFFFFF;
	}
	

	.banner-popup2 h6{
	font-size:22px;
	color:#964fa1;
	letter-spacing:-.5px;
	margin:0px;
	margin-top:20px;
	margin-bottom:5px;
	font-family:"Helvetica" , Arial, Helvetica, sans-serif;
    font-weight:bold;
	}
	.banner-popup2 h6 span{
	color:#bc1b9b;
	}
	.banner-popup h5{
	margin:25px 0px 0px 30px;
	padding:0px;
	color:#FFFFFF;
	font-size:16px;
	float:left;
	}
	.banner-popup a{
	display:block;
	margin-top:12px;
	margin-left:15px;
	float:left;
	}
	
	}
	p.testimonial-para{
	font-family:"Georgia", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	}
	.testimonial p span.authorname{
	font-family:Helvetica;
	font-size:14px;
	font-weight:bold;
	color:#bc1b9b;
	
	
	}
	
	/*slider*/
	#slideshow {
   	height:345px;
	width:940px;

}

#slideshow DIV {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
	padding-top:50px;
	padding-left:30px;
	height: 295px;
	width:910px;
}

#slideshow DIV.active {
    z-index:10;
    opacity:1.0;
}

#slideshow DIV.last-active {
    z-index:9;
}
.sp-link{
font-family:Helvetica;
font-size:14px;
font-weight:bold;
color:#ff6000;
text-decoration:none;
margin-top:34px;
display:block;
}
div.prefaces-1-right-fix-he{
min-height:220px;
}
div.prefaces-1-right-fix-he2{
min-height:220px;
}
div.prefaces-1-right-fix-he3{
min-height:220px;
}
/*innerpagestyles*/

div.inner-left-content{
width:699px;f
height:auto;
border-right:1px solid #c0c0c0;
border-bottom:1px solid #c0c0c0;
background-color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;

}
div.inner-right-sidebar{
width:220px;
height:auto;
margin-left:20px;

}


.margin-left-20px{
margin-left:20px;
margin-top:0px;
}
div.mar-20-bottom{
margin-bottom:20px;
}


div.img-contaier , div.content-nav{
width:460px;

}
div.content-nav{
margin-bottom:10px;
}

ul.ul-style02 li{
margin:0px;
padding:0px;
list-style:none;
}

ul.ul-style02 li span.style02{
display:block;
margin:0px;
padding:0px 0px 0px 0px;
line-height:20px;
font-family:"Segoe UI", Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:normal;
color:#666666;
text-decoration:none;
}
ul.uni-left-margin-bottom-10{
margin-bottom:8px;
padding-left:15px;
margin-top:0px;
border-left:5px #ffd5bc solid;
width:230px;
}
ul.uni-left-margin-bottom-10-inner{
margin-bottom:8px;
padding-left:15px;
margin-top:10px;
border-left:5px #ffd5bc solid;
width:180px;
}
ul.uni-left-margin-bottom-10 li , ul.uni-left-margin-bottom-10-inner li{
margin-bottom:5px;
}
ul.uni-left-margin-bottom-10 li.last , ul.uni-left-margin-bottom-10-inner li.last{
margin-bottom:0px;
}
h2.style01{
color: #CC30AC;
width:185px;
    float: left;
   font-family:"Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
	margin-left:20px;


}
h2.style01 cufon{
margin-bottom:2px;
}
span.style04{
margin-left:25px;
display:block;

}
.banner-link-style-special{
width:150px;
float:left;
font-family:"Segoe UI", Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:11px;
text-decoration:underline;
color: #FF6B11 !important;
margin-top:5px;
}
.banner-link-style-special:hover{
text-decoration:none;
}

/* ---- login panel styles ----- */
.signin_menu {
	display:none;
	position:absolute;
	width:202px;
	z-index:20;
	border:1px transparent;
	text-align:left;
	padding:12px 12px 12px 20px;
	top:40px; 
	right:0px;
	border:1px solid #a43095;
	border-top:none;
	font-size:11px;
	background-color:#FFFFFF;
	padding-bottom:20px;

}
.signin_menu span span{
float:left;
width:auto;
margin-left:5px;
margin-right:5px;
margin-top:5px;
}
span.span-top-margin-3{
margin-top:3px;
}

span.span-top-margin-7{
margin-top:7px;
}

.dvPageInfo img 
{
 float:none !important;    
}

.loginFormLabel 
{
 font-size:120%;    
}

p.header-user-login {
    color: #666666;
    float: right;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    font-size: 12px !important;
    margin: 13px 15px 0 0;
    padding: 0;
}
p.header-user-login a, .testimonial p a {
    color: #FF6B11;
    text-decoration: underline;
     font-size: 12px !important;
     font-weight:normal !important;
}
p.header-user-login a:hover, .testimonial p a:hover {
    color: #FF6B11;
    text-decoration: none;
}





/* ----------------    Container Begin    ------------------  */
#container_main{
	margin:0 auto 0px auto;
	padding:20px 20px 40px 20px;
}
#container_main .thx_txt{
	font-size:26px;
	line-height:36px;
	padding:15px 0px;
	text-align:center;
}


/* ----------------    Banner Begin    ------------------  */
#banner_main{
	width:100%;
	height:59%;
	margin:0 auto 30px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
    top: 0px;
    left: 0px;
}
#banner_main .bannerL{
	width:570px;	
	float:left;
	padding: 7px 20px 19px 20px;
	margin:0px 20px 0px 0px;
	border:1px solid #CDCDCD;
	
	background: #ffffff; /* for non-css3 browsers */
	
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	
	font-family: "Calibri", Tahoma, Geneva, sans-serif ;
	font-size:17px;
	font-weight:normal;
	line-height:20px;
}

#banner_main .bannerL.noimg{
	font-size:16px;
	line-height:20px;
	padding:10px 20px 20px 20px;
}
#banner_main .bannerL.noimg p{
	padding-bottom:10px;
}

#banner_main .bannerL table{
	margin-bottom:11px;
}
#banner_main .bannerL table tr td{
	padding:6px 10px;
	text-align:center;
}

.bannerL .banner_img{
	width:252px;
	float:right;
	background:url(../App_Themes/Classic/Images/banner_img.png) no-repeat center top;
	margin:10px -20px 0px 0px;
}
.bannerL .banner_img .pers_detail{
	width:220px;
	margin:0 auto;
	padding-top:274px;
	font-size:12px;
	font-weight:bold;
	line-height:16px;
	text-align:center;
}
#banner_main #bannerR{
	width:270px;
	height:390px;
	float:right;
	padding:1px;
	border:1px solid #D3D3D3;
	background:#FFF;
		
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}
#bannerR .signup_blk{
	font-size:13px;
	height:380px;
	padding:5px;	
	background: #f4f4f4; /* for non-css3 browsers */
	background: -moz-linear-gradient(top, #f4f4f4,  #e2e2e2); /* for firefox 3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e2e2e2)); /* Safari 4+, Chrome */
	background: -webkit-linear-gradient(left top, left bottom, #f4f4f4, #e2e2e2); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background: -o-linear-gradient(top, #f4f4f4,#e2e2e2); /* Opera 11.10+ */
	background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#f4f4f4, EndColorStr=#e2e2e2, GradientType=0)";
	background: #f4f4f4; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e2e2e2', GradientType='0'); /* for IE */
		
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	
	text-shadow: 1px 1px 0 #FFFFFF !important;
}
#bannerR .signup_blk a{
	color:#2771D3;
	text-decoration:underline;
}
#bannerR .signup_blk a:hover{
	color:#5E96E1;
	text-decoration:none;
}
.signup_blk .title{
	text-align:center;
	padding-bottom:10px;
}
.signup_blk .frm_blk{
	padding-bottom:08px;
}
.signup_blk .frm_blk_txt{
	padding-bottom:10px;
}
.signup_blk .frm_blk.last, .signup_blk .frm_blk_txt.last{
	padding-bottom:0px;
}
.signup_blk .txt_free{
	font-size:18px;
	font-weight:bold;
	color:#9B4795;
	padding-left:20px;
	text-shadow: 1px 1px 0 #FFFFFF !important;
}
.signup_blk .note{
	font-size:12px;
	text-align:center;
}
.signup_blk .signup_kr{
	padding-bottom:05px;
}

/*------------------- Banner End -------------------*/




/* ----------------    Mid content Begin    ------------------  */
.mid_content_blk{
	margin:0 auto;
}
.mid_content_blk .mid_content_L{
	float:left;
}
.mid_content_blk .mid_content_R{
	float:left;
}


/* ----------------   Mid content End    ------------------  */

/*  Header styles */
h1,h2,h3,h4,h5,h6{
	line-height:1.2em;
	padding-bottom:8px;
	margin:0px;
	color:#666666;
	font-weight:bold;
}
#headline{
	font-size:32px;	
	font-weight:normal;
	text-align:center;
	padding-bottom:1px; 
}
#bnr_text{
	font-size:20px;
	font-weight:normal;
	padding-bottom:5px; 
	color:#666666;
	text-align:center;
	text-shadow: 2px 1px 0 #FFFFFF !important;
}

input[type="checkbox"]{
	margin-right:8px;
}
.dropbox_timezone{
	width:95%;
	padding:10px;
	color:#666666;
	border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:1px solid #ADADAD;
	box-shadow:inset 0px 1px 3px rgba(000,000,000,0.3);
	-webkit-box-shadow:inset 0px 1px 3px rgba(000,000,000,0.3);
	-o-box-shadow:inset 0px 1px 3px rgba(000,000,000,0.3);
}http://www.insighto.com/

.icon_chk1, .icon_cross1{
	width:16px;
	height:15px;
	background:url(../App_Themes/Classic/Images/icon_chk1.png) no-repeat center;
	margin:0 auto;
}
.icon_cross1{
	background:url(../App_Themes/Classic/Images/icon_cross1.png) no-repeat center;
}

input[type="checkbox"]{
	margin-right:8px;
}
.txtbox{
	width:220PX;
	padding:7px 10px;
	color:#8B8B8B;	
	font-size:13px;
	background:url(../App_Themes/Classic/Images/txtbox_bg.jpg) repeat-x left top #FFF;
	
	border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	-webkit-border-radius:6px;
	
}
.btn_bg{
	padding:5px 20px;
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	color:#FFF;
	width:245px;
	text-shadow: 2px 1px 0 #153D73 !important;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	
	background: #266dce; /* for non-css3 browsers */
	background: -moz-linear-gradient(top, #266dce,  #1f57a4); /* for firefox 3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, from(#266dce), to(#1f57a4)); /* Safari 4+, Chrome */
	background: -webkit-linear-gradient(left top, left bottom, #266dce, #1f57a4); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background: -o-linear-gradient(top, #266dce,#1f57a4); /* Opera 11.10+ */
	background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#266dce, EndColorStr=#1f57a4, GradientType=0)";
	background: linear-gradient(to bottom, #266dce,#1f57a4); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#266dce', endColorstr='#1f57a4', GradientType='0'); /* for IE */

	cursor:pointer;
	cursor:hand;
}
.btn_bg:hover{
	background:url(../App_Themes/Classic/Images/btn_bg.jpg) repeat-x left bottom #266DCE;
}
.iron, .nightster{ width:140px;
	background: rgba(55,55,55,0.09); 
}


.nightster{ width:140px;background: rgba(202,166,200,0.8);
}

#tr1:hover {
	background: rgba(238,243,250,10.05);
}
	thead #tr1:hover {
		background: none;
	}
	
	
