.ddcolortabs{
padding: 0;


}

.ddcolortabs ul{
font: normal 11px Arial, Verdana, sans-serif;
margin:0;
padding:0;
list-style:none;
}

.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0; width:190px;
text-transform:uppercase;
}


.ddcolortabs a{
float:left;
color: #000;
margin:0 2px 0 0;
padding:0 0 1px 3px;
text-decoration:none;
letter-spacing: 1px;

}

.ddcolortabs a span{
float:right;
display:inline-block;
padding: 1px 4px 0 0;
font-weight:700;
}

/*.ddcolortabs a span{
float:none;
}*/

.ddcolortabs a:hover{

}

.ddcolortabs a:hover span{

}

.ddcolortabs .selected a, #ddcolortabs .selected a span{ /*currently selected tab*/
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv_a{
position:absolute;
top: 0;

border-bottom-width: 0;
font:normal 14px Arial;
line-height:24px;
z-index:100;
background-color: white;
width: 182px;
visibility: hidden;
color:#ffffff;
letter-spacing: 1px;
}


.dropmenudiv_a a{
width: auto;
display: block;
text-indent: 5px;/*THEME CHANGE HERE*/
padding: 6px 5px 6px 30px;
text-decoration: none;
color: black;
background:#BF92CB; color:#ffffff

}

* html .dropmenudiv_a a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_a a:hover{ /*THEME CHANGE HERE*/
background: #B12895; 
color: white;
}
/* right menu dropdown */
#topMainLeftLinksPnl {
	background:#B12895;
	height:40px;
}
div#topMainLeftLinksPnl{ float:left; background: #B12895; width: 180px; margin:0; clear:right;}
ul#rightNav,ul#rightNav li{ list-style-type:none; margin:0; padding:0 }
ul#rightNav{ margin-left:0px;}
ul#rightNav li{ float:left; margin-right: 0px;  text-align: center; text-transform:uppercase;}
ul#rightNav a { float:left; padding: 11px 0px 8px 10px; color: #fff; font-size:14px; }
ul#rightNav a:hover { background: #B12895; color: #fff; }
ul#rightNav li.activelink a,ul#rightNav li.activelink a:hover { background: #B12895; color: #FFF; font-weight:bold; }
ul#rightNavnew,ul#rightNavnew li{ list-style-type:none; margin:0; padding:0 }
ul#rightNavnew{ margin-left:0px;}
ul#rightNavnew li{ float:left; margin-right: 0px;  text-align: center; text-transform:uppercase;}
ul#rightNavnew a { float:left; padding: 11px 0px 8px 10px; color: #fff; font-size:14px; }
ul#rightNavnew a:hover { background: #B12895; color: #fff; }
ul#rightNavnew li.activelink a,ul#rightNavnew li.activelink a:hover { background: #B12895; color: #FFF; font-weight:bold; }
#topMennuRightPanel {
	width:182px;
	float:right;
}
.topMennuRightPanel {
	width:175px; 
}
 .rightmenu
    {
        width: 362px;
        float:right;
    }
/* right menu dropdown */
#topMainLeftLinksPnlPoll {
	background:#B12895;
	height:40px;
}
div#topMainLeftLinksPnlPoll{ float:left; background: #B12895; width: 180px; margin:0; clear:right;}