﻿.mobileBody {
    background:#fff;
	padding-top:2%;
	font-size:100%;
	width:100%;
}

.mobileBody .questionViewpanel {
  width:100%;
}

.mobileBody .star {
 width:2%;
 text-align:right;
}

.mobileBody .meter-wrap, .mobileBody .meter-value{
    width: 100%; 
    height: 26px;    
}

.mobileBody .progressPnl {
   width:80%;
   margin:auto;
 }


.mobileBody .surveyRespondQNo {	 
   padding-left:0;
   width:5%;
   color:#333;
   vertical-align:top;
 }

 .mobileBody table {
  width:100%;
 }

 .mobileBody table tr td {
  padding:3px;
 }
 
 .mobileBody input[type="text"] {
  width:80%;
  height:30px;
  margin:3px auto;
  padding:0px;
 }

 .mobileBody textarea,.mobileBody select {
   width:80%;
 }

 .mobileBody .surveyRespondQTextPanel {
		width:80%;	
		font-weight:bold;
		color:#333; 
 }

 .mobileImg {
  width:98%;
 }

 .mobileLogo img {
  width:98%;
 }

 .mobileBody .logo-view {
  width:98%; 
 }


.mobilenasscom {
  float:right;    
 }

.footerRight {
 float:right;
}

 .mobileBody .ResondLbl {
  padding-left:8%
 }

 .mobileBody .defaultHeight {
  height:0px;
 }
        