* { margin:0; /*padding:0;*/ }
p { margin:5px 0 10px 0; }

.slideContent {
	background-color:#fff;
    width:400px;
    height:160px;
    position: fixed;
    margin:margin:0 auto;
    font-size:12px;
    z-index:100000000;
    border-color:Gray;
    border-width:2px;
}
.slideContentPart1 {
	background-color:#484848;
    width:400px;
    height:100px;
    font-size:14px;
    text-align:left;
}
.slideContentPart2 {
	background-color:#F0F0F0;
	top:100px;
    width:400px;
    height:60px;
    font-size:14px;
    text-align:center;
}

.plusIcon:hover{
	/* Applying a CSS3 outer glow on hover */
	-moz-box-shadow:0 0 4px #999;
	-webkit-box-shadow:0 0 4px #999;
	box-shadow:0 0 4px #999;
}

/* The holder for the title and the icon: */
.tipVisible{ cursor:pointer; height:22px; }

.tipTitle{
	float:left;
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	white-space:nowrap;
	line-height:22px;
	padding-right:5px;
}

.tipIcon{
	width:20px;
	height:20px;
	float:left;
	background-color:#61b035;
	border:1px solid #70c244;
	margin-right:8px;
	
	/* CSS3 Rounded corners */
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
}


.plusIcon{
	/* The plus icon */
	width:13px;
	height:13px;
	background:url('../images/homeimages/plus.gif') no-repeat center center;
	margin:4px;
	float:right;

	/* Defining a CSS3 animation. Currently only works in Chrome and Safari */
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

.slideOutContent{
	/* Hiding the div with the slide out content: */
	display:none;
	padding:10px;
	font-size:11px;
}


