﻿.meter-wrap {
    background: #f2f2f2;
    -moz-border-radius: 8px;
	border-radius: 8px;
}
.meter-value {
    background:url('ThemeImages/progress-bar-one.gif') repeat-x;
    border:solid 0px #909090;
    -moz-border-radius: 8px;
	border-radius: 8px;
    padding:0;
}