﻿.meter-wrap {
    background: #f2f2f2;
    -moz-border-radius: 8px;
	border-radius: 8px;
}
.meter-value {
    background:#B363C6;
    border:solid 0px #909090;
    -moz-border-radius: 8px;
	border-radius: 8px;
    padding:0;
}