﻿/* progress bar styles */

.meter-value {
    background:url('ThemeImages/progress-bar-green.gif') repeat-x;
    border:solid 1px #07803D;
}
span.questionView {
	color:#016F33;
}
/*a.surveyLinks:link, a.surveyLinks:visited 
{
	background:#DAF3DF;
	border:solid 1px #BAD8C0;
	color:#04813D;
}
a.surveyLinks:hover 
{
	color:#333;
}*/

/* ///////////////question panel styles////////////////// */
.narrationHeader 
{
    background:#00873B;
}
.narrationHeader span p, .narrationHeader span p span 
{
	
	color:#fff;
}
.divQuestions 
	{		
		background:#F4FDF6;
		border:solid 1px #0F9349; 
	}

.surveyRespondQuestionPanel, .surveyRespondQuestionColumn 
{
	background:#00873B;
	border-bottom:solid 1px #016730;
	
}
.surveyRespondQNo {
	color:#fff;	
}
.surveyRespondQTextPanel span p, .surveyRespondQTextPanel span p span 
{
	
	color:#fff;
}

/* /////////// survey title styles ////////// */

.surveyTitle {	
	border-bottom:solid 1px #DFF6E3;
}
.surveyTitle h1
{   
    color:#016F33;
}
.pageBreakControls
{
	color:#6F0101;
}
.star
{
    color: #fff;    
}
/* ---------- customised radio and check box ----------- */
.checkbox, .radio {	
	background: url("ThemeImages/green_checkbox.png") no-repeat;		
}

.radio {
	background: url("ThemeImages/green_radio.png") no-repeat;	
}
/* ---------- //customised radio and check box ----------- */
/* input filed styles */
.textBoxMedium, .textBoxDateTime, .dropDown, .surveyMessageTextBox, .textAreaCommentBox, .textBoxRanking, .textBoxDateToTime, .dropDownMedium
{    
    border: solid 1px #6EBA8F;   
}
/* input filed styles */