﻿/* progress bar styles */

.meter-value {
    background:url('ThemeImages/progress-bar-orange.gif') repeat-x;
    border:solid 1px #E1915E;
}
span.questionView {
	color:#CD8D60;
}
/*a.surveyLinks:link, a.surveyLinks:visited 
{
	background:#FDEADC;
	border:solid 1px #F3C19F;
	color:#333;
}
a.surveyLinks:hover 
{
	color:#D9610E;
}*/
.narrationHeader 
{
    background:#EA9E6A;
}
.narrationHeader span p, .narrationHeader span p span 
{
	
	color:#333;
}
/* ///////////////question panel styles////////////////// */
.divQuestions 
	{		
		background:#FCF8F6;
		border:solid 1px #E89E6D; 
	}

.surveyRespondQuestionPanel, .surveyRespondQuestionColumn 
{
	background:#EA9E6A;
	border-bottom:solid 1px #BE6E39;
	
}
.surveyRespondQNo {
	color:#333;	
}
.surveyRespondQTextPanel span p, .surveyRespondQTextPanel span p span 
{
	
	color:#333;
}

/* /////////// survey title styles ////////// */
.surveyTitle {	
	border-bottom:solid 1px #FCDFCB;
}
.surveyTitle h1
{   
    color:#CD8D60;
}
.pageBreakControls
{
	color:#17B0FF;
}
/* ---------- customised radio and check box ----------- */
.checkbox, .radio {	
	background: url("ThemeImages/orange_checkbox.png") no-repeat;		
}

.radio {
	background: url("ThemeImages/orange_radio.png") no-repeat;	
}
/* ---------- //customised radio and check box ----------- */
/* input filed styles */
.textBoxMedium, .textBoxDateTime, .dropDown, .surveyMessageTextBox, .textAreaCommentBox, .textBoxRanking, .textBoxDateToTime, .dropDownMedium
{    
    border: solid 1px #F4CFB6;   
}
/* input filed styles */