﻿/* progress bar styles */

.meter-value {
    background:url('ThemeImages/progress-bar-blue.gif') repeat-x;
    border:solid 1px #2C76B5;
}
span.questionView {
	color:#003E77;
}
/*a.surveyLinks:link, a.surveyLinks:visited 
{
	background:#D7E4F1;
	border:solid 1px #88ACCE;
	color:#0C508F;
}
a.surveyLinks:hover 
{
	color:#333;
}
*/

/* ///////////////question panel styles////////////////// */
.divQuestions 
	{		
		background:#F3F9FE;
		border:solid 1px #0F4E8A; 
	}

.surveyRespondQuestionPanel, .surveyRespondQuestionColumn
{
	background:#2065A8;	
	border-bottom:solid 1px #0F4E8A;
	
}
.surveyRespondQNo {
	color:#fff;	
}
.surveyRespondQTextPanel span p, .surveyRespondQTextPanel span p span 
{
	
	color:#fff;
}
.narrationHeader 
{
    background:#2065A8;
    color:#fff;
    border-bottom:solid 1px #0F4E8A;    
}
.narrationHeader span p, .narrationHeader span p span 
{
	
	color:#fff;
}

/* /////////// survey title styles ////////// */

.surveyTitle {	
	border-bottom:solid 1px #CADDEF;
}
.surveyTitle h1
{   
    color:#003E77;
}
.pageBreakControls
{
	color:#003E77;
}
.star
{
    color: #fff;    
}
/* ---------- customised radio and check box ----------- */
.checkbox, .radio {	
	background: url("ThemeImages/blue_checkbox.png") no-repeat;		
}

.radio {
	background: url("ThemeImages/blue_radio.png") no-repeat;	
}
/* ---------- //customised radio and check box ----------- */
/* input filed styles */
.textBoxMedium, .textBoxDateTime, .dropDown, .surveyMessageTextBox, .textAreaCommentBox, .textBoxRanking, .textBoxDateToTime, .dropDownMedium
{    
    border: solid 1px #A3C0DB;   
}
/* input filed styles */