﻿/* progress bar styles */

.meter-wrap
{
	position: relative;
}

.meter-wrap
{
	width: 300px;
	height: 20px;
	margin: auto;
}
.meter-value
{
	width: 300px;
	height: 18px;
}

/* ----  */
.progressPnl
{
	margin: auto;
}
.progresstextPnl
{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.swid
{
	width: 20px;
}



span.questionView
{
	font-size: 16px;
	color: #93509D;
	font-weight: 700;
}
span.questionPercentage
{
	font-size: 16px;
	color: #333;
	font-weight: 700;
}
a.surveyLinks:link, a.surveyLinks:visited
{
	background: #CC21AB;
	color: #fff;
	padding: 5px 8px 5px 8px;
	/*border: solid 1px #800368;*/
	font-size:13pt;
	-moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
}
a.surveyLinks:hover
{
	color: #F7E6F4;
}


/* ///////////////question panel styles////////////////// */

.narrationHeader
{
	background: #F4F4F4;
	font-weight: 700;
	padding: 10px 0 10px 0;
	margin: 10px 0px 10px 10px; /*  margin:0 0 10px 0; */
	border-bottom: solid 1px #E1E1E1;
}
.narrationHeader p
{
	background: none;
	padding-left: 57px; /* padding-left: 48px; */
}
/* padding-left:25px; */
.narrationHeader span
{
	background: none;
}

.narrationHeader span p, .narrationHeader span p span
{
	color: #333;
}
.surveyResponseQContent
{
	margin-bottom: 20px;
}
.divQuestions
{
	margin: 0;
	border: solid 1px #E1E1E1;
	margin-top: 12px;
}
.qOptionPanel
{
	padding: 0 0 10px 0;
	border-bottom: solid 1px #E1E1E1;
}
.surveyRespondQuestionColumn
{
	height: 35px;
	background: #F4F4F4;
	border-bottom: solid 1px #D3D3D3;
	padding-bottom: 8px;
	padding-top: 8px;
}


.surveyRespondQNo span
{
	font-weight: 700;
}

.surveyRespondQTextPanel span p, .surveyRespondQTextPanel span p span
{
	background: none;
	color: #333;
}


.ResondLbl span
{
	padding-right: 10px;
}
.timelbl
{
	vertical-align: middle;
}
.testCheckClass
{
	width:100%;
}
.singleSelectRadio table
{
	/*width:100%;*/
}

.singleSelectRadio table tr td
{
	padding-right:20px;
}
.singleSelectRadio label, .testCheckClass label 
{
	padding-left:10px;
}
.matrixSingleSelect
{
	width: 100%;
	overflow-x: auto;
}
.matrixSingleSelect tr:hover, .testCheckClass tr:hover, .tblMatrixSideBySide tr:hover, .singleSelectRadio tr:hover
{
    background:#eee;
}

.matrixSingleSelect td, .tblMatrixSideBySide td, .testCheckClass td, .singleSelectRadio td
{
    padding:3px 0 3px 0;
    vertical-align:top;
}

.tblMatrix2D
{
	text-align: center;
	width: 100%;	
}
.tdMatrixRowSelect
{
	text-align: left;
	/*white-space: nowrap;*/
	width:40%; 
	}

.tdMatrixColumnSelect
{
	text-align: center;
	padding: 0 10px;
	vertical-align:text-top;
}

.tdDimension
{
	width: 30%;
	padding: 0px 40px;
}

.qImageControl
{
	margin: 10px 0 10px 0;
}

/* //////// arrow button styles ///////// */

/*   // pink arrow // */
.arrow_pink_plain, .arrow_pink_start, .arrow_pink_continue, .arrow_pink_submit
{
	background: white url('ThemeImages/btn-pink-arrow-large.gif') no-repeat;
	width: 150px;
	height: 36px;
	text-align: center;
	padding: 10px;
	border: solid 0px #000;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.arrow_pink_plain:hover
{
	color: #D9D9D9;
}
.arrow_pink_start
{
	background: white url('ThemeImages/btn-pink-arrow-large-text.gif') no-repeat;
}
.arrow_pink_continue
{
	background: white url('ThemeImages/btn-pink-arrow-medium-text.gif') no-repeat;
	width: 110px;
}
.arrow_pink_submit
{
	background: white url('ThemeImages/btn-pink-arrow-small-text.gif') no-repeat;
	width: 86px;
}


/*   // gray arrow // */
.arrow_gray_plain, .arrow_gray_start, .arrow_gray_continue, .arrow_gray_submit
{
	background: white url('ThemeImages/arrow-gray-plain.gif') no-repeat;
	width: 150px;
	height: 36px;
	text-align: center;
	padding: 10px;
	border: solid 0px #000;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.arrow_gray_plain:hover
{
	color: #D9D9D9;
}
.arrow_gray_start
{
	background: white url('ThemeImages/arrow-gray-start.gif') no-repeat;
}
.arrow_gray_continue
{
	background: white url('ThemeImages/arrow-graycontinue.gif') no-repeat;
	width: 110px;
}
.arrow_gray_submit
{
	background: white url('ThemeImages/arrow-gray-submit.gif') no-repeat;
	width: 86px;
}

/*   // black arrow // */
.arrow_black_plain, .arrow_black_start, .arrow_black_continue, .arrow_black_submit
{
	background: white url('ThemeImages/arrow-black-plain.gif') no-repeat;
	width: 150px;
	height: 36px;
	text-align: center;
	padding: 10px;
	border: solid 0px #000;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.arrow_black_plain:hover
{
	color: #D9D9D9;
}
.arrow_black_start
{
	background: white url('ThemeImages/arrow-black-start.gif') no-repeat;
}
.arrow_black_continue
{
	background: white url('ThemeImages/arrow-black-continue.gif') no-repeat;
	width: 110px;
}
.arrow_black_submit
{
	background: white url('ThemeImages/arrow-black-submit.gif') no-repeat;
	width: 86px;
}


/* //////// arrow button styles end ///////// */



/* //////// header styles ///////// */
.surveyHeader
{
	margin: 0 0 30px 0;
}
/* logo left */



.clear
{
	clear: both;
}


.logoleft
{
	width: 90%;
	float: left;
}

.copanyTitle
{
	text-align: left;
	padding-left: 10px;
}
.logocenter
{
}
.logocenter table
{
	width: 100%;
}

.logocenter .copanyTitle
{
	text-align: center;
	padding-top: 10px;
}

.logoright
{
	float: right;
	text-align: right;
	width: 90%;
}
.logoright table
{
	float: right;
}
.logoright .copanyTitle
{
	text-align: right;
	padding-right: 10px;
}
.logoTblRight
{
	float: right;
}


.customLogoright, .customLogocenter, .customLogoleft
{
	width: 100%;
	float: left;
}
.customLogoright
{
	width: 100%;
	line-height: 100px;
}
.customLogoright .logo
{
	float: right;
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
}

.customLogoright .title
{
	width: auto;
	height: 100px;
	line-height: 100px;
	float: right;
	text-align: right;
	padding: 0 0 0 0;
}

.customLogocenter
{
	width: 100%;
}
.customLogocenter .logo
{
	text-align: center;
}
.customLogocenter .title
{
	text-align: center;
	width: 100%;
}
.customLogoleft .logo
{
	width: auto;
	float: left;
}
.customLogoleft .title
{
	text-align: left;
	float: right;
	padding: 20px 0 0 0;
}
.customHeaderText
{
	text-align: center;
	margin-bottom: 10px;
}
.customFooterText
{
	text-align: center;
}
.form-field
{
	margin-left: -20px;
}

/* /////////// survey title styles ////////// */
.surveyTitle
{
	padding-bottom: 10px;
	padding-top: 5px;
	margin-bottom: 10px;
	border-bottom: solid 1px #E1E1E1;
}
.surveyTitle h1
{
	text-align: center;
	font-size: 18px;
	color: #96489E;
}
.pageBreakControls
{
   text-align:center;
    width:100%;
	padding: 10px 0px;
	font-weight: bold;
}

.quationtxtPanel
{
	font-size: 12px;
	color: #333;
	text-align: center;
}
.mandatorylbl
{
	color: Red;
	padding: 0 1px;
}
.pageBreaklbl
{
	color: #843D99;
}

/****** Updated by srikanth for mobile compatability on 13/10/2011 *****/


/*.surveyRespondQuestionColumn 
        {	
            margin-top:10px;
            padding:8px 0 8px 0;
	        background:#3366FF;
	        border-bottom:solid 1px #D3D3D3;	
        }*/

.surveyRespondQNo
{
	padding-left: 0;
	color: #333;
	font-weight: bold;
	vertical-align: top;
	width:22px;
	text-align:right;
}

.ResondLbl
{
	margin-top: 10px;
	padding-left: 64px;
}

.surveyRespondQTextPanel
{
	padding: 0 0 0 15px;
	font-weight: bold;
	color: #333;
}

.proButton
{
	margin-bottom: -24px;
}

.ResondLbl td img
{
	vertical-align: top;
	padding: 6px 0px 0px 5px; 
}
h2.popupH2
{
	background: #B363C6;
	color: #fff;
	font-size: 14px;
	padding: 5px 0 5px 10px;
}
.ServerUserConfirmation
{
	font-size: 13px;
	font-family: Arial;
}
.contactinfolbl
{
	padding-left:0}
/*.contactinfolbl td 
{
	text-align:right;
}*/
.datetbllbl
{
	padding-left:2px}
	
table, p
{
	padding:0px; margin:0px;}
	
.respondentIntroText p {padding-left:15px;}

.star
{
    color: #CC21AB;
    text-align: right;
    width: 20px;
    vertical-align: top;
}

/* ---------- customised radio and check box ----------- */

.checkbox, .radio {
	width: 10px;
	height: 25px;
	padding: 0 3px 0 0;	
	display:inline-block;
	
	
}

.checkbox, .radio {	
	background: url("ThemeImages/classic_checkbox.png") no-repeat;
	/*margin-top:0;*/
	
}
.checkbox 
{
	margin-top:-2px; 
}

.radio {
	background: url("ThemeImages/classic_radio.png") no-repeat;
	margin-top:-5px;
	
}

/* ---------- //customised radio and check box ----------- */

/* input filed styles */
.textBoxMedium, .textBoxDateTime, .dropDown, .surveyMessageTextBox, .textAreaCommentBox, .textBoxRanking, .textBoxDateToTime, .dropDownMedium
{    
    border: solid 3px #CDCDCD;   
}
/* input filed styles */

/*.rankingLbl td span
{	
	float:right;
}*/