﻿/* progress bar styles */

.meter-value {
    background:url('ThemeImages/progress-bar-red.gif') repeat-x;
    border:solid 1px #DC4C4B;
}
span.questionView {
	color:#DF0418;
}
/*a.surveyLinks:link, a.surveyLinks:visited 
{
	background:#F2DBD6;
	border:solid 1px #E3C2BB;
	color:#333;
}
a.surveyLinks:hover 
{
	color:#E37051;
}*/
.narrationHeader 
{
    background:#DF0418;
}
.narrationHeader span p, .narrationHeader span p span 
{
	
	color:#fff;
}
/* ///////////////question panel styles////////////////// */
.divQuestions 
	{		
		background:#FDFAF9;
		border:solid 1px #DF0418; 
	}

.surveyRespondQuestionPanel, .surveyRespondQuestionColumn 
{
	background:#DF0418;
	border-bottom:solid 1px #D85E4C;
	
}
.surveyRespondQNo {
	color:#fff;	
}
.surveyRespondQTextPanel span p, .surveyRespondQTextPanel span p span 
{
	
	color:#fff;
}
/* /////////// survey title styles ////////// */
.surveyTitle {	
	border-bottom:solid 1px #F1DAD5;
}
.surveyTitle h1
{   
    color:#DF5C39;
}
.pageBreakControls
{
	color:#00C8FF;
}
.star
{
    color: #fff;    
}
/* ---------- customised radio and check box ----------- */
.checkbox, .radio {	
	background: url("ThemeImages/red_checkbox.png") no-repeat;		
}

.radio {
	background: url("ThemeImages/red_radio.png") no-repeat;	
}
/* ---------- //customised radio and check box ----------- */
/* input filed styles */
.textBoxMedium, .textBoxDateTime, .dropDown, .surveyMessageTextBox, .textAreaCommentBox, .textBoxRanking, .textBoxDateToTime, .dropDownMedium
{    
    border: solid 1px #EE7F89;   
}
/* input filed styles */