﻿/* progress bar styles */

.meter-value {
    background:url('ThemeImages/progress-bar-purpal.gif') repeat-x;
    border:solid 1px #822A9C;
}
span.questionView {
	color:#93509D;
}
/*a.surveyLinks:link, a.surveyLinks:visited 
{
	background:#EBE0EE;
	border:solid 1px #DBBDE3;
	color:#845092;
}
a.surveyLinks:hover 
{
	color:#333;
}*/

/* ///////////////question panel styles////////////////// */
.narrationHeader 
{
    background:#845092;
}
.narrationHeader span p, .narrationHeader span p span 
{
	
	color:#fff;
}
.divQuestions 
	{		
		background:#FBF7FC;
		border:solid 1px #843E9D; 
	}

.surveyRespondQuestionPanel, .surveyRespondQuestionColumn 
{
	background:#845092;
	border-bottom:solid 1px #845092;
	
}
.surveyRespondQNo {
	color:#fff;	
}
.surveyRespondQTextPanel span p, .surveyRespondQTextPanel span p span 
{
	
	color:#fff;
}

/* /////////// survey title styles ////////// */

.surveyTitle {	
	border-bottom:solid 1px #F7E7FB;
}
/*.surveyTitle h1
{   
    color:#003E77;
}*/

.pageBreakControls
{
	color:#CD8D60;
}
.star
{
    color: #fff;    
}
/* ---------- customised radio and check box ----------- */
.checkbox, .radio {	
	background: url("ThemeImages/purple_checkbox.png") no-repeat;		
}

.radio {
	background: url("ThemeImages/purple_radio.png") no-repeat;	
}
/* ---------- //customised radio and check box ----------- */
/* input filed styles */
.textBoxMedium, .textBoxDateTime, .dropDown, .surveyMessageTextBox, .textAreaCommentBox, .textBoxRanking, .textBoxDateToTime, .dropDownMedium
{    
    border: solid 1px #B89BC0;   
}
/* input filed styles */