/* Add here all your css styles (customizations) */

/* Add here all your css styles (customizations) */

.topbar {
	visibility: visible;
}
 @media (max-width: 991px) {
.header .navbar-nav > .active > a, .header .navbar-nav > .active > a:hover, .header .navbar-nav > .active > a:focus {
	background: #944f9f;
}
}
 @media (min-width: 992px) {
.header .navbar-nav > li > a:hover, .header .navbar-nav > .active > a {
	border-bottom: solid 2px #944f9f;
}
}
.header .navbar-nav > li > a:hover, .header .navbar-nav > .active > a {
	color: #944f9f;
}
.one-page h2.title-v2:after {
	background-color: #95509d;
}
.btn-u.btn-u-white {
	background: #FFFFFF;
	color: #666;
}
.btn-u.btn-u-white:hover, .btn-u.btn-u-white:focus, .btn-u.btn-u-white:active, .btn-u.btn-u-white.active, .open .dropdown-toggle.btn-u.btn-u-white {
	background: #F6F6F6;
}
.btn-u.btn-u-split-white.dropdown-toggle {
	border-left: solid 1px #DFDFDF;
}
.one-page .slider-details {
	padding-bottom: 30px;
}
.one-page .slider-details .container {
	padding-bottom: 0px;
}
.content-boxes-v5 i {
	background-color: #3498db;
	color: #FFFFFF;
}
.content-boxes-v5:hover i {
	background-color: #3498db;
}
.features-content {
	padding-bottom: 0px;
}
.footer-v1 .footer-socials li a {
	color: #FFFFFF;
	font-size: 13px;
}
.hero {
	position: relative;
	background-position: bottom center;
	background-repeat: no-repeat;
	overflow: hidden;
	background: rgba(206,224,238,1);
	background: -moz-linear-gradient(top, rgba(206,224,238,1) 0%, rgba(237,238,240,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(206,224,238,1)), color-stop(100%, rgba(237,238,240,1)));
	background: -webkit-linear-gradient(top, rgba(206,224,238,1) 0%, rgba(237,238,240,1) 100%);
	background: -o-linear-gradient(top, rgba(206,224,238,1) 0%, rgba(237,238,240,1) 100%);
	background: -ms-linear-gradient(top, rgba(206,224,238,1) 0%, rgba(237,238,240,1) 100%);
	background: linear-gradient(to bottom, rgba(206,224,238,1) 0%, rgba(237,238,240,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee0ee', endColorstr='#edeef0', GradientType=0 );
	text-align: center;
}
/*.hero {
	position: relative;
	background-position: bottom center;
	background-repeat: no-repeat;
	overflow: hidden;
	background: url(../img/sliders/hands_up0.jpg);
	background-size: cover;
	width: 100%;
	height: 554px;
	text-align: center;
}*/
.hero img {
	max-width: 100%;
}
.hero h1 {
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
	position: absolute;
	color: #fff;
	font-size: 50px;
	font-weight: 800;
	text-align: center;
	width: 100%;
	margin-top: 70px;
}
.hero h2 {
	text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.25);
	position: absolute;
	color: #3A3A3A;
	font-size: 26px;
	font-weight: 800;
	text-align: center;
	width: 100%;
	margin-top: 108px;
	display: none;
}
.hero h3 {
	text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.25);
	position: absolute;
	color: #3A3A3A;
	font-size: 26px;
	font-weight: 800;
	text-align: center;
	width: 100%;
	margin-top: 160px;
}
.hero-cta {
	width: 100%;
	position: absolute;
	margin-top: 235px;
	font-family: 'Lora', serif;
	font-weight: bold;
	letter-spacing: 0.5px;
}.hero-cta a {
	width: 280px;
	margin: 6px;
	font-size: 18px;
}
.hero-banner {
	width: 100%;
	position: absolute;
	/*margin-top: 10px !important;*/
	margin-top: 36px !important;
	font-family: 'Lora', serif;
	font-weight: bold;
	letter-spacing: 0.5px;
}
.hero-banner a {
	width: 280px;
	margin: 6px;
	font-size: 18px;
}

.embed-item-title-icon {
	color: #95509f;
	font-size: 28px;
	margin-right: 10px;
	vertical-align: sub;
	;
}
.service .embed-item-title {
	color: #555;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 20px;
	display: inline-block;
	;
}
.service > span {
	display: block;
	margin-bottom: 10px;
}
.service {
	display: inline-block;
}
.pricing-page-intro {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.content-sm {
	/*padding-top: 34px;*/
	padding-top: 10px;
	padding-bottom: 35px;
}
.content-sm-new {
	padding-top: 10px;
	padding-bottom: 5px;
}
.pricing-rounded > .col-md-4 {
	padding-left: 30px;
	padding-right: 30px;
}
.pricing-content li {
	line-height: 2.5em;
}
#plans {
	padding-bottom: 0px;
}
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
 @keyframes blink {
 0% {
opacity:1;
}
 50% {
opacity:0;
}
 100% {
opacity:1;
}
}
 @-webkit-keyframes blink {
 0% {
opacity:1;
}
 50% {
opacity:0;
}
 100% {
opacity:1;
}
}
 @-moz-keyframes blink {
 0% {
opacity:1;
}
 50% {
opacity:0;
}
 100% {
opacity:1;
}
}
.pricing-rounded .pricing-content span {
	display: inline-block;/*float: none;*/
}
.pricing-content li i {
/*height: 100%;
	vertical-align: middle;*/
}
.title-center a {
	color: #555;
}
.title-center a:hover {
	text-decoration: none;
	color: #888;
}
