body { margin: 0px; padding:0; font-family: "Trebuchet MS", "Century Gothic", "Myriad Pro", "Gill Sans", Helvetica, Verdana, Arial, sans-serif; font-size: 12px; line-height: 1.4; color:#000000}

a:link{color: #49649A;}
a:visited{color: #49649A;}
a:hover{color: #49649A;}

h2 {margin:5px 0 0 10px; font-size:16px; color:#49649A;}

#leftbox ul {margin:0 0 0 40px; padding:0 0 0 0; color: #e99519; list-style-type: disc}
#leftbox li {margin:0 0 0 0; padding:0; font-size: 12px; font-weight:bold; color: #e99519; line-height: 20px; list-style-type: disc}

h2 {margin-left:10px; font-size:16px; color:#49649A;}

#faqs_column {color:#000000}
#faqs_column h1 {DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN-BOTTOM: 3px;  color:#49649A;}
#faqs_column ul {margin:0 0 0 40px; color:#000000; padding:0; list-style-type: disc}
#faqs_column li {margin:0; padding:0; color:#000000; font-size: 12px; line-height: 20px;}
/* SEARCH FAQS */