﻿body {
}
.Label
{
	
	color: #303030;
	font-Size:Small;
	font-family:Calibri;
	font-weight:bolder;
}
.TextBox
{
	
}
.LabelKnowience
{
  background-color:White;
  font-weight:bold ;
  font-style:italic;
  font-family :Book Antiqua;
  Font-Size:XX-Large;
  color : Aqua ;

}

.LabelHeader
{
  font-family:Tahoma;
  font-size:x-large;
}
	
.AccordionHeader
{
	border:1px solid #2f4f4f;
	color:White;
	background-color:#2e4d7f;
	font-family:Arial Sans-Serif;
	font-size:12px;
	font-weight:bold;
	padding:5px;
	margin-top:5px;
	cursor:pointer;
}
	
.AccordionContent
{
	background-color:#d3deef;
	border:1px dashed #244f4f;
	border-top:none;
	padding:5px;
	padding-top:10px;
		
}
		
.AccordionLink
{
	background-color:#d3deef;
	color:White;
}
			
.CollapsePanelContent
{
 border-color :#BDEDFF;
 border-style :outset;
 border-width :thin;
}
			
.CollapsePanelHeader
{
	background-color:#ADDFFF;
	cursor:pointer;
	width:auto;
}

.CollapseMainPanelContent
{
   background-color:ThreeDLighShadow;
}
				
.CollapseMainPanelHeader
{
	font-family: Tahoma, Verdana, Arial;
	text-decoration:none;
	color: #1E3695;
	background-color: #FFFFFF;
}
				
.PanelBackground
{
  background-color:#BDEDFF;
  border-style:groove;
  border-color:#FFF8C6;
  border-width:thin;
}

.RoundCorners
{
  background-color:#BDEDFF;
}
						
.HyperLink
{
  font-weight:bold;
  width:60;
}


								
table.stat th, table.stat td 
{
   font-family : "Myriad Web",Verdana,Helvetica,Arial,sans-serif;
}
  
 .AccordionHeader
{
	border:1px solid #2f4f4f;
	color:White;
	background-color:#2e4d7f;	
	cursor:pointer;
}
	
.AccordionContent
{
	background-color:#d3deef;
	border:1px Groove #244f4f;
	border-top:none;
	padding:5px;
	padding-top:10px;
}
		
.PanelWidth
{
	width:250px;
	}	
		
	.table
	{
		border:1px solid #999;
		border-collapse:collapse;
		font-family:Tahoma;
	}
	.th
	{
		border:1px solid #999;
		font-size:70%;
		text-transform:uppercase;
	}
	.td
	{
		border:1px solid #999;
		height:3em;
		padding:5px;
		vertical-align:middle;
		}