f/* 
* Version: 1.4
* Default Color 	  : #72c02c;
* Default Hover Color : #5fb611;
*/

a:focus, 
a:hover, 
a:active {
	color: #72c02c;
}

.color-green {
	color: #72c02c;
}

a.read-more:hover { 
	color:#72c02c; 
}

.linked:hover {
	color:#72c02c;
}

/*Header v1
------------------------------------*/
/*Navber*/
.header .navbar-default .navbar-nav > .active > a {
	color: #72c02c;
}

/*Navbar Toggle*/
.navbar-toggle,
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background: #72c02c;
}

.navbar-default .navbar-toggle {
	border-color: #5fb611;
}

.navbar-default .navbar-toggle:hover {
	background: #5fb611;
}

/*Responsive Navbar*/
@media (max-width: 767px) {
	.header .navbar-default .navbar-nav > li > a:hover {
		color: #72c02c;
	}

	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		color: #fff;
		background: #72c02c;
	}
}

@media (min-width: 767px) {
	/*Navbar*/
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > .active > a {
		border-bottom: solid 2px #72c02c;
	}

	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		color: #72c02c;
	}

	/*Dropdown Menu*/
	.header .dropdown-menu { 
		border-top: solid 2px #72c02c; 
	}	
}

/*Search Box*/
.header .navbar .nav > li > .search:hover {
	color: #72c02c;
	border-bottom-color: #72c02c;
}

@media (max-width: 767px) {
	.header .navbar .nav > li > .search:hover {
		background: #5fb611;
	}
}

/*Header v2
------------------------------------*/
/*Topbar*/
.topbar-v1 .top-v1-data li a:hover i {
	color: #72c02c;
}

/*Search Box*/
.header-v1 .navbar .nav > li > .search:hover {
	background: #72c02c;
}

/*Responsive Navbar*/
@media (min-width: 767px) {
	.header-v1 .navbar-default .navbar-nav > li > a:hover,
	.header-v1 .navbar-default .navbar-nav > .active > a {
		color: #fff;
		background: #72c02c !important;
	}

	.header-v1 .navbar-default .navbar-nav > .open > a,
	.header-v1 .navbar-default .navbar-nav > .open > a:hover,
	.header-v1 .navbar-default .navbar-nav > .open > a:focus {
		background: #72c02c;		
	}
}	

/*Sliders
------------------------------------*/
/*Main Parallax Sldier*/
.da-slide h2 i {
	background:url(../../plugins/parallax-slider/img/bg-heading.png) repeat;
}

/*Sequence Parallax Sldier*/
.sequence-inner {
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#defce7));
  background: -webkit-linear-gradient(#fff, #defce7);
  background: -moz-linear-gradient(#fff, #defce7);
  background: -ms-linear-gradient(#fff, #defce7);
  background: -o-linear-gradient(#fff, #defce7);
  background: linear-gradient(#fff, #defce7)
}

#sequence-theme h2 {
	background:rgba(114, 192, 44, 0.8);
}

#sequence-theme .info p {
	background:rgba(114, 192, 44, 0.8);
}

/*Buttons
------------------------------------*/
.btn-u {
	background: #266DCE;
}

.btn-u:hover {
	background: #5fb611;
}

/*Service
------------------------------------*/
.service .service-icon {
	color:#72c02c;	
}

/*Service Blocks*/
.service-alternative .service:hover { 
	background:#72c02c;
} 

/*Thumbnail (Recent Work)
------------------------------------*/
.thumbnail-style h3 a:hover {
	color:#72c02c;
}

.thumbnail-style a.btn-more {
	background:#72c02c;
}
.thumbnail-style a.btn-more:hover {
	box-shadow:0 0 0 2px #5fb611;
}

/*Carousel (Recent Work)*/
.recent-work a:hover span {
	border-bottom:solid 2px #72c02c;
}

.bx-wrapper .bx-prev {
	background-image: url(../../plugins/bxslider/images/controls.png);
}
.bx-wrapper .bx-next {
	background-image: url(../../plugins/bxslider/images/controls.png);
}

/*Typography
------------------------------------*/
/*Heading*/
.headline h2, 
.headline h3, 
.headline h4 {
	border-bottom:2px solid #72c02c;
}

/*Blockquote*/
blockquote:hover {
	border-left-color:#72c02c; 
}

.hero {
	border-left-color: #72c02c;
}

/*Carousel
------------------------------------*/
.carousel-arrow a.carousel-control:hover {
	color: #72c02c;
}

/*Footer
------------------------------------*/
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
	color: #72c02c;
}

/*Footer Blog*/
.footer .dl-horizontal a:hover {
	color:#72c02c !important;
}

/*Blog Posts
------------------------------------*/
.posts .dl-horizontal a:hover { 
	color:#72c02c; 
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a { 
	color: #72c02c;
	border-color: #72c02c !important;
}

/*Post Comment*/
.post-comment h3, 
.blog-item .media h3,
.blog-item .media h4.media-heading span a {
	color: #72c02c;
}

/*Tabs
------------------------------------*/
/*Tabs v1*/
.tab-v1 .nav-tabs { 
	border-bottom: solid 2px #72c02c; 	
}

.tab-v1 .nav-tabs > .active > a, 
.tab-v1 .nav-tabs > .active > a:hover, 
.tab-v1 .nav-tabs > .active > a:focus { 
	background: #72c02c; 
}

.tab-v1 .nav-tabs > li > a:hover { 
	background: #72c02c; 
}

/*Tabs v2*/
.tab-v2 .nav-tabs li.active a {
	border-top: solid 2px #72c02c;
}

/*Tabs v3*/
.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
	background: #72c02c;
	border: solid 1px #5fb611;
}

/*Accardion
------------------------------------*/
.acc-home a.active,
.acc-home a.accordion-toggle:hover { 
	color:#72c02c; 
}
.acc-home .collapse.in { 
	border-bottom:solid 1px #72c02c; 
}

/*Testimonials
------------------------------------*/
.testimonials .testimonial-info {
	color: #72c02c;
}

.testimonials .carousel-arrow i:hover {
	background: #72c02c;
}

/*Info Blocks
------------------------------------*/
.info-blocks:hover i.icon-info-blocks {
	color: #72c02c;
}

/*Breadcrumb
------------------------------------*/
.breadcrumb li.active,
.breadcrumb li a:hover {
	color:#72c02c;
}

/*About Page
------------------------------------*/
.team .thumbnail-style:hover h3 a {
	color:#72c02c !important;
}

/*Social Icons*/
.team ul.team-socail li i:hover {
	background: #72c02c;
}

/*Right Sidebar
------------------------------------*/
/*Right Sidebar*/
.who li i,
.who li:hover i, 
.who li:hover a { 
	color:#72c02c; 
}

/*Privacy Page
------------------------------------*/
.privacy a:hover {
	color:#72c02c; 
}

/*Portfolio Page
------------------------------------*/
/*Portfolio v1*/
.view a.info:hover {
	background: #72c02c;
}

/*Portfolio v2*/
.sorting-block .sorting-nav li.active {
	color: #72c02c;
	border-bottom: solid 1px #72c02c;
}

.sorting-block .sorting-grid li a:hover span.sorting-cover {
	background: #72c02c;
}

/*Blog Page
------------------------------------*/
.blog h3 {
	color:#72c02c;
}
.blog li a:hover {
	color:#72c02c;
}

/*Blog Tags*/
ul.blog-tags a:hover {
	background: #72c02c;
}

.blog-post-tags ul.blog-tags a:hover {
    background: none repeat scroll 0 0 #72c02c;
}

/*Blog Photos*/
.blog-photos li img:hover {
	box-shadow: 0 0 0 2px #72c02c;
}

/*Blog Latest Tweets*/
.blog-twitter .blog-twitter-inner:hover {
	border-color: #72c02c;
	border-top-color: #72c02c;	
}
.blog-twitter .blog-twitter-inner:hover:after {
	border-top-color: #72c02c;	
}

.blog-twitter .blog-twitter-inner a {
	color: #72c02c;
}

/*Blog Item Page
------------------------------------*/
.blog-item h4.media-heading span a {
	color:#72c02c;
}

/*Coming Soon Page
------------------------------------*/
.coming-soon-border {
	border-top: solid 3px #72c02c;
}

/*Search Page
------------------------------------*/
.booking-blocks p a {
	color: #72c02c;
}

/*Icons Page
------------------------------------*/
.icon-page li:hover { 
	color:#72c02c;
}

/*Glyphicons*/
.glyphicons-demo a:hover {
	color: #72c02c;
	text-decoration: none;
}

/*Magazine Page
------------------------------------*/
/*Magazine News*/
.magazine-news .by-author strong {
	color: #72c02c;
}

.magazine-news a.read-more {
	color: #72c02c;
}

/*Magazine Mini News*/
.magazine-mini-news .post-author strong {
	color: #72c02c;
}

.news-read-more i {
	background: #72c02c;
}

/*Sidebar Features*/
.magazine-page h3 a:hover {
	color: #72c02c;
}

/*Page Features
------------------------------------*/
/*Tag Boxes v1*/
.tag-box-v1 {
	border-top: solid 2px #72c02c;
}

/*Tag Boxes v2*/
.tag-box-v2 {
	border-left: solid 2px #72c02c;
}

/*Tag Boxes v7*/
.tag-box-v7 {
	border-bottom: solid 2px #72c02c;
}

/*Font Awesome Icon Page Style*/
.fa-icons li:hover { 
   color: #72c02c;
}

.fa-icons li:hover i {
   background: #72c02c; 
}

/*GLYPHICONS Icons Page Style*/
.bs-glyphicons li:hover {
   color: #72c02c;
}

/*Navigation
------------------------------------*/
/*Pagination*/
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
   background-color: #72c02c;
   border-color: #72c02c;
}

.pagination li a:hover {
   background: #5fb611;
   border-color: #5fb611;   
}

/*Pager*/
.pager li > a:hover, 
.pager li > a:focus {
   background: #5fb611;
   border-color: #5fb611;   
}

/*Registration and Login Page v2
------------------------------------*/
.reg-block {
	border-top: solid 2px #72c02c;
}