﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CMSPpssinglsurvey.ascx.cs" Inherits="UserControls_FaqControls_CMSPpssinglsurvey" %>
<div class="faqCmsMenu">
    <div class="faqSearchPanel">
        Pay per survey</div>
    <div class="menuLeft">
    <asp:TreeView ID="tvManage" runat="server" CssClass="FAQLeafNode" SelectedNodeStyle-CssClass="active" NodeIndent="0" NodeWrap="true"
        ShowLines="false">
  
     <NodeStyle CssClass="mainNode" />        
        <LeafNodeStyle CssClass="FaqSubNode" />
    </asp:TreeView>   
    
  </div>
<!-- //manage menu--></div>