﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CreateLeftMenu.ascx.cs" Inherits=" Insigtho.Pages.UserControls.FaqControls.FAQLeftMenu" %>

<div style="display: block;">
    <!-- create survey mennu -->
    <div class="faqSearchPanel">
        CREATE SURVEY
    </div>
    <div class="menuLeft">
    <asp:ScriptManager ID="scManager" runat="server"></asp:ScriptManager>
    
<%--  <asp:UpdatePanel ID="uPanelCreate" UpdateMode="Conditional" runat="server">
    <ContentTemplate>--%>
     <asp:TreeView ID ="tvHelpIcon" CssClass="FAQLeafNode" runat="server" NodeIndent="0" NodeWrap="true"
        ShowLines="false" SelectedNodeStyle-CssClass="active" OnTreeNodeExpanded="tvHelpIcon_TreeNodeExpanded" EnableClientScript="true">
        
        <NodeStyle CssClass="mainNode" />        
        <LeafNodeStyle CssClass="FaqSubNode" />
        </asp:TreeView>
  <%--</ContentTemplate>
    <Triggers>
    <asp:AsyncPostBackTrigger ControlID="tvHelpIcon" EventName="TreeNodeExpanded" />
    </Triggers>
    </asp:UpdatePanel> --%>
    </div>
    <!-- //create survey mennu -->
</div>
