@charset "utf-8";
/* CSS Document */

/* admin login panel styles */
.adminLoginPanel {
	width:500px;
	margin:60px auto 60px auto;
	background:url('../images/content-panel-bgr.jpg') #fff bottom repeat-x;
	padding-bottom:20px;
	border:solid 1px #D6C9DA;
}

.adminLoginPanel h3{
	color:#B765C8;
	font-size:14px;
	text-transform:uppercase;
	font-weight:normal;
	padding-left:20px;
}
.adminLoginPanel h3{
	background:#F4F4F4;
	height:40px;
	line-height:40px;
	font-size:14px;
}
.adminSearchUserPanel {
	margin:0 0 0 0;
}
.adminFormPanel01 {
	width:430px;
	margin-bottom:20px;
	float:left; 
}
.adminFormPanel03 {
	width:430px;
	margin-bottom:20px;
	float:right; 
}
.adminFormPanel02 {
	width:330px;
	margin-bottom:20px;
	float:left; 
}
.adminFormPanel_pop{
	width:310px;
	margin-bottom:20px;
	float:left; 
}
.adminFormPanel_pop1{
	width:370px;
	margin-bottom:20px;
	float:left;  
}


.adminUserGridViewPanelScroll {
	overflow:auto; 
	height:290px;
}
.adminUserGridViewPanel {
	
}
.adminGridSearchPanel {
	margin:0 0 10px 0;
	height:40px;
	line-height:40px;
	
}
.searchLble {
	width:60px;
	float:left;
	color:#000 ;
	font-weight:700;
	font-size:14px;
	text-align:left;
}
.searchLblelong {
	width:360px;
	float:left;
	color:#000 ;
	font-weight:700;
	font-size:14px;
	text-align:left;
}
.searchTxtBoxPanel, .gridTitlePanel {
	width:628px;
	float:left;
	height:36px;
	line-height:36px; 
	padding-left:5px;
	padding-top:4px;
	margin:0 0 0 0;
}
.advancedSearchFromPanel {
	background:#eee;
	border:solid 1px #e2e2e2;
	padding:0 0 10px 0;
	margin-bottom:20px;
}
.advancedSearchFromPanel h2 {
	margin:10px;
	padding:0 0 10px 0;
	font-size:14px;
	border-bottom:solid 1px #ccc;
}
.gridTitlePanel {
	border:none;
	color:#d326b3;
	font-size:14px;
}
.editDeletePanel {
	width:120px;
	float:right;
	text-align:right;
}
a.dynamicHyperLink:link, a.dynamicHyperLink:visited {
	padding:8px 10px 8px 10px;
	/*background: url('../images/dynamic-btn-bgr.jpg') #B21B93 repeat-x top;*/
	background:#C424A5;
	color:#fff;
	text-align:center;
	text-decoration:none;
	 -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:14px;
    font-weight:700;
}
a.dynamicHyperLink:hover {
	color:#D9D9D9;
}

a.redLink:link, a.redLink:visited {
	color:#ff0033;
	font-weight:normal;
	text-decoration:none;
}
a.redLink:hover {
	color:#424242;
}
a.moreLink:link, a.moreLink:visited {
	color:#FA8F48; font-size:11px;
}
a.moreLink:hover {color:#ccc;}
.cmsPagesMenu {
	width:180px;
	float:left;
}
.faqCmsMenu {
	width:220px;
	float:left;
	background:#FFF;
	border:solid 1px #BC8EC6;
}
.cmsPagesMenu h2 {
	font-size:14px;
	padding-bottom:8px;
	border-bottom:solid 1px #ccc;
}
.cmsContentPanel {
	width:650px;
	float:left;
	margin-left:10px;
	padding-left:20px;
	border-left:solid 1px #eee;
}

.cmsContentPanel h2 {
	margin-bottom:10px;
	font-size:14px;
	color:#d326b3;
}
.faqCmsContentPanel {
	width:72%;
	float:left;
	margin-left:10px;
	padding-left:10px;
}
.pickListCategoryTop {
	margin:0 0 5px 0;
	height:40px;
	line-height:40px;
	
}
.pickListTitel {
	width:60%;
	float:left;
	color:#d326b3;
	font-size:14px;
}
.pickListAddBtnPanel {
	width:30%;
	float:right;
	text-align:right;
}
.pickListTitel span {
	
	font-size:14px;
	color:#000;
}
#welcomePanelAdmin {
	width:30%;
	margin:5px 5px 0 0;
	float:right;
	text-align:right;
	font-size:11px; 
}
#welcomePanelAdmin ul {
	margin:0;
	padding:0;
	float:right;
}
#welcomePanelAdmin li {
	border-right:solid 1px #C1C1C1;
	list-style:none;
	float:left;
	padding:0 8px 0 8px;
}
#welcomePanelAdmin li span {
	font-weight:normal;
	color:#FF9000;
}
#welcomePanelAdmin li.noRightBorder {
	border-right:none;
}
#welcomePanelAdmin li a:link, #welcomePanel a:visited {
	color:#5A5A5A;
	font-weight:normal;
}
#welcomePanelAdmin li a:hover {
	color:#FF9000;
}

/* //////////// form elements ////////// */



.buttonArrow {
width:30px;
background: url('../images/dynamic-btn-bgr.jpg') #B21B93 repeat-x top;
color:#fff;
text-align:center;
text-decoration:none;
 -moz-border-radius: 3px;
border-radius: 3px;
cursor:pointer;
border:none;
margin-bottom:3px;	
}
.buttonArrow:hover {
color:#D9D9D9;
}

.textBoxAdminSearch {
	background:url('../images/text-box-bgr.jpg') #FCFCFC bottom repeat-x;
	border:solid 1px #CDCDCD;
	padding:8px 0 8px 5px;
	margin:0 5px 0 0;
	font-size:12px;
	width:240px;
}
.textAreaMultiple {
	width:100%;
	background:url('../images/text-box-bgr.jpg') #FCFCFC bottom repeat-x;
	border:solid 1px #CDCDCD;
	font-size:12px;
	
}
.searchtxtcontrols {
	width:500px;
	float:left;
	height:36px;
	line-height:36px; 
	padding-left:5px;
	padding-top:4px;
	margin:0 0 0 0;
}
.searchrghtPanel {
	width:290px;
	float:right;
	text-align:right;
}
.defaultHeight 
{
	height:10px
	}


/* new stylea added */
.reqlbl
 {
     padding-left:170px;
     display:block;
 }
 
 .loginlbl 
 {
    width:160px;
	text-align:right;
	padding:3px 10px 3px 0;
	line-height:28px;
	float:left
 }
 .loginControls
 {
     float:left;
 }
  .loginControlsLable
 {
     float:left;
	 padding:3px 10px 3px 0;
	line-height:28px;
 }
 .con_login_pnl
 {
     width: 100%;
     clear:both;
 }
 .btmpadding
 {
     padding-bottom:4px
 }
 .bdrcontrols{ border:solid 1px #ccc; padding:2px}
 
 .cmsPathway 
 {
 	padding:8px 0 8px 0;
 	margin:0 0 15px 0;
 	border-bottom:solid 1px #ddd;
 	font-weight:700;
 	color:#000;
 	font-size:14px;
 }

.faqTopLinks 
{
    margin:0 8px 0 0;
    padding:8px 0;
    /*background:#BF92CB;
    -moz-border-radius:8px;
    border-radius:8px;*/
}
.faqTopLinks ul 
{
	margin:0;
	padding:0;
}
.faqTopLinks li
{
    list-style-type: none;
    margin: 0 0;
    padding: 0 5px;
    float: left;
    text-align: center;
    border-right:solid 1px #BF92CB;
}
.faqTopLinks li a:link, .faqTopLinks li a:visited 
{
    padding:5px 10px;
    color:#853C98;
    font-weight:700;
}
.faqTopLinks li a:hover, .faqTopLinks a.active 
{
	background:#BF92CB;
	color:#fff!important;
	-moz-border-radius:8px;
	border-radius:8px;
}
