
#ulAdminTopNav {
	overflow:hidden;
	list-style-type:none;
	margin:0;
	padding:0;
}

#mainNavWrapper {
	margin-left:20px;
	overflow:hidden;
	width:100%;
	height:40px;
	color:#fff;
	padding:0;
}

#mainNavLeft {
	float:left;
}

.navOverlayAdminSub, .navOverlayAccountsSub, .navOverlayAbout {
	margin-top:0;
	display:none;
	z-index:10;
	margin-left:0;
	overflow:hidden;
	width:auto;
	background:#b363c6;
	position:absolute;
}

.navOverlayBuckets {
	float:left;
	width:180px;
	padding:10px 0 10px 0;
	margin:0;
}

ul.reportsMenu li 
{
	margin:1px 0 1px -28px;
	padding:8px;
	list-style-type:none;
	width:100%;
	background:#bf92cb;
}

ul.reportsMenu li:hover {
	background:#d0adda;
}

ul.reportsMenu li a:link, ul.reportsMenu li a:visited {
	font-size:12px;
	color:#fff;	
	text-decoration:none;	
}

ul.reportsMenu li a:hover {
	color:#FFF;
}

ul.reportsMenu li.activelink a {
	color:#C90B14;
}

ul.reportsMenu li.activelink a:hover { color: #FFF; }

.navOverlayMoreInfoWrapper {
	float:left;
}

LI#navPlatform, LI#navCustomerSuccess, LI#navAboutEloqua {
	float:left;
	margin:0;
	padding:0;
}
#ulAdminTopNav li.active  {
	background:#b363c6;
}

A#navPlatformA, A#navCustomerSuccessA, A#navAboutEloquaA {	
	padding:12px 15px 0 15px;
	display:block;
	font-weight:700;
	font-size:14px;
	width:120px;
	cursor:pointer;
	color:#fff;
	height:28px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}

A#navCustomerSuccessA {
	width:85px;
}
A#navAboutEloquaA {
	width:100px;
}


/*A#navPlatformA:hover, A#navCustomerSuccessA:hover, A#navAboutEloquaA:hover {
color:#000;
background:#000;
}*/

/* left menu styles
********************************** */

.suckerdiv
{
	margin-bottom: 10px;
	
}
.suckerdiv ul
{
	margin: 10px 8px 0 0;
	padding: 0;
	list-style-type: none;
	width: auto; /* Width of Menu Items */
	border-bottom: 0 solid #e1e1e1;
	font-family: arial;
	font-size: 12px;
}

.suckerdiv ul li
{
	position: relative;
	padding:3px 0 3px 0;
}

/*1st level sub menu style */
.suckerdiv ul li ul
{
	left: 199px; /* Parent menu width - 1*/
	position: absolute;
	width: 200px; /*sub menu width*/
	top: 0;
	display: none;
}

/*All subsequent sub menu levels offset */
.suckerdiv ul li ul li ul
{
	left: 199px; /* Parent menu width - 1*/
}

/*All subsequent sub menu levels offset */
.suckerdiv ul li ul li a
{
	left: 199px; /* Parent menu width - 1*/
	background-color: #ddd;
}

/*All subsequent sub menu levels offset */
.suckerdiv ul li ul li ul li a
{
	background-color: #7B7979;
	color: #FFF;
}

/*All subsequent sub menu levels offset */
.suckerdiv ul li ul li ul li ul li a
{
	background-color: #aaa;
}

/* menu links style */
.suckerdiv ul li a
{
	display: block;
	color: #853C98;
	text-decoration: none;
	background: url('Images/arrow-right.gif') 3% 5px no-repeat;
	padding: 1px 0px 0 20px;
}

.suckerdiv ul li a:hover, .suckerdiv ul li.active a
{
	/*background-color: #FCFBF6;*/
	color: #FF9000;
	text-decoration: none;
}


.suckerdiv ul li ul li a:hover
{
	/*background-color: #F9F9F9;*/
}

.suckerdiv ul li ul li ul li a:hover
{
	background-color: #F9F9F9;
	color: black;
	text-decoration: none;
}

/* The main categories with sub-categories */
.suckerdiv .subfolderstyle
{
	background: url(Images/arrow-list.gif) no-repeat center right;
}

/* This one colors the sub-folder with other sub-folders */
.suckerdiv ul li ul .subfolderstyle
{
	background-color: #ddd;
}

/* This one colors the sub-folder with other sub-folders */
.suckerdiv ul li ul li ul .subfolderstyle
{
	background-color: #bbb;
}

/* This one colors the sub-folder with other sub-folders */
.suckerdiv ul li ul li ul li ul .subfolderstyle
{
	background-color: #aaa;
}

/* end left menu styles
********************************** */


