.chromestyle{
width: auto;
font-weight: normal;
color:#fff;
font-size:14px;
text-transform:uppercase;

}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
border: 0px solid #BBB;
width: auto;
background: url('images/icon-arrow-down.gif') #A876B5 8% 53% no-repeat; /*THEME CHANGE HERE*/
padding: 12px 10px;
margin: 0;
text-align: right; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color: #fff;
padding: 10px 10px 10px 10px;
margin: 0;
text-decoration: none;
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
/*background: url(chromebg-over.gif) center center repeat-x; THEME CHANGE HERE*/color: #fff;
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 0px solid #B868CB; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:normal 12px Arial;
line-height:20px;
z-index:100;
background-color: #A876B5;
margin-left:10px;
visibility: hidden;  width:173px; 
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BF89CC; /*THEME CHANGE HERE*/
padding: 8px 10px;
text-decoration: none;
font-weight: normal;
color: #fff;
font-size:14px;
text-transform:uppercase;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #B767CA;
color: #fff;
}