#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left; 
}

#facebox .popup{
  position:relative;
  border:solid 2px #B1AFB2;
  overflow:auto;
  overflow-y:hidden;
  overflow-x:hidden;
  height:auto;
  background:#fff;  
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
#facebox .content {
  display:table;
  margin:0px;  
  padding:0 0 0 -1px;
  background: #fff;
 }

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:0 10px 5px 0;
  /*background:url('images/icon_close1.gif') no-repeat;*/
  
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}
