/* CSS Document */
/****************************************************************************************************
* Filename: IE6.css
* Purpose: Browser Compatability.
* Author: Covalense Technologies Limited
****************************************************************************************************/

.popupBody {
	
	padding-top:0;
}

.previewPanel {
	
	margin-right:8px;
}
.statusGridPanel {
	margin-bottom:0;
}
.upgradeAlertMsgPanel {
	margin-left:5px;
}
.surveyQuestionSubHeader {
	padding-top:8px;
	height:27px;
}
ul#menu li a {display:inline-block;}
ul#menu   li a {display:block;}
.bottomButtonPanel {
	margin-bottom:0;
}
.popupTabPanel span.tabText {
	line-height:33px;
}
.createQuestionBody {
	width:615px;
}
.createQuestionBody {
	width:67.8%;
}
.signUpPanel {
	margin-left:10px;
}
.signUpRightPanel {
	margin-right:10px;
}
.loginPanel {
	padding-bottom:0;
}
.formList li, .formListSmallWidth li, .qList li {
	margin-top:0;
}
.emailNameAlign { padding-top:10px}


.dropDown, .dropdownSmall, .dropdownMedium {
	height:0;
	
}
#facebox .close{
  right:0;
  padding-right:20px;
  z-index:1;
 
}

ul.reportsMenu li a:link, ul.reportsMenu li a:visited{
  height:18px;
  
}
