/* CSS Document */

body
{
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #000000;
    background: #D0D0D0;
    margin: 0;
    padding: 0;
	font-size:14px;
}
html
{
    overflow-x: hidden;
}
body, form, h1, h2, h3, h4, h5, h6, p
{
    padding: 0;
    margin: 0;
}
p {
	line-height:22px;
	padding:5px 0 5px 0;
}
h1, h2, h3, h4, h5, h6, label
{
    text-decoration: none;
    vertical-align:top
}
a:link, a:visited
{
    color: #853C98;
    text-decoration: none;
    outline: none;
}
a:hover
{
    color: #FF9000;
}
img
{
    border: none;
}
.clear
{
    clear: both;
}
h1
{
    color: #843D99;
    font-size: 26px;
}
#wrapper
{
    width: 960px;
    background: #E7E7E7;
    margin: 0 auto 0 auto;
}
#header
{
    background-color: #fff;
    height: 79px;
}
.insightoLogoPanel
{
    width: 185px;
    float: left;
    margin: 10px 0 0 8px;
}
.insightoTagLine
{
    width: 180px;
    height: 60px;
    margin: 10px 0 0 0;
    float: left;
    background: url('../images/insighto-tagline.jpg') no-repeat left;
}
#topLinksPanel
{
    background: #F7F7F7;
    height: 27px;
    border-bottom: solid 1px #DCDCDC;
}
#topMainMenu
{
    background: #BF92CB;
    height: 40px;
}
#footer
{
    height: 44px;
    background: #F8F8F8;
    margin-top: 20px;
}
.copyRights
{
    width: 30%;
    height: 44px;
    line-height: 44px;
    float: left;
    padding-left: 10px;
	font-size:12px;
}
.contentPanelHeader
{
    height: 38px;
    background: url('../images//content-header-img.jpg') repeat-x;
    margin: 20px 20px 0 20px;
    border-right: solid 1px #D6C9DA;
    border-bottom: solid 1px #D6C9DA;
}
.contentPanel
{
    background: url('../images/content-panel-bgr.jpg') #fff bottom repeat-x;
    margin: 20px 20px 0 20px;
    padding: 0 10px 20px 10px;
    border: solid 1px #D6C9DA;   
}
.textBoxMedium {
	border: solid 1px #CDCDCD;
    padding: 5px 3px 5px 3px;
    margin: 0;
    font-size: 12px;
	width:440px;
}
.dynamicButton {
	background: #C424A5;
    text-align: center;
    padding: 4px;
    border: solid 0 #000;
    /*-moz-border-radius: 3px;
    border-radius: 3px;*/
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.lblRequired
{
    background: url('Images/required_red.jpg') no-repeat;
    padding-left: 20px;
    color: red;
}
.successPanel
{
    width: 100%;
    background: #FBFCF7;
    border: dashed 1px #B4CE6F;
    text-align: left;
    padding: 8px 0 8px 0;
    margin: 10px 0 10px 0;
}
.successPanel div
{
    background: url('Images/success-icon.gif') 10px 50% no-repeat;
    padding: 8px 8px 8px 45px;
    color: #749E02;
    font-weight: 700;
    font-size: 12px;
}