
#innerMenu li.proLinkHyper a:link, #innerMenu li.proLinkHyper a:visited 
{
   /* background: url('Images/icon_pro.png') 90% 50% no-repeat !important;*/
	padding-right: 25px !important;
}

#innerMenu li.premiumLinkHyper a:link, #innerMenu li.premiumLinkHyper a:visited 
{
   background: url('Images/icon_prem.png') 90% 50% no-repeat !important;
	padding-right: 25px !important;
}
ul.addrMenu, ul.addrMenu ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.addrMenu a:link, ul.addrMenu a:visited
{
	display: block;
	text-decoration: none;
}

ul.addrMenu li
{
	margin-top: 1px;
}

ul.addrMenu li a:link, ul.addrMenu li a:visited
{
	background: url('Images/arrow-down-hover.gif') #F4F4F4 92% 15px no-repeat;
	color: #853C98;
	font-size: 14px;
	padding: 11px;
	height: 18px;
	display: block;
	text-transform: uppercase;
	border-bottom: solid 1px #e2e2e2;
}

ul.addrMenu li a:hover, ul.addrMenu li.activeLink a:link, ul.addrMenu li.activeLink a:visited
{
	background: url('Images/arrow-down.gif') #BC8EC6 92% 15px no-repeat;
	color: #fff;
}

ul.addrMenu li .activeLink
{
	background: url('Images/arrow-down.gif') #BC8EC6 92% 15px no-repeat !important;
	color: #fff !important;
}

ul.addrMenu ul .activeLink
{
	background: #F4EEF6 !important;
	font-weight: bold !important;
		color: #000 !important;
}

ul.addrMenu li ul.innerMenu li a:link, ul.addrMenu li ul.innerMenu li a:visited
{
	background: #fff;
	color: #000;
	padding: 8px 5px 8px 10px;
	text-transform: none;
	font-size: 12px;
}



/* */
ul.innerMenu li.proImgIcon1 a:link, ul.innerMenu li.proImgIcon1 a:visited
{
	background: url('Images/icon_pro.png') 70% 25% no-repeat !important;
}
ul.innerMenu li.premiumImgIcon1 a:link, ul.innerMenu li.premiumImgIcon1 a:visited
{
	background: url('Images/icon_prem.png') 68% 50% no-repeat !important;
}


ul.innerMenu li.proImgIcon a:link, ul.innerMenu li.proImgIcon a:visited
{
	background: url('Images/icon_pro.png') 77% 25% no-repeat !important;
}
ul.innerMenu li.premiumImgIcon a:link, ul.innerMenu li.premiumImgIcon a:visited
{
	background: url('Images/icon_prem.png') 77% 50% no-repeat !important;
}
.proLink
{
	background: url('Images/icon_pro.png') 80% 50% no-repeat;
}
.premiumLink
{
	background: url('Images/icon_prem.png') 80% 50% no-repeat;
}

ul.innerMenu .proIconLink a:link, ul.innerMenu .proIconLink a:visited
{
	background: url('Images/icon_pro.png') 80% 50% no-repeat;
	border:solid 1px red;
	
}
ul.innerMenu .premiumIconLink a:link, ul.innerMenu .premiumIconLink a:visited
{
	background: url('Images/icon_prem.png') 80% 50% no-repeat;
	border:solid 1px red;
	
}

ul.innerMenu .pro
{
	background: url('Images/icon_pro.png') right no-repeat;
	padding-right: 25px;
}
ul.innerMenu .premium
{
	background: url('Images/icon_prem.png') right no-repeat;
	padding-right: 25px;
}

ul.innerMenu li a:hover, ul.innerMenu li.activeLink a:link, ul.innerMenu li.activeLink a:visited
{
	background: url('Images/arrow-right.gif') 92% 8px no-repeat;
	color: #333;
	font-weight: 700;
}
ul.menu, ul.menu ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu a:link, ul.menu a:visited
{
	display: block;
	text-decoration: none;
}

ul.menu li
{
	margin-top: 1px;
}

ul.menu li a:link, ul.menu li a:visited
{
	background: url('Images/arrow-down-hover.gif') #F4F4F4 92% 15px no-repeat;
	color: #853C98;
	font-size: 14px;
	padding: 11px;
	height: 18px;
	display: block;
	text-transform: uppercase;
	border-bottom: solid 1px #e2e2e2;
}

ul.menu li a:hover, ul.menu li.activeLink a:link, ul.menu li.activeLink a:visited
{
	background: url('Images/arrow-down.gif') #BC8EC6 92% 15px no-repeat;
	color: #fff;
}


ul.menu li ul.innerMenu li a:link, ul.menu li ul.innerMenu li a:visited
{
	background: #fff;
	color: #000;
	padding: 8px 5px 8px 10px;
	text-transform: none;
	font-size: 12px;
}


ul.innerMenu .pro
{
	background: url('Images/icon_pro.png') right no-repeat;
	padding-right: 32px;
}
ul.innerMenu .premium
{
	background: url('Images/icon_prem.png') right no-repeat;
	padding-right: 40px;
}


ul.innerMenu li a:hover, ul.innerMenu li.activeLink a:link, ul.innerMenu li.activeLink a:visited
{
	background: url('Images/arrow-right.gif') 92% 8px no-repeat;
	color: #333;
	font-weight: 700;
}
ul.innerMenu li.activeLink a
{
	background: #F4EEF6 !important;
}

/* popup tab menu styles 
****************************************/
.glossymenu
{
	margin: 0 0;
	padding: 0;
	width: auto; /*width of menu*/
	border: 1px solid #E1E1E1;
}
.glossymenu a.menuitem
{
	background: #F4F4F4;
	font: bold 12px Arial;
	color: #853C98;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	padding: 10px 10px;
	text-decoration: none;
	border-bottom: solid 1px #E1E1E1;
}
.glossymenu a.menuitem:visited, .glossymenu .menuitem:active
{
	color: #853C98;
	height: 17px;
}
.glossymenu a.menuitem .statusicon
{
	/*CSS for icon image that gets dynamically added to headers*/
	position: absolute;
	top: 10px;
	right: 13px;
	border: none;
}
.glossymenu a.menuitem:hover
{
	/* background-image: url(glossyback2.gif);*/
	background-color: #F0F0F0;
}
.glossymenu div.submenu
{
	/*DIV that contains each sub menu*/
	background: #fff;
	margin: 5px 13px 5px 13px;
}
.glossymenu div.submenu ul
{
	/*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.glossymenu div.submenu ul li
{
	border-bottom: 0px solid blue;
	margin: 2px 0 2px 0;
}
.glossymenu div.submenu ul li.activelink
{
	background: #F0F0F0;
}
.glossymenu div.submenu ul li a
{
	display: block;
	font: normal 11px Arial;
	color: black;
	text-decoration: none;
	padding: 5px 5px;
	height: 15px;
}
.glossymenu div.submenu ul li a:hover
{
	background: #F0F0F0;
}

/* left menu styles
********************************** */

.suckerdiv
{
	margin-bottom: 10px;
	border-bottom: solid 0px #37699A;
}
.suckerdiv ul
{
	margin: 10px 8px 0 10px;
	padding: 0;
	list-style-type: none;
	width: auto; /* Width of Menu Items */
	border-bottom: 0px solid #e1e1e1;
	font-family: arial;
	font-size: 12px;
}

.suckerdiv ul li
{
	position: relative;
}

/*1st level sub menu style */
.suckerdiv ul li ul
{
	left: 199px; /* Parent menu width - 1*/
	position: absolute;
	width: 200px; /*sub menu width*/
	top: 0;
	display: none;
}

/*All subsequent sub menu levels offset */
.suckerdiv ul li ul li ul
{
	left: 199px; /* Parent menu width - 1*/
}

/*All subsequent sub menu levels offset */
.suckerdiv ul li ul li a
{
	left: 199px; /* Parent menu width - 1*/
	background-color: #ddd;
}

/*All subsequent sub menu levels offset */
.suckerdiv ul li ul li ul li a
{
	background-color: #7B7979;
	color: #FFF;
}

/*All subsequent sub menu levels offset */
.suckerdiv ul li ul li ul li ul li a
{
	background-color: #aaa;
}

/* menu links style */
.suckerdiv ul li a
{
	display: block;
	color: #853C98;
	text-decoration: none;
	background: url('Images/arrow-right.gif') 3% 7px no-repeat;
	padding: 1px 0px 1px 20px;
	height: 20px;
	line-height: 1.75em;
}

.suckerdiv ul li a:hover, .suckerdiv ul li.active a
{
	/*background-color: #FCFBF6;*/
	color: #FF9000;
	text-decoration: none;
}


.suckerdiv ul li ul li a:hover
{
	/*background-color: #F9F9F9;*/
}

.suckerdiv ul li ul li ul li a:hover
{
	background-color: #F9F9F9;
	color: black;
	text-decoration: none;
}

/* The main categories with sub-categories */
.suckerdiv .subfolderstyle
{
	background: url(Images/arrow-list.gif) no-repeat center right;
}

/* This one colors the sub-folder with other sub-folders */
.suckerdiv ul li ul .subfolderstyle
{
	background-color: #ddd;
}

/* This one colors the sub-folder with other sub-folders */
.suckerdiv ul li ul li ul .subfolderstyle
{
	background-color: #bbb;
}

/* This one colors the sub-folder with other sub-folders */
.suckerdiv ul li ul li ul li ul .subfolderstyle
{
	background-color: #aaa;
}


/* ////////// reports menu styles //////// */
ul.reportsMenu, ul.reportsMenu ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.reportsMenu li a:link, ul.reportsMenu li a:visited
{
	background: url('images/arrow-down-hover.gif') #F4F4F4 92% 15px no-repeat;
	color: #853C98;
	font-size: 13px;
	padding: 11px;
	height: 18px;
	text-transform: uppercase;
	border-bottom: solid 1px #e2e2e2;
	display: block;
}
ul.reportsMenu li a:hover, ul.reportsMenu li a.activeLink
{
	background: url('images/arrow-down.gif') #BC8EC6 92% 15px no-repeat;
	color: #fff;
}
.reportExpandPanel
{
	border: solid 1px #e2e2e2;
	background: #fff;
	padding: 10px;
	margin-bottom: 2px;
}
.reportExpandPanel p
{
	padding-bottom: 2px;
}
.launchExpandPanel
{
	background: #fff;
	margin-bottom: 2px;
}
.launchExpandPanel div
{
	padding: 5px;
}
