﻿@charset "utf-8";
/* CSS Document */	

.content1 h3{font-size:18px; font-weight:bold; margin:0; padding: 4px 0 4px 0}

/* PRICING PAGE CSS STARTS HERE */

.headleftcolsub { font-size:12px; font-weight:bold;  color:#6d59a1;}
.headleftcol a, a:hover, a:visited, a:link{ font-size:11px; font-weight:bold; text-decoration:none; color:#49649a;}

.gt{font-size:14px; font-weight:bold; padding:0; margin:0; color:#ffffff !important;}
.pro { border-top:2px solid #af6db9; border-left:2px solid #af6db9; border-right:2px solid #af6db9;}
.pre { border-top:2px solid #7d2889; border-left:2px solid #7d2889; border-right:2px solid #7d2889;}

.shade1 {background-color: #F9F9F9; color:#666;}
.shade2 {background-color: #fefcf7; color:#666;}
.shade3 {background-color: #fdf5fe; color:#666;}
.shade4 {background-color: #fbfafa; color:#666;}

.tabme {padding:0; margin:0; font-size:11px; font-weight:normal; }
.tabme td{padding:0; margin:0 0 2px 0; border-right:1px solid #dadddd;}
.bordown {border-bottom:1px solid #dadddd; border-top:1px solid #dadddd;}
.tabme1 {padding:0; margin:0; font-size:12px; font-weight:normal;}
.tabme1 td{padding:0; margin:0 0 2px 0; border-right:1px solid #dadddd; border-bottom:1px solid #dadddd;}

.leftcol1 { font-size:11px; font-weight:bold; color:#49649a; background-image:url(Images/bx1.gif); background-repeat: no-repeat; padding:0!important; margin:0 !important;}
.leftcol2 { font-size:11px; font-weight:bold; color:#49649a; background-image:url(Images/bx2.gif); background-repeat: no-repeat; padding:0 !important; margin:0 !important;}
