@charset "utf-8";
/* CSS Document */

@font-face
{
font-family: RupeeForadian;
src: url('Rupee_Foradian.eot'), /* IE */
	url('Rupee_Foradian.ttf'); /* non-IE */ 
} 
.font_ruppe{
	font-family: RupeeForadian;
}
	
html, body { 
	margin:0;
	padding:0;
	height:100%; 
}
body{
    font:normal 12px Arial, Helvetica, sans-serif;	
	background:url('images/body_bgr.jpg') repeat left top #D0D0D0; 
	color:#666666;
	line-height: 18px;
}
form, img, input, p{
	margin:0px;
	padding:0px;
	border:0px;
}
.clr{
	clear:both;
}
a{
	color:#2771D3;
	text-decoration:none;
}
a:hover{
	color:#5E96E1;
	text-decoration:underline;
}
.underline{
	text-decoration:underline;
}
/*  Header styles */
h1,h2,h3,h4,h5,h6{
	line-height:1.2em;
	padding-bottom:18px;
	margin:0px;
	color:#666666;
	font-weight:bold;
}
h1{font-size:32px;}
/*h2{font-size:30px;padding-bottom:24px; color: #0DD1AD;}*/
h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:30px; font-weight:normal; padding-bottom:24px;}
h4{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:24px; font-weight:normal; padding-bottom:5px;}

input[type="checkbox"]{
	margin-right:8px;
}
.dropbox_timezone{
	width:95%;
	padding:10px;
	color:#666666;
	border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:1px solid #ADADAD;
	box-shadow:inset 0px 1px 3px rgba(000,000,000,0.3);
	-webkit-box-shadow:inset 0px 1px 3px rgba(000,000,000,0.3);
	-o-box-shadow:inset 0px 1px 3px rgba(000,000,000,0.3);
}

.btn_bg{
	background:url('images/btn_bg.jpg') repeat-x left top #266DCE;
	padding:7px 15px;
	margin:8px 0px;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	cursor:pointer;
	cursor:hand;
}
.btn_bg:hover{
	background:url('images/btn_bg.jpg') repeat-x left bottom #266DCE;
}
.icon_chk, .icon_cross{
	width:16px;
	height:15px;
	background:url('images/icon_chk.png') no-repeat center;
	margin:0 auto;
}
.icon_cross{
	background:url('images/icon_cross.png') no-repeat center;
}


/* ----------------    Container Begin    ------------------  */
#wrapper{
	width:960px;
	background: #F5F5F5;
	margin:0 auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
}

/* ----------------    Header Begin    ------------------  */
#header_main{
	width:100%;
	height:85px;
	background:url('images/header_bg.jpg') repeat-x left bottom;
	margin:0 auto 0px auto;
	padding:5px 0px 5px 0px;
}
#header_main a.header_logo{
	width:325px;
	height:85px;
	display:inline-block;
	background:url('App_Themes/Classic/images/Insighto_logo.png') no-repeat left top;
	margin:0px auto 0px 10px;
	padding: 0px 0px 0px 0px;
}


/* ----------------    Navigation Begin    ------------------  */
#nav_main{
	width:100%;
	background:url('images/top_menu_bgr.jpg') repeat-x left top;
	margin:0 auto 0px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
}
#nav_main ul{
	width:75%;
	float:left;
	padding: 0 0 0 20px;
	margin:0px 0 0px 0;
	list-style-type:none;
	text-align:center;
}
#nav_main ul li{
	margin:0px;
	float:left;
}
#nav_main ul li a{
	color:#FFF;
	font-size:14px;
	font-weight:700;
	text-decoration:none;
	text-transform: lowercase;
	display:inline-block;
	display:block;
	padding:11px 20px;
	text-transform: uppercase;
}
#nav_main ul li a:hover, #nav_main ul li a.selected{
	background:#B12895;
	text-decoration:none;
}


#nav_main #nav_rgt{
	width:20%;
	float:right;
	padding: 0 0 0 0px;
	margin:0px 0 0px 0;
	text-align:center;
}
#nav_main #nav_rgt a{
	float:right;
	color:#FFF;
	font-size:14px;
	font-weight:700;
	text-decoration:none;
	text-transform: lowercase;
	display:inline-block;
	display:block;
	padding:11px 10px;
	text-transform: uppercase;
}

/*------------------- Navigation End -------------------*/


/* ----------------    Container Begin    ------------------  */
#container_main{
	margin:0 auto 0px auto;
	padding:20px 20px 40px 20px;
background-color:White;
	
}
#container_main .thx_txt{
	font-size:26px;
	line-height:36px;
	padding:15px 0px;
	text-align:center;
}

#container_main .priceplan_blk{
	/*width:580px;*/
	width:865px;
	margin:0 auto 0px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
	font:13px Tahoma, Geneva, sans-serif;
	text-align:center;
}

.priceplan_blk .price_1_blk{
	width:280px;
	float:left;
	margin:0 8px 0px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
}
.priceplan_blk .price_1_blkpromo{
	width:185px;
	float:left;
	margin:0 0px 0px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
}
.priceplan_blk .price_1_blkpartner{
	margin:0 auto 0px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
	font:13px Tahoma, Geneva, sans-serif;
	text-align:center;
}
.price_1_blk .price_1_blk_cont{
	background:#FFF;
	margin:0 0px 0px 0px;
	padding:0px 10px 10px 10px;
}
.price_1_blkpromo .price_1_blk_contpromo{
	background:#F5F5F5;
	margin:0 0px 0px 0px;
	padding:0px 0px 10px;
	margin-bottom:0px;
}
/*.priceplan_blk .price_1_blkpromo .price_1_blk_contpromo{
	padding:0px 10px 10px 10px;
	width:180px;
}*/
.price_1_blkpartner .price_1_blk_contpartner{
	background:#F5F5F5;
	margin:0 0px 0px 0px;
	padding:0px 0px 10px;
	margin-bottom:0px;
}
.priceplan_blk h3{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	padding:20px 10px;
}
.price_1_blk .price_1_blk_cont .price_tag_header{
	width:180px;
	height:87px;
	background:url('images/price_tag_blue.png') no-repeat center top;
	padding:20px 10px 0px 10px;
	margin:-10px auto 0px auto;
	font-size:14px;
	color:#FFF;
	position:relative;
	*position: relative;
}
.price_1_blkpromo .price_1_blk_contpromo .price_tag_header{
	width:150px;
	height:115px;
	background:url('images/price_tag_blueinspromo.png') no-repeat center top;
	padding:18px 0px 0px ;
	margin:-10px auto 0px auto;
	font-size:14px;
	color:#1E1E1E;
	position:relative;
	*position: relative;
}
.price_1_blkpartner .price_1_blk_contpartner .price_tag_header{
	width:180px;
	height:120px;
	background:url('images/price_tag_blue.png') no-repeat center top;
	padding:18px 10px 0px 10px;
	margin:-10px auto 0px auto;
	font-size:14px;
	color:#1E1E1E;
	position:relative;
	*position: relative;
}
.price_1_blk .price_1_blk_cont .price_tag_header.green{
	background:url('images/price_tag_green.png') no-repeat center top;
}
.price_1_blkpromo .price_1_blk_contpromo .price_tag_header.green{
	background:url('images/price_tag_greeninspromo.png') no-repeat center top;
}
.price_1_blkpartner .price_1_blk_contpartner .price_tag_header.green{
	background:url('images/price_tag_greenpartner.png') no-repeat center top;
}
.price_1_blk .price_1_blk_cont .price_tag_header.orange{
	background:url('images/price_tag_orange.png') no-repeat center top;
}
.price_1_blkpromo .price_1_blk_contpromo .price_tag_header.orange{
	background:url('images/price_tag_orangeinspromo.png') no-repeat center top;
}
.price_1_blkpartner .price_1_blk_contpartner .price_tag_header.orange{
	background:url('images/price_tag_orangepartner.png') no-repeat center top;
}
.price_1_blk_cont .price_tag_header .price, .view_features .price{
	font-size:34px;
	line-height:25px;
	padding:0px 0px 3px 0px;
}

.price_1_blk_contpromo .price_tag_header .price, .view_features .price{
	font-size:34px;
	line-height:25px;
	padding:0px 0px 3px 0px;
}
.price_1_blk_contpartner .price_tag_header .price, .view_features .price{
	font-size:34px;
	line-height:25px;
	padding:0px 0px 3px 0px;
}

.price_1_blk_cont .price_tag_header .price span, .view_features .price span{
	font-family: RupeeForadian;
}
.price_1_blk_cont .price_tag_header .price_tag_free{ 
	width:54px;
	height:68px;
	background:url('images/price_tag_free.png') no-repeat center top;
	font-size:13px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:12px 8px 10px;
	top:-13px;
	left:-2px;
	position:absolute;
}

.price_1_blk_contpromo .price_tag_header .price_tag_free{ 
	width:45px;
	height:45px;
	background:url('images/price_tag_freeinspromo.png') no-repeat center top;
	font-size:13px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:24px 8px 10px;
	top:-12px;
	left:-20px;
	position:absolute;
    
}
.freetext
{
    width:45px;
	height:45px;	
	font-size:22px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:24px 8px 10px;
	top: 0px;
	left: 38px;
	position:absolute;
}
.freetext1
{
   	
	font-size:18px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:24px 8px 10px;
	top: 40px;
	left: 38px;
	position:absolute;
}
.freetextfeature
{
   	
	font-size:20px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:0px 8px 10px;
	top: 50px;
	left: 415px;
	position:absolute;
}
.freetextfeature1
{
   	
	font-size:16px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:0px 8px 10px;
	top: 80px;
	left: 415px;
	position:absolute;
}
.price_1_blk_contpartner .price_tag_header .price_tag_free{ 
	width:54px;
	height:45px;
	background:url('images/price_tag_freepartner.png') no-repeat center top;
	font-size:13px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:24px 8px 10px;
	top:-13px;
	left:-14px;
	position:absolute;
}
.price_1_blk_contpromo .price_tag_header .price, .price_1_blk_contpromo .price_tag_header .strike_txt{
	font-size:25px;
	line-height:15px;
	padding:0px 0px 3px 5px;
}


.price_1_blk_contpromo .price_tag_header .strike_txt{
	color:#E1E1E1;
	padding-bottom:8px;
	position:relative;
}
.price_1_blk_contpartner .price_tag_header .strike_txt{
	color: rgb(225, 225, 225);
	padding-bottom:8px;
	position:relative;
}

.price_1_blk_contpromo .price_tag_header .price span, .price_1_blk_contpromo .price_tag_header .strike_txt span{
	font-family: RupeeForadian;
	margin:0px -6px 0px 0px;
}
.price_1_blk_contpartner .price_tag_header .price span, .price_1_blk_contpartner .price_tag_header .strike_txt span{
	font-family: RupeeForadian;
	margin:0px -6px 0px 0px;
}

.price_1_blk_contpromo .price_tag_header .price span, .view_features .price span{
	font-family: RupeeForadian;
}
.price_1_blk_contpartner .price_tag_header .price span, .view_features .price span{
	font-family: RupeeForadian;
}



.priceplan_blk table tr td{
	/*background:#FFF;*/
	border-bottom:1px dashed #E1E1E1;
	text-align:center;
	padding:8px 10px;
	line-height: 19px;
}
.priceplan_blk table tr td.no_border{
	border-bottom:1px solid #F5F5F5;
	font-family:Arial;
}
.priceplan_blk table tr td.txt_underline{
	text-decoration:none;
	/*font-family:Arial;*/
}
.priceplan_blk table tr td.txt_green{
	color:#699F03;
	font-weight:bold;
}
.priceplan_blk table tr td a{
	color:#1F58A5;
	text-decoration:underline;
}
.priceplan_blk table tr td a:hover{
	color:#2771D3;
	text-decoration:none;
}

/* ----------------    View Features Begin    ------------------  */
.view_features{
	background:#FFF;
	border:1px solid #EEEEEE;
	margin:10px auto 0px;
	padding:0px 0px 0px 0px;
}
.view_features .price_tag_free{
    width :54px;
	height:68px;
	background:url('images/price_tag_free.png') no-repeat center top;
	font-size:13px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:12px 4px 10px 1px;
	top:-13px;
	/*left:-2px;*/
	position:absolute;
}

.view_features h3{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	padding:0px 0px 8px 0px;
	margin:0px;
	color:#FFF;
}
.view_features h3.title{
	font-size:26px;
	color:#666666;
}
 .view_features  .price_tag_header{
	width:auto;
	height:90px;
	background:url('images/price_tag_blue_bg.jpg') repeat-x center top #1F57A4;
	padding:10px 10px 10px 10px;
	color:#FFF;
	margin:0px auto 0px auto;
 }
.view_features .price{
	font-size:30px;
	line-height:22px;
	padding:0px 0px 3px 0px;
}
.view_features .price_tag_header.green{
	background:url('images/price_tag_green_bg.jpg')  repeat-x center top #6AA004;
}
.view_features .price_tag_header.orange{
	background:url('images/price_tag_orange_bg.jpg') repeat-x  center top #F7A501;
}


.price_1_blk_contpromo .price_tag_header .price, .view_features .price{
	font-size:34px;
	line-height:25px;
	padding:0px 0px 3px 0px;
}

.price_1_blk_contpartner .price_tag_header .price, .view_features .price{
	font-size:34px;
	line-height:25px;
	padding:0px 0px 3px 0px;
}

.price_1_blk_contpromo .price_tag_header .price, .price_1_blk_contpromo .price_tag_header .strike_txt{
	font-size:25px;
	line-height:27px;
	padding:0px 0px 10px 0px;
}
.price_1_blk_contpartner .price_tag_header .price, .price_1_blk_contpartner .price_tag_header .strike_txt{
	 line-height: 27px;
    padding: 0px 0px 10px 0px;
    font-size: 32px;
}
.price_1_blk_contpromo .price_tag_header .strike_txt{
	color:#E1E1E1;
	padding-bottom:8px;
	position:relative;
}

.price_1_blk_contpromo .price_tag_header .strike_txt .strike_bg{
	width:93px;
	height:12px;
	background:url('images/strike_lineinspromo.png') no-repeat center top;
	position:absolute;
	left: 24%;
	top: 6px;
}
.price_1_blk_contpartner .price_tag_header .strike_txt .strike_bg{
	width:93px;
	height:12px;
	background:url('images/strike_linepartner.png') no-repeat center top;
	position:absolute;
	left: 32%;
	top: 2px;
}
.view_features table tr td{
	background:none;
	border:0px;
	border-right:1px solid #EEEEEE;
	text-align:center;
	padding:9px 10px;
	font-size:14px;
	line-height: 22px;
}
.view_features tr:nth-child(2n+2){
	background:#F9F9F9;
}
.view_features tr.heading{
	font-weight:bold !important;
	background: #eaeaea; /* for non-css3 browsers */
	background: -moz-linear-gradient(top, #eaeaea,  #dddddd); /* for firefox 3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#dddddd)); /* Safari 4+, Chrome */
	background: -webkit-linear-gradient(left top, left bottom, #eaeaea, #dddddd); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background: -o-linear-gradient(top, #eaeaea,#dddddd); /* Opera 11.10+ */
	background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#eaeaea, EndColorStr=#dddddd, GradientType=0)";
	background: linear-gradient(to bottom, #eaeaea,#dddddd); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#dddddd', GradientType='0'); /* for IE */
}
.view_features td:first-child {
    text-align:left !important;
}
.view_features table tr td.no_border{
	border-bottom:1px solid #FFF;
}



/* ----------------    View Features End    ------------------  */

/* ----------------    Welcome Container Begin    ------------------  */
#container_main.success_main{
	width:860px;
	padding-top:40px;
}

#container_main .welcome_title_blk{
	font-size:24px;
	line-height:34px;
	text-align:center;
	text-shadow:0px 1px #fff;
	background:#FFF;
	border:1px solid #D1D1D1;
	padding:1px;
	margin:0px auto 40px auto;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	-o-border-radius:15px;
}
#container_main .welcome_title{	
	padding:30px 30px;
	border-radius:15px;
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	-o-border-radius:15px;
	-webkit-border-radius:15px;
	
	background: #f2f2f2; /* for non-css3 browsers */
	background: -moz-linear-gradient(top, #f2f2f2,  #dddddd); /* for firefox 3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#dddddd)); /* Safari 4+, Chrome */
	background: -webkit-linear-gradient(left top, left bottom, #f2f2f2, #dddddd); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background: -o-linear-gradient(top, #f2f2f2,#dddddd); /* Opera 11.10+ */
	background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#f2f2f2, EndColorStr=#dddddd, GradientType=0)";
	background: linear-gradient(to bottom, #f2f2f2,#dddddd); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#dddddd', GradientType='0'); /* for IE */

}
#container_main .welcome_title h3{
	font-size:30px;
	font-weight:normal;
	line-height:30px;
	padding-bottom: 10px;
}


#container_main .welcome_blk{
	margin:0px auto 30px auto;
	font-size:14px;
	line-height:21px;
}
#container_main .welcome_blk p{
	padding-bottom:16px;
}
#container_main .welcome_blk p.chk_txt{
	font-size:13px;
}

.welcome_blk .welcome_blkL{
	width:400px;
	float:left;
	margin-right:20px;
}
.welcome_blk .welcome_blkR{
	width:380px;
	float:right;
}




/* ----------------    Footer Container Begin    ------------------  */
#footer_blk {
	background:#FFF;
	padding:20px 0 20px 0;
	position:relative; 
	color:#424242 !important;	
	
	box-shadow: 0 -1px 8px #E6E6E6;
}
#footer_blk #footerL{
	float:left;
	padding:0px 0 0px 10px;
}
#footer_blk #footerR{
	float:right;
}
#footerR ul{
	text-align:center;
	margin:0px;
	padding:0px;
}
#footerR ul li{
	display:inline-block;
	padding:0 10px;
	margin:0 0px;
}
#footerR ul li a{
	color: #858587;
    font-size: 13px;
	text-decoration:none;
}
#footerR ul li a:hover{
	color: #000;
}

/*-----container begin----------*/

#container_main .container_mainL{
	width:600px;
	float:left;
	
	
}
.container_mainL .title_blk{
	border:1px solid #EBEBEB;
	padding:20px;
	text-align:center;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}
.title_blk{
	border:1px solid #EBEBEB;
	padding:20px;
	text-align:center;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}
.title_blk .pad{
	margin-bottom:20px;
}
#container_main .container_mainR{
	width:280px;
	float:right;
	
}
.container_mainR .special_offer_blk{
	border:1px solid #EBEBEB;
	padding:10px 20px;
	margin-bottom:20px;
	font-size:14px;
	text-align:center;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}



.container_mainR .special_offer_blk p.title{
	font-size:20px;
	line-height:24px;
}
.container_mainR .special_offer_blk img{
	margin:5px 40px 10px 70px;
}
.container_mainR .points_blk{
	border:1px solid #EBEBEB;
	padding:20px 20px;
	margin-bottom:20px;
	margin-top:20px;
	font-size:14px;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}

.points_blk ul{
	list-style:outside; 
	margin:0px;
	padding:0px 0px 0px 0px;
	line-height:19px;
}
.points_blk ul li{
	list-style:none;
	background:url('images/icon_arrow.png') no-repeat left 3px;
	padding:0px 0px 15px 24px;
}
.points_blk ul li:last-child{
	padding-bottom:0px;
}

/*features css modifications based on partners*/

 
.view_features  .partnersbasicprice_tag_header{
	width:auto;
	height:120px;
	background:url('images/price_tag_blue_bg.jpg') repeat-x center top #1F57A4;
	padding:10px 10px 10px 10px;
	color:rgb(30,30,30);
	margin:0px auto 0px auto;
 }
 

 .view_features  .partnersproprice_tag_header{
	width:auto;
	height:120px;
	background:url('images/price_tag_green_bg.jpg')  repeat-x center top #6AA004;
	padding:10px 10px 10px 10px;
	color: rgb(30, 30, 30);
	margin:0px auto 0px auto;
 }
 
.view_features  .partnersproprice_tag_header.strike_txt{
	color:#E1E1E1;
	padding-bottom:8px;
	position:relative;
}
.view_features  .partnersproprice_tag_header .strike_txt{
	color: rgb(225, 225, 225);
	padding-bottom:8px;
	position:relative;
}

.view_features  .partnersproprice_tag_header .strike_txt .strike_bg{
	width:93px;
	height:12px;
	background:url('Images/strike_linepartner.png') no-repeat center top;
	position:absolute;
	left: 24%;
	top: 6px;
}
 .view_features  .partnerspremiumprice_tag_header{
	width:auto;
	height:120px;
	background:url('images/price_tag_orange_bg.jpg') repeat-x  center top #F7A501;
	padding:10px 10px 10px 10px;
	color:rgb(30, 30, 30);
	margin:0px auto 0px auto;
 }
 
.view_features  .partnerspremiumprice_tag_header.strike_txt{
	color:#E1E1E1;
	padding-bottom:8px;
	position:relative;
}
.view_features  .partnerspremiumprice_tag_header .strike_txt{
	color: rgb(225, 225, 225);
	padding-bottom:8px;
	position:relative;
}

.view_features  .partnerspremiumprice_tag_header .strike_txt .strike_bg{
	width:93px;
	height:12px;
	background:url('Images/strike_linepartner.png') no-repeat center top;
	position:absolute;
	left: 24%;
	top: 6px;
}


/* ----------------  social_share Container Begin    ------------------  */
#share_account_wrapper{
	width:986px;
	margin:0 auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
}

/* ----------------    Header Begin    ------------------  */
#share_account_header_main{
	margin:0 auto 0px auto;
	padding:20px 0px 20px 0px;
	/*border-bottom:1px solid #EBEBEB;*/
}
#share_account_headerL{
	width:350px;
	float:left;
}
#share_account_headerL a.header_logo{
	width:325px;
	height:68px;
	display:inline-block;
	background:url('Images/logo_insighto.png') no-repeat left top;
	margin:0px auto 0px 0px;
	padding: 0px 0px 0px 0px;
}
#share_account_headerR{
	width:590px;
	float:right;
	padding: 20px 0px 0px 0px;
}


/* ----------------    Navigation Begin    ------------------  */
#share_account_nav_main{
	width:100%;
	background:url(../images/top_menu_bgr.jpg) repeat-x left top;
	margin:0 auto 0px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
}
#share_account_nav_main ul{
	float:right;
	padding: 0 0 0 20px;
	margin:0px 0 0px 0;
	list-style-type:none;
	text-align:center;
}
#share_account_nav_main ul li{
	margin:0px 0px 0px 10px;
	float:left;
}
#share_account_nav_main ul li a{
	background:#999999;
	color:#FFF;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	display:inline-block;
	display:block;
	padding:8px 30px;
	
	border-radius:6px;
}
#share_account_nav_main ul li a:hover, #share_account_nav_main ul li a.selected{
	background:#B12895;
	text-decoration:none;
}


#share_account_nav_main #share_account_nav_rgt{
	width:20%;
	float:right;
	padding: 0 0 0 0px;
	margin:0px 0 0px 0;
	text-align:center;
}
#share_account_nav_main #share_account_nav_rgt a{
	float:right;
	color:#FFF;
	font-size:14px;
	font-weight:700;
	text-decoration:none;
	text-transform: lowercase;
	display:inline-block;
	display:block;
	padding:11px 10px;
	text-transform: uppercase;
}


/*------------------- Navigation End -------------------*/


/* ----------------    Container Begin    ------------------  */
#share_account_container_main{
	margin:0 auto 0px auto;
	

}

.title_blk{
	border:1px solid #EBEBEB;
	padding:10px;
	margin:0 auto 10px auto;
	text-align:center;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}

.box_blk{
	margin:0 auto 10px auto;
}
.box_blk .colm3{
	width:272px;
	height:200px;
	min-height:110px;
	float:left;
	padding:20px 20px 20px;
	margin:0px 22px 22px 0px;
	font-size:15px;
	text-align:center;
	
	background: #fdfdfd; /* for non-css3 browsers */
	background: -moz-linear-gradient(top, #fdfdfd,  #f7f7f7); /* for firefox 3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f7f7f7)); /* Safari 4+, Chrome */
	background: -webkit-linear-gradient(left top, left bottom, #fdfdfd, #f7f7f7); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background: -o-linear-gradient(top, #fdfdfd,#f7f7f7); /* Opera 11.10+ */
	background: -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fdfdfd, EndColorStr=#f7f7f7, GradientType=0)";
	background: linear-gradient(to bottom, #fdfdfd,#f7f7f7); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f7f7f7', GradientType='0'); /* for IE */

	border:1px solid #EAEAEA;
		
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}
.box_blk .colm3:nth-child(3n+3){
	margin-right: 0px !important;
}
.box_blk .colm3:hover{
	background:#FBFBFB;
}
.box_blk .colm3 .heading{
	padding-bottom:20px;
	border-bottom:1px solid rgba(000,000,000,0.1);
	font-size:20px;
	font-weight:bold;
}
.box_blk .colm3 .cont_blk{
	padding:22px 0px 5px 0px;
	border-top:1px solid #FFF;
}
.box_blk .colm3 .cont_blk .txt_congrats{
	font-size:28px;
	font-weight:bold;
	line-height:24px;
	padding-bottom:25px;
}
.box_blk .colm3 .cont_blk span{
	font-size:20px;
}


#share_account_container_main .thx_txt{
	font-size:26px;
	line-height:36px;
	padding:15px 0px;
	text-align:center;
}

#share_account_container_main .priceplan_blk{
	margin:0 auto 0px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
	font:13px Tahoma, Geneva, sans-serif;
	text-align:center;
}
.priceplan_blk .price_1_blk{
	width:286px;
	float:left;
	margin:0 28px 0px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
}
.priceplan_blk .price_1_blk.no_marg{
	margin:0 0px 0px auto;
}
.price_1_blk .price_1_blk_cont{
	background:#F5F5F5;
	margin:0 0px 0px 0px;
	padding:0px 15px 10px 15px;
}
.price_1_blk .price_1_blk_cont .price_tag_header{
	width:180px;
	height:120px;
	background:url(../images/price_tag_blue.png) no-repeat center top;
	padding:18px 10px 0px 10px;
	margin:-10px auto 0px auto;
	font-size:14px;
	color:#1E1E1E;
	position:relative;
	*position: relative;
}
.price_1_blk .price_1_blk_cont .price_tag_header.green{
	background:url(../images/price_tag_green.png) no-repeat center top;
}
.price_1_blk .price_1_blk_cont .price_tag_header.orange{
	background:url(../images/price_tag_orange.png) no-repeat center top;
}
.price_1_blk_cont .price_tag_header .price, .price_1_blk_cont .price_tag_header .strike_txt{
	font-size:32px;
	line-height:27px;
	padding:0px 0px 3px 0px;
}
.price_1_blk_cont .price_tag_header .strike_txt{
	color:#E1E1E1;
	padding-bottom:8px;
	position:relative;
}
.price_1_blk_cont .price_tag_header .strike_txt .strike_bg{
	width:93px;
	height:12px;
	background:url(../images/strike_line.png) no-repeat center top;
	position:absolute;
	left: 26%;
	top: 10px;
}
.price_1_blk_cont .price_tag_header .price span, .price_1_blk_cont .price_tag_header .strike_txt span{
	font-family: RupeeForadian;
}
.price_1_blk_cont .price_tag_header .price_tag_free{
	width:54px;
	height:45px;
	background:url(../images/price_tag_free.png) no-repeat center top;
	font-size:13px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:24px 8px 10px;
	top:-13px;
	left:-14px;
	position:absolute;
}

.priceplan_blk table tr td{
	/*background:#FFF;*/
	border-bottom:1px dashed #E1E1E1;
	text-align:center;
	padding:8px 10px;
	line-height: 19px;
}
.priceplan_blk table tr td.no_border{
	border-bottom:1px solid #F5F5F5;
}
.priceplan_blk table tr td.txt_underline{
	text-decoration:underline;
}
.priceplan_blk table tr td.txt_green{
	color:#699F03;
	font-weight:bold;
}
.priceplan_blk table tr td a{
	color:#1F58A5;
	text-decoration:underline;
}
.priceplan_blk table tr td a:hover{
	color:#2771D3;
	text-decoration:none;
}

#share_account_body{
    font:normal 13px "Trebuchet MS", Arial, Helvetica, sans-serif;	
	background:#FFF; 
	color:#666666;
	line-height: 18px;
}

p{
	padding-bottom:16px;
}
p.last{
	padding-bottom:0px;
}
.txtcnt{
	text-align:center;
}
/*  Header styles */
h1,h2,h3,h4,h5,h6{
	line-height:1.2em;
	padding-bottom:15px;
	margin:0px;
	color:#666666;
	font-weight:normal;
}
h1{font-size:35px; color:#993F90;}
h2{font-size:30px; font-weight:normal; padding-bottom:5px; color:#993F90;}
h4{font-size:24px; font-weight:normal; padding-bottom:5px;}

input[type="checkbox"]{
	margin-right:8px;
}
.dropbox_timezone{
	width:95%;
	padding:10px;
	color:#666666;
	border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:1px solid #ADADAD;
	box-shadow:inset 0px 1px 3px rgba(000,000,000,0.3);
	-webkit-box-shadow:inset 0px 1px 3px rgba(000,000,000,0.3);
	-o-box-shadow:inset 0px 1px 3px rgba(000,000,000,0.3);
}
.btn_bg{
	border:1px solid #0099CC;
	padding:8px 25px;
	margin:0px 0px 20px 0px;
	font-family:inherit;
	font-size:18px;
	font-weight:bold;
	color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	cursor:pointer;
	cursor:hand;
	
	background: #009FD9; /* Old browsers */
	background: -moz-linear-gradient(top, #009FD9 0%, #00B4EE 46%, #00A2DC 51%, #008AC4 94%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009FD9), color-stop(46%,#00B4EE), color-stop(51%,#00A2DC), color-stop(94%,#008AC4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #009FD9 0%,#00B4EE 46%,#00A2DC 51%,#008AC4 94%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #009FD9 0%,#00B4EE 46%,#00A2DC 51%,#008AC4 94%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #009FD9 0%,#00B4EE 46%,#00A2DC 51%,#008AC4 94%); /* IE10+ */
	background: linear-gradient(to bottom, #009FD9 0%,#00B4EE 46%,#00A2DC 51%,#008AC4 94%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009FD9', endColorstr='#008AC4',GradientType=0 ); /* IE6-9 */
}
.btn_bg:hover{
	
	background: #0091CB; /* Old browsers */
	background: -moz-linear-gradient(top, #0091CB 0%, #00ABE2 46%, #0097CCC 51%, #0075A6 94%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009FD9), color-stop(46%,#00ABE2), color-stop(51%,#0097CCC), color-stop(94%,#0075A6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0091CB 0%,#00ABE2 46%,#0097CCC 51%,#0075A6 94%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0091CB 0%,#00ABE2 46%,#0097CCC 51%,#0075A6 94%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0091CB 0%,#00ABE2 46%,#0097CCC 51%,#0075A6 94%); /* IE10+ */
	background: linear-gradient(to bottom, #0091CB 0%,#00ABE2 46%,#0097CCC 51%,#0075A6 94%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091CB', endColorstr='#0075A6',GradientType=0 ); /* IE6-9 */
}
.priceplan_blk .price_1_blkpromo1{
	width:280px;
	float:left;
	margin:0 0px 0px auto;
	padding:0px 0px;
	position:relative;
	*position: relative;
}
.price_1_blkpromo1 .price_1_blk_contpromo1{
	background:#F5F5F5;
	margin:0 0px 0px 0px;
	padding:0px 0px 10px;
	margin-bottom:0px;
}
.price_1_blkpromo1 .price_1_blk_contpromo1 .price_tag_header{
	width:200px;
	height:115px;
	background:url('images/price_tag_blueinspromo.png') no-repeat center top;
	padding:18px 0px 0px ;
	margin:-10px auto 0px auto;
	font-size:14px;
	color:#FFFFFF;
	position:relative;
	*position: relative;
}
.price_1_blkpromo1 .price_1_blk_contpromo1 .price_tag_header .price_tag_free{ 
	width:54px;
	height:68px;
	background:url('images/price_tag_free.png') no-repeat center top;
	font-size:13px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:12px 8px 10px;
	top:-13px;
	left:-2px;
	position:absolute;
}

.freetextl
{
    width:45px;
	height:45px;	
	font-size:22px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:33px 8px 10px;
	top: 0px;
	left: 58px;
	position:absolute;
}
.freetextl1
{
   	
	font-size:18px;
	font-weight:bold;
	line-height:16px;
	color:#FFF;
	padding:33px 8px 10px;
	top: 40px;
	left: 58px;
	position:absolute;
}
.price_1_blkpromo1 .price_1_blk_contpromo1 .price_tag_header.green{
 background:url('images/price_tag_greeninspromo.png') no-repeat center top;
}
.price_1_blkpromo1 .price_1_blk_contpromo1 .price_tag_header.orange{
 background:url('images/price_tag_orangeinspromo.png') no-repeat center top;
}
.price_1_blk_contpromo1 .price_tag_header .price{
 font-size:34px;
 line-height:25px;
 padding:15px 0px 15px 0px;
 
}

.price_1_blk_contpromo1 .price_tag_header .price span{
 font-family: RupeeForadian;
}