﻿body, form, h1, h2, h3, h4, h5, h6, p
{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, label
{
    text-decoration: none;
    vertical-align: top;
}

a, input
{
    outline: none;
}

/* master page using */
.pwdbylogopading
{
    width: 92%;
    text-align: center;
    margin: 3px auto 20px auto;
    color:Black;
}

.questionViewpanel h3
{
    color: #B765C8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 20px;
}
.questionViewpanel h3
{
    text-transform: none;
    font-weight: 700;
    background: #EBEBEB;
    color: #000;
    padding: 5px 5px 5px 10px;
}
.questionViewpanel
{
    width: 92%;
    margin: 20px auto 20px auto;
}
.informationPanelDefault
{
    background: #F9FCFE;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 8px 0 8px 0;
    border: dashed 1px #9DC9EF;
}
.informationPanelDefault div
{
    background: url('Images/icon-information.gif') 10px 0 no-repeat;
    padding: 8px 8px 8px 50px;
    color: #1747A9;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
}
.clear
{
    clear: both;
}
.questionIncludePanel
{
    padding-top: 15px;
}

.respondentBg
{
    background: #fff;
}
.popupBody
{
    background: #fff;
    padding-top: 50px;
}
.popupHeading
{
    height: 50px;
    line-height: 50px;
    background: #F8F8F8;
    margin-bottom: 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
.popupPrintPanel
{
    width: 92%;
    float: left;
    text-align: right;
}
.printLink
{
    padding: 0 35px 0 25px;
}
.printLink
{
    background: url('Images/icon-print.gif') left no-repeat;
    padding-right: 10px;
    font-size: 12px;
}
.popupClosePanel
{
    width: 5%;
    float: right;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}
.popupCloseLink
{
    width: 22px;
    height: 22px;
    background: url('images/icon_close1.gif') no-repeat;
    display: block;
}

.ResondLbl
{
    margin-top: 10px;
    padding-left: 60px;
}
.errorMesg
{
    color: red;
}

.textBoxMedium, .textBoxDateTime, .dropDown, .surveyMessageTextBox, .textAreaCommentBox, .textBoxRanking, .textBoxDateToTime, .dropDownMedium
{
    background: url('Images/text-box-bgr.jpg') #FCFCFC bottom repeat-x;
    border: solid 1px #CDCDCD;
    padding: 5px 3px 6px 3px;
    margin: 3px 0 3px 0;
    font-size: 12px;
}
.textBoxDateToTime
{
    width: 120px;
}
.dropDownMedium
{
    min-width: 220px;
}
.textAreaCommentBox
{
    width: 500px;
    height: 75px;
}
.textBoxRanking
{
    width: 75px;
}
.star
{
    color: #CC21AB;
    text-align: right;
    width: 20px;
    vertical-align: top;
}
.surveyMessageTextBox
{
    width: 99%;
    border: solid 1px #B45EC2;
    background: #fff;
    color: #F77601;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 8px;
    padding: 2px 0 3px 5px;
}
.textBoxDateTime
{
    width: 100px;
}
.textBoxMedium
{
    width: 250px;
    height:30px;
   
}
.quationlbl
{
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 2px;
    padding: 5px 5px 5px 10px;
}
.surveyoverflowy
{
    overflow-y: auto;
    width: 100%;
}

.tblMatrixSideBySide
{
    padding: 5px;
    font-weight: normal;
    width: 100%;
}
.form-field *
{
    vertical-align: middle;
}
.defaultHeight
{
    height: 10px;
}

.twocolumnpanel
{
    width: 99%;
    margin: auto;
    clear: both;
}
.bottomButtonPanel
{
    margin: 10px 0 10px 0;
    text-align:center;
}
.bottomButtonPanel div
{
    margin-right: 10px;
    float: left;
}
.bottomButtonPanel img
{
    margin-right: 10px;
}
.dynamicButton, .dynamicButtonGray
{
    text-align: center;
    padding: 10px;
    border: solid 0 #000;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    height: 37px;
}
.confirmationPopup
{
    height: 230px;
}
.LoginNewPanel
{
    width: 500px;
    float: left;
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    padding-bottom: 20px;
    border: solid 1px #D6C9DA;
    height: 198px;
}
.noteText
{
    color: #666;
}
.successPanel
{
    width: 100%;
    background: #FBFCF7;
    border: dashed 1px #B4CE6F;
    text-align: left;
    padding: 8px 0 8px 0;
    margin: 10px 0 10px 0;
}
.successPanel div
{
    background: url('Images/success-icon.gif') 10px 50% no-repeat;
    padding: 8px 8px 8px 45px;
    color: #749E02;
    font-weight: 700;
    font-size: 12px;
}
.errorMessagePanel
{
    width: 100%;
    background: #FEF8F8;
    border: dashed 1px #EF7F80;
    text-align: left;
    padding: 8px 0 8px 0;
    margin: 10px 0 10px 0;
}
.errorMessagePanel div
{
    background: url('Images/irror-icon.gif') 10px 50% no-repeat;
    padding: 8px 8px 8px 50px;
    color: red;
    font-size: 12px;
}
.surveyQuestionHeader
{
    background: #F4F4F4;
    height: 40px;
    line-height: 40px;
    padding: 0 5px 0 15px;
}
.surveyQuestionTitle
{
    width: 50%;
    float: left;
    text-transform: uppercase;
    color: #853C98;
    font-size: 14px;
}
.wid_30
{
    width: 30%;
    text-align: right;
}
.wid_70
{
    width: 70%;
}
a.icon-Edit-active:link, a.icon-Edit-active:visited, a.icon-Edit-active:active
{
    background: url('Images/icon-pen-active.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
.mesgleftAlign
{
    text-align: left;
    width: 23%;
}
.rightAlignselect
{
    text-align: right;
    float: right;
    padding-right: 10px;
}
.sampleLogoHeader
{
    /*height: 50px;     border-bottom: solid 1px #8F4C9A;*/
    margin-bottom: 0;
}
.logo-view
{
    width: 40%;
    float: left;
    margin: 3px 0 0 3px;
}
.logo-view-right
{
    width: 20%;
    float: right;
    margin: 15px 30px 0 0;
    text-align: right;
}
h2.surveyMessage
{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    padding: 15px 20px 15px 20px;
    margin: 8px 0 3px 0; /*border: 1px solid #81328e;*/
    background-color: #964E9F;
}
a.icon-plus:link, a.icon-plus:visited, a.icon-plus:active
{
    background: url('Images/icon-plus.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: block;
    height: 16px;
}
.prelaunchbtn
{
    width: 100%;
    text-align: right;
}
.prelaunchbackbtn
{
    background: white url('Images/btn_prelaunchback.gif') no-repeat;
    width: 190px;
    height: 30px;
    padding-left: 25px;
    border: none;
    color: #853C98;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

/* styles in (templateFloder/SurveryEndPageContent */
.customTextPanel
{
    width: 400px; /*height: 203px;*/ /*background: url('Images/customeText-bgr.gif') no-repeat;*/
    float: left;
    padding-right: 15px;
}

#surveyLastPageContainer .customTextPanel
{
    width: 98%;
    height: 287px;
    background: #F2F2D4;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: right;
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
}
.customTextPanel div
{
    padding: 10px 0 0 0;
}
.customTextPanel h6
{
    font-size: 24px;
    font-weight: bold;
    color: #9a4ba6;
    padding: 5px 0 5px 0;
}
.customFooterLeft
{
    width: 68%;
    text-align: right;
}
.customFooterRight
{
    width: 32%;
    text-align: right;
}
#surveyLastPageContainer .customTextPanel h6
{
    font-size: 18px;
}
#surveyLastPageContainer .customFooterLeft
{
    width: 62%;
    text-align: right;
}
#surveyLastPageContainer .customFooterRight
{
    width: 38%;
    text-align: right;
}
.customTextFooter
{
    border-top: solid 1px #818181;
    padding: 10px 0 10px 0;
    margin-top: 10px;
}
.customTextFooter a:link, .customTextFooter a:visited
{
    font-size: 10px;
    padding: 0 3px 0 3px;
    color: #858587;
    text-decoration: underline;
}
.customTextFooter a:hover
{
    color: #333;
    text-decoration: underline;
}
.thankyouPageBgr
{
    background: url('Images/thankyou-bgr.jpg') #fff top repeat-x;
}
.smallFont
{
    font-size: 11px;
}
img
{
    border: none;
}
a
{
    color: #853C98;
    text-decoration: none;
    outline: none;
}
a:hover
{
    color: #FF9000;
}
.text
{
    padding: 5px;
}


/* css3 style added */
.twocolumnpanel
{
    width: 99%;
    margin: auto;
    clear: both;
}
.firstcolumn
{
    width: 49%;
    float: left;
    border: 0px solid #c2c2c2;
    clear: left;
}
.secondcolumn
{
    width: 49%;
    float: left;
    border: 0px solid #c2c2c2;
}

.columnpadding
{
    margin: 10px 10px;
}
a.dynamicHyperLink:link, a.dynamicHyperLink:visited
{
    padding: 8px 10px 8px 10px;
    background: #C424A5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a.dynamicHyperLink:hover
{
    color: #D9D9D9;
}


/* Error messgaes CSS classes -- START*/

.PanelNotificationBox
{
    font-weight: bold;
    
    margin: 20px 0 0 0;
    padding: 23px 0 23px 0;
    /*background-repeat: no-repeat;
    border: 1px dashed #EF7F80;
    background-position: 8px center;*/ /*width: 500px; 	box-shadow: 2px 2px 3px #3A4F63;*/
    /*border-radius: 4px;
    background: #FEF8F8;*/
    text-align:left;
}

.PanelSuccess
{
    color: #749E02;
    background: url('Images/success-icon.gif') #FBFCF7 no-repeat 10px 50%;
    border: 1px dashed #B4CE6F;
    padding-left:45px;
}
.PanelSuccess span, .PanelInfo span, .PanelWarning span, .PanelError span
{
    padding-right: 10px;
}

.PanelInfo
{
    color: #3F6AC0;
    background-color: #EFF8FD;
    background-image: url('Image/icon-information1.gif');
}

.PanelWarning
{
    color: #8C6211;
    background-color: #FAF9C9;
    background-image: url('Image/icon_close1.gif');
}

.PanelError
{
    color: #CC3333;
    background: url('Images/irror-icon.gif') #FEF8F8 10px 50% no-repeat;
    border: 1px dashed #EF7F80;
    padding-left:45px;
}
.blackColor
{
    color: #000;
}
/* Error messgaes CSS classes -- END*/