@charset "utf-8";
/* CSS Document */


/*
question tabs here
********************************/
.surveyQuestionTabPanel h4 {
	font-size:12px;
	font-weight:normal;
	margin:8px 0 8px 0; 
}
.surveyQuestionTabPanel h4 span {
	color:#853C98;
	font-size:14px;
}
.surveyQuestionTabPanel {
	margin:10px 0 20px 0;
}
.surveyQuestionTabText {
	padding:20px;
}
.surveyQuestionTabPanel p, .surveyQuestionTabText p {
	margin:5px 0 5px 0;
}
.surveyQuetionTabRow {
	background:#F4F4F4;
	border-bottom:solid 1px #E2E2E2;
	
	padding:0 15px 0 15px;
	margin-top:1px;
	margin-bottom:5px;
}
.surveyQuetion {
	width:auto;
	float:left;
}
.surveyQuetionIcons {
	width:auto;
	float:right;
	margin:10px -8px 0 0;
}
.surveyQuetionIcons div {
	margin:0 8px 0 8px;
	float:left;
	
}
.img img {
	margin-right:2px;
	float:left;
}

/* survery end tabs 
********************************/
.surveyEndTab {
	height:39px;
	background:url('images/survey-tab-bgr.gif') #F4F4F4 left no-repeat;
	border-bottom:solid 1px #E2E2E2;
}
.surveyEndTab label 
{
	vertical-align:middle;
}

.surveyEndTabTitle {
	width:200px;
	float:left;
	height:39px;
	line-height:39px;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	text-align:left;
	padding:0 0 0 10px;
}
.surveyEndTabTitle span {
	background:url('images/icon-plus-gray.gif') left no-repeat;
	padding:20px;
	cursor:pointer;
}
.surveyEndTabTitle span.iconMinus {
	background:url('images/icon-minus.gif') left no-repeat;
}
.surveyEndTabRadioPanel {
	width:26%;
	float:left;
	height:39px;
	line-height:39px;
	text-align:left;
}
.surveryEdnTabTextPanel {
	background:#fff;
	margin:0 0 10px 0;
	padding:0 0 0 0;
	border-bottom:solid 1px #f2f2f2;
}

/*********************************************COLAPS CSS START ***********************************/  
 .colapsPanel {
	margin-bottom:3px;
}
.technology2 { /*header of 2nd demo*/
	/*cursor: hand;
	cursor: pointer;*/	
	font-weight:normal;
	margin: 0px;
	background:#F4F4F4;
	border-bottom:solid 1px #E2E2E2;
	padding-right: 15px;
	padding-left: 12px;
	height:39px;
	line-height:39px;
	
}
.thelanguage {
	padding:10px;
	display: none;
	background:#fcfcfc;
	border-bottom:solid 1px #E2E2E2;
	margin-bottom:5px;
}
.midcontent-careers-jobs-head span {
	padding:0 0 0 0;
	width:auto;
	display:block;
	float:left;
	

}
.midcontent-careers-jobs-head span p 
{
    margin:0;
    padding:0;
    /*border:solid 1px red;*/
}

.accordprefix {
	background-position:right;
	width:0;
	height:0;
	float:right;
	/*border:solid 1px red;
	background:#6fbff4;*/
}
.thelanguage{display: none}

/********************************************* // COLAPS CSS END ***********************************/ 

.colapsGridRow { 	
	font-weight:normal;
	margin: 0px;
	background:#F4F4F4;
	border-bottom:solid 1px #E2E2E2;
	padding-right: 15px;
	padding-left: 12px;
	height:39px;
	line-height:39px;
	
}
.GridBottomRowScroll 
{
	width:850px;
	overflow:auto;
	overflow-y:hidden;
}
.GridBottomRow {
	padding:10px;	
	background:#fcfcfc;
	border-bottom:solid 1px #E2E2E2;
	margin-bottom:5px;
}
.GridBottomRow table td span 
{
	float:left;
}
.collapsIcons 
{
	float:right;
}
.colapsGridRow h1 
{
    cursor:pointer;
    font-size:12px;
    font-weight:normal;
    color:#333;
    text-align:left;
    
}
.colapsGridRow h1.plus 
{
    background:url('Images/icon-plus.gif') 100% 50% no-repeat;
}
.colapsGridRow h1.minus 
{
    background:url('Images/icon-minus.gif') 100% 50% no-repeat;
}
.colapsTitle 
{  
    height:28px;
    cursor:pointer;
}
.title 
{
    width:85%;
    float:left;
}
.plus, .minus 
{
    background:url('Images/icon-plus.gif') 100% 50% no-repeat;
    width:10%;
    height:36px;
    float:right;
    text-align:right;
}
.minus 
{
    background:url('Images/icon-minus.gif') 100% 50% no-repeat;  
}
.questionGridRow { 	
	font-weight:normal;
	background:#F4F4F4;
	border-bottom:solid 1px #E2E2E2;
	padding:7px 14px 7px 12px;
	width:100%;
	
}


