﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Createpartners.ascx.cs" Inherits="partners_usercontros_Createpartners" %>

<style type="text/css">
    .style1
    {
        width: 18%;
    }
    .style2
    {
        width: 30%;
    }
</style>

<table width="100%">
<tr>
<td width="20%">
</td>
<td colspan="2">

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Organization</td>
<td class="style2">
    <asp:TextBox ID="txtorganization" runat="server"></asp:TextBox>
 </td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
</td>
<td class="style2">
    <asp:Label ID="reqorganization" runat="server" ForeColor="Red" ></asp:Label>
    </td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Name</td>
<td class="style2">
    <asp:TextBox ID="txtname" runat="server"></asp:TextBox>
 </td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
</td>
<td class="style2">
    <asp:Label ID="ReqName" runat="server" ForeColor="Red" ></asp:Label>
    </td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Login ID</td>
<td class="style2">
    <asp:TextBox ID="txtloginid" runat="server"></asp:TextBox>
 </td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
</td>
<td class="style2">
 &nbsp;
    <asp:Label ID="reqloginid" runat="server" ForeColor="Red" ></asp:Label>
    </td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Password</td>
<td class="style2">
    <asp:TextBox ID="txtpassword" runat="server" TextMode="Password"></asp:TextBox>
 </td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
</td>
<td class="style2">
    <asp:Label ID="reqpassword" runat="server" ForeColor="Red" ></asp:Label>
    </td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Conform Password</td>
<td class="style2">
    <asp:TextBox ID="txtconformpwd" runat="server" TextMode="Password"></asp:TextBox>
 </td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
</td>
<td class="style2">
    <asp:Label ID="reqconformpswd" runat="server" ForeColor="Red" ></asp:Label>
    </td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    Revenue Share</td>
<td class="style2">
    <asp:TextBox ID="txtrevenueshr" runat="server"></asp:TextBox>
 </td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
</td>
<td class="style2">
    <asp:Label ID="reqrevenue" runat="server" ForeColor="Red" ></asp:Label>
 </td>
<td width="20%">
</td>
</tr>
<tr>
<td width="20%">
</td>
<td class="style1">
</td>
<td class="style2">
    <asp:Button ID="btnsubmit" runat="server" Font-Bold="True" Font-Size="Medium" 
        Text="Create" onclick="btnsubmit_Click" />
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Label ID="lblsmsg" runat="server" Text=""></asp:Label>
 </td>
<td width="20%">
</td>
</tr>
</table>