﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AdditionalScriptsControl.ascx.cs"
    Inherits="UserControls_AdditionalScriptsControl" %>
<script type="text/javascript" src="/Scripts/menu.js?v=<%=VersionNumber%>"></script>
<script type="text/javascript" src="/Scripts/grid.locale-en.js?v=<%=VersionNumber%>"></script>
<script type="text/javascript" src="/Scripts/jquery.jqGrid.min.js?v=<%=VersionNumber%>"></script>
<script type="text/javascript" src="/Scripts/jquery.delay.js?v=<%=VersionNumber%>"></script>
<%-- <script type="text/javascript" src="/Scripts/jquery.ui.datepicker.js?v=<%=VersionNumber%>" ></script>
<script type="text/javascript" src="/Scripts/tiny_mce/tiny_mce.js?v=<%=VersionNumber%>"></script>
<script type="text/javascript" src="/Scripts/timepicker.js?v=<%=VersionNumber%>"></script>
- --%>