﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Footer.ascx.cs" Inherits="Insighto.UserControls.Footer" %>
<div id="footer">
    <!-- footer -->
    <div class="copyRights" runat="server" id="dvFooter" >
    
    </div>
    <!-- //footer -->
</div>
