﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Header.ascx.cs" Inherits="Insighto.UserControls.Header" %>
<%--  <div id="header">
            <!-- header -->
            <div class="insightoLogoPanel">
                <!-- insighto logo -->
                <asp:HyperLink ID="lnkLogo"  
                    ImageUrl="~/App_Themes/Classic/Images/logo_insighto.jpg" Text="Insighto" 
                    runat="server" Target="_blank" meta:resourcekey="lnkLogoResource1"></asp:HyperLink>
                    
                  
                <!-- insighto logo -->
            </div>
            <div class="insightoTagLine">
            </div>
            <!-- //header -->
  </div>--%>
  <div class="header">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" >
        <!-- header -->
        <tr>
            <td colspan="5">
                <%-- <uc:TopLinks ID="ucTopLinks" runat="server" />--%>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <div class="logoHeader">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="10">
                            </td>
                            <td align="left" width="185">
                                <a href="/Home.aspx" target="_blank" runat="server" id="logolink">
                                    <img src="/App_Themes/Classic/Images/Insighto_logo.png" border="0" alt="" runat="server" id="logo"/></a>
                            </td>
                            <td align="right">
                                <%--   <uc:Login ID="Login1" runat="server" />--%>
                            </td>
                            <td width="10">
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>        
        <!-- //header -->
    </table>
</div>
