﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="LoginControl.ascx.cs"
    Inherits="UserControls_LoginControl" %>
<%--<table border="0" cellpadding="0" cellspacing="3">
                            <tr>
                                <td>
                                    <asp:Label ID="lblInvaildAlert" class="lblRequired" runat="server" Visible="False"
                                        Text="In valid User Name or Password" 
                                        meta:resourcekey="lblInvaildAlertResource1"></asp:Label>
                                </td>
                                <td>
                                    <input id="txtEmailAdd" runat="server" width="124" name="emailaddress" type="text"
                                        value="Email Address" onfocus="if(this.value==this.defaultValue) this.value='';"
                                        onblur="if(this.value=='') this.value=this.defaultValue;" class="homeTextbox" />
                                </td>
                                <td>
                                    <input id="txtPassword" runat="server" width="124" name="password" class="homeTextbox"
                                        type="password" value="password" onfocus="if(this.value==this.defaultValue) this.value='';"
                                        onblur="if(this.value=='') this.value=this.defaultValue;" />
                                </td>
                                <td>
                                    <asp:Button ID="ibtnLogin" OnClick="ibtnLogin_Click" CssClass="loginBtn" runat="server"
                                        Text="Login" ToolTip="Login" meta:resourcekey="ibtnLoginResource1" OnClientClick="alert('hi')" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td align="left">
                                    <a href="~/In/Pricing.aspx" id="hlkSignupNow" runat="server" title="Sign Up Now !"
                                        style="color: #6c59a2; font-family: 'Trebuchet MS'; font-size: 13px">
                                        <asp:Label ID="lblSignUp" runat="server" Text="Sign Up Now !" 
                                        meta:resourcekey="lblSignUpResource1"></asp:Label></a>
                                </td>
                                <td colspan="2" align="left">
                                    <a href="../ForgotPassword.aspx" id="hlkForgotPassword" rel='framebox' w='700' h='300'
                                        style="color: #6c59a2; font-size: 13px">
                                        <asp:Label ID="lblForgotPassword" runat="server" Text="Forgot Password?" 
                                        meta:resourcekey="lblForgotPasswordResource1"></asp:Label></a></td>
                            </tr>
                        </table>--%>

    <table  style="border:1px;border-color:Red;" >
        <tr>
            <td>
                <asp:Label ID="lblInvaildAlert" class="lblRequired" runat="server" Visible="False"
                    Text="In valid User Name or Password" meta:resourcekey="lblInvaildAlertResource1"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                Username
            </td>
        </tr>
        <tr>
            <td>
                <asp:TextBox ID="txtEmailAdd" runat="server"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
        </tr>
        <tr>
            <td>
                <asp:TextBox TextMode="Password" ID="txtPassword" runat="server"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>
                <%--<asp:Button ID="btnLogin" runat="server" Text="Login" CssClass="dynamicButtonSmall" OnClick="btnLogin_Click" />--%>
                <asp:Button ID="ibtnLogin" OnClick="ibtnLogin_Click" CssClass="dynamicButtonSmall"
                    runat="server" Text="Login" ToolTip="Login" meta:resourcekey="ibtnLoginResource1" />
            </td>
        </tr>
        <%--<tr>
            <td>
                <a href="#">Forgot Password?</a>
            </td>
        </tr>--%>
    </table>

