﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MCMS.ascx.cs" Inherits="UserControls_MCMS" %>
 <script src="../Charts/FusionCharts.js" type="text/javascript"></script>
     <script type="text/javascript" src="../Charts/jquery.min.js"></script>
      <script type="text/javascript" src="../FusionCharts/FusionCharts.js"></script>   
  <%--  <script src="../Charts/FusionChartsExportComponent.js" type="text/javascript"></script>--%>
<div>
<asp:Literal ID="Literal1" runat="server"></asp:Literal>     
</div>