﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="OpenAuthLogin.ascx.cs" Inherits="Insighto.UserControls.OpenAuthLogin" %>

<asp:ImageButton ID="imgbtnFBLogin" runat="server" ImageUrl="~/App_Themes/Classic/Images/icon-facebook.gif" 
OnClick="imgbtnFBLogin_Click" ValidationGroup="img"/>

<asp:ImageButton ID="imgbtnGoogleLogin" runat="server" ImageUrl="~/App_Themes/Classic/Images/icon-google.gif" ValidationGroup="img"  
OnCommand="imgbtnGoodleLogin_Click" CommandArgument="" />

<a href="test.aspx" rel="framebox" text="Google" h="480" w="700" >Google</a>

