﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ScriptsControl.ascx.cs"
    Inherits="UserControls_ScriptsControl" %>
    <script type="text/javascript" src="/Scripts/jquery-1.6.2.js?v=<%= VersionNumber %>" ></script>
    <script type="text/javascript" src="/Scripts/facebox.js?v=<%= VersionNumber %>"></script>
    <script type="text/javascript" src="/Scripts/chrome.js?v=<%= VersionNumber %>" ></script>
  <%--  <script type="text/javascript" src="/Scripts/custom.js?v=<%= VersionNumber %>" ></script>--%>
    <script type="text/javascript" src="/Scripts/common-functions.js?v=<%= VersionNumber %>" ></script>
<%--<script type = "text/javascript"src="/Scripts/swfobject.js?v=<%= VersionNumber %>"></script>--%>


