﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SurveyHeader.ascx.cs"
    Inherits="Insighto.UserControls.SurveyHeader" %>
 <div class="contentPanelHeader"><table cellpadding="0" cellspacing="0" width="100%" border="0">
    <tr>
        <td class="wid_70">
           
                <div class="pageTitle">                   
                      <span id="lblHeading" runat="server" class="lblSurveyHeading"></span>
                    <asp:Label ID="lblSurveyName" Text="" runat="server"></asp:Label>
                    <span><a id="lnkEdit" runat="server" href="" rel="framebox" h="480" w="700" class="smallFont">
                        <asp:Label ID="lblEdit" runat="server" Text="Edit" meta:resourcekey="lblEditResource1"></asp:Label></a></span>
                </div>
           
        </td>
        <td class="pre_rgt_pad">
         
        </td>
    </tr>
</table> </div>
