﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SurveyPrint.ascx.cs" Inherits="Insighto.UserControls.SurveyPrint" %>
 <asp:HyperLink ID="hlnkPrint" runat="server" CssClass="printLink" h="550" w="950" scrolling='yes'  title='Print' Text="Print"  
    ToolTip="Print" meta:resourcekey="hlnkPrintResource1"></asp:HyperLink>