﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TopMenu.ascx.cs" Inherits="Insighto.UserControls.TopMenu" %>
<div id="topMainMenu">   
    <div id="topMainLeftLinks">        
        <ul id="nav">
            <li class="activelink"><a href="index.html">My Surveys</a></li>
            <li><a href="AddressBook.html">Address Book</a></li>
        </ul>        
    </div>
    <div id="topMennuRight">
        
    </div>
</div>
