/* CSS Document */
/****************************************************************************************************
* Filename: layoutStyle.css
* Purpose: All the CSS Rules required to design web pages.
* Author: Covalense Technologies Limited
****************************************************************************************************/

/* BODY, FONT AND COLOR, GLOBAL
**********************************************************/
body
{
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #000000;
    background:url('../images/body_bgr.jpg') #D0D0D0 0 0 repeat;
    margin: 0;
    padding: 0;
}
html
{
    overflow-x: hidden;
}

/*
 global reset */
body, form, h1, h2, h3, h4, h5, h6, p
{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, label
{
    text-decoration: none;
    vertical-align:top
}
labelaudio
{
    text-decoration:blink;
    vertical-align:middle;
}
h1
{
    color: #843D99;
    font-size: 24px;
    font-weight: normal;
}
h2.popupH2
{
    background: #B363C6;
    color: #fff;
    font-size: 14px;
    padding: 5px 0 5px 10px;
}
h2.surveyMessage
{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    padding: 15px 20px 15px 20px;
    margin: 8px 0 3px 0;
    /*border: 1px solid #81328e;*/
    background-color: #964E9F;
}
a:link, a:visited
{
    color: #853C98;
    text-decoration: none;
    outline: none;
}
a:hover
{
    color: #FF9000;
}
ul a:active, a:focus
{
    outline: 0;
}
/* to avoid link borders on new browsers */
img
{
    border: none;
}
.clear
{
    clear: both;
}
.needMorePanel h2
{
    background: url('Images/arrow-needmore.gif') right no-repeat;
    color: #9E57AF;
    height: 37px;
    line-height: 37px;
    font-weight: normal;
    font-size: 20px;
}
.popupTitle h3, .socialMediaPanel h3, .questionViewpanel h3, .signUpPanel h3, .LoginNewPanel h3
{
    color: #B765C8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 20px;
}
.socialMediaPanel h3, .loginPanel h3, .signUpPanel h3, .alreadyAccount h3, .favoriteAccountPanel h3, .LoginNewPanel h3, .LoginFavoritePanel h3
{
    background: #F4F4F4;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.loginPanel h3, .alreadyAccount h3, .favoriteAccountPanel h3, .LoginFavoritePanel h3
{
    padding-left: 20px;
}
.questionViewpanel h3
{
    text-transform: none;
    font-weight: 700;
    background: #EBEBEB;
    color: #000;
    padding: 5px 5px 5px 10px;
}
.messagePanel h3, .newSurevyPanel h3
{
    color: #CC21AB;
    font-size: 16px;
    margin: 10px 0 10px 0;
    text-align: center;
}
.popupLeftMenuPanel h4
{
    margin-bottom: 8px;
    font-size: 12px;
}
.popupPreviewBox h4
{
    color: #853C98;
    background: #F8F8F8;
    padding: 10px;
}
a.backLink:link, a.backLink:visited
{
    background: url('Images/icon-back-arrow.gif') left no-repeat;
    padding-left: 20px;
}
a.copyLink:link, a.copyLink:visited
{
    background: url('Images/icon-copy.gif') right no-repeat;
    padding-right: 20px;
}
a.deleteLink:link, a.deleteLink:visited
{
    background: url('Images/icon-delete-active.gif') left no-repeat;
    padding-left: 20px;
}
a.closeLink:link, a.closeLink:visited
{
    background: url('Images/icon-close.gif') left no-repeat;
    padding-left: 20px;
}


a.copyLink-left:link, a.copyLink-left:visited
{
    background: url('Images/icon-copy.gif') 0 0 no-repeat;
}
a.addEmailLink:link, a.addEmailLink:visited
{
    background: url('Images/icon-add-email.gif') left no-repeat;
    padding-left: 20px;
}

a.activeIconLink:link, a.activeIconLink:visited
{
    background: url('Images/icon-active.gif') left no-repeat;
    padding-left: 20px;
}

/* ///// link buttons // /  */
.copyLink-left
{
    background: url('Images/icon-copy.gif') left no-repeat;
    padding-left: 20px;
}
.deleteLink
{
    background: url('Images/icon-delete-active.gif') left no-repeat;
    padding-left: 20px;
}
.closeLink
{
    background: url('Images/icon-close.gif') left no-repeat;
    padding-left: 20px;
}
.activeIconLink
{
    background: url('Images/icon-active.gif') left no-repeat;
    padding-left: 20px;
}
.addEmailLink
{
    background: url('Images/icon-add-email.gif') left no-repeat;
    padding-left: 20px;
}
.printLink
{
    background: url('Images/icon-print.gif') left no-repeat;
    padding-right: 10px;
}



a.moveLink:link, a.moveLink:visited
{
    background: url('Images/icon_move-down.gif') right no-repeat;
    padding-right: 20px;
}
a.helpLink:link, a.helpLink:visited
{
    background: url('Images/icon-help.gif') right no-repeat;
    padding-right: 20px;
}
a.orangeLink:link, a.orangeLink:visited
{
    color: #FF9000;
    font-weight: normal;
    text-decoration: none;
}
a.orangeLink:hover
{
    color: #424242;
}


a.blackLink:link, a.blackLink:visited
{
    text-decoration: none;
    color: #333;
    padding: 0 8px 0 8px;
}
a.blackLink:hover
{
    text-decoration: none;
    color: #ff9900;
}

.popupCloseLink
{
    width: 22px;
    height: 22px;
    background: url('images/icon_close1.gif') no-repeat;
    display: block;
}

.surveyTabHyperLinks
{
    font-size:14px;
}
.surveyTabHyperLinks a.blackLink:link, .surveyTabHyperLinks a.blackLink:visited
{
    text-decoration: none;
    color: #333;
    padding: 0 8px 0 8px;
    font-size:14px;
}
.surveyTabHyperLinks a.blackLink:hover
{
    text-decoration: none;
    color: #ff9900;
}
.surveyTabHyperLinks a.active
{
    font-weight:bold;
    font-size:14px;

}


a.active
{
    font-weight: 700;
    padding: 0 8px 0 8px;
}
a.previewLink:link, a.previewLink:visited, a.printLink:visited, a.printLink:link, a.wordLink:link, a.wordLink:visited
{
    background: url('Images/icon-preview.gif') left no-repeat;
    padding: 0 0 0 18px;
    font-weight: normal;
}

a.printLink:link, a.printLink:visited
{
    background: url('Images/icon-print.gif') left no-repeat;
    padding-right: 10px;
}

a.downloadLink:link, a.downloadLink:visited
{
    background: url('Images/downlaod_icon.png') left no-repeat;
    padding-right: 10px;
}
a.downloadLink1:link, a.downloadLink1:visited
{
    background: url('Images/downlaod_icon.png') left no-repeat;
    padding-left: 20px;
}

a.wordLink:link, a.wordLink:visited
{
    background: url('Images/icon-word-16.gif') left no-repeat;
    padding-right: 10px;
}
a.blueLink:link, a.blueLink:visited
{
    color: blue;
    text-decoration: underline;
}
a.blueLink:hover
{
    text-decoration: none;
}
a.more:link, a.more:visited
{
    color: #CC21AB;
    font-size: 11px;
    text-decoration: underline;
}
a.more:hover
{
    text-decoration: none;
}
.alreadySignIn a:link, .alreadySignIn a:visited
{
    color: #fff;
    padding: 0 0 0 5px;
    font-weight: 700;
    text-decoration: underline;
}
.alreadySignIn a:hover
{
    color: #333;
    text-decoration: none;
}
/*
layout styles
***********************************/
#wrapper
{
    width: 960px;
   /* background: #F5F5F5;*/
    margin: 0 auto 0 auto;
}
.upgradePanel
{
    padding: 10px 0 10px 0;
    margin: 20px 20px 0 20px;
    background: url('Images/upgrade-panel-bgr.jpg') repeat-x;
    border-right: solid 1px #D6C9DA;
    border-bottom: solid 1px #D6C9DA;
}
.upgradeTexPanel
{
    margin: 0 15px 0 10px;
}
.needMorePanel
{
    width: 135px;
    float: left;
}
.upgradeMessagePanel
{
    width: 64%;
    padding-top: 5px;
    float: left;
    margin-left: 10px;
}
.upgradeNowBtnPanel
{
    width: 165px;
    float: right;
    margin-top: 2px;
    text-align: right;
}
.contentPanelHeader
{
    height: 38px;
    background: url('Images/content-header-img.jpg') repeat-x;
     margin: 20px 20px 0 20px;
    border-right: solid 1px #D6C9DA;
    border-bottom: solid 1px #D6C9DA;
}


.upgradeAlertMsgPanel
{
    width: 50%;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
}
.upgradeSubscribePanel
{
    width: 45%;
    float: right;
}
.subscribeText
{
    width: 57%;
    float: left;
    text-align: right;
    padding: 6px 0 0 0;
}

.pageTitle, .faqPagePathway
{
    width: 50%;
    height: 38px;
    padding: 0 0 0 15px;
    line-height: 38px;
    font-size: 12px;
    float: left;
    font-weight:bolder;
}
.pageAnalytics
{
     width: 100%;
    height: 38px;
    padding: 0 0 0 15px;
    line-height: 38px;
    font-size: 12px;
    float: left;
    font-weight:bolder;
}
.faqPagePathway
{

    background: url('Images/content-header-img.jpg') repeat-x;
    border-bottom: solid 1px #D6C9DA;
    width:96%;
    margin:10px 0 0 5px;
}
.faqPagePathway span
{
    color:#000;
}
.pageTitle span
{
    color: #AE1B8E;
}
.pageAnalytics span
{
    color: #AE1B8E;
}
.pageTitle h1
{
    color: #AE1B8E;
    font-size:12px;
}
.pageAnalytics h1
{
    color: #AE1B8E;
    font-size:12px;
}
.previewPanel
{
    width: 37%;
    height: 37px;
    line-height: 37px;
    float: right;
    text-align: right;
    margin: 0 15px 0 0;
}


.contentPanel
{
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    margin: 0 20px 0 20px;
    padding: 0 10px 20px 10px;
    border-right: solid 1px #D6C9DA;
    border-bottom: solid 1px #D6C9DA;
}
.surveyDtlTopPanel
{
    height: 35px;
    margin-bottom: 20px;
    border-bottom: solid 1px #D6C9DA;
}
.surveyDtlTopPanel ul
{
    margin: 0 0 0 -10px;
    padding: 10px 0 0 0;
}
.surveyDtlTopPanel li
{
    color: #888;
    float: left;
    padding: 0 15px 0 15px;
    list-style-type: none;
    border-right: solid 1px #D6C9DA;
}
.surveyDtlTopPanel li span
{
    color: #424242;
    padding-left: 3px;
}
.surveyDtlTopPanel li.noborder
{
    border-right: none;
}

.surveyCreateTextPanel
{
    padding: 15px 10px 10px 10px;
}
.surveyQuestionPanel
{
    width: 640px;
    float: right;
}

.surveyQuestionHeader
{
    background: #F4F4F4;
    height: 40px;
    line-height: 40px;
    padding: 0 5px 0 15px;
}
.surveyQuestionTitle
{
    width: 50%;
    float: left;
    text-transform: uppercase;
    color: #853C98;
    font-size: 14px;
}
/*.surveyQuestionTitle span
{
    background: url('Images/icon-pro.gif') right no-repeat;
    padding-right: 30px;
}*/
.surveyQuestionSubHeader
{
    height: 35px;
    line-height: 35px;
    padding: 0 10px 0 10px;
    border-bottom: solid 1px #E1E1E1;
}
.surveyUrlTextPanel
{
    width: 40%;
    float: left;
}
.surveyUrlCopyPanel
{
    width: 45%;
    float: left;
}
.socialMediaPanel
{
    border: solid 1px #e2e2e2;
    margin: 20px 0 20px 0;
    padding-bottom: 20px;
}
.reorderQuestionPanel
{
    width: 400px;
    height: 200px;
    float: left;
    padding: 5px;
    overflow: scroll;
    border: solid 1px #ccc;
}
.aspPanelScroll
{
    width: 625px;
    height: 200px;
    padding: 5px;
    border: solid 1px #ccc;
}
.aspPanelScroll_AutoHeight
{
    width: 625px;
   padding-bottom: 10px;
    /*border: solid 1px #ccc;*/
    margin:0 0 15px 0;
    /*overflow-y: hidden;*/
}
.horizontalScrollPanel
{
    width: 625px;
    height: 200px;
    float: left;
    padding: 5px;
    overflow: scroll;
    border: solid 1px #ccc;
}

.reorderQuestionPanel p
{
    line-height: 20px;
}
.reorderQuestionPanel p.select
{
    background: #E1EEFA;
    font-weight: 700;
}
.reorderQTopIcons
{
    width: 35%;
    float: left;
}
.reorderQTopIcons div
{
    padding-top: 5px;
    float: right;
}
.reorderQTopIcons div img
{
    margin: 0 7px 0 7px;
}
.qUpDownPanel
{
    width: 50px;
    margin: 80px 0 0 10px;
    float: left;
}
/* survery create left menu styles */
.surveyCreateLeftMenu, .treeMenuLeftPanel
{
    width: 220px;
    float: left;
}
.treeMenuLeftPanel
{
    border-right: solid 1px #eee;
    padding-bottom: 40px;
}
.bottomButtonPanel
{
    margin: 10px 0 10px 0;
}
.bottomButtonPanel div
{
    margin-right: 10px;
    float: left;
}
.bottomButtonPanel img
{
    margin-right: 10px;
}
.themeThumb
{
    width: 200px;
    height: 165px;
    float: left;
    margin: 5px 5px 5px 5px;
    _margin: 5px 4px 5px 4px;
}
.themeThumb img
{
    border: solid 1px #ccc;
    margin-top: 5px;
}
.logoOriginalSize
{
    margin: 10px 0 10px 0;
}
.logoLargeSize
{
    width: 300px;
    height: 120px;
    float: left;
    margin: 0 10px 10px 0;
}
.logoMediumSize
{
    width: 200px;
    height: 120px;
    float: left;
    margin: 0 10px 10px 0;
}

.logoSmallSize
{
    width: 150px;
    height: 80px;
    float: left;
    margin: 0 10px 10px 0;
}
.logoMediumSize p, .logoLargeSize p, .logoSmallSize p, .logoOriginalSize p
{
    border-bottom: solid 1px #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.logoViewPanel
{
    background: #F7F7F7;
    border: solid 1px #D5D5D5;
    padding: 5px 10px 10px 10px;
    width: 160px;
    height: 100px;
    float: left;
    margin-right: 10px;
    color: #7F3193;
}
.logoViewPanel:hover
{
    background: #FDF9E1;
}
.chooseButtonPanel
{
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
    border-bottom: solid 1px #E1E1E1;
}

.chooseButtonPanel h1
{
    text-align: center;
    font-size: 18px;
}
.sampleLogoHeader
{
    /*height: 50px;
    border-bottom: solid 1px #8F4C9A;*/
    margin-bottom: 4px;
}
.logo-view
{
    width: 40%;
    float: left;
    margin: 3px 0 0 3px;
}
.logo-view-right
{
    width: 20%;
    float: right;
    margin: 15px 30px 0 0;
    text-align: right;
}
.logo-view-right span
{
    background: url('Images/icon_pro.png') right no-repeat;
    padding-right: 25px;
}
.exportMailPanel
{
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}
span.exportLabel
{
    font-weight: 700;
    background: url('Images/icon_pro.png') left no-repeat;
    padding-left: 25px;
}



/* question view styels
****************************************/
.questionViewpanel
{
    width: 90%;
    margin: 20px auto 20px auto;
}
.questionIncludePanel
{
    padding-top: 15px;
}

.star
{
    color: #CC21AB;
    text-align: right;
    width: 20px;
    vertical-align: top;
}

.questionNumberPanel, .questionNumberPanel-can
{
    height: 35px;
    margin-bottom: 10px;
    margin-top: 20px;
    background: #F4F4F4;
    border-bottom: solid 1px #D3D3D3;
}
.questionNumberPanel-can
{
    background: none;
    border-bottom: none;
}
.qCan, .qCannot
{
    width: 48px;
    height: 39px;
    float: left;
    background: url('Images/can-img.gif') no-repeat;
}
.qCannot
{
    background: url('Images/cannot-img.gif') no-repeat;
}
.qNumber
{
    float: left;
    padding-top: 8px;
}
.qCan span, .qCannot span
{
    text-align: center;
    font-weight: 700;
    color: #333;
    padding: 5px 0 0 15px;
    width: 40px;
    height: 30px;
    line-height: 30px;
}
.qNumber span
{
    color: #333;
    font-weight: 700;
    text-align: center;
    padding-left: 8px;
}
.qTextPanel, .qTextPanelEdit
{
    width: 90%;
    float: left;
    padding: 8px 0 0 15px;
    font-weight: 700;
    color: #333;
}

.qTextPanelEdit
{
    width: 50%;
    color: #333;
}

.qOptionPanelEdit
{
    border-bottom: none;
}
.surveyEditLeftPanel
{
    width: 48%;
    float: left;
    margin: 20px 0 20px 10px;
    border-right: solid 1px #e2e2e2;
}
.surveyEditRightPanel
{
    width: 48%;
    float: right;
    margin: 20px 10px 20px 0;
}
.newSurevyPanel {
    width: 90%;
    height: 200px;
    padding: 0px;
    text-align: center;
    margin: 0px;
}

.SurveyStepAway {
    float: left;
    width: 100%;
    margin-left: 5%;
}

.stepsPanel
{
    height: 33px;
    line-height: 33px;
    margin: 0 0 5px 0;
    font-weight: 700;
    padding:0 0 0 15px;
    background: url('Images/steps-img.gif') left no-repeat;
}


.stepsPanel .whiteColor
{
    color:#fff;
    padding-right:15px;
}
/* login screen styles
**********************************/
.loginPanel
{
    width: 500px;
    padding: 0 0 20px 0;
    margin: 5% auto 8% auto;
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    border: solid 1px #D6C9DA;
}

.signUpPanel
{
    width: 650px;
    float: left;
    margin: 20px 0 0 20px;
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    padding-bottom: 20px;
    border: solid 1px #D6C9DA;
}
.messagePanel
{
    width: 600px;
    margin: 20px auto 20px auto;
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    border: solid 1px #D6C9DA;
    padding: 20px;
}
.signUpRightPanel
{
    width: 240px;
    float: right;
    margin: 20px 20px 0 0;
}
.alreadyAccount
{
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    border: solid 1px #D6C9DA;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
}
.myProfileLeftPanel
{
    float: left;
    width: 673px;
}

.text
{
    padding: 5px;
}
.signUpFreePanel
{
    width: 58%;
    float: left;
    padding: 5px 0 10px 0;
    margin-top: 10px;
    border-right: dotted 2px #BF92CB;
}
.favoriteAccountPanel
{
    width: 38%;
    float: right;
    margin: 10px 0 0 0;
}
.crCardTypes
{
    margin: 20px 20px 0 20px;
    text-align: center;
}
.crCardTypes img
{
    margin: 0 10px 0 0;
}
.alreadySignIn
{
    width: 30%;
    margin: 12px 20px 0 0;
    float: right;
    text-align: right;
    color: #fff;
}
/* new styles */
.f-smalltxt
{
    font-size: 11px;
    color: #000000;
}

.smllinetext
{
    background: #fff;
    border: solid 1px #CDCDCD;
    height: 14px;
    width: 140px;
    padding: 0 1px 0 1px;
    margin: 1px 0 1px 0;
}
.emailNameAlign
{
    padding-bottom: 10px;
}
.emailbuttonsAlign
{
    padding: 10px;
    text-align: right;
}

/* -------popup styles------ */
.popupBody
{
    background: #fff;
    padding-top: 50px;
}

.respondentBg
{
    background: #fff;
}

.popupHeading
{
    height: 50px;
    line-height: 50px;
    background: #F8F8F8;
    margin-bottom: 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
.popupTitle
{
    width: 70%;
    float: left;
}
.popupClosePanel
{
    width: 5%;
    float: right;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}
.popupContentPanel
{
    margin: 0 20px 20px 20px;
}
.popupTabPanel
{
    background: url('Images/popup-tab-bgr.jpg') #fff bottom repeat-x;
    height: 32px;
    font-size: 11px;
    margin-bottom: 20px;
}
.popupPrintPanel
{
    width: 92%;
    float: left;
    text-align: right;
}
.popupTabPanel span.tabText
{
    padding: 7px 13px 7px 13px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700;
    line-height: 32px;
    font-size: 12px;
    text-align: center;
    border-top: solid 1px #E2E2E2;
    border-right: solid 1px #E2E2E2;
    border-bottom: solid 2px #fff;
    border-left: solid 1px #E2E2E2;
}
.popupLeftMenuPanel
{
    width: 30%;
    float: left;
}
.createQuestionBody
{
    width: 68%;
    float: right;
}
.popupPreviewBox
{
    border: solid 1px #E2E2E2;
    margin: 15px 0 15px 0;
}
.popupPreviewBoxText
{
    margin: 10px;
}
.popupPathway
{
    background: url('Images/pathway_bgr.jpg') repeat-x;
    height: 34px;
}
.questionMainName
{
    background: url('Images/icon-down-arrow.gif') 50% bottom no-repeat;
    height: 34px;
    padding: 0 0 15px 0;
    color: #853C98;
}
.questionHeaderName
{
    height: 30px;
    font-size: 14px;
    color: #853C98;
}
.borderPanel
{
    border: solid 1px #e2e2e2;
    padding: 8px;
    float: left;
    width: 96%;
    margin: 10px 0 10px 0;
}
/*
header styles
***********************************/
#header
{
    background:url('Images/header_bg.jpg') #fff 0 0 repeat-x;
    height: 80px;
}
.insightoLogoPanel
{
    width: 185px;
    float: left;
   margin: 5px 0 0 10px

}
.insightoTagLine
{
    width: 180px;
    height: 60px;
    margin: 10px 0 0 0;
    float: left;
    background: url('Images/insighto-tagline.jpg') no-repeat left;
}
#welcomePanel
{
    width: 100%;
    margin: 5px 5px 0 0;
    float: right;
    text-align: right;
    font-size: 11px;
}
#welcomePanel ul
{
    margin: 0;
    padding: 0;
}
#welcomePanel li
{
    border-right: solid 1px #C1C1C1;
    list-style: none;
    float: left;
    padding: 0 8px 0 8px;
}
#welcomePanel li span
{
    font-weight: normal;
    color: #FF9000;
}
#welcomePanel li span.blackColor
{
    font-weight: normal;
    color: #000;
}
#welcomePanel li.noRightBorder
{
    border-right: none;
}
#welcomePanel li a:link, #welcomePanel a:visited
{
    color: #5A5A5A;
    font-weight: normal;
}
#welcomePanel li a:hover
{
    color: #FF9000;
}

/*
top links
***********************************/
#topLinksPanel
{
    background: #F7F7F7;
    height: 27px;
    border-bottom: solid 1px #DCDCDC;
}
#topLinkNav
{
    width: auto;
    float: right;
    margin: 6px 10px 0 0;
    text-align: right;
}
#topLinkNav ul
{
    margin: 0;
    padding: 0;
}
#topLinkNav li
{
    border-right: solid 1px #C1C1C1;
    list-style: none;
    float: left;
}
#topLinkNav li.noRightBorder
{
    border-right: none;
}
#topLinkNav li a:link, #topLinkNav a:visited
{
    padding: 0 7px 0 7px;
    font-size: 11px;
    color: #5A5A5A;
}
#topLinkNav li a:hover
{
    color: #FF9000;
}


/*
top main menu
***********************************/
#topMainMenu
{
    background:url('Images/top_menu_bgr.jpg') #9D1481 0 0 repeat-x;
    height: 40px;
}
div#topMainLeftLinks
{
    float: left;
    width: 75%;
    margin: 0;
    clear: right;
}
ul#nav, ul#nav li, ul#faqNav, ul#faqNav li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#nav
{
    margin-left: 20px;
}
ul#faqNav
{
    margin-left:0;
}
ul#nav li, ul#faqNav li
{
    float: left;
    margin-right: 3px;
    text-align: center;
    text-transform: uppercase;
}
ul#faqNav li
{
    text-transform:none;
}
ul#nav a, ul#faqNav a
{
    float: left;
    padding: 11px 19px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
ul#faqNav a
{
    color:#95539D;
    padding:16px 19px;
}
ul#nav a:hover
{
    background: #B12895;
    color: #fff;
}
ul#faqNav a:hover
{
    background:#fff;
    color:#95539D;
}
ul#nav li.activelink a, ul#nav li.activelink a:hover, ul#nav li .activelink
{
    background: #B12895;
    color: #FFF;
    font-weight: normal;
    font-weight: 700;
}
ul#faqNav li.activelink a, ul#faqNav li .activelink
{
    background: #fff;
    color: #95539D;
    font-weight: 700;
    border-right:solid 1px #BFBFBF;
    border-left:solid 1px #BFBFBF;
    padding:17px 19px;
}
ul#faqNav>li:first-child a
{
    border-left:none;
}
#topMennuRight
{
    width: 18%;
    float: right;
}

.faqTopMenuPanel
{
    background:url('Images/faq-menu-bgr.jpg') repeat-x;
    border-bottom:solid 1px #BFBFBF;
    height:48px;
}

/* font styles
*********************************** */
.smallFont
{
    font-size: 11px;
}
.rightAlign
{
    text-align: right;
}
.leftAlign
{
    text-align: left;
}
.orangeColor
{
    color: #FF9000;
}

/* grid styles
**************************************/

.button-small-gap
{
    margin: 0 4px 0 4px;
}
.top-small-gap
{
    margin:12px -20px 0 0;
}
.gridTopPanel
{
    padding: 10px 10px 0 10px;
}
.showMorePanel
{
    width: 20%;
    float: left;
    text-align: left;
}
.gridFooterNav
{
    width: 30%;
    float: right;
    margin: 5px 0 0 0;
    text-align: right;
}
.surveysGridPanel
{
    padding: 20px 10px 20px 10px;
}

.headerRwoGray td
{
    color: #853C98;
    background: #F4F4F4;
    padding: 10px 8px 10px 8px;
    border-bottom:solid 1px #D3D3D3;
    font-size: 14px;
}
/*.headerRwoGray td:hover,*/ .rowStyleGray:hover
{
    background:#E5E5E5;
    cursor:default;
}
/*.headerRwoGray td span
{
    background: url('Images/arrow-down-link.gif') 100% 60% no-repeat;
    padding-right: 15px;
}*/
.rowStyleGray td
{
    padding: 10px 8px 10px 8px;
    border-bottom: solid 1px #E1E1E1;
}
.rowStyleGray td span
{
    color: #853C98;
}
.footerRowStyleGray td
{
    padding: 10px 8px 10px 8px;
}
.footerRowStyleGray td a:link, .footerRowStyleGray td a:visited
{
    color: #853C98;
    padding: 3px 5px 3px 5px;
}
.footerRowStyleGray td a:hover
{
    padding: 3px 5px 3px 5px;
    color: #D129B4;
}
.footerRowStyleGray td span
{
    background: #D129B4;
    padding: 3px 5px 3px 5px;
    color: #fff;
}
.surveyActionIcon01
{
    margin-right: 10px;
    float: left;
}
.surveyActionIcon02
{
    float: left;
}
.surveyActionIcon01 img
{
    margin: 0 5px 0 5px;
}
.surveyActionIcon02 img
{
    margin: 0 3px 0 3px;
}
.statusGridPanel
{
    margin: 0 0 20px 0;
    width: 40%;
    float: left;
}
.statusTable
{
    background: #E5E5E5;
}
.nameRow
{
    background: #F4F4F4;
}
.numberRow
{
    background: #FBFBFB;
}

.nameRow, .numberRow, .rowWhite
{
    padding: 3px 5px 3px 5px;
}
.numberRow
{
    text-align: center;
    color: #4964AB;
}
.rowWhite
{
    background: #fff;
}
.rowWhite span
{
    color: #4964AB;
}

/*footer
***********************************/
#footer
{
    height: 65px;
    background: url('Images/footer_bg.jpg') #fff 0 0 repeat-x;
    margin-top: 20px;
}
.copyRights
{
    width: 30%;
    float: left;
    padding-left: 10px;
    padding-top:30px;
}

/* form elements
*************************************/

/* div rows style */
.div_row
{
    margin-bottom: 8px;
}
.div_lbl
{
    width: 150px;
    text-align: right;
    margin: 10px 10px 0 0;
}
.fLt
{
    float: left;
}
.fRt
{
    float: right;
}
.fLt div
{
    margin-bottom: 5px;
}
.div_lbl span
{
    background: url('Images/required.gif') 100% 0 no-repeat;
    padding-right: 5px;
}
.tipDiv
{
    padding-bottom: 5px;
}

/* /// */

fieldset
{
    margin: 20px;
    padding: 10px;
    border: solid 1px #ccc;
}
fieldset legend
{
    margin: 0 20px 0 20px;
    font-weight: 700;
}
.fieldsetCreateSurevy
{
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    border: solid 1px #ccc;
    width: 52%;
}
.fieldsetCreateSurevy legent
{
    margin: 0 20px 0 20px;
    font-weight: 700;
}
.mandatoryPanel
{
    margin: 15px;
    text-align: left;
}
.mandatoryPanel span
{
    background: url('Images/icon-star.gif') top left no-repeat;
    padding-left: 10px;
    font-weight: 700;
}

.listAlpha ul
{
    margin: 0;
    padding: 0;
}
.listAlpha li
{
    list-style-type: lower-alpha;
    padding: 1px 0 1px 0;
    font-size: 11px;
}
.formList ul, .formListSmallWidth ul, .qList ul
{
    margin: 0;
    padding: 0;
}
.formList li, .formListSmallWidth li, .qList li
{
    list-style-type: none;
    margin: 3px 0 3px 0;
    float: left;
    width: 100%;
}
.formList li label, .formListSmallWidth li label, .qList li label
{
    float: left;
    width: 160px;
    text-align: right;
    padding: 3px 10px 3px 0;
    line-height: 28px;
}
.formList li.requiredLi, .formList li.requiredLi label
{
    padding: 0;
    margin: 0;
    float: left;
}
.formList li.requiredLi label
{
    float: left;
    width: 160px;
    text-align: right;
    padding: 1px 10px 0 0;
}
.qList li label
{
    line-height: 15px;
    padding: 2px 10px 2px 0;
    width: 100px;
}
.formListSmallWidth li label
{
    width: 80px;
}
.formList label span, .formListSmallWidth label span, .qList label span
{
    background: url('Images/required.gif') 100% 0 no-repeat;
    padding-right: 5px;
}
.formList li img
{
    margin: 0 2px 0 2px;
}
span.note, .tip
{
    font-size: 11px;
    color: #999;
}
.disclaimer
{
    font-size: 11px;
    color: #999;
}


li.topMargin
{
    margin-top: 10px;
}
.labelLi
{
    line-height: 35px;
}
.formPanel
{
    margin: 0;
    padding: 0;
}

.formPanel label
{
    width: 100%;
    padding: 5px 0 5px 0;
    float: left;
}
.formPanel span
{
    margin: 0 10px 0 0; /* margin:0 10px 0 10px; */
}
.liInsighoIcon ul
{
    margin: 0;
    padding: 0;
}
.liInsighoIcon li
{
    list-style-image: url('Images/icon-tick.gif');
    padding: 3px 0 3px 0;
}
.textBoxMedium, .textBoxTextCount, .textBoxLogin, .textBoxDate, .textBoxDateTime, .textBoxSmall, .textBoxMedium200, .dropDown, .dropDownGrid, .dropdownMedium, .dropdownSmall, .textAreaCommentView, .textAreaMedium, .customTextBox, .dropDown-200, .textArea-200-40, .surveyMessageTextBox, .phoneCountry, .phoneArea, .phoneNumber, .phoneNumber_long, .phoneNum_long, .textBoxSurveyLink, .textBoxSmallValueRight, .launchtextarea, .dropdownSmall2, .textAreaCommentBox, .textBoxRanking, .textBoxDateToTime, .dropDownMedium, .faqSearchTextBox
{
    background: url('Images/text-box-bgr.jpg') #FCFCFC bottom repeat-x;
    border: solid 1px #CDCDCD;
    padding: 5px 3px 6px 3px;
    margin: 3px 0 3px 0;
    font-size: 12px;
}
.faqSearchTextBox
{
    margin:0;
    padding:3px;
    width:158px;
    background#fff;
}
.textBoxDateToTime
{
    width:120px;
}
.textBoxRanking
{
    width:75px;
}
.textAreaCommentBox
{
    width:500px;
    height:75px;
}
.textBoxSmallValueRight
{
    width: 35px;
    text-align: right;
}
.textBoxSurveyLink
{
    width: 92%;
}
.surveyMessageTextBox
{
    width: 99%;
    border: solid 1px #B45EC2;
    background: #fff;
    color: #F77601;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 8px;
    padding: 2px 0 3px 5px;
}
.phoneCountry, .phoneArea
{
    width: 30px;
}
.phoneNumber
{
    width: 75px;
}
.phoneNumber_long
{
    width: 148px;
}
.phoneNum_long
{
    width: 154px;
}
.customTextBox
{
    width: 88px;
}
.textBoxLogin
{
    width: 170px;
}
.textBoxSmall
{
    width: 65px;
}
.textBoxDate
{
    width: 75px;
}
.textBoxDateTime
{
    width: 110px;
}
.textBoxMedium
{
    width: 250px;
}
.launchtextarea
{
    width: 99%;
    height: 130px;
}
.textBoxMedium200
{
    width: 200px;
}
.dropDown, .dropdownSmall, .dropdownMedium, .dropDown-200
{
}
.dropDownGrid
{
    padding: 0;
    height: 20px;
}
.dropDownMedium
{
    min-width:220px;
}
.dropdownMedium
{
    width: 258px;
}
.dropDown-200
{
    width: 200px;
}
.dropdownSmall
{
    width: 150px;
}
.textBoxTextCount
{
    width: 65px;
}
.textAreaCommentView
{
    width: 98%;
    height: 100px;
}
.textAreaMedium
{
    width: 250px;
    height: 85px;
}
.textArea-200-40
{
    width: 200px;
    height: 40px;
}


/* button styles */
/*.btnClear, .btnCreate {
    width:81px;
    height:37px;
    background:url('Images/button_clear.gif') no-repeat;
    border:0;
    margin:0 8px 0 0;
    cursor:pointer;
}
.btnCreate {
    background:url('Images/button_create.gif') no-repeat;
}*/


/*
success and error messages styles
***********************************/

.messagePanelProfile
{
    padding: 10px 10px 0 10px;
}
.informationPanel
{
    background: url('Images/icon-information.gif') #F9FCFE 10px 5px no-repeat;
    padding: 10px 10px 10px 50px;
    text-align: left;
    border: dashed 1px #9DC9EF;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    float: left;
}

.fontSize
{
    color: #1747A9;
    font-size: 12px;
    font-weight: normal;
}

.informationPanelDefault
{
    background: #F9FCFE;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 8px 0 8px 0;
    border: dashed 1px #9DC9EF;
}


.informationPanelDefault div
{
    background: url('Images/icon-information.gif') 10px 0 no-repeat;
    padding: 8px 8px 8px 50px;
    color: #1747A9;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
}
.successPanel
{
    width: 100%;
    background: #FBFCF7;
    border: dashed 1px #B4CE6F;
    text-align: left;
    padding: 8px 0 8px 0;
    margin: 10px 0 10px 0;
}
.successPanel div
{
    background: url('Images/success-icon.gif') 10px 50% no-repeat;
    padding: 8px 8px 8px 45px;
    color: #749E02;
    font-weight: 700;
    font-size: 12px;
}
.errorMessagePanel
{
    width: 100%;
    background: #FEF8F8;
    border: dashed 1px #EF7F80;
    text-align: left;
    padding: 8px 0 8px 0;
    margin: 10px 0 10px 0;
}
.errorMessagePanel div
{
    background: url('Images/irror-icon.gif') 10px 50% no-repeat;
    padding: 8px 8px 8px 50px;
    color: red;
    font-size: 12px;
}
.successMesg
{
    color: blue;
}
.errorMesg
{
    color: red;
}
.errorPanel
{
    text-align: center;
    padding: 10px 0 5px 0;
}
.required-display
{
    display: none;
    color: red;
    padding: 0 0 0 20px;
    background: url('Images/required_red.jpg') 0 -2px no-repeat;
    margin: 0 0 0 5px;
}
.required-asterisk
{
    color: red;
    padding-left: 2px;
}
.confirmationPopup
{
    height: 230px;
}
/* login new styles added */
.LoginNewPanel
{
    width: 500px;
    float: left; /* margin:20px 0 0 20px;*/
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    padding-bottom: 20px;
    border: solid 1px #D6C9DA;
    height: 180px;
}
.LoginFavoritePanel
{
    width: 390px;
    float: right;
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    border: solid 1px #D6C9DA;
    height: 280px; /*margin:20px 20px 0 0; */
}
.facebook_text
{
    padding: 5px 18px 20px 17px;
}

/* InVoiceConfirmation styles added */

.InVoice_messagePanel
{
    width: 700px;
    margin: 20px auto 20px auto;
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    border: solid 1px #D6C9DA;
    padding: 20px;
}
.confirm_middle_pnl
{
    width: 600px;
    margin: auto;
    padding: 5px;
}

.confirm_middle_pnl h2
{
    font-size: 20px;
    font-weight: bold;
    color: #F67803;
    padding: 0;
    margin: 4px 0 10px 0;
}
.center
{
    text-align: center;
}
.confirm_middle_pnl h4
{
    font-size: 14px;
    font-weight: bold;
    color: #49649a;
    padding: 0px;
    margin: 4px 0 4px 0;
    background-image: url(../homeimages/subhead_bg.gif);
    background-repeat: no-repeat;
    line-height: 24px;
}
.confirm_middle_pnl p
{
    padding: 4px 0 4px 0;
    font-size: 13px;
}
.sorry_lbl
{
    font-weight: bold;
    color: #990000;
}
.dropdownSmall2
{
    width: 90px;
}

.RegisterPanel
{
    width: 600px;
    float: left;
    margin: 0px 20px 0px 20px;
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    padding-bottom: 0px;
    border: solid 1px #D6C9DA;
}
.myRegisterPanel
{
    float: left;
    width: 520px;
}


.favorite_columns
{
    width: 40%;
    margin: auto;
    height: 135px;
}

/* button images  */

.dynamicButton, .dynamicButtonGray, .dynamicButtonSmall,.dynamicButtonImg
{
    background: #C424A5;
    text-align: center;
    padding: 10px;
    border: solid 0 #000;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    }
.dynamicButtonSmall
{
    padding:3px 3px 3px 3px;
    font-size:12px;
    margin-left: 0px;
}
.dynamicButtonGray
{
    background: url('Images/dynamic-bgr-gray.jpg') bottom repeat-x;
    color: #853C98;
    border: solid 1px #CFC3D2;
}
.dynamicButtonImg
{
    background: url('Images/upload.png') bottom repeat-x;
    color: #C424A5;
    border: solid 1px #CFC3D2;
    width:25px;
    height:25px;
}
a.dynamicHyperLink:link, a.dynamicHyperLink:visited, a.dynamicHyperLinkGray:link, a.dynamicHyperLinkGray:visited
{
    padding: 8px 10px 8px 10px;
    background: #C424A5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a.dynamicHyperLink:hover
{
    color: #D9D9D9;
}
a.dynamicHyperLinkGray:link, a.dynamicHyperLinkGray:visited
{
    background: #F6F6F6;
    color: #853C98;
    border: solid 1px #CFC3D2;
}
a.dynamicHyperLinkGray:hover
{
    color: #C357C4;
}

a.dynamicmainLink:link, a.dynamicmainLink:visited, a.dynamicmainLinkGray:link, a.dynamicmainLinkGray:visited
{
    padding: 8px 10px 8px 10px;
    background: #C424A5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    word-spacing: 3px;
}
a.dynamicmainLink:hover
{
    color: #D9D9D9;
}

.btn_small
{
    background: white url('Images/btn_small.gif') no-repeat top;
    width: 103px;
    height: 37px;
    text-align: center;
    padding: 10px;
    border: solid 0px #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.btn_Proceed
{
    background: white url('Images/btn_large.gif') no-repeat top;
    width: 100px;
    height: 37px;
    text-align: center;
    padding: 10px;
    border: solid 0px #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.btn_small:hover, .btn_small_65:hover, .btn_small_81:hover, .btn_medium:hover, .btn_medium_117:hover, .btn_medium_177:hover, .btn_large:hover, .btn_go:hover, .dynamicButton:hover, .btn_small_81_new:hover, .btn_small_new:hover, .dynamicButtonSmall:hover
{
    color: #D9D9D9;
}
.dynamicButtonGray:hover
{
    color: #C357C4;
}

.btn_small_65
{
    background: white url('Images/btn_small_65.gif') no-repeat top;
    width: 65px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    text-align: center;
    border: solid 0px #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.btn_small_viewall
{

   background: white url('Images/btn_small_65.gif') no-repeat top;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: bold;
     border: solid 0px #000;
     text-align: center;
      color: #fff;
       font-size: 11px;
       width: 65px;
       line-height: 21px;
       cursor: pointer;
}

.btn_small_81
{
    background: white url('Images/btn_small_81.gif') no-repeat top;
    width: 81px;
    height: 37px;
    text-align: center;
    padding: 10px;
    border: solid 0px #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.btn_medium
{
    background: white url('Images/btn_medium.gif') no-repeat top;
    width: 157px;
    height: 37px;
    text-align: center;
    padding: 10px;
    border: solid 0px #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.btn_medium_177
{
    background: white url('Images/btn_medium_177.gif') no-repeat top;
    width: 177px;
    height: 37px;
    text-align: center;
    padding: 10px;
    border: solid 0px #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.btn_large
{
    background: white url('Images/btn_large.gif') no-repeat top;
    width: 200px;
    height: 37px;
    text-align: center;
    padding: 10px;
    border: solid 0px #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.btn_go
{
    background: white url('Images/btn_go.gif') no-repeat top;
    width: 103px;
    height: 37px;
    text-align: center;
    padding: 10px;
    border: solid 0px #000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.btn_small_gray, .btn_sample_gray_96
{
    background: white url('Images/btn_gray/btn_small_81.gif') no-repeat top;
    width: 81px;
    height: 37px;
    text-align: center;
    padding: 10px;
    border: solid 0px #000;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.btn_sample_gray_96
{
    background: white url('Images/btn_gray/btn_small_96.gif') no-repeat top;
    width: 96px;
}


.btn_small_gray:hover, .btn_sample_gray_96:hover
{
    color: #333;
}

.lblRequired
{
    background: url('Images/required_red.jpg') no-repeat 0 -2px;
    padding-left: 20px;
    color: red;
}
.divVersion
{
    padding: 5px;
    color: #db0000;
    font-size: 12px;
    background-color: #f2f2f2;
    position: absolute;
    font-weight: bold;
}
.requirelbl
{
    background: url('Images/icon-star.gif') 0 0 no-repeat;
    padding-left: 10px;
}
.requirelbl01
{
    background: url('Images/icon-star.gif') 0 40% no-repeat;
    padding-left: 0;
}
.label.fil_lbl
{
    width: 160px;
}


.favoriteImg
{
    background: url('Images/icon-facebook.gif') no-repeat;
    width: 40%;
    padding-left: 40px;
    height: 33px;
    margin-left: 30px;
}
.googleImg
{
    background: url('Images/icon-gmail.gif') no-repeat;
    width: 40%;
    padding-left: 40px;
    height: 33px;
    margin-left: 30px;
}

/*.myprofile_favoriteImg {
    background:url('Images/iconfacebook.gif') no-repeat;
    width:40%;
    padding-left:20px;
    height:15px;
    margin-left:30px}
 .myprofile_googleImg {
    background:url('Images/icongoogle.gif') no-repeat;
    width:40%;
    padding-left:34px;
    height:15px;
    margin-left:30px;

    }*/

#MainContent_hlnkGoogle
{
    background: url('Images/icongoogle.gif') 0 0 no-repeat;
    padding-left: 20px;
}
#MainContent_hlnkFacebook
{
    background: url('Images/iconfacebook.gif') 0 0 no-repeat;
    padding-left: 20px;
}
.lblfacelink
{
    padding: 8px;
    font-weight: bold;
}
.RecaptchaDiv
{
    width: 160px;
    float: left;
    text-align: right;
}
.RecaptchaControl
{
    float: left;
    padding-left: 5px;
}

.defaultHeight
{
    height: 10px;
}
.defaultHeight8px
{
    height: 8px;
}
.defaultH
{
    height: 25px;
}
/* require control styles */

.requireLi Label
{
    background: url('Images/required.gif') 96% 0 no-repeat;
    padding-right: 5px;
}

/* Hyerlink with background image styles */
ul.HyperlinkBtn
{
    background: url('Images/btn_medium.gif') no-repeat top;
    width: 157px;
    height: 37px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    border: solid 0px #000;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin: 0px;
}
ul.HyperlinkBtn li
{
    list-style-type: none;
    margin: 0px;
    padding-top: 10px;
}
ul.HyperlinkBtn li a
{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
ul.HyperlinkBtn li a:hover
{
    color: #D9D9D9;
}

/* add image */
.addbtn_small
{
    background: white url('Images/add_btnimg.gif') no-repeat top;
    width: 163px;
    height: 37px;
    text-align: left;
    padding: 10px 10px 10px 35px;
    border: solid 0px #000;
    color: #A91C8C;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.addbtn_small:hover
{
    color: #CD4BB4;
}
.Prelaunch_small
{
    background: white url('Images/add_btnimg.gif') no-repeat top;
    width: 163px;
    height: 37px;
    text-align: left;
    padding: 9px 10px 10px 33px;
    border: solid 0px #000;
    color: #853C98;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.Prelaunch:hover
{
    color: #A91C8C;
}

/* recaptcha styles */

#recaptcha_table input
{
    display: block;
    border: solid 1px #f20000;
}
div.recaptcha_input_area span
{
    background-image: none;
}
.form-field *
{
    vertical-align: middle;
}

.formList li.requiredLi .radioButtons label
{
    vertical-align: top;
    text-align: left;
    margin: 0px;
    padding: 0px;
    width: 120px;
}


/* AddnewQuestion styles added */
.RemoveIcon
{
    background: white url('Images/menu-icon3.gif') no-repeat top;
    width: 16px;
    height: 16px;
    border: solid 0px #000;
    cursor: pointer;
}
.addedIcon
{
    background: white url('Images/icon-plus.gif') no-repeat top;
    width: 15px;
    height: 15px;
    border: solid 0px #000;
    cursor: pointer;
    outline: none;
}
.searchBtnPlus, .searchBtnMinus
{
    background: white url('Images/search-plus.gif') no-repeat top;
    width: 15px;
    height: 15px;
    border: solid 0px #000;
    cursor: pointer;
    outline: none;
}
.searchBtnMinus
{
    background: white url('Images/search-minus.gif') no-repeat top;
}

.spacepanel
{
    width: 10px;
    text-align: center;
}
.itempanel
{
    width: 100%;
    clear: both;
}

#modalFrame
{
    overflow-x: hidden;
}


#ContentPlaceHolder1_dvchkRandomAnswer
{
    float: left;
}
#ContentPlaceHolder1_dvchkPageBreak
{
    float: left;
}

#ContentPlaceHolder1_dvchkResponseRequired
{
    float: left;
}


/* My Profile styles */

.textalignleft
{
    text-align: left !important;
    margin: 0px;
    padding: 0px;
}

.MoveSurveysIcon
{
    background: url('Images/icon_move-down.gif') no-repeat right;
    border: none;
    color: #CC21AB;
    font-size: 12px;
    cursor: pointer;
    float: right;
    text-align: right;
    margin: 0px;
    padding: 0px 18px 0 0;
}

.div_pnl_leftcolumn
{
    width: 50%;
    float: left;
}
.div_pnl_rightcolumn
{
}

td.skiplogicheaderRwoGray span
{
    background: none;
}
.maxWid
{
    width: 70%;
}
.minWid
{
    width: 40%;
}
.listboxpnl
{
    height: 206px;
    width: 620px;
    border: solid 1px #ccc;
    background-color: #fff;
}
.copylistboxpnl
{
    border: solid 0px #ccc;
    background-color: #fff;
    /*height: 218px;*/
    height:100%;
}
.listboxDiv
{
    border: solid 1px #ccc;
    background-color: #fff;
    overflow: auto;
    height: 218px;
    width: 620px;
}
.reorder_upimg, .reorder_upimg_off
{
    background: url('Images/form_reorder_up.gif') no-repeat;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.reorder_upimg_off
{
    background: url('Images/form_reorder_up_off.gif') no-repeat;
    cursor: default;
}
.reorder_downimg, .reorder_downimg_off
{
    background: url('Images/form_reorder_down.gif') no-repeat;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.reorder_downimg_off
{
    background: url('Images/form_reorder_down_off.gif') no-repeat;
    cursor: default;
}

/* icon images styles */
span.surveyIconslinks
{
    margin-top: 8px;
    display: block;
}
a.icon_select:link, a.icon_select:visited, a.icon_select:active
{
    background: url('Images/icon-select.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: block;
    height: 16px;
}
a.icon-copy:link, a.icon-copy:visited, a.icon-copy:active
{
    background: url('Images/icon-copy.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: block;
    height: 16px;
}
a.icon-plus:link, a.icon-plus:visited, a.icon-plus:active
{
    background: url('Images/icon-plus.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: block;
    height: 16px;
}

.icon-delete
{
    background: url('Images/icon-delete.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 15px;
    display: block;
    height: 15px;
}
.surveyIntro
{
    margin: 10px 0px 10px 10px;
}

/* contactinfo */

.contactinfo_lt
{
    width: 30px;
    float: left;
    padding-top: 5px;
}

.contactinfomandatory_lt
{
    width: 126px;
    float: left;
    padding-top: 5px;
}

.contactinfo_rt
{
    width: 270px;
    float: left;
}
.contactinfo_man
{
    width: 126px;
    float: left;
    padding-top: 5px;
}
.icon-clock-off
{
    background: url('Images/icon-clock-off.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
}

a.icon-pen-active:link, a.icon-pen-active:visited, a.icon-pen-active:active
{
    background: url('Images/icon-pen-active.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: inline-block;
    height: 16px;
}
a.icon-pen-off:link, a.icon-pen-off:visited, a.icon-pen-off:active
{
    background: url('Images/icon-pen-off.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: inline-block;
    height: 16px;
}
a.icon-tv-active:link, a.icon-tv-active:visited, a.icon-tv-active:active
{
    background: url('Images/icon-tv-active.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: inline-block;
    height: 16px;
}
a.icon-delete-active:link, a.icon-delete-active:visited, a.icon-delete-active:active
{
    background: url('Images/icon-delete-active.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: inline-block;
    height: 16px;
}
a.icon-graph-active:link, a.icon-graph-active:visited, a.icon-graph-active:active
{
    background: url('Images/icon-graph-active.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: inline-block;
    height: 16px;
}
a.icon-clock-active:link, a.icon-clock-active:visited, a.icon-clock-active:active
{
    background: url('Images/icon-clock-active.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: inline-block;
    height: 16px;
}
a.icon-clock-off:link, a.icon-clock-off:visited, a.icon-clock-off:active
{
    background: url('Images/icon-clock-off.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: inline-block;
    height: 16px;
}
a.icon-survey-close:link, a.icon-survey-close:visited, a.icon-survey-close:active
{
    background: url('Images/icon-survey-close.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: inline-block;
    height: 16px;
}
a.icon-survey-draft:link, a.icon-survey-draft:visited, a.icon-survey-draft:active
{
    background: url('Images/icon-survey-draft.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    display: inline-block;
    height: 16px;
}

.SurLastpage_Panel
{
    width: 98%;
    margin: 20px auto 20px auto;
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    border: solid 1px #D6C9DA;
    padding: 20px;
}



.LaunchcontentPanel
{
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    margin: 0 20px 0 20px;
    padding: 0 0px 20px 0px;
    border-right: solid 1px #D6C9DA;
    border-bottom: solid 1px #D6C9DA;
}
.LaunchConfirmation h3
{
    color: #B765C8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 20px;
}
.LaunchConfirmation h3
{
    background: #F4F4F4;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.LaunchConfirmation
{
    border: solid 0px #e2e2e2;
    margin: 20px 0 20px 0;
    padding-bottom: 20px;
}
.LaunchConfirmation p.launchlbl
{
    padding: 20px 20px 0 20px;
}



.btn_add_quetion
{
    background: white url('Images/btn_add_quetion.gif') no-repeat top;
    width: 163px;
    height: 37px;
    text-align: center;
    padding: 10px 5px 0 0;
    border: solid 0px #000;
    color: #853C98;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.btn_Restore
{
    background: white url('Images/btn_add_quetion_sml.gif') no-repeat top;
    width: 143px;
    height: 37px;
    text-align: center;
    padding: 0px 0px 0 24px;
    border: solid 0px #000;
    color: #853C98;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.btn_add_quetion_sml
{
    background: white url('Images/btn_add_quetion_sml.gif') no-repeat top;
    width: 143px;
    height: 37px;
    text-align: center;
    padding: 10px 0px 0 20px;
    border: solid 0px #000;
    color: #853C98;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.hyperlink_add_quetion
{
    background: white url('Images/btn_add_quetion_sml.gif') no-repeat top;
    width: 130px;
    height: 28px;
    text-align: center;
    padding: 10px 0px 0 15px;
    border: solid 0px #000;
    color: #853C98;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.hyperlink_add_column
{
    background: white url('Images/btn_add_quetion.gif') no-repeat top;
    width: 160px;
    height: 28px;
    text-align: center;
    padding: 10px 0px 0 20px;
    border: solid 0px #000;
    color: #853C98;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}


/* ////// tree menu styles /////////// */
.leafNode
{
    /*background:url('images/arrow-right.gif') left top no-repeat;*/
    margin-left: -21px;
}

.leafNode a:link, .leafNode a:visited
{
    background: url('images/arrow-right.gif') 0 50% no-repeat;
    margin-left: 0px;
    padding-left: 15px;
    display: block;
}
.leafNode a.active, .adminleafNode a.active {font-weight:normal; color:#FF9000;}
.adminleafNode
{
    /*background:url('images/arrow-right.gif') left top no-repeat;*/
}

.adminleafNode a:link, .adminleafNode a:visited
{
    background: url('images/arrow-right.gif') left no-repeat;
    margin-left: 0px;
    padding-left: 18px;
    display: block;
}



.dxbButton
{
    background: url('images/dynamic-btn-bgr.jpg') #B21B93 repeat-x top;
    text-align: center;
    border: solid 0px #000;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 11px;
}

.launchStatusPanel
{
    border-bottom: solid 1px #D6C9DA;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
ul.launchStatusUL
{
    margin: 0;
    padding: 0;
}
.launchStatusUL li
{
    border-right: solid 1px #ccc;
    padding: 0 10px 0 10px;
    display: block;
    width: auto;
    float: left;
    color: #999;
    text-align: left;
}
.launchStatusUL li span
{
    color: #853C98;
}
.launchStatusUL li span:hover
{
    color:#ff9000;
}
.launchStatusUL li.noborder
{
    border-right: none;
}
.lblLaunchStatus
{
    padding: 0 10px 0 0;
    border: solid 1px red;
}

/* new styles IE6 added */

.marginNewPanel
{
    margin: 20px 0 0 20px;
}
.paddingNPanel
{
    margin: 20px 20px 0 0;
}
.reqlbl
{
    padding-left: 170px;
    display: block;
}
.reqlbl01
{
    padding-left: 100px;
    display: block;
}
.reqlbl02
{
    padding-left: 140px;
    display: block;
}
.loginlbl
{
    width: 160px;
    text-align: right;
    padding: 3px 10px 3px 0;
    line-height: 28px;
    float: left;
}
.loginControls
{
    float: left;
}
.con_login_pnl
{
    width: 100%;
    clear: both;
}
.btmpadding
{
    padding-bottom: 4px;
}

.marginTopPanel
{
    margin: 20px 0 0 20px;
}

.signUpPnl
{
    width: 650px;
    float: left;
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    padding-bottom: 20px;
    border: solid 1px #D6C9DA;
}
.signUpPnl h3
{
    color: #B765C8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 20px;
}
.signUpPnl h1
{
    color: #B765C8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 20px;
}
.signUpPnl h2
{
    color: #B765C8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 20px;
}

/*For why insighto*/
.whyInsightoPnl
{
   width:100%;
    float: left;
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    padding-bottom: 20px;
    border: solid 1px #D6C9DA;
}
.whyInsightoPnl h3
{
    color: #B765C8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 20px;
}
.whyInsightoPnl h1
{
    color: #B765C8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 20px;
}
.whyInsightoPnl h2
{
    color: #B765C8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 20px;
}
.whyInsightoPnl h2
{
    background: #F4F4F4;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
/*done*/
.signbg
{
    background: #F4F4F4;
    font-weight: normal;
    text-align: right;
    padding-right: 10px;
}

.signUpPnl h3
{
    background: #F4F4F4;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.signUpPnl h1
{
    background: #F4F4F4;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.signUpPnl h2
{
    background: #F4F4F4;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.signUpPnlRight
{
    width: 240px;
    float: right;
}

.wid_30
{
    width: 30%;
    text-align: right;
}
.wid_70
{
    width: 70%;
}
.wid_40
{
    width: 40%;
}
.manageloginpnl
{
    width: 94%;
    margin: 10px auto 0 auto;
}

.wid350
{
    width: 350px;
    float: left;
}
.forgotpanel
{
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.customTextPanel
{
    width: 318px;
    /*height: 203px;*/
    /*background: url('Images/customeText-bgr.gif') no-repeat;*/
    float: right;
    margin-right:15px;
}
.customTextPanel .defaultHeight
{
    height: 5px;
}
#surveyLastPageContainer .customTextPanel
{
    width: 98%;
    height: 287px; /*background:url('Images/customeText-bgr-large.gif') no-repeat;*/
    background: #F2F2D4;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: right;
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
}
.customTextPanel div
{
    padding: 0;
}
.customTextPanel h6
{
    font-size: 16px;
    font-weight: bold;
    color: #9a4ba6;
    padding: 5px 0 5px 0;
}
.customFooterLeft
{
    width: 68%;
    text-align: right;
}
.customFooterRight
{
    width: 32%;
    text-align: right;
}
#surveyLastPageContainer .customTextPanel h6
{
    font-size: 18px;
}
#surveyLastPageContainer .customFooterLeft
{
    width: 62%;
    text-align: right;
}
#surveyLastPageContainer .customFooterRight
{
    width: 38%;
    text-align: right;
}
.customTextFooter
{
    border-top: solid 1px #818181;
    padding: 10px 0 10px 0;
    margin-top: 10px;
}
.customTextFooter a:link, .customTextFooter a:visited
{
    font-size: 10px;
    padding: 0 3px 0 3px;
    color: #858587;
    text-decoration: underline;
}
.customTextFooter a:hover
{
    color: #333;
    text-decoration: underline;
}
.thankyouPageBgr
{
    background:url('Images/thankyou-bgr.jpg') #fff top repeat-x;
}
.profileAccount
{
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    border: solid 1px #D6C9DA;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
}
.profileAccount h3
{
    background: #F4F4F4;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.profileAccount h3
{
    padding-left: 20px;
}

.lbl_rgt
{
    padding-right: 10px;
}
.btn_medium_117
{
    background: white url('Images/btn_medium_117.gif') no-repeat top;
    width: 120px;
    height: 37px;
    text-align: center;
    padding: 10px;
    border: solid 0px #000;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.manageLinks a:link, .manageLinks a:visited, .copyLink-left, .deleteLink, .closeLink, .activeIconLink, .addEmailLink, .printLink
{
    padding: 0 25px 1px 25px;
}
.surveyUrlPanel
{
    padding: 8px 0 8px 0;
    text-align: right;
}

.spacewid
{
    margin-top: -5px;
}
.space
{
    width: 5px;
}
.lt_padding
{
    padding-left: 10px;
}

.top_padding
{
    padding-top: 5px;
}

.wid_80
{
    width: 80%;
    vertical-align: top;
}
.wid_20
{
    width: 20%;
    vertical-align: top;
}
.spacepad
{
    margin-top: -7px;
}
.top_space_pnl
{
    margin-top: -4px;
}

.btnbg
{
    background-color: #C5C5C5;
    text-align: center;
    padding: 5px;
    border: solid 1px #333;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

.google-display
{
    display: none;
    color: red;
    padding: 0 0 0 20px;
    background: url('Images/icongoogle.gif') 0 -2px no-repeat;
    margin: 0 0 0 5px;
}
.facebook-display
{
    display: none;
    color: red;
    padding: 0 0 0 20px;
    background: url('Images/iconfacebook.gif') 0 -2px no-repeat;
    margin: 0 0 0 5px;
}

.left_requirelbl
{
    background: url('Images/icon-star.gif') top left no-repeat;
    padding-left: 10px;
    font-weight: bold;
}
.lbl_padding
{
    padding: 0px 10px 0px 10px;
}
.lbl_wid_pad
{
    font-weight: bold;
    color: #843D99;
    font-size: 13px;
    padding-right: 5px;
}

/*********** New classes added by srikanth on sept 14 for my accounts page  **********/

a.icon-Edit-active:link, a.icon-Edit-active:visited, a.icon-Edit-active:active
{
    background: url('Images/icon-pen-active.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-Edit-off:link, a.icon-Edit-off:visited, a.icon-Edit-off:active
{
    background: url('Images/icon-pen-off.gif') no-repeat !important;
    border: none;
    cursor: default;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-View-active:link, a.icon-View-active:visited, a.icon-View-active:active
{
    background: url('Images/icon-tv-active.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-Del-active:link, a.icon-Del-active:visited, a.icon-Del-active:active
{
    background: url('Images/icon-delete-active.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-Close-active:link, a.icon-Close-active:visited, a.icon-Close-active:active
{
    background: url('Images/icon-close.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}

a.icon-Del-off:link, a.icon-Del-off:visited, a.icon-Del-off:active
{
    background: url('Images/icon-delete-off.gif') no-repeat !important;
    border: none;
    cursor: default;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-Reports-active:link, a.icon-Reports-active:visited, a.icon-Reports-active:active
{
    background: url('Images/icon-graph-active.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-Reports-off:link, a.icon-Reports-off:visited, a.icon-Reports-off:active
{
    background: url('Images/icon-graph-off.gif') no-repeat !important;
    border: none;
    cursor: default;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-Remainder-active:link, a.icon-Remainder-active:visited, a.icon-Remainder-active:active
{
    background: url('Images/icon-clock-active.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-Remainder-off:link, a.icon-Remainder-off:visited, a.icon-Remainder-off:active
{
    background: url('Images/icon-clock-off.gif') no-repeat !important;
    border: none;
    cursor: default;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-Launch-close:link, a.icon-Launch-close:visited, a.icon-Launch-close:active
{
    background: url('Images/icon-survey-close.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-Launch-close-off:link, a.icon-Launch-close-off:visited, a.icon-Launch-close-off:active
{
    background: url('Images/icon-survey-close-off.gif') no-repeat !important;
    border: none;
    cursor: default;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-Activate-draft:link, a.icon-Activate-draft:visited, a.icon-Activate-draft:active
{
    background: url('Images/icon-survey-draft.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-Activate-draft-off:link, a.icon-Activate-draft-off:visited, a.icon-Activate-draft-off:active
{
    background: url('Images/icon-survey-draft-off.gif') no-repeat !important;
    border: none;
    cursor: default;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}
a.icon-print-active:link, a.icon-print-active:visited, a.icon-print-active:active
{
    background: url('Images/icon-print.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
}

a.icon-delete-inactive
{
    background: url('Images/icon-delete-off.gif') no-repeat !important;
    border: none;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
    cursor: default;
}

a.icon-add-inactive:link, a.icon-add-inactive:visited, a.icon-add-inactive:active
{
    background: url('Images/icon_plus_inactive.gif') no-repeat !important;
    border: none;
    width: 17px;
    height: 16px;
    display: block;
    float: left;
    cursor: default;
}


a.icon-skip-inactive:link, a.icon-skip-inactive:visited, a.icon-skip-inactive:active
{
    background: url('Images/form_button_skip_inactive.gif') no-repeat !important;
    border: none;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    cursor: default;
}

a.icon-copy-inactive:link, a.icon-copy-inactive:visited, a.icon-copy-inactive:active
{
    background: url('Images/icon-copy_inactive.gif') no-repeat !important;
    border: none;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    cursor: default;
}


span.quesIconslinks
{
    float: left;
    display: block;
    margin-right: 4px;
    margin-left: 4px;
}

.icon-pageBreak-normal
{
    background: url('Images/icon-pagebreak.gif') no-repeat !important;
    border: none;
    cursor: default;
    width: 15px;
    height: 15px;
    display: block;
}

.icon-pageBreak-skip-yes
{
    background: url('Images/icon-pagebreak-skip-yes.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
}
.icon-pageBreak-skip-no
{
    background: url('Images/icon-pagebreak-skip-no.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
}

.icon-pageBreak-blue
{
    background: url('Images/icon-pagebreak-blue.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
}

.icon-pageBreak-red
{
    background: url('Images/icon-pagebreak-red.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
}

.icon-skipLogic-normal
{
    background: url('Images/form_button_skip_notapplied.gif') no-repeat !important;
    border: none;
    cursor: default;
    width: 15px;
    height: 15px;
    display: block;
}

.icon-skipLogic-red
{
    background: url('Images/form_button_skip-red.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
}

.icon-skipLogic-blue
{
    background: url('Images/form_button_skip.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
}

.icon-response-normal
{
    background: url('Images/icon_response_gray.gif') no-repeat !important;
    border: none;
    cursor: default;
    width: 15px;
    height: 15px;
    display: block;
}

.icon-response-red
{
    background: url('Images/icon_response_red.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
}

.icon-response-blue
{
    background: url('Images/icon_response_blue.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
}


.previewPanelQues
{
    height: 37px;
    float: right;
    text-align: right;
    margin: 0 15px 0 0;
}

.icon-record
{
    background: url('Images/icon-reorder.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: block;
}

.icon-Template
{
    background: url('Images/icon-template.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: block;
}

.icon-Copy
{
    background: url('Images/icon-copy.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: block;
}

.mt_12
{
    margin-top: 12px;
}

.mt_10
{
    margin-top: 10px;
}

.mr_20
{
    margin-right: 20px !important;
}

a.helpLink1:link, a.helpLink1:visited
{
    background: url('Images/icon-help.gif') no-repeat;
    padding-right: 20px;
}

a.helpLink2:link, a.helpLink2:visited
{
    background: url('Images/icon-help.gif') no-repeat;
    height: 16px;
    width: 16px;
    float: left;
}
.surveyHelpIcon
{
    margin-top: 12px;
}
.CreateGridPanelPad
{
    padding: 0px 10px 20px 10px;
}
.surveysGridPanelPad
{
    padding: 10px 10px 20px 10px;
}
.defaultPad
{
    padding: 10px 10px 0 10px;
}
.leftPad_0
{
    padding:10px 10px 5px 0;
}
a.gridHyperLink:link, a:gridHyperlink:active, a.gridHyperLink:visited
{
    text-decoration: underline;
    cursor: pointer;
}
.addbtn_sml
{
    background: white url('Images/add_btnimg.gif') no-repeat top;
    width: 163px;
    height: 37px;
    text-align: left;
    padding: 10px 10px 10px 45px;
    border: solid 0px #000;
    color: #A91C8C;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.addbtn_sml:hover
{
    color: #CD4BB4;
}

.lt_pad_20
{
    padding-left: 20px;
}

.lt_pad_30
{
    padding-left: 30px;
}
.launchConfirmationText
{
    margin: 0 0 10px 0;
}
.launchConfirmationText a:link, .launchConfirmationText a:visited
{
    color: Blue;
    text-decoration: underline;
}
.launchConfirmationText a:hover
{
    color: #E96F02;
    text-decoration: none;
}
.btn_go_img
{
    background: white url('Images/button_go.gif') no-repeat top;
    width: 30px;
    height: 30px;
    border: solid 0px #000;
    cursor: pointer;
    margin: 10px;
}
/* term and conditions */

.termsbody
{
    background-color: #ffffff;
}
.termControls
{
    width: 900px;
    margin: auto;
}
.termbdr
{
    border-top: solid 3px #AF7BB7;
    height: 3px;
}

h2.termtitle
{
    font-size: 14px;
    color: #F67803;
    font-weight: 700;
    padding: 3px 0 3px 10px;
    margin: 8px 0 8px 0;
    border: 1px solid #81328e;
    background-color: #ffffff;
}
.termbtm_bdr
{
    border-bottom: solid 1px #818181;
}
.term_bottom_links
{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.copytxt
{
    color: #999;
}

.term_left_pnl
{
    width: 68%;
    float: left;
}
.term_right_pnl
{
    width: 30%;
    float: left;
}
.term_right_panel
{
    width: 25%;
    float: right;
    text-align: right;
    padding-right: 10px;
}
.vtop
{
    vertical-align: top;
}
.term_top_border
{
    height: 5px;
    background-color: #AF7BB7;
}
.termwid
{
    width: 73%;
}

h4.subheading
{
    background-image: url("Images/subhead_bg.gif");
    background-repeat: no-repeat;
    color: #49649A;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    padding-bottom: 0;
    padding-left: 28px;
    padding-right: 0;
    padding-top: 0;
}
.arrow_lbl
{
    background: url('Images/arrow-right.gif') left no-repeat;
    padding-left: 20px;
    margin: 5px;
}


.createQuestionBody_Cln
{
    width: 96%;
}
.p_rgt
{
    padding-right: 5px;
}

.PageNotFound
{
    width: 560px;
    margin: auto;
    background: #D0D0D0;
    text-align: left;
    font-family: lucida grande, verdana;
    font-size: 12px;
}

.shadow
{
    display: block;
    padding: 25px;
    background: #fff;
    border: dashed 1px #db0000;
}
.lt_aln
{
    width: 30%;
    padding-left: 10px;
    float: left;
}
.rt_aln
{
    width: 70%;
    float: right;
    padding-right: 10px;
    text-align: right;
}



.reportheaderGray th
{
    color: #853C98;
    background: #F4F4F4;
    padding: 10px 4px 10px 3px;
    font-size: 13px;
    font-weight: normal;
    border-bottom: solid 1px #E1E1E1;
}

.reportrowGray td
{
    padding: 10px 4px 10px 3px;
    border-bottom: solid 1px #E1E1E1;
}

.gridTopMenuPanel
{
    margin-bottom: 20px;
}

.labelBar
{
    width: 100%;
}

.lblLeftPanel
{
    float: left;
    margin-top: 20px;
}

.btnRightPanel
{
    float: right;
    margin: 10px 0;
}


.btn_small_81_new
{
    background: white url('Images/btn_small_81.gif') no-repeat top;
    width: 81px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    display: block;
    float: left;
    border: solid 0px #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}

.btn_small_new
{
    background: white url('Images/btn_small.gif') no-repeat top;
    width: 103px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    display: block;
    float: left;
    border: solid 0px #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.addbtn_sml_new
{
    background: white url('Images/add_btnimg.gif') no-repeat top;
    width: 163px;
    height: 37px;
    line-height: 37px;
    text-align: left;
    display: block;
    float: left;
    border: solid 0px #000;
    color: #A91C8C;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}

.addbtn_sml_new:hover
{
    color: #CD4BB4;
}

.pl
{
    padding-left: 35px;
}

.sectionHead
{
    background: #EEE;
    padding: 10px;
    font-weight: bold;
    color: #843D99;
}

.addnewEmailBody
{
    margin: 15px 0 20px 0;
}

.leftlbl
{
    float: left;
}

.rightlbl
{
    float: left;
}
.wid_98
{
    width: 99%;
    margin: auto;
}
.forgotlbl
{
    width: 160px;
    text-align: right;
    padding: 0px 10px 5px 0;
    line-height: 25px;
    float: left;
}
.icon-tick-content
{
    background: url('Images/icon-tick.gif') left no-repeat;
    padding: 3px 0 3px 25px;
}
.lt_pad
{
    padding-left: 3px;
}

.req_middle
{
    margin-top: 0px;
    vertical-align: top;
    padding-top: 40PX;
    float: right;
}
.smlfont
{
    font-size: 11px;
}
.wid_10
{
    width: 10%;
}
.wid_30_left
{
    width: 30%;
    text-align: left;
}
.surveypage_lbl
{
    color: #fff;
    border: solid 1px #ccc;
    font-weight: 700;
    margin-bottom: 3px;
    padding: 5px;
    background-color: #BF92CB;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.editSLaunch
{
    width: 20px;
    vertical-align: middle;
    text-align: center;
}


.quation_btn_pnl
{
    background: #F4F4F4;
    width: 30%;
    text-align: center;
}
/*.ui-datepicker-trigger
{
    margin-left: 5px;
    padding-top: 5px;
    display: block;
    float: right;
}*/
.ui-datepicker-trigger
{
    margin-left: 5px;
    padding-top: 5px;
    display: block;
    float: right;
}

.add_menu_header_active
{
    background-color: #BC8EC6;
    color: #fff;
    padding: 6px;
    text-transform: uppercase;
    border-bottom: solid 1px #e2e2e2;
}

.add_menu_header_gray
{
    background: url('Images/arrow-down-link.gif') #f4f4f4 98% 10px no-repeat;
    color: #853C98;
    padding: 6px;
    text-transform: uppercase;
    border-bottom: solid 1px #e2e2e2;
}


.create_btn_aln
{
    width: 100%;
    clear: both;
}

.CreateEmailPad
{
    margin: 0px;
    padding: 0 0px 10px 0px;
    border: solid 0px #999;
}
.row_def_height
{
    height: 4px;
}
.email_back_pnl
{
    float: right;
    margin-top: 18px;
}
.staticwidth
{
    width: 100px;
}
.wid_90
{
    width: 90px;
}

.downloadButton
{
    background: url('Images/downlaod_icon.png') left no-repeat;
    width: 80px;
    height: 30px;
    border: none;
    cursor: pointer;
    color: #853C98;
    margin-left: 5px;
    font-size: 13px;
}
.downloadButton:hover
{
    color: #FF9000;
}
.btn_pad_createbtn
{
    padding-left: 161px;
}

#tblJobKits a, #tblAddressBook a
{
    text-decoration: underline;
}

.icon-pen-active
{
    background: url('Images/icon-pen-active.gif') no-repeat !important;
    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
}
.prelaunchbtn
{
    width: 100%;
    text-align: right;
}

.prelaunchbackbtn
{
    background: white url('Images/btn_prelaunchback.gif') no-repeat;
    width: 190px;
    height: 30px;
    padding-left: 25px;
    border: none;
    color: #853C98;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.prelaunchcheckbg
{
    background: white url('Images/prelaunchcheckbg.gif') no-repeat;
    width: 155px;
    height: 37px;
    padding: 0px 0px 0 20px;
    border: solid 0px #000;
    color: #fff;
    font-weight: bold;
}
.pre_rgt_pad
{
    text-align: right;
    padding: 3px 20px;
}

.rightAlignselect
{
    text-align: right;
    float: right;
    padding-right: 10px;
}
.backbgbtn
{
    background: white url('Images/btn_backbg.gif') no-repeat;
    width: 83px;
    height: 30px;
    padding: 0px 0px 0 18px;
    border: solid 0px #000;
    color: #853C98;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.mesgleftAlign
{
    text-align: left;
    width: 24%;
}

.backbglink
{
    background: url('Images/btn_backbg1.gif') no-repeat bottom;
    width: 83px;
    height: 30px;
    border: solid 0px #000;
    color: #853C98;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    padding-right: 30px;
    cursor: pointer;
    outline: none;
}
.questionAlign
{
    text-align: right;
    padding-right: 10px;
}
.informationControl
{
    background: url('Images/icon-information1.gif') #F9FCFE 5px 5px no-repeat;
    padding: 0 10px 0 20px;
    text-align: left;
    border: dashed 1px #9DC9EF;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    float: left;
}
.nolisticon
{
    list-style-type: none;
}

.chkboxbdr
{
    border: solid 0px;
    padding: 0px;
    margin: 0px;
}
.noteText
{
    color: #666;
}

.helpdiv
{
    float: left;
    margin-top: 15px;
}

/******************* Added by srikanth for mobile compatability on 13/10 **************/

.surveyRespondQuestionPanel
{
    margin-top: 10px;
    padding: 8px 0 8px 0;
    background: #F4F4F4;
    border-bottom: solid 1px #D3D3D3;
}




.ResondLbl
{
    margin-top: 10px;
    padding-left: 0;

}



.redText
{
    color: Red;
}
.skipLogicTextPanel
{
    background: #FAFAFA;
    border: solid 1px #F1F1F1;
    padding: 10px;
    margin-bottom: 20px;
}

.btn_loginEmail
{
    background: none;
    width: 190px;
    height: 37px;
    text-align: left;
    padding: 10px;
    border: solid 0 #000;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
}

.btn_loginEmail:hover
{
    color: #000;
}
.defaultButtonGray
{
    background: #C424A5;
    text-align: center;
    padding: 10px;
    border: solid 0 #000;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: default;
    height: 37px;
}
.defaultButtonGray
{
    background: url('Images/dynamic-bgr-gray.jpg') bottom repeat-x;
    color: #999;
    border: solid 1px #CFC3D2;
}

a.defaultlink:link, a.defaultlink:active, a.defaultlink:visited
{
    color: #853C98;
    outline: none;
}
a.defaultlink:hover
{
    color: #FF9000;
    text-decoration: underline;
}
a.orangeLinksml:link, a.orangeLinksml:visited
{
    color: #FF9000;
    font-weight: normal;
    text-decoration: none;
    font-size: 11px;
}
a.orangeLinksml:hover
{
    color: #424242;
    text-decoration: underline;
}


/* css3 style added */
.twocolumnpanel
{
    width: 99%;
    margin: auto;
    clear: both;
}
.firstcolumn
{
    width: 49%;
    float: left;
    border: 0px solid #c2c2c2;
    background-color: #fff;
    clear: left;
}
.secondcolumn
{
    width: 49%;
    float: left;
    border: 0px solid #c2c2c2;
    background-color: #fff;
}

.columnpadding
{
    margin: 10px 10px;
}

.quationlbl
{
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 2px;
    padding: 5px 5px 5px 10px;
}

.surveyoverflowy
{
    overflow-y: auto;
    width: 100%;
}



span.lblSurveyHeading
{
    color: #333;
    line-height: 38px;
    font-size: 14px;
}

.pwdbylogopading
{
    width: 92%;
    text-align: right;
    margin: 3px auto 20px auto;
}

.bdrcontrols
{
    border: solid 1px #ccc;
    padding: 2px;
}
.loginControlsLable
{
    float: left;
    padding: 3px 10px 3px 0;
    line-height: 28px;
}
.widgeticonspad
{
    vertical-align: top;
    padding-left: 5px;
}

.progressbarThumb
{
    width: 200px;
    height: 65px;
    float: left;
    margin: 5px 5px 5px 5px;
    _margin: 5px 4px 5px 4px;
}
.progressbar img
{
    border: solid 1px #ccc;
    margin-top: 5px;
}
#popup_panel input[type="button"]
{
    background: #C424A5;
    text-align: center;
    padding: 5px;
    border: solid 0 #000;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.reminder_title
{
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    line-height: 1.75em;
    color: #FFF;
    background: #C424A5;
    border: solid 1px #FFF;
    border-bottom: solid 1px #999;
    cursor: default;
    padding: 0em;
    margin: 0em;
}
.reminderbtn
{
    -moz-border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 #C424A5;
    border: 0 solid #000000;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.addNewEmaillbl
{
    width: 80px;
    text-align: left;
    padding: 3px 10px 3px 10px;
    line-height: 28px;
    float: left;
}
.addNewEmaillbl01
{
    width: 120px;
    text-align: left;
    padding: 3px 10px 3px 10px;
    line-height: 28px;
    float: left;
}

.hyperlink_add_emil_column
{
    background: white url('Images/btn_add_email.gif') no-repeat top;
    width: 180px;
    height: 28px;
    text-align: center;
    padding: 10px 0px 0 28px;
    border: solid 0px #000;
    color: #853C98;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.ExporttoExcelButton
{
    background: url('Images/downlaod_icon.png') left no-repeat;
    width: 67px;
    height: 30px;
    border: none;
    cursor: pointer;
    color: #853C98;
    margin-left: 5px;
    font-size: 13px;
    padding-left: 22px;
}
.QuestionnaireHeading
{
    padding-left: 24px;
    font-weight: 700;
}
.emailPreviewPanle
{
    border: solid 1px #ccc;
    padding: 10px;
    margin-top: 20px;
}

.matrixSingleSelect
{
    width: 100%;
    overflow-x: scroll;
}
.tblMatrix2D
{
    text-align: center;
    width: 100%;
}
.tdMatrixRowSelect
{
    text-align: left;
    white-space: nowrap;
    width:40%;
}
.tdMatrixColumnSelect
{
   /* padding: 0 10px;*/
   text-align:center;
   width:60%;
}

.tdDimension
{
    width: 30%;
    padding: 0px 40px;
}

.qImageControl
{
    margin: 10px 0 10px 0;
}
.purpleColor
{
    color:#853C98;
}
.userLoginHeader {
    background:url('images/logo-user-login.jpg') 0 0 no-repeat;
    height:40px;
    margin:8px 0 0 0;
}
.proDataChart label
{
    background:url('images/icon_pro.png') 100% 2px no-repeat;
    padding-right:25px;
}
a.proHyperLink:link, a.proHyperLink:visited
{
    background:url('images/icon_pro.png') 90% 50% no-repeat;
    padding-right:0;
}
.notificationPanel
{
    margin:20px 20px 0 20px;
    background:#FCF7FD;
    border:dashed 1px #BF92CB;
}
.notificationTitle
{
    /*background:#F8F1FA;*/
    padding:15px 10px 10px 10px;
    font-size:14px;
}
.notificationTitle h2
{
    /*background:url('Images/icon-notification.png') 0 50% no-repeat;*/
    background:url('Images/icon-notifi.gif') 0 50% no-repeat;
    padding-left:25px;
}
.notificationText
{
    background:#FCF7FD;
    padding:10px 20px 10px 20px;
    /*border-top:none;
    border-right:solid 1px #BF92CB;
    border-bottom:solid 1px #BF92CB;
    border-left:solid 1px #BF92CB;*/
}
.notificationHeading
{
    width:60%;
    float:left;
    text-align:left;
}
.notificationClose
{
    width:50px;
    float:right;

    text-align:right;
}
a.notificationCloseLink:link, a.notificationCloseLink:visited
{
    background: url("Images/icon-x-close.gif") no-repeat;
    width:20px;
    height:20px;
    float:right;
    margin-top:-22px;

}
a.notificationCloseLink:hover
{
}


/* Error messgaes CSS classes -- START*/

.PanelNotificationBox
{
    font-weight: bold;

    margin: 0 0 20px 0;
    padding: 23px 0 23px 0;
    /*background-repeat: no-repeat;
    border: 1px dashed #EF7F80;
    background-position: 8px center;*/ /*width: 500px; 	box-shadow: 2px 2px 3px #3A4F63;*/
    /*border-radius: 4px;
    background: #FEF8F8;*/
    text-align:center;
}

.PanelSuccess
{
    color: #749E02;
    background: #FBFCF7 no-repeat 190px 50%;
    border: 1px dashed #B4CE6F;
    padding-left:45px;
}
.PanelSuccess span, .PanelInfo span, .PanelWarning span, .PanelError span
{
    padding-right: 10px;
}

.PanelSuccessSocialSharing
{
    color:Green;
    background:PapayaWhip;

    border: 1px dashed #B4CE6F;
    padding-left:45px;

    -webkit-box-shadow: 5px 5px 3px 0px #ddd;
 -moz-box-shadow: 5px 5px 3px 0px #ddd;
 box-shadow: 5px 5px 3px 0px #ddd;
 text-shadow: 5px 5px 5px #ccc;
 filter: dropshadow(color=#ccc, offx=5, offy=5);


}

.PanelInfo
{
    color: #3F6AC0;
    background-color: #EFF8FD;
    background-image: url('Image/icon-information1.gif');
}

.PanelWarning
{
    color: #8C6211;
    background-color: #FAF9C9;
    background-image: url('Image/icon_close1.gif');
}

.PanelError
{
    color: #CC3333;
    background: url('Images/irror-icon.gif') #FEF8F8 10px 50% no-repeat;
    border: 1px dashed #EF7F80;
    padding-left:45px;
}
.PanelErrorSocialSharing
{
    color: #CC3333;
    background:PapayaWhip;
    border: 1px dashed #EF7F80;
    padding-left:45px;
    -webkit-box-shadow: 15px 15px 13px 0px #ddd;
 -moz-box-shadow: 5px 5px 3px 0px #ddd;
 box-shadow: 5px 5px 3px 0px #ddd;
 text-shadow: 5px 5px 5px #ccc;
 filter: dropshadow(color=#ccc, offx=5, offy=5);

}
.blackColor
{
    color: #000;
}
/* Error messgaes CSS classes -- END*/

.faqTopText
{
    font-weight:700;
    color:#fff;
    font-size:16px;
    line-height:38px;
    padding:0 20px;
}
.faqMainContentPanel
{
    border-right:solid 1px #BFBFBF;
    border-bottom:solid 1px #BFBFBF;
    background:#fff;
    margin:20px;
}
.faqSubMaincontent
{
    padding:10px;
}

.faqLeftTreeMenuPanel
{
    margin:0 0 0 0;
    background:#fff;
    border:solid 1px #BC8EC6;
}
.faqLeftMenu
{
    padding:0;
}
.faqSearchPanel
{
    background:#BC8EC6;
    padding:10px 5px 10px 15px;
    /*border-bottom:solid 1px #BC8EC6;*/
    font-weight:700;
    font-size:14px;
    color:#fff;
}
.faqPageTitle
{
    border-bottom:solid 1px #ccc;
    padding:0 0 10px 0;
    margin-bottom:10px;
}
.faqContentPanel
{
    padding:15px 8px;
    font-size:14px;
}
.faqContentPanel p
{
    padding:8px 0;
    line-height:20px;
}
.faqContentPanel img
{
    border:solid 1px #666;
}
.faqContentPanel h1
{
    background:url('Images/FAQ.png') 0 50% no-repeat;
    padding:0 0 0 30px;
    margin:0 0;
}
.faqContentPanel h2
{
    color:#843D99;
    font-size:18px;
}
.faqContentPanel h3
{
    color:#f99000;
    font-size:16px;
}
.faqContentPanel li
{
    padding:3px 0;
}

.singleSelectRadio table td
{
    vertical-align:top;
}
.lnkPreview
{
    cursor:pointer;
}
/* ////// fqa tree menu styles /////////// */
.FAQLeafNode
{
    /*background:url('images/arrow-right.gif') left top no-repeat;*/
    margin-left:0;
}
.FAQLeafNode table
{
    margin:1px 0;
}

.mainNode
{
    font-weight:700;
    width:100%;
}
.mainNode a
{
    color:#853C98;
}
.FaqSubNode
{
    width:100%;
}

.FaqSubNode a
{
    color:#000;
    width:87%;
    display:block;
    padding:5px 5px 5px 15px;
    font-weight:normal;
    background:url('images/arrow_faq_off.gif') 5px 8px no-repeat;
}

.FaqSubNode a:hover, td.active a, td.activelink a
{

    background:url('images/arrow_faq_on.gif') 5px 8px no-repeat;
}
.menuLeft
{
    padding:5px;
}
.faqLeftMenuPanel
{
    width:26%;
    float:left;
    margin:0;
    padding:0;
}
.faqRightContentPanel
{
    width:73%;
    float:right;
    margin:0;
    padding:0;
}
/* take a tour styles */
.takeATourContentPanel
{
    width:700px;
    background:#fff;
    margin:20px;
    padding-bottom:20px;
    float:left;
    border-right:solid 1px #BFBFBF;
    border-bottom:solid 1px #BFBFBF;
}
.takeATourTextPanel
{
    padding:0;
    width:470px;
    float:left;
    margin:10px 0 20px 20px;
}
.takeATourTextPanel li
{
    list-style-type:none;
    background:url('Images/icon_square.gif') 0 8px no-repeat;
    padding:3px 0 8px 13px;


}
.takeATourSubMenuPanel
{
    width:180px;
    float:right;
    margin:50px 20px 0 0;
}
.takeATourButtonPanel
{
    margin:10px 0;
    padding:5px 7px;
    text-align:right;
}
.takeATourButtonPanel a:link, .takeATourButtonPanel a:visited
{
    padding:5px 10px;
    background:#F2F2F2;
    color:#6B6B6B;
    text-align:center;
    -moz-border-radius:3px;
    border-radius:3px;
    font-size:12px;

    margin:0 3px;
}
.takeATourButtonPanel a:hover, .takeATourButtonPanel a.active
{
    background:#C423AD;
    color:#fff;
}
.takeATourButtonPanel a.active:hover
{
    background:#C27AB5;
    color:#fff;
}
ul.takeATourMenu
{
    margin:0 0;
    padding:0 0 0 0;
}
ul.takeATourMenu li
{
    list-style-type:none;
    color:#A32C80;
    padding:8px 0;
    border-bottom:solid 1px #CFCFCF;

}
ul.takeATourMenu li a:link, ul.takeATourMenu li a:visited
{
    color:#C823A5;
    font-size:12px;
    font-weight:normal;
    padding:8px 0 8px 13px;
    background:url('Images/icon_square.gif') 0 50% no-repeat;

}
ul.takeATourMenu li a:hover, ul.takeATourMenu li a.active
{
    color:#000;
    font-weight:700;
}
ul.takeATourMenu>li:last-child
{
    border-bottom:none;
}
.takeATourRightPanel
{
    width:195px;
    float:right;
    margin:20px 20px 0 0;
}
.whyInsightoRightPanel
{
    width:195px;
    float:right;
    padding-left:38px;
}
.tATRightTextPanel
{
    background:#FFF;
    border-right:solid 1px #BFBFBF;
    border-bottom:solid 1px #BFBFBF;
    margin:0 0 20px 0;

}
.tATText
{
    padding:15px;
}
.tATRightTextPanel p
{
    padding:5px 0;
}
.tATRightTextPanel h2
{
    font-size:16px;
    color:#9F57A1;
    font-weight:700;
    padding:15px 15px 10px 15px;
}
.pricePanel
{
    background:url('Images/price-span-bgr.jpg') repeat-x;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    padding:5px 5px;
    color:#fff;
    font-weight:700;
    font-size:12px;
    text-align:center;
    margin-left:-3px;
}
.rupeeLbl
{
    background:url('Images/icon_rupees_10x10.gif') 0 50% no-repeat;icon_rupees_8x8.gif
    display:block;
    padding-left:10px;
}
.lblBorder
{
    width:32%;
}
.rupeeSmallLbl
{
    background:url('Images/icon_rupees_8x8.gif') 0 50% no-repeat;
    display:block;
    padding-left:10px;
}
.bordown label
{
    background:url('Images/icon_rupees_8x8.gif') 0 50% no-repeat;
    padding-left:10px;
    line-height:18px;
    display:inline-block;
}

.textPad
{
    padding-top:15px;
}

.takeATourTextPanel ul
{
    margin-top:5px;
}

.takeATourTextPanel h3
{
 font-size:13px;
 color:#9F57A1;
}

.listPadding
{
    font-size:13px;
}

.listPadding li
{
    padding:3px 0;
}
.surveyManagerText
{
    color: #853C98 !important;
}
.PriceImage
{
    background:url('Images/pay_button.png') no-repeat;
    display:block;
}
.bgactivatesurveys
{
    background-color: #ffffff;
    padding-top: 40px;
    text-align: center;
    cursor:pointer;
}
.btnactivatesurveys
{
    background-color: #5D8ABF;
    padding: 8px;
    color: #FFF;
    border-radius: 5px;
    font-size: 20px;
    border: 0px;
    cursor:pointer;
}
.question
{
    padding: 12px 0 0px 0px;
    font-size: 16px;
    color: #6E6969;
    text-align:center;
    line-height:25px;
}
.questionpopup
{
    padding: 22px 10px 0px 0px;
    font-size: 16px;
    color: #6E6969;
    text-align:center;
    line-height:25px;
}
.popupheadsurvey
{
    line-height: 40px;
    margin-bottom: 10px;
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
}
