html
{

}

body {
    background: #fff;
    color: #000000;
    font: 12px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
/* Andale Mono*/
 @font-face {font-family: 'Andale Mono';src: url('fonts/AndaleMono/47698975-AndaleMono.eot');src: url('fonts/AndaleMono/47698975-AndaleMono.eot?#iefix') format('embedded-opentype'),url('fonts/AndaleMono/47698975-AndaleMono.woff') format('woff'),url('fonts/AndaleMono/47698975-AndaleMono.ttf') format('truetype'),url('fonts/AndaleMono/47698975-AndaleMono.svg#wf') format('svg');}


/* Tahoma*/
 @font-face {font-family: 'Tahoma';src: url('fonts/tahoma/365936280-tahoma.eot');src: url('fonts/tahoma/365936280-tahoma.ttf?#iefix') format('embedded-opentype'),url('fonts/tahoma/365936280-tahoma.woff') format('woff'),url('fonts/tahoma/365936280-tahoma.ttf') format('truetype'),url('fonts/tahoma/365936280-tahoma.svg#wf') format('svg');}


/* Book Antiqua*/
 @font-face {font-family: 'Book Antique';src: url('fonts/bookantiqua/271636963-ufonts.com_book-antiqua.eot');src: url('fonts/bookantiqua/271636963-ufonts.com_book-antiqua.ttf?#iefix') format('embedded-opentype'),url('fonts/bookantiqua/271636963-ufonts.com_book-antiqua.woff') format('woff'),url('fonts/bookantiqua/271636963-ufonts.com_book-antiqua.ttf') format('truetype'),url('fonts/bookantiqua/271636963-ufonts.com_book-antiqua.svg#wf') format('svg');}

/* Comic Sans Ms*/
 @font-face {font-family: 'Comic SanSMS';src: url('fonts/ComicSansMs/800384522-2086.eot');src: url('fonts/ComicSansMs/800384522-2086.ttf?#iefix') format('embedded-opentype'),url('fonts/ComicSansMs/800384522-2086.woff') format('woff'),url('fonts/ComicSansMs/800384522-2086.ttf') format('truetype'),url('fonts/ComicSansMs/800384522-2086.svg#wf') format('svg');}


.selection-btn {
    color: #fff;
    padding: 12px 0px;
    outline: none;
    background: #B3A2C7;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.nopad {
    padding: 0 !important;
}

.save-btn{
    color: #fff;
    padding: 8px 30px;
    outline: none;
    background: #B3A2C7;
    border-radius: 3px;
    text-align: center;
    border: none;
    font-size: 22px;
    font-weight: normal;
    float: none;
    margin: 14px 0;
}

.error-pool{
    margin: 25px 0;
    font-size: 13px;
}

#ckbAnswerOptions td,#radAnswerOptions td{
    padding: 0;
}
#ckbAnswerOptions label,#radAnswerOptions label{
    margin: 0;
}
.pad-15{
    padding: 0 15px !important;
}





.profile-card {
  text-align: center;
  display: block;
  background-color: #29d08a;
  width: 300px;
  height: 480px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 150px;
  -webkit-animation: showprofile-card 0.25s ease forwards 2s;
  -moz-animation: showprofile-card 0.25s ease forwards 2s;
  -ms-animation: showprofile-card 0.25s ease forwards 2s;
  -o-animation: showprofile-card 0.25s ease forwards 2s;
  animation: showprofile-card 0.25s ease forwards 2s;
  opacity: 0;
}
.profile-card:hover, .profile-card:focus {
  margin-top: 100px;
  height: 480px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.profile-card:hover header, .profile-card:focus header {
  padding-top: 106px;
}
.profile-card:hover header h1, .profile-card:focus header h1 {
  top: 332px;
}
.profile-card:hover header h2, .profile-card:focus header h2 {
  top: 390px;
}
.profile-card:hover .profile-social-links, .profile-card:focus .profile-social-links {
  bottom: 0;
}


.profile-bio {
  position: absolute;
  top: -55px;
  background-color: #fff;
  border-radius: 50%;
  padding: 30px;
  text-align: center;
  font-size: 14px;
  left: -110px;
  width: 230px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.profile-bio:after {
  content: '';
  height: 0;
  width: 0;
  display: inline-block;
  position: absolute;
  border-left: solid 10px transparent;
  border-right: solid 10px #fff;
  border-bottom: solid 15px transparent;
  border-top: solid 15px #fff;
  right: 30px;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
.profile-bio p {
  color: #4e5b6b;
}

.profile-social-links {
  list-style: none;
  position: absolute;
  padding: 0;
  bottom: -10px;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  -webkit-animation: showSoc 0.25s cubic-bezier(0.37, 0.15, 0.54, 1.99) forwards 2.5s;
  -moz-animation: showSoc 0.25s cubic-bezier(0.37, 0.15, 0.54, 1.99) forwards 2.5s;
  -ms-animation: showSoc 0.25s cubic-bezier(0.37, 0.15, 0.54, 1.99) forwards 2.5s;
  -o-animation: showSoc 0.25s cubic-bezier(0.37, 0.15, 0.54, 1.99) forwards 2.5s;
  animation: showSoc 0.25s cubic-bezier(0.37, 0.15, 0.54, 1.99) forwards 2.5s;
}
.profile-social-links li {
  display: inline-block;
}
.profile-social-links li a {
  display: inline-block;
  padding: 10px;
}
.profile-social-links li a i:before {
  color: #21a56e;
  font-size: 20px;
}
.profile-social-links li a:hover i:before {
  color: #1c9060;
}

@-webkit-keyframes movebody {
  0% {
    bottom: 5px;
  }
  25% {
    bottom: 4px;
  }
  50% {
    bottom: 5px;
  }
  75% {
    bottom: 4px;
  }
  100% {
    bottom: 5px;
  }
}
@-moz-keyframes movebody {
  0% {
    bottom: 5px;
  }
  25% {
    bottom: 4px;
  }
  50% {
    bottom: 5px;
  }
  75% {
    bottom: 4px;
  }
  100% {
    bottom: 5px;
  }
}
@-ms-keyframes movebody {
  0% {
    bottom: 5px;
  }
  25% {
    bottom: 4px;
  }
  50% {
    bottom: 5px;
  }
  75% {
    bottom: 4px;
  }
  100% {
    bottom: 5px;
  }
}
@-o-keyframes movebody {
  0% {
    bottom: 5px;
  }
  25% {
    bottom: 4px;
  }
  50% {
    bottom: 5px;
  }
  75% {
    bottom: 4px;
  }
  100% {
    bottom: 5px;
  }
}
@keyframes movebody {
  0% {
    bottom: 5px;
  }
  25% {
    bottom: 4px;
  }
  50% {
    bottom: 5px;
  }
  75% {
    bottom: 4px;
  }
  100% {
    bottom: 5px;
  }
}
@-webkit-keyframes tire {
  from {
    background-position: center top;
  }
  to {
    background-position: center bottom;
  }
}
@-moz-keyframes tire {
  from {
    background-position: center top;
  }
  to {
    background-position: center bottom;
  }
}
@-ms-keyframes tire {
  from {
    background-position: center top;
  }
  to {
    background-position: center bottom;
  }
}
@-o-keyframes tire {
  from {
    background-position: center top;
  }
  to {
    background-position: center bottom;
  }
}
@keyframes tire {
  from {
    background-position: center top;
  }
  to {
    background-position: center bottom;
  }
}
@-webkit-keyframes showprofile-card {
  0% {
    border-width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    border-width: 10px;
    opacity: 1;
  }
}
@-moz-keyframes showprofile-card {
  0% {
    border-width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    border-width: 10px;
    opacity: 1;
  }
}
@-ms-keyframes showprofile-card {
  0% {
    border-width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    border-width: 10px;
    opacity: 1;
  }
}
@-o-keyframes showprofile-card {
  0% {
    border-width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    border-width: 10px;
    opacity: 1;
  }
}
@keyframes showprofile-card {
  0% {
    border-width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    border-width: 10px;
    opacity: 1;
  }
}
@-webkit-keyframes showTitle {
  0% {
    left: 50%;
    right: 50%;
  }
  100% {
    left: -40px;
    right: -40px;
  }
}
@-moz-keyframes showTitle {
  0% {
    left: 50%;
    right: 50%;
  }
  100% {
    left: -40px;
    right: -40px;
  }
}
@-ms-keyframes showTitle {
  0% {
    left: 50%;
    right: 50%;
  }
  100% {
    left: -40px;
    right: -40px;
  }
}
@-o-keyframes showTitle {
  0% {
    left: 50%;
    right: 50%;
  }
  100% {
    left: -40px;
    right: -40px;
  }
}
@keyframes showTitle {
  0% {
    left: 50%;
    right: 50%;
  }
  100% {
    left: -40px;
    right: -40px;
  }
}
@-webkit-keyframes showTitle-1 {
  0% {
    padding-top: 25px;
    color: transparent;
  }
  100% {
    padding-top: 20px;
    color: #fff;
  }
}
@-moz-keyframes showTitle-1 {
  0% {
    padding-top: 25px;
    color: transparent;
  }
  100% {
    padding-top: 20px;
    color: #fff;
  }
}
@-ms-keyframes showTitle-1 {
  0% {
    padding-top: 25px;
    color: transparent;
  }
  100% {
    padding-top: 20px;
    color: #fff;
  }
}
@-o-keyframes showTitle-1 {
  0% {
    padding-top: 25px;
    color: transparent;
  }
  100% {
    padding-top: 20px;
    color: #fff;
  }
}
@keyframes showTitle-1 {
  0% {
    padding-top: 25px;
    color: transparent;
  }
  100% {
    padding-top: 20px;
    color: #fff;
  }
}
@-webkit-keyframes showTitle-2 {
  0% {
    padding-top: 5px;
    color: transparent;
  }
  100% {
    padding-top: 0px;
    color: #7e8ea1;
  }
}
@-moz-keyframes showTitle-2 {
  0% {
    padding-top: 5px;
    color: transparent;
  }
  100% {
    padding-top: 0px;
    color: #7e8ea1;
  }
}
@-ms-keyframes showTitle-2 {
  0% {
    padding-top: 5px;
    color: transparent;
  }
  100% {
    padding-top: 0px;
    color: #7e8ea1;
  }
}
@-o-keyframes showTitle-2 {
  0% {
    padding-top: 5px;
    color: transparent;
  }
  100% {
    padding-top: 0px;
    color: #7e8ea1;
  }
}
@keyframes showTitle-2 {
  0% {
    padding-top: 5px;
    color: transparent;
  }
  100% {
    padding-top: 0px;
    color: #7e8ea1;
  }
}
@-webkit-keyframes showTips {
  0% {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes showTips {
  0% {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-ms-keyframes showTips {
  0% {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-o-keyframes showTips {
  0% {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes showTips {
  0% {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes showAva {
  0% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes showAva {
  0% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-ms-keyframes showAva {
  0% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes showAva {
  0% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes showAva {
  0% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes showSoc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes showSoc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes showSoc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes showSoc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showSoc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes closeBody {
  0% {
    width: 2500px;
    height: 2500px;
    border-radius: 50%;
    left: 50%;
    margin-left: -1250px;
    top: 50%;
    margin-top: -1200px;
    right: auto;
  }
  50% {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 200px;
  }
  100% {
    width: 284px;
    height: 380px;
    border-radius: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: -150px;
    margin-top: 150px;
  }
}
@-moz-keyframes closeBody {
  0% {
    width: 2500px;
    height: 2500px;
    border-radius: 50%;
    left: 50%;
    margin-left: -1250px;
    top: 50%;
    margin-top: -1200px;
    right: auto;
  }
  50% {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 200px;
  }
  100% {
    width: 284px;
    height: 380px;
    border-radius: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: -150px;
    margin-top: 150px;
  }
}
@-ms-keyframes closeBody {
  0% {
    width: 2500px;
    height: 2500px;
    border-radius: 50%;
    left: 50%;
    margin-left: -1250px;
    top: 50%;
    margin-top: -1200px;
    right: auto;
  }
  50% {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 200px;
  }
  100% {
    width: 284px;
    height: 380px;
    border-radius: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: -150px;
    margin-top: 150px;
  }
}
@-o-keyframes closeBody {
  0% {
    width: 2500px;
    height: 2500px;
    border-radius: 50%;
    left: 50%;
    margin-left: -1250px;
    top: 50%;
    margin-top: -1200px;
    right: auto;
  }
  50% {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 200px;
  }
  100% {
    width: 284px;
    height: 380px;
    border-radius: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: -150px;
    margin-top: 150px;
  }
}
@keyframes closeBody {
  0% {
    width: 2500px;
    height: 2500px;
    border-radius: 50%;
    left: 50%;
    margin-left: -1250px;
    top: 50%;
    margin-top: -1200px;
    right: auto;
  }
  50% {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 200px;
  }
  100% {
    width: 284px;
    height: 380px;
    border-radius: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: -150px;
    margin-top: 150px;
  }
}
.vote-view-btn{
    width: inherit !important;
    display: block !important;
}
#videopreview iframe{
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}
.pool-page{
    margin: 2% 0;
}



#toast-container {
    min-width: 8% !important;
    position:absolute !important;
    top: 20% !important;
    right: 50% !important;
}
 #polldiv, #innerdiv {
     
        max-width:1000px;
    }

 @-webkit-keyframes flipInYX {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }

  to {
    -webkit-transform: perspective(0px);
    transform: perspective(0px);
  }
}

@keyframes flipInYX {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInYX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInYX;
  animation-name: flipInYX;
}



/*=======================================  Mobile   ===================================================*/
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}
/* Extra Small Devices, Phones */

@media (min-width: 0px) and (max-width: 420px) {

}



    /* Small Devices, Tablets */
@media (min-width: 0px) and (max-width: 768px) {
    #polldiv, #innerdiv {
        width: 100% !important;
        min-width: 100% !important;
        max-width:100%;
    }

}

    /* Small Devices, Tablets */
@media (min-width: 0px) and (max-width: 768px) {


.selection-btn {
    font-size: 11px;
}
.pool-popup-left{
    margin-top: 50px;
}





}

@media (min-width: 768px) and (max-width: 991px) {


}



@media (min-width: 0px) and (max-width: 769px) {


}
@media (min-width: 768px) and (max-width: 1200px) {


    }
@media (min-width: 768px) and (max-width: 1200px) {

    }
@media (min-width: 0px) and (max-width: 1080px) {

    }



















.selectbg
{
    padding: 8px 18px 11px 12px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background: none;
    font-size: 17px;
    cursor:pointer;
}
.multipleanswers
{
    display:none;
}
.classmsg
{
    text-align: center;
padding-top: 13px;
color: #F60E4A;
font-weight:bold;
}
.cursor
{
    cursor:pointer;
}
.mainanswer
{

}
.socialnew
{
    display: block;
    width: 31%;
    margin: auto auto -15px 0px;
    font-family: Arial;
    color: rgb(0, 0, 0);
    font-size: 12px;
}
.sponsorimagepreviewres1
{
    font-family: Arial;
    color: rgb(0, 0, 0);
    font-size: 12px;
    width: 31%;
    margin: auto 6% auto auto;
}
.socialnew1
{
    display: block;
    width: 31%;
    font-family: Arial;
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin-left:3px;
}
.newvotecount
{

    display: block;
    width: 96%;
    text-align: center;
}
.votescount
{
    margin:auto;
    width:30%;
    border: 1px solid rgb(110, 140, 229);
    padding:1px;
    font-size: 12px;
    font-weight:bold;
}
.votecounres
{
    position:absolute;
    width:96%;
   /* padding-top:3px;*/
}
.successPanel
{
    width: 826px;
    background: #FBFCF7;
    border: dashed 1px #B4CE6F;
    text-align: center;
    padding: 8px 0 8px 0;
    margin: 30px 0 10px 0;
}
.fontweightbold
{
    font-weight:bold;
}
.printpoll
{
    background-color: #E6E6E7;
    padding: 10px;
    text-align: right;
    padding-right: 50px;
}
.top-small-gap
{
    margin:16px -21px 0 0;
}
.button-small-gap
{
    margin: 0 4px 0 4px;
}
.manageLinks a:link, .manageLinks a:visited, .copyLink-left, .deleteLink, .closeLink, .activeIconLink, .addEmailLink, .printLink
{
    padding: 2px 25px 1px 25px;
}
.floatL
{
    float:left;
}
.pollmain
{
    width:100%;
    float:left;
    margin-top:50px;
}
.createpollnew
{
    border-right: 1px solid #4994C0;
    margin-left: 40px;
    width: 35%;
    display:inline-block;
}
.polldesignbox {
    position: relative;
    box-shadow: 1px 1px 4px rgba(174, 153, 180, 1);
    width: 81%;
    padding: 10px 0px 10px 22px;
    font-size: 17px;
    color: #8C589B;
}

.createpollcss
{
    width:115px;
    float:left;
}
.question
{
    padding: 9px 0 0px 0px;
    font-size: 14px;
    color: #6E6969;
    text-align: left;
}
.SavePoll
{
    margin:auto;
    margin-top: 10px;
    width: 80px;
    height: 40px;
    background-color: #4387FD;
    border-radius: 2px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.SavePollCreate
{
    float: right;
    margin-top: 10px;
    width: 80px;
    height: 40px;
    background-color: #4387FD;
    border-radius: 2px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    margin-right: 30px;
}
/*.textboxpoll
{
    width:350px;
}
.textareapoll
{
    width:300px;
}*/
.iframeblock
{
    background: #F2E5FC;
    border: 1px solid #E2C9E9;
    border-top-color: #E2C9E9;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #E2C9E9;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #E2C9E9;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #E2C9E9;
    border-left-style: solid;
    border-left-width: 1px;
    width: 390px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #CBAFE0;
}
.iframeblock:after, .iframeblock:before
{
    bottom: 100%;
    border: 1px solid #c2e1f5;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    left: 10%;
}

.iframeblock:after
{
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #F2E5FC;
    border-width: 10px;
    margin-left: -16px;
}

.iframeblock:before
{
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #E2C9E9;
    border-width: 12px;
    margin-left: -18px;
}
.embedblockheight
{
   height: 51px;
   padding:9px;
}
.embedtextinner
{
    float:left;
    margin-left: 15px;
}
.generatetop
{
    margin-top:5px;
}
.recom
{
    font-size:10px;
    color: #C424A5;
    margin-top: 2px;
}
.heightauto
{
    font-size:12px;
    color: #F60E4A;
    margin-top: 5px;
}
.generate
{
    margin-top: 4px;
    margin-left: 21px;
}
.widthdivpad
{
    width: 100%;
    float: left;
    padding-top:8px;
}
.surveyname
{
    margin-top: 10px;
    color: #1747A9;
    font-weight: bold;
}
.congrats
{
    float: left;
    margin-top: -10px;
}
.copyembed
{
    width:100%;
    margin-top: 10px;
}
.iframemargin
{
    margin-top: 5px;
}
.createarrow
{
    padding-left:45px;
}
.designarrow
{
    padding-left:133%;
}
.launcharrow
{
    padding-left:240%;
}
.textpolltheme
{
    width: 240px;
    height : 315px;
    font-size:14px;
    color:#000000;
    text-align:center;
    margin-top:5px;
    border: 1px solid rgba(213, 197, 197, 1);
    margin-bottom: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 5px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
}
.imagepolltheme
{
    width: 230px;
    height:315px;
    font-size:14px;
    color:#000000;
    text-align:center;
    margin-top:5px;
    border: 1px solid rgba(213, 197, 197, 1);
    margin-bottom: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 5px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
}
.radiopolltheme
{
    text-align:left;
    /*margin-left:10px;*/
    /*height:30%;*/
}
.questiontheme
{
    margin: 3px 3px 35px 3px;
    padding: 25px;
    background-color :rgba(231, 231, 231, 1);
}
.headingpolltheme
{
    text-align:center;
    font-size:14px;
    color:#000000;
}
.imagequestiontheme
{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #E7E7E7;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}
.viewandvotetext
{
    margin: 36px 30px 10px;
    background-color: #6C89E1;
    color: #FFF;
    font-size: 12px;
    padding: 10px 0px 10px;
    font-weight: bold;
}
.viewandvoteimage
{
    background-color: rgba(108, 137, 225, 1);
    color: #FFF;
    font-size: 12px;
    margin: 10px;
    padding: 5px 0 6px 0px;
    font-weight: bold;
    width: 43%;
    float: left;
}
.viewandvoteimagepreview {
    background-color: rgba(108, 137, 225, 1);
    color: #FFF;
    font-size: 15px;
    margin-top: 10px;
    padding: 15px 10px;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
    line-height: 0;
    white-space: nowrap;
    display: flex;
}
.viewandvoteimageresponse
{
    background-color: rgba(108, 137, 225, 1);
    color: #FFF;
    font-size: 12px;
    margin-top:10px;
    font-weight: bold;
    margin-bottom:10px;
    border:0px;
    cursor:pointer;
    padding:7px 0px;
}
.viewandvoteimageresponsebtn
{
    background-color: rgba(108, 137, 225, 1);
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    border:0px;
    cursor:pointer;
}
.sponsorimage
{
    font-size: 12px;
    margin-top: 6px;
    color:#000000;
}
.sponsorimagecustom
{
    margin-left: 15px;
    font-size: 11px;
    float:left;
    margin-top: 6px;
    color:#000000;
    width:37%;
    text-align:center;
}
.sponsorimagepreview
{
    margin-left: 15px;
    font-size: 12px;
    color:#000000;
    margin-right:-12%;
}
.sponsorimagepreviewres
{
    margin-left: 15px;
    font-size: 13px;
    margin-top: 6px;
    color:#000000;
    margin:auto;
    float:right;
    margin-right:2%;
}
.social
{
    margin-left: 40%;
}
.socialshares
{
    margin-bottom:-16px;
    font-size: 14px;
    text-align:left;
    margin-left:3px;
}
.newsponsocialdiv
{
    position:absolute;
    bottom:30px;
}
.ddl
 {
    border: 0px none;
    background-image: url('../App_Themes/fontstyles/arrow_active.png');
    background-position: 13px center;
    background-repeat: no-repeat;
    text-indent: 0.01px;
    text-overflow: "";
}
.ddlfont
{
    border: 0px none;
    text-overflow: "";
    color: black;
    background-color: #ECECEC;
    width: 144px;
    background-position: 70px center;
    text-indent: 0.01px;
    border: 0px none;
    background-repeat:no-repeat;
    margin-top: 8px;
    margin-left : 2px;
}
.fontstylesbg
{
    width: 320px;
    background-color: #ECECEC;
    height: 32px;
    margin-top: 5px;
    border-radius: 5px;
}
.fonttype
{
    float:left;
}
.fonticons
{
    float:left;
    margin: 6px 0 0 5px;
    cursor:pointer;
}
.createpollbg
{
    background-color: #E2C9E9;
    padding: 10px 0 14px 10px;
    color: #554242;
    height: 16px;
    font-weight: bold;
    font-size: 16px;
}
.CreatePoll
{
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
}
.PollDiv
{
    width:100%;
    padding-top: 7px;
}
.PollDivsub
{
    border-right: 2px solid #BFBCBC;
    width: 90px;
    float: left;
    color:#7D2AC7;
    font-weight:bold;
}
.PollDivsub a
{
    width: 90px;
    float: left;
    color:#7D2AC7;
    font-weight:bold;
}
.PollDivsubinner
{
    margin-left: 1%;
    float: left;
    color:#948E8E;
}
.PollDivsubinner a
{
    color:#948E8E;
}
.choosepolltype
{
    float: left;
    margin-top: 15px;
    font-weight:bold;
}
.polltype
{
    width:100%;
    margin-top: 10px;
}
.texttype
{
    float:left;
    margin-right: 40px;
}
.imagetype
{
    float:left;
    margin-right: 40px;
}
.videotype
{
    float:left;
}

.contentPanelPoll {
    /* margin: 10px 2px 5px 5px; */
    /* border: 1px solid #E2C9E9; */
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    background: #fff;
}

.contentPanelPollwithoutborder
{
    min-height:400px;
    max-height: 1200px;
    margin-left: 0px;
    padding-top: 10px;
}

.divpadslideup
{
    padding-top:80px;
}

.divpaddingicons
{
    margin: 9px;
    cursor:pointer;
}
.divalignstyles
{
    position: absolute;
    /*left: 311px;
    top: 292px;*/
    z-index: 100;
    border: 1px solid #cccccc;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 4px;
    background-color:#ececec;
}
.pickertextbox
{
    width: 64px;
    border-radius: 2px;
    cursor:pointer;
}
.colorvote
{
    width: 20px;
    height: 16px;
    margin-top: 10px;
    margin-left: 3px;
    float: left;
}
.bgcolorvote
{
    width: 20px;
    height: 16px;
    margin-top: 10px;
    margin-left: 3px;
    float: left;
}
.colorbgpoll
{
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-left: 3px;
    float: left;
    background-color: rgb(87, 16, 87);
}
.colorquestion
{
    width: 20px;
    height: 16px;
    margin-top: 10px;
    margin-left: 3px;
    float: left;
}
.bgcolorquestion
{
    width: 20px;
    height: 16px;
    margin-top: 10px;
    margin-left: 3px;
    float: left;
}
.coloranswer
{
    width: 20px;
    height: 16px;
    margin-top: 10px;
    margin-left: 3px;
    float: left;
}
.rounded
{
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.space
{
    margin-bottom:15px;
}
#wrapper
{
    width:100%;
}
div#topMainLeftLinksPoll
{
    float: left;
    width: 600px;
    margin: 0px;
    clear: right;
}
.rightmenu
{
    width: 362px;
    float:right;
}
#topMennuRightPanel
{
    width: 182px;
    float:left;
}
.topMennuRightPanel
{
    width:175px;
}
.divalignfonsizediv
{
    position: absolute;
    position: absolute;
    /*left: 200px;
    top: 325px;*/
    z-index: 100;
    background-color: #ececec;
    border: 1px solid #cccccc;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 4px;
}
.fontsmall, .afontsmall, .vfontsmall, .mfontsmall
{
    cursor:pointer;
    margin-bottom:3px;
}
.fontnormal, .afontnormal, .vfontnormal, .mfontnormal
{
    cursor:pointer;
}
.btnaalignment, .btn, .btnvalignment, .btnmalignment
{
    padding: 0px;
    border: 0px none;
    text-align: left;
    cursor:pointer;
    padding: 0px;
    width: 39px;
    border-radius: 1px;
    margin-top: -1px;
}
.btnafontsize, .btnfontsize, .btnvfontsize, .btnmfontsize
{
    padding: 0px;
    width: 33px;
    border: 0px none;
    text-align: left;
    cursor:pointer;
    margin-top: 0px;
}
.divaalignfonsizediv
{
    position: absolute;
    /*left: 200px;
    top: 416px;*/
    z-index: 100;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color:#ececec;
}
.divaalignstyles
{
    position: absolute;
    /*left: 311px;
    top: 385px;*/
    z-index: 100;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color:#ececec;
}
.divvalignfonsizediv
{
    position: absolute;
    /*left: 200px;
    top: 547px;*/
    z-index: 100;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color:#ececec;
}
.divvalignstyles
{
    position: absolute;
    /*left: 311px;
    top: 515px;*/
    z-index: 100;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color:#ececec;
}
.divmalignfonsizediv
{
    position: absolute;
    /*left: 200px;
    top: 860px;*/
    z-index: 100;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color:#ececec;
}
.divmalignstyles
{
    position: absolute;
    /*left: 314px;
    top: 826px;*/
    z-index: 100;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color:#ececec;
}
.Preview
{
    width: 300px;
    margin-left: 30px;
    display:inline-block;
    vertical-align:top;
}
.Previewres
{
    width: 300px;
    margin-left: 30px;
    display:inline-block;
    vertical-align:top;
}
/*.textpollthemepreview
{
    font-size:14px;
    color:#000000;
    text-align:center;
    -webkit-box-shadow: 1px 5px 9px -2px rgba(0,0,0,0.46);
    -moz-box-shadow: 1px 5px 9px -2px rgba(0,0,0,0.46);
    box-shadow: 1px 5px 9px -2px rgba(0,0,0,0.46);
    border: none;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    position:relative;
    width: 100% !important;
}*/
.textpollthemepreviewresults
{
    font-size:14px;
    color:#000000;
    text-align:center;
    box-shadow: rgb(65, 62, 62) 1px 1px 10px;
    border: none;
    -moz-border-radius: 0px 0px 12px 12px;
    -webkit-border-radius: 0px 0px 12px 12px;
    border-radius: 0px 0px 12px 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    position:relative;
    width: 100% !important;
}
.textpollthemepreview
{
    font-size:14px;
    color:#000000;
    text-align:center;
    box-shadow: rgb(65, 62, 62) 1px 1px 10px;
    border: none;
    -moz-border-radius: 0px 0px 12px 12px;
    -webkit-border-radius: 0px 0px 12px 12px;
    border-radius: 0px 0px 12px 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    position:relative;
    width: 100% !important;
}
.textpollthemeresponse
{
    width:300px;
    font-size:14px;
    color:#000000;
    text-align:center;
    position:relative;
}
.textpollmanthemeresponse
{
    width:300px;
    font-size:14px;
    color:#000000;
    text-align:center;
    box-shadow: rgb(65, 62, 62) 1px 1px 10px;
    margin:0px 3px;
    -moz-border-radius: 0px 0px 12px 12px;
    -webkit-border-radius: 0px 0px 12px 12px;
    border-radius: 0px 0px 12px 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    position:relative;
}
.textpollthemeprint
{
    width:300px;
    font-size:14px;
    color:#000000;
    text-align:center;
    background-color:#ffffff;
    box-shadow: rgb(65, 62, 62) 1px 1px 10px;
    margin:0px 3px;
    -moz-border-radius: 0px 0px 12px 12px;
    -webkit-border-radius: 0px 0px 12px 12px;
    border-radius: 0px 0px 12px 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    position:relative;
}
.questionpreviewcss
{
   /* margin-bottom: 8px;*/
    padding: 14px 10px;
    background-color: #E7E7E7;
}
.singlebtns
{
    text-align:left;
}
.commentstxt
{
    padding: 12px 0 0px 10px;
    font-size: 13px;
    color: #000000;
    text-align: left;
}
.commentstxtbyme
{
    padding: 0px 0 0px 10px;
    font-size: 13px;
    color: #000000;
    text-align: left;
}
.videopreview
{
    width:300px;
}
.videopreviewcreate
{
    width:300px;
}
    .pollrespondent
{
    width:300px;
    font-size:14px;
    color:#000000;
    margin-top:5px;
    border: 1px solid rgba(213, 197, 197, 1);
}
.leftandmargin
{
    float: left;
    margin-left: 20px;
}
.poweredby
{
    font-size: 12px;
    padding-top: 5px;
    bottom:7px;
    position:absolute;
    text-align: center;
    width: 100%;
}
.poweredbybasics
{
    font-size: 12px;
    margin-bottom: 5px;
    padding-bottom:10px;
}
.poweredbybasics a
{
    color:#4A5F9C;
    text-decoration: underline;
    font-weight:bold;
}
.poweredbyres
{
    font-size: 12px;
    width:100%;
    text-align:center;
    padding-top:5px;
}
.poweredbyrep
{
    font-size: 12px;
    /*width:100%;*/
    text-align:center;
    /*position:absolute;
    bottom:7px;*/
}
.poweredbyrep{
    display: block;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poller One', cursive;
    color: #e91e63;
    letter-spacing: -0.12em;
    text-shadow: 2px 0 8px rgba(99,0,0,0.3), 8px 0 10px rgba(245, 245, 245, 0.6);
}



.poweredbyrep a
{
    color:#4A5F9C;
    text-decoration: underline;
    font-weight:bold;
}
.voteres
{
    font-size: 13px;
    width: 100%;
    text-align: center;
}
.voteresview
{
    font-size: 13px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.poweredbyres a
{
    color:#4A5F9C;
    text-decoration: underline;
    font-weight:bold;
}
.poweredby a
{
    color:#4A5F9C;
    text-decoration: underline;
    font-weight:bold;
}
.pollmanagerpreview
{
    background-color: #434B88;
    padding: 10px 2px;
    color: #ffffff;
    font-weight: normal;
    font-size: 17px;
    text-align:center;
    width:300px;
}
.pollmanagerpreviewinpreview {
    background-color: #434B88;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.pollmanagermain
{
    width: 100%;
    float : left;
}
.pollmanagerrightpanel
{
    width: 450px;
    float: left;
    margin-left: -25px;
    margin-top:10px;
}
.pollmanagerleftpanel
{
    width: 350px;
    float: left;
    border-right-width: 1px;
    border-color: #000000;
    margin-left: 10px;
    margin-top:10px;
}
.buttoncontroldiv
{
    line-height:50px;
    background-color:#EBE9E9;
}
.manageLinks
{
    margin-left: 10px;
}
.socialmargin
{
    margin-left:5px;
}
.newsocialonlyvote
{
    position:absolute;
    bottom:35px;
}
.imagefrombehind
{
    text-align:left;
    margin-bottom:3px;
    margin-top:3px;
}
.socialmargin
{
    margin-top:5px;
}
#dialogContent .imagefrombehind
{
    text-align:center;
}
.ui-dialog .ui-dialog-content
{
    padding:0px;
}
.placeholdermain
{
    float:left;
    margin-top: 2px;
    overflow:hidden;
    border-right-color: #FFEAEA;

    width:230px;
    position:relative;
    margin-left:5px;
    cursor:-webkit-zoom-in;
    cursor:zoom-in;
}
.dummycss
{
}
.btnincreate
{
    border: 0px;
    background: none;
    color: #853C98;
    font-size: 17px;
    cursor:pointer;
}
.placeholdermainnew
{
    float:left;
    margin-top: 20px;
    /*border: 1px solid rgba(210, 208, 208, 1);*/
    overflow:hidden;
    margin-right: 20px;
    width:430px;
    height:290px;
    position:relative;
    box-shadow: 0px 1px 5px #949498;
}
.placeholdermainside
{
    float:left;
    margin-top: 2px;
    border-left: 1px solid #C8C4C4;
    overflow:hidden;
    min-height:250px;
    width:190px;
    position:relative;
}
.votebasicsab
{
    float: left;
    width: 100%;
    position: absolute;
    bottom: 35px;
}
.placeholderbtn
{
    position:absolute;
    bottom:10px;
    right:10px;
    width: 55px;
    height: 25px;
    border: 0;
    color: #ffffff;
    background-color: #4387FD;
    border-radius: 2px;
    text-align: center;
    font-size: 13px;
    font-weight:bold;
    margin-top: 0px;
    cursor:pointer;
}
.bgbar
{
    background-color: #E2DEDE;
    border-radius: 5px;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 60px;
    height: 35px;
}
.bgbarquestion
{
    background-color: #E2DEDE;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    height: 30px;
}
.report
{
    color: #AE1B8E;
    font-weight: bold;
    font-size: 14px;
    padding-top: 9px;
    padding-left: 10px;
    float:left;
}
.reportnormal
{
    color: #AE1B8E;
    font-weight: normal;
    font-size: 13px;
    padding-top: 9px;
    padding-left: 10px;
    float:left;
}
.divreportssep
{
    margin-left: 70px;
    float:left;
}
.surveyCreateLeftMenu
{
    width: 270px;
    float: left;
    margin-left: 35px;
}
.exportpollreports
{
    margin-left: 15px;
    margin-top: 4px;
    color: #AE1B8E;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}
.exportrawdata
{
    margin-left:5px;
    margin-top: 3px;
    color: #AE1B8E;
    font-size: 13px;
    font-weight: bold;
}
.reportsmain
{
    display: inline-block;
    width:100%;
}
.tablecssreports
{
    margin-top:20px;
    float: left;
}
.tablecssreports table
{
    font-size:13px;
    font-weight:bold;
}
.tablecssreports table td
{
    margin-left:20px;
    width:100px;
    text-align:center;
}
.tablecssreports table .countrywidth
{
    width:150px;
    text-align:left;
}
.tablecssreports table .labels
{
    font-weight:normal;
    color:#A85FB8;
}
.surveyQuestionPanel
{
    width: 670px;
    float: left;
    margin-left: 45px;
}
.fullwidth
{
    width:100%;
}
.floatR
{
    float:right;
}
.reportview
{
    padding-top: 15px;
}
.reportviewbasics
{
    padding-top: 5px;
}
.messageprivate
{
    padding:10px;
}
.pageTitle {
    width: 100%;
    height: 38px;
    font-size: 14px;
    font-weight: bolder;
    float: left;
    padding: 0px 15px;
    margin-bottom: 15px;
}
.contentHeader
{
    background: url('../../App_Themes/Classic/Images/content-header-img.jpg') repeat-x scroll 0% 0% transparent;
    border-right: 1px solid #D6C9DA;
    border-bottom: 1px solid #D6C9DA;
}
.contentPanelHeader
{
    margin: 10px 0px 0 38px;
    border-right: solid 1px #D6C9DA;
    border-bottom: solid 1px #D6C9DA;
}
.txtcomments
{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.headingforpollbyme
{
    background-color:#949498;
    color:#ffffff;
    font-size:15px;
    padding:10px;
    text-align: center;
    height:20px;
    width:430px;
}
.txtcommentsbyme
{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width:200px;
}
.dimensions
{
    color:#A19E9E;
    font-size: 13px;
    padding-left: 10px;
    font-family: verdana;
}
.resultpreview
{
    padding:10px;
    text-align : center;
    margin-top: -7px;
}
.popupBody
{
    padding-top:30px;
}
.vote
{
    font-size:13px;
    float: left;
    width: 40%;
    text-align: right;
}
.view
{
    font-size:10px;
    text-align:left;
}
.msgres
{
    font-size: 13px;
    padding-top: 10px;
    font-weight: bold;
    background: rgb(23, 138, 212);
    color: #ffffff;
    padding-bottom: 10px;
    margin-top: 50px;
}
.chek input[type="checkbox"]
{
    margin-top:6px;
    margin-left:0px;
}
input[type="file"]
{
    margin-left:0px;
}
.chek input[type="radio"]
{
    margin-left:0px;
}
.viewtest
{
  position:absolute;
}
.commentboxpre
{

}
.editpoll
{
    color:#000000;
}
.editpoll a
{
    color:#000000;
}
.editpoll a:hover
{
    color:#FF9000;
}
.imagetextupload
{
    margin-left:-155px;
}
.previewmain
{
    width:60%;
    float:left;
}

#messagebox
{
    padding-top:0px;
}
.radiopolltheme label
{
    /*margin-left:27px;*/
    display:block;
    /*margin-top:-12px;*/
}
.txtRow label
{
    margin-left:0px;
    display:block;
    margin-top:0px;
}
input[type="radio"]
{
    margin: 3px 3px 0px 5px;
}
input[type="checkbox"]
{
    margin: 3px 3px 0px 5px;
}
.borderdesign
{
    width: 97%;
    height: 5px;
    border-bottom: rgb(191, 193, 194) solid 1px;
    margin-top: 5px;
    margin-bottom:5px;
}
.pollbgclr
{
    margin-left: 50px;
    margin-top: 4px;
    float:left;
}
.pollqubgclr
{
    margin-left: 16px;
    margin-top: 4px;
    float:left;
}
.pollquclr
{
    margin-left: 58px;
    margin-top: 4px;
    float:left;
}
.pollanclr
{
    margin-left: 69px;
    margin-top: 4px;
    float:left;
}
.pollvtbgclr
{
    margin-left: 44px;
    margin-top: 4px;
    float:left;
}
.pollvtclr
{
    margin-left: 86px;
    margin-top: 4px;
    float:left;
}
.pollmsgbgclr
{
    margin-left: 16px;
    margin-top: 4px;
    float:left;
}
.pollmsgclr
{
    margin-left: 57px;
    margin-top: 4px;
    float:left;
}
.margnlogo
{
    margin-top:5px;
}
.onlymarginleft
{
    margin-left:10px;
    margin-top:10px;
}
.widthclrs
{
    width:160px;
}
.marginclrs
{
    margin-top:5px;
}
.createpollright
{
    float: left;
    margin-left: 50px;
    margin-top: -10px;
    width : 75%;
}
.basicsvote
{
    position:absolute;
    bottom:35px;
}
.wrapnew
{
    width: 245px;
    float: left;
    word-wrap: break-word;
    margin-top: 2px;
}
.wrapquestion
{
    width: 245px;
    word-wrap: break-word;
}
.wrapman
{
    width: 250px;
    word-break: break-all;
}
.txtboxshare
{
    margin:2px;
    height:18px;
}
.classresultsocial
{
    width: 30%;
    margin-left:40px;
    padding-top: 15px;
}
.voteres[style]{
 bottom:25px!important
}
.poweredbyres[style]{
 color:#b5b5b5!important;
}


#poweredbydiv{
    width: 100%;
    font-size: 14px;
    padding: 14px 10px;
    background-color: #E7E7E7;
    display: block;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin: 0 auto;
}


/*
#sponsormaindiv{
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(247, 247, 247,0.6);
    padding: 5px !important;
    border-radius: 8px;
    margin: 5px;
}*/


#socialshare:hover .socialicons
{
    display:block !important;
}

.socialicons
{
 	position: absolute;
 	top: -40px;
 	right: 0;
 	display: none;
}