﻿  .modal
    {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.6;
        filter: alpha(opacity=60);
        -moz-opacity: 0.6;
        min-height: 100%;
        width: 100%;
    }
    .loading
    {
        font-family: Arial;
        font-size: 10pt;
        width: 200px;
        height: 400px;
        display: none;
        position: fixed;
        background-color:white;
        z-index: 999;
        
    }
    .pollSlider{
 position:absolute;
   /* height:100%;*/
   /* background:red;*/
   /* width:200px;*/
    /*right:400px;*/
   /* margin-right: -200px;*/
    display:none;
    z-index:1000;
}
 .pollSliderBL{
 position:absolute;
   /* height:100%;*/
   /* background:red;*/
   /* width:200px;*/
    left:0px;
   /* margin-right: -200px;*/
    display:none;
    z-index:1000;
}
.pollSliderBR{
 position:absolute;
   /* height:100%;*/
   /* background:red;*/
   /* width:200px;*/
    right:0px;
   /* margin-right: -200px;*/
    display:none;
    z-index:1000;
}
.pollSliderCL{
 position:absolute;
   /* height:100%;*/
   /* background:red;*/
   /* width:200px;*/
    top:100px;   
   /* margin-right: -200px;*/
    display:none;
    z-index:1000;
}
.pollSliderCR{
 position:absolute;
   /* height:100%;*/
   /* background:red;*/
   /* width:200px;*/
     top:100px;      
    margin-left: 1000px;
    display:none;
    z-index:1000;
}

/*#pollSlider-button{
     position:fixed;
    width:120px;
    height:20px;
    left:0px;
    background:green;
    top:590px;
    left:350px;
}*/

.pprev_style {
	position:fixed;
	z-index:100000000;
	margin:15px;
	box-shadow:0px 0px 10px #000;
}
.pprev_LC {
	/*background:red;*/
	/*bottom:22%;*/
	top:10%;
	left:-42%;	
}

.pprev_RC {
	/*background:green;*/
	/*bottom:22%;*/
	top:10%;
	right:-42%;
}

.pprev_BL {
	/*background:blue;*/
	left:0px;
	bottom:-600px;
}

.pprev_BR {
	/*background:orange;*/
	right:0px;
	bottom:-600px;
}
.pprev_CM {
	/*background:grey;*/
	bottom:-600px;
	left:42%;
	display:none;
}


.sampledata {
	width:300px;
	height:250px;
}

.alert-close {
	background: rgba(255,255,255,0.1);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4),inset 0 -1px 2px rgba(255,255,255,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4),inset 0 -1px 2px rgba(255,255,255,0.25);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4),inset 0 -1px 2px rgba(255,255,255,0.25);
	color:Red;
	cursor: pointer;
	font-size: 18px;
	font-weight: normal;
	height: 22px;
	line-height: 24px;
	position: absolute;
	text-align: center;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	width: 22px;
	top: -5px;
right: -5px;
z-index: 1;
}
.closeFlyoutPromo {
    font: 0px/0 serif;
    text-shadow: none;
  /*  color: transparent;*/
    cursor: pointer;
    background: url("https://www.insighto.com/Polls/WebImages/main-sa34defa97d.png") no-repeat scroll 0px -667px transparent;
    height: 31px;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 31px;
    z-index: 5900499;
}
