﻿
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
*{
    font-family: 'Montserrat', sans-serif;
}


.nopad {
    padding: 0 !important;
}
.input-field label{
    right: 0;
    left: 0;
}

.response-btn{
    margin: 0% 0% 15% 0%;
}
.sponsor-block img {
    max-width: 100px;
    margin: 5% auto;
}
.sponsor-block p {
    text-align: center;
    margin: 0;
}
.thanks-model {
    text-align: center;
    width: 35%;
    top: 40% !important;
}

.phn-icon label{
    text-align: left;
    padding: 0px 12px;
}
.phn-icon i{
    margin: 2% 0;
}













div {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
}

/*
The two classes below work together
to center the content vertically and
horizontally on the screen.
*/

.wrapperOutside {
   display: table;
   width: 100vw;
   height: 100vh;
}

.wrapperInside {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

/*
The attributes below style the css
dialog window, and content.
*/

.dialogContainer {
    padding: 0 !important;
  /* Form */
  height: auto;
  /*
  Drop Shadow
  a. Horizontal shadow
  b. Vertical shadow
  c. Blur
  d. Spread
  e. Color
  */
  -webkit-box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align:center;
}
