@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
    font-family: 'Montserrat', sans-serif;
    color: black;
}



/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.nopad {
    padding: 0 !important;
}
.nav-bar{
    padding: 0px 30px;
    background: #3c4f67;
}
.drafts-block,.active-block,.closed-block {
    padding: 0 !important;
    min-height: 700px;
}
.pool-page{
    margin: 0;
    background: #DDD;
}
.drafts-block{
    background: #EBF0F2 !important;
}
.closed-block{
    background: #EBF0F2;
}
.drafts-block .block-head {
    background: #319AFA;
    padding: 15px 15px;
}
.active-block .block-head {
    background: #8ABA3C;
    padding: 15px 15px;
}
.active-block{
    background: #EAEAEA;
}
.extra-block{
    background: #F5F7F8;
}
.closed-block .block-head {
    background: #BD3A47;
    padding: 15px 15px;
}
.block-head h2 {
    font-size: 20px;
    margin: 0;
    color: #fff;
}

.block-head h2 .badge{
    position: relative;
    float: right;
    color: #fff;
    font-size: 20px;
}


.card-action a {
    color: #000 !important;
}
.add-block{
 text-align: center;
}
.add-block a i{
    color: #000;
    font-weight: bold;
}


nav .brand-logo {
    color: #95509E;
}

nav ul a {
    color: #000;
}
.drafts-block .card-title,.active-block .card-title,.closed-block .card-title {
    color: #000;
    padding: 5px 6px 0px 6px;
    display: inline-block;
}
.drafts-block .card-title p,.active-block .card-title p,.closed-block .card-title p {
    font-size: 12px;
    margin: 0;
    color: #000;
    font-weight: 400;

}
.active-block .card,.closed-block .card,.drafts-block .card{
margin: 6px 0px;
}
.active-block .card-action,.closed-block .card-action ,.drafts-block .card-action {
    display: inline-block;
    width: 100%;
    padding: 6px 6px;
    font-size: 12px;
}
.card-action a {
    margin: 0 !important;
}

.card-action a i{
    vertical-align: middle;
}
.card .card-action{
    clear: both;
}

.c3-charts{
    text-align: center;
}

.card .card-content p {
    margin: 0;
    color: inherit;
    font-size: 12px;
}
.card .card-content {
    padding: 0px 13px;
}
.add-block p{
    margin: 0;
    text-align: left;
}
.addpool {
    background: #fafafa;
    border: 1px solid #AFAFAF;
    padding: 0 8px;
    margin: 8px 0;
    border-radius: 2px;
}
/*.upgrade-btn {
    border: 1px solid #3c4f67;
    color: #3c4f67;
    padding: 12px 35px;
    display: inline;
    border-radius: 38px;
    background: #fff;
}*/
.upgrade-btn {
    border: 1px solid #ffeb3b;
    color: #3c4f67;
    padding: 12px 35px;
    display: inline;
    border-radius: 38px;
    background: #ffeb3b;
}
nav ul li:hover, nav ul li.active {
    background-color: transparent;
}
.pad-10{
    padding: 6px 0 !important;
}
.carddropdown li a{
    font-size: 12px;
    padding: 5px 10px;
}

.pool-popup-left,.pool-popup-left label:after,.pool-popup-left input,.pool-popup-left label:before{
    color: #000 !important;
    border-color: #fff;
}
.pool-popup-left h6{
    font-size: 14px;
    font-weight: bold;
    opacity: 0.6;
    color: #000080 !important;
    border-color: #2f2f2f;
}

.pool-popup-left .card-panel{
    margin-bottom:5px;
}
.pool-popup-left h5{
    font-size: 16px;
}
.pool-popup-left label{
    /*color: #fff !important;*/
    color: #000 !important;
    border-color: #fff;
}
.pool-popup-left .btn-large{
    background: orange;
}
.launch-tabs label,.launch-tabs label:after,.launch-tabs input,.launch-tabs label:before{
    color: #000 !important;
    border-color: #000;
}
.launch-tabs input,.launch-tabs textarea{
    color: #000 !important;
}
.launch-tabs,.launch-tabs p,.launch-tabs  label{
    color: navy !important;
}
.nomar{
    margin: 0 !important;
}
[type="checkbox"]:checked+label:before {
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
[type="radio"]:checked+label:after {
    border: 2px solid #FFFFFF;
    background-color: #434B88;
}
.launch-tabs [type="checkbox"]:checked+label:before {
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}
.launch-tabs [type="radio"]:checked+label:after {
    border: 2px solid #000;
    background-color: #434B88;
}

#MainContent_rblposition tbody tr td{
    margin: 0 !important;
    padding: 0  !important;
}
.yellow-text{
    color: yellow;
}
.full-img{
    width: 100%;
}
.list-inline{padding-left:0;margin-left:-5px;list-style:none}.list-inline>li{display:inline-block;padding-right:5px;padding-left:5px}

#mCSB_1_container, #mCSB_7_container  {
    margin-left: 25px !important;
    padding-left: 8px !important;
}

/*.card-panel{
    float:left;
    width:100%;
    margin-left:0px;
    padding-left:0px;
}*/


/*=======================================  Mobile   ===================================================*/
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}
/* Extra Small Devices, Phones */

@media (min-width: 0px) and (max-width: 420px) {
.side-nav a {
    height: 60px !important;
    line-height: 30px !important;
    padding: 15px 15px !important;
}


}



    /* Small Devices, Tablets */
@media (min-width: 420px) and (max-width: 768px) {



    }
    /* Small Devices, Tablets */
@media (min-width: 0px) and (max-width: 768px) {

.drafts-block, .active-block, .closed-block {
    min-height: 100%;
}
nav a {
    color: #934E9C;
}
nav .nav-wrapper {
    padding: 0;
}


}

@media (min-width: 768px) and (max-width: 991px) {

}


    }

@media (min-width: 0px) and (max-width: 1200px) {


    }


.pollname {
    margin: 0; 
    font-size:16px !important;
}

.pollquestion {
    margin: 0; 
    font-size:14px !important;
}

.pollcardmenuitem {
    font-size:12px;
    height:15px;
    vertical-align:top !important;
    padding-bottom:5px !important;
    margin-bottom:5px;
}

.carddropdown {
    
}

.extra-padding-bottom {
    padding-bottom:8px !important;
}
.rounded-button {
    color: #8ABA3C; 
    /*border: 1px solid; */
    padding: 14px 8px; 
   /* border-top-left-radius: 0px; 
    border-top-right-radius: 14px; 
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;*/
    /*background: #fff !important;*/ 
    font-size: 16px; 
    font-weight: bold;
    border-bottom:none;
    border-left:none;
}

#psameanswer label{
    left: 0;
}

/*#ucHeader_companyname:hover #ucHeader_btnOpenCompanyNameDialog{
    display: block;
}*/

#ucHeader_btnOpenCompanyNameDialog{
    display: none;
}
