﻿.selectbg
{
     padding: 8px 18px 11px 9px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background: none;
    font-size: 17px;
    cursor:pointer;
}
.successPanel
{
    width: 826px;
    background: #FBFCF7;
    border: dashed 1px #B4CE6F;
    text-align: center;
    padding: 8px 0 8px 0;
    margin: 30px 0 10px 0;
}
.fontweightbold
{
    font-weight:bold;
}
.printpoll
{
    background-color: #E6E6E7;
    padding: 10px;
    text-align: right;
    padding-right: 50px;
}
.top-small-gap 
{
    margin:16px -21px 0 0;
}
.button-small-gap
{
    margin: 0 4px 0 4px;
}
.manageLinks a:link, .manageLinks a:visited, .copyLink-left, .deleteLink, .closeLink, .activeIconLink, .addEmailLink, .printLink
{
    padding: 2px 25px 1px 25px;
}
.floatL 
{
    float:left;
}
.pollmain
{
    width:100%;
    float:left;
    margin-top:50px;
}
.createpollnew
{
    border-right: 1px solid #4994C0;
    margin-left: 40px;
    width: 46%;
    display:inline-block;
}
.polldesignbox {
    position: relative;
    border: 1px solid #2572A9;
    width: 80%;
    padding: 10px 0px 10px 22px;
    font-size: 17px;
    color: #8C589B;
}

.createpollcss
{
    width:19%;
    float:left;
}
.question
{
    padding: 12px 0 0px 0px;
    font-size: 16px;
    color: #6E6969;
    text-align: left;
}
.SavePoll
{
     float: right;
    width: 80px;
    height: 40px;
    background-color: #27BCEB;
    border-radius: 2px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    margin-top: 10px;
}
.SavePollCreate
{
    float: right;
    margin-top: 10px;
    width: 80px;
    height: 40px;
    background-color: #27BCEB;
    border-radius: 2px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    margin-right: 30px;
}
.textboxpoll
{
    width:350px;
}
.iframeblock {
position: relative;
background: #F2E5FC;
border: 1px solid #E2C9E9;
border-top-color: #E2C9E9;
border-top-style: solid;
border-top-width: 1px;
border-right-color: #E2C9E9;
border-right-style: solid;
border-right-width: 1px;
border-bottom-color: #E2C9E9;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: #E2C9E9;
border-left-style: solid;
border-left-width: 1px;
width: 390px;
border-radius: 3px;
box-shadow: 1px 1px 5px #CBAFE0;
}
.iframeblock:after, .iframeblock:before {
bottom: 100%;
border: 1px solid #c2e1f5;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
left: 10%;
}

.iframeblock:after {
border-color: rgba(136, 183, 213, 0);
border-bottom-color: #F2E5FC;
border-width: 10px;
margin-left: -16px;
}

.iframeblock:before {
border-color: rgba(194, 225, 245, 0);
border-bottom-color: #E2C9E9;
border-width: 12px;
margin-left: -18px;
}
.embedblockheight
{
   height: 51px;
   padding:9px;
}
.embedtextinner
{
    float:left;
    margin-left: 15px;
}
.generatetop
{
    margin-top:5px;
}
.recom
{
    font-size:10px;
    color: #C424A5;
margin-top: 2px;
}
.generate
{
margin-top: 4px;
margin-left: 21px;
}
.widthdivpad
{
    width: 100%;
    float: left;
    padding-top:8px;
}
.surveyname
{
    margin-top: 10px;
color: #1747A9;
font-weight: bold;
}
.congrats
{
    float: left;
    margin-top: -10px;
}
.copyembed
{
    width:100%;
    margin-top: 10px;
}
.iframemargin
{
    margin-top: 5px;
}
.createarrow
{
    padding-left:45px;
}
.designarrow
{
    padding-left:133%;
}
.launcharrow
{
    padding-left:240%;
}
.textpolltheme
{
    width:230px;
    height:368px;
    font-size:14px;
    color:#000000;
    text-align:center;
    margin-top:5px;
    border: 1px solid rgba(213, 197, 197, 1);
}
.imagepolltheme
{
    width: 230px;
    height:368px;
    font-size:14px;
    color:#000000;
    text-align:center;
    margin-top:5px;
    border: 1px solid rgba(213, 197, 197, 1);
}
.radiopolltheme
{
    text-align:left;
    margin-top: 5px;
    margin-left:10px;
}
.questiontheme
{
    margin-bottom: 31px;
    padding: 25px;
    background-color :rgba(231, 231, 231, 1);
}
.headingpolltheme
{
    text-align:center;
    font-size:14px;
    color:#000000;
    margin-right: 18%;
}
.imagequestiontheme
{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #E7E7E7;
}
.viewandvotetext
{
    margin: 83px 0px 10px;
    background-color: #6C89E1;
    color: #FFF;
    font-size: 13px;
    padding: 10px 0px 10px;
    font-weight: bold;
}
.viewandvoteimage
{
    background-color: rgba(108, 137, 225, 1);
    color: #FFF;
    font-size: 13px;
    margin: 10px;
    padding: 5px 0 6px 0px;
    font-weight: bold;
    width:45%;
    float:left;
}
.viewandvoteimagepreview
{
    background-color: rgba(108, 137, 225, 1);
    color: #FFF;
    font-size: 13px;
    margin-top:10px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    margin-bottom:5px;
    cursor:pointer;
}
.viewandvoteimageresponse
{
    background-color: rgba(108, 137, 225, 1);
    color: #FFF;
    font-size: 13px;
    margin-top:10px;
    font-weight: bold;
    margin-bottom:10px;
    border:0px;
    cursor:pointer;
}
.viewandvoteimageresponsebtn
{
    background-color: rgba(108, 137, 225, 1);
    color: #FFF;
    font-size: 13px;
    margin-top:10px;
    font-weight: bold;
    margin-bottom:10px;
    border:0px;
    cursor:pointer;
}
.sponsorimage
{
   margin-left: 15px;
    font-size: 11px;
    float: left;
    margin-top: 6px;
    color:#000000;
}
  .ddl
 {
    border: 0px none;
    background-image: url('../App_Themes/fontstyles/arrow_active.png');
    background-position: 13px center;
    background-repeat: no-repeat;
    text-indent: 0.01px;
    text-overflow: "";
}
.ddlfont
{
    border: 0px none;
    text-overflow: "";
    color: black;
    background-color: #ECECEC;
    width: 144px;
    background-position: 70px center;
    text-indent: 0.01px;
    border: 0px none;
    background-repeat:no-repeat;
    margin-top: 8px;
    margin-left : 2px;
}
.fontstylesbg
{
    width: 320px;
    background-color: #ECECEC;
    height: 32px;
    margin-top: 14px;
    border-radius: 5px;
}
.fonttype
{
    float:left;
}
.fonticons
{
    float:left;
    margin: 6px 0 0 5px;
    cursor:pointer;
}
.createpollbg
{
    background-color: #E2C9E9;
    padding: 20px 0 20px 10px;
    color: #554242;
    height: 16px;
    font-weight: bold;
    font-size: 16px;
}
.CreatePoll
{

    font-size:16px;
    padding-left: 50px;
    padding-top: 30px;
}
.PollDiv
{
    width:100%;
    padding-top: 7px;
}
.PollDivsub
{
    border-right: 2px solid #BFBCBC;
    width: 90px;
    float: left;
    color:#7D2AC7;
    font-weight:bold;
}
.PollDivsub a
{
    width: 90px;
    float: left;
    color:#7D2AC7;
    font-weight:bold;
}
.PollDivsubinner
{
  margin-left: 1%;
    float: left;
    color:#948E8E;
}
.PollDivsubinner a
{
    color:#948E8E;
}
.choosepolltype
{
    float: left;
    margin-top: 15px;
    font-weight:bold;
}
.polltype
{
    width:100%;
    margin-top: 20px;
}
.texttype
{
    float:left;
    margin-right: 40px;
}
.imagetype
{
    float:left;
    margin-right: 40px;
}
.videotype
{
    float:left;   
}

.contentPanelPoll
{
         margin: 10px 2px 5px 5px;
border: 1px solid #E2C9E9;
display: inline-block;
width: 99%;
padding-bottom: 10px;
}

.contentPanelPollwitoutborder
{
   max-height: 800px;
    margin-left: 0px;
    padding-top: 10px;
}

.contentPanel
{
    background: url('Images/content-panel-bgr.jpg') #fff bottom repeat-x;
    margin: 0 20px 0 20px;
    padding: 0 10px 20px 10px;
    border-right: solid 0px #D6C9DA;
    border-bottom: solid 0px #D6C9DA;
    width:1247px;
}

.divpadslideup
{
    padding-top:80px;
}

.divpaddingicons
{
    margin: 9px;
    cursor:pointer;
}
.divalignstyles
{
 position: absolute;
left: 312px;
top: 311px;
z-index: 100;
border: 1px solid #CCC;
border-radius: 4px;
background-color: #ECECEC;
}
.pickertextbox
{
     width: 64px;
    border-radius: 2px;
    cursor:pointer;
}
.colorvote
{
    width: 20px;
    height: 16px;
    margin-top: 10px;
    margin-left: 3px;
    float: left;
}
.bgcolorvote
{
    width: 20px;
    height: 16px;
    margin-top: 10px;
    margin-left: 3px;
    float: left;
}
.colorbgpoll
{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 3px;
    float: left;
    border-radius: 2px;
    background-color: rgb(87, 16, 87);
}
.colorquestion
{
    width: 20px;
    height: 16px;
    margin-top: 10px;
    margin-left: 3px;
    float: left;
}
.bgcolorquestion
{
    width: 20px;
    height: 16px;
    margin-top: 10px;
    margin-left: 3px;
    float: left;
}
.coloranswer
{
    width: 20px;
    height: 16px;
    margin-top: 10px;
    margin-left: 3px;
    float: left;
}
.rounded
{
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
}
.space
{
	margin-bottom:15px;
}
    #wrapper
    {
        width:100%;
        background-color:White;
    }
     div#topMainLeftLinksPoll
    {
        float: left;
        width: 600px;
        margin: 0px;
        clear: right;
    }
      .rightmenu
    {
        width: 362px;
        float:right;
    }
    #topMennuRightPanel {
	    width:182px;
	    float:left; 
    }
    .topMennuRightPanel {
	    width:175px;
	    /*float:left; */
    }
    .divalignfonsizediv
    {
        position: absolute;
left: 200px;
top: 341px;
z-index: 100;
background-color: #ECECEC;
border: 1px solid #CCC;
border-radius: 4px;
    }
    .fontsmall, .afontsmall, .vfontsmall
    {
        cursor:pointer;
        margin-bottom:3px;
    }
    .fontnormal, .afontnormal, .vfontnormal
    {
        cursor:pointer;
    }
    .btnaalignment, .btn, .btnvalignment, .btnmalignment
    {
        padding: 0px;
        border: 0px none;
        text-align: left;
        cursor:pointer;
        padding: 0px;
        width: 39px;
        border-radius: 1px;
        margin-top: -1px;
    }
    .btnafontsize, .btnfontsize, .btnvfontsize, .btnmfontsize
    {
        padding: 0px;
        width: 33px;
        border: 0px none;
        text-align: left;
        cursor:pointer;
        margin-top: 0px;
    }
    .divaalignfonsizediv 
    {
       position: absolute;
left: 200px;
top: 458px;
z-index: 100;
border: 1px solid #CCC;
border-radius: 4px;
background-color: #ECECEC;
    }
    .divaalignstyles
    {
        position: absolute;
left: 311px;
top: 428px;
z-index: 100;
border: 1px solid #CCC;
border-radius: 4px;
background-color: #ECECEC;
   }
    .divvalignfonsizediv 
    {
     position: absolute;
left: 200px;
top: 576px;
z-index: 100;
border: 1px solid #CCC;
border-radius: 4px;
background-color: #ECECEC;
    }
    .divvalignstyles
    {
       position: absolute;
left: 311px;
top: 546px;
z-index: 100;
border: 1px solid #CCC;
border-radius: 4px;
background-color: #ECECEC;
   }
    .divmalignfonsizediv 
    {
     position: absolute;
        left: 207px;
        top: 869px;
        z-index: 100;
        border: 1px solid #CCC;
        border-radius: 4px;
        background-color:#ececec;
    }
    .divmalignstyles
    {
       position: absolute;
left: 315px;
top: 841px;
z-index: 100;
border: 1px solid #CCC;
border-radius: 4px;
background-color: #ECECEC;
   }
   .Preview
   {
        width: 45%;
        margin-left: 30px;
        display:inline-block;
        vertical-align:top;
   }
   .textpollthemepreview
   {
       font-size:14px;
        color:#000000;
        text-align:center;
        box-shadow: rgb(65, 62, 62) 1px 1px 10px;
        border: none;
        margin-top: 20px; 
        margin-bottom: 30px; 
        -moz-border-radius: 12px; 
        -webkit-border-radius: 12px; 
        border-radius: 12px;
        -moz-box-shadow: 4px 4px 14px #000; 
        -webkit-box-shadow: 4px 4px 14px #000; 
        box-shadow: 4px 4px 14px #000;
   }
      .textpollthemeresponse
   {
        width:300px;
        font-size:14px;
        color:#000000;
        text-align:center;
        box-shadow: rgb(65, 62, 62) 1px 1px 10px;
        margin:3px;
        -moz-border-radius: 12px; 
        -webkit-border-radius: 12px; 
        border-radius: 12px;
        -moz-box-shadow: 4px 4px 14px #000; 
        -webkit-box-shadow: 4px 4px 14px #000; 
        box-shadow: 4px 4px 14px #000;
   }
   .textpollthemeprint
   {
        width:300px;
        font-size:14px;
        color:#000000;
        text-align:center;
        background-color:#ffffff;
        box-shadow: rgb(65, 62, 62) 1px 1px 10px;
   }
   .questionpreviewcss
  {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #E7E7E7;
  }
  .singlebtns
  {
      text-align:left;
  }
  .commentstxt
  {
    padding: 12px 0 0px 10px;
    font-size: 15px;
    color: #000000;
    text-align: left;
  }
  .contentPanelPollwithoutborder
{
    max-height: 800px;
    margin-left: 0px;
    padding-top: 10px;
}
  .videopreview
  {
      width:300px;     
  }
   .videopreviewcreate
  {
      width:300px;
      height:250px;
      overflow:scroll;
  }
     .pollrespondent
   {
        width:300px;
        font-size:14px;
        color:#000000;
        margin-top:5px;
        border: 1px solid rgba(213, 197, 197, 1);
   }
   .leftandmargin
   {
       float: left;
       margin-left: 20px;
   }
   .poweredby
   {
       font-size: 12px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
      .poweredby a
   {
       color:#4A5F9C;
       text-decoration: underline;
       font-weight:bold;
   }
   .pollmanagerpreview
   {
        background-color: #434B88;
        padding: 10px;
        color: #ffffff;
        font-weight: normal;
        font-size: 17px;
   }
   .pollmanagermain
   {
       width: 100%;
       float : left;
       margin: 50px 75px 0px 35px;
   }
   .pollmanagerrightpanel
   {
       width: 450px;
       float: left;
       margin-left: -20px;
       margin-top:10px;
   }
    .pollmanagerleftpanel
   {
        width: 25%;
        float: left;
        border-right-width: 1px;
        border-color: #000000;
        margin-left: 20px;
   }
   .buttoncontroldiv
   {
       line-height:50px;
       background-color:#EBE9E9;
   }
   .manageLinks
   {
       margin-left: 10px;
   }
   .placeholdermain
   {
       float:left;
       margin-right: 40px; 
       margin-top: 20px;
       border: 1px solid rgba(213, 197, 197, 1);
   }
   .placeholderbtn
   {
         float: right;
        margin-right: 11px;
        width: 80px;
        height: 33px;
        border: 0;
        color: #ffffff;
        background-color: #2FB0DA;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
   }
   .bgbar
   {
        background-color: #E2DEDE;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 60px;     
        line-height:38px;
        font-size:12px;
        font-weight:bolder;
        color:#AE1B8E;
        width:auto;    
   }
   .bgbar span {
    color: #AE1B8E;
    margin-left:20px;
    margin-right:-20px;
   }
    .bgbarquestion
   {
        background-color: #E2DEDE;
        border-radius: 5px;
        padding-top: 10px;
        padding-left: 10px;
        height: 30px;
   }
   .surveyQuestionHeader
{
    background-color: #E2DEDE;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    padding: 0 5px 0 15px;
    font-size:12px;
    font-weight:bolder;
    width:950px;
    margin-left:-20px;
}
   .report
   {
        color: #AE1B8E;
        font-weight: bold;
        font-size: 14px;
        padding-top: 9px;
        padding-left: 10px;
        float:left;
   }
     .reportnormal
   {
        color: #AE1B8E;
        font-weight: normal;
        font-size: 13px;
        padding-top: 9px;
        padding-left: 10px;
        float:left;
   }
   .divreportssep
   {
      margin-left: 70px;
      float:left;
   }
   .surveyCreateLeftMenu
    {
    width: 270px;
    float: left;
    /*margin-left: 35px;*/
    margin-left: 10px;
    }
    .exportpollreports
    {
        margin-left: 15px;
        margin-top: 4px;
        color: #AE1B8E;
        font-size: 13px;
        font-weight: bold;
        text-decoration: underline;
    }
       .exportrawdata
    {
        margin-left:5px;
        margin-top: 3px;
        color: #AE1B8E;
        font-size: 13px;
        font-weight: bold;
    }
    .reportsmain
    {
        display: inline-block;
        width:100%;
        background-color:White;
    }
    .tablecssreports
    {
        margin-top:20px;
        float: left;
    }
    .tablecssreports table
    {
        font-size:13px;
        font-weight:bold;
    }
      .tablecssreports table td
    {
        margin-left:20px;
        width:100px;
        text-align:center;
    }
     .tablecssreports table .countrywidth
    {
        width:150px;
        text-align:left;
    }
        .tablecssreports table .labels
    {
        font-weight:normal;
        color:#A85FB8;
    }
    .surveyQuestionPanel 
    {
        width: 670px;
        float: left;
        margin-left: 45px;
    }
    .fullwidth
    {
        width:100%;
    }
    .floatR
    {
        float:right;
    }
    .reportview
    {
        padding-top: 10px;
    }
    .messageprivate
    {
        padding:20px;
        background-color:#cccccc;
    }
    .pageTitle
    {
        width: 99.4%;
        height: 38px;
        font-size: 12px;
        font-weight: bolder;
        float: left;
        padding: 0px 0px 0px 10px;
        line-height: 38px;
        margin: 0px;
    }
    .contentHeader
    {
        background: url('../../App_Themes/Classic/Images/content-header-img.jpg') repeat-x scroll 0% 0% transparent;
        border-right: 1px solid #D6C9DA;
border-bottom: 1px solid #D6C9DA;
    }
    .contentPanelHeader
    {
        margin: 10px 0px 0 38px;
        border-right: solid 1px #D6C9DA;
        border-bottom: solid 1px #D6C9DA;
    }