﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CustomerRelations.aspx.cs" Inherits="In_CustomerRelations" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <!--<link href="../images/homeimages/insighto.css" rel="Stylesheet" type="text/css" />-->
    <style type="text/css">
    body 
    {
    font:normal 12px Arial, Helvetica, sans-serif;	
	color:#424242;
	background:#fff; 
	margin:0;
	padding:0;
    }
    .popupContent 
    {
    	padding:0 10px 0 10px;
    }
    </style>
</head>
<body class="popupBody">
    <form id="form1" runat="server">
    <div id="divContent" runat="server" class="popupContent"></div>
    
    </form>
</body>
</html>
