﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="paypersurveycheckout.aspx.cs" Inherits="In_paypersurveycheckout" %>
<%@ Register TagPrefix="uc" TagName="Footer" Src="~/UserControls/Footer.ascx" %>
<%@ Register TagPrefix="uc" TagName="TopLinks" Src="~/UserControls/TopLinks.ascx" %>
<%@ Register TagPrefix="uc" TagName="HeaderMenu" Src="~/In/UserControls/Header.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
 <form  id="form1" runat="server" method="POST" action="http://sites.fastspring.com/insighto/api/order">
<input type="hidden" name="operation" value="create"/>
<input type="hidden" name="destination" value="contents"/>
<p>
<input type="hidden" name="product_1_path" id="product_1_path" runat="server" value="/paypersurvey" />
<input type="text" name="product_1_quantity" id="product_1_quantity" value="0"/> paypersurvey
</p>
<p>
<input type="submit" value="Order Now"/>
</p>
</form>
</body>
</html>
