﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="FAQMaster.master.cs" Inherits="FAQMaster" %>

<%@ Register src="UserControls/FaqControls/FaqTopMenu.ascx" tagname="FaqTopMenu" tagprefix="uc1" %>
<%@ Register TagPrefix="uc" TagName="Scripts" Src="~/UserControls/ScriptsControl.ascx" %>
<%@ Register TagPrefix="uc" TagName="AdditionalScripts" Src="~/UserControls/AdditionalScriptsControl.ascx" %>
<%@ Register TagPrefix="uc" TagName="Styles" Src="~/UserControls/StylesControl.ascx" %>
<%@ Register TagPrefix="uc" TagName="Footer" Src="~/UserControls/Footer.ascx" %>
<%@ Register TagPrefix="uc" TagName="CreateLeftMenu" Src="~/UserControls/FaqControls/CreateLeftMenu.ascx" %>
<%@ Register TagPrefix="uc" TagName="DesignLeftMenu" Src="~/UserControls/FaqControls/DesignLeftMenu.ascx" %>
<%@ Register TagPrefix="uc" TagName="LaunchLeftMenu" Src="~/UserControls/FaqControls/LaunchLeftMenu.ascx" %>
<%@ Register TagPrefix="uc" TagName="AnalyzeLeftMenu" Src="~/UserControls/FaqControls/AnalyzeLeftMenu.ascx" %>
<%@ Register TagPrefix="uc" TagName="ManageLeftMenu" Src="~/UserControls/FaqControls/ManageLeftMenu.ascx" %>
<%@ Register TagPrefix="uc" TagName="PpsLeftMenu" Src="~/UserControls/FaqControls/PpsSingleLeftmenu.ascx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <title>Free Online Survey and Questionnaire Software for Customer Research and Feedback</title>
    <uc:Styles ID="ucStyles" runat="server" />
    <uc:Scripts ID="ucScripts" runat="server" />
    <uc:AdditionalScripts ID="ucAdditionalScripts" runat="server" />
    <link rel="stylesheet" type="text/css" media="screen" href="App_Themes/Classic/facebox.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="Styles/JqueryUi/jquery-ui-1.8.14.custom.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="Styles/ui.jqgrid.css" />
    <script src="Scripts/jquery-1.6.2.js" type="text/javascript"></script>
    <script src="Scripts/jquery.delay.js" type="text/javascript"></script>
     <script src="Scripts/facebox.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>   
</head>
<body>
    <form id="form1" runat="server">
    <div id="wrapper">
   <%-- <div id="topLinksPanel">&nbsp;</div>--%>
    <div id="header">
            <!-- header -->
            <div class="insightoLogoPanel">
                <!-- insighto logo -->
                <asp:HyperLink ID="lnkLogo"  
                    ImageUrl="~/App_Themes/Classic/Images/Insighto_logo.png" Text="Insighto" 
                    runat="server" Target="_blank" meta:resourcekey="lnkLogoResource1"></asp:HyperLink>
                    
                  
                <!-- insighto logo -->
            </div>
            <div> <%--class="insightoTagLine"--%>
            </div>
            <!-- //header -->
  </div>    
  <div class="clear"></div> 
    <div id="topMainMenu">
    <!-- top main menu -->
    <div id="topMainLeftLinks">
        <!-- top left menu-->
          <div class="faqTopText">Help / Frequently Asked Questions</div>
        <!-- //top left menu-->
    </div>
   
    <!-- //top menu right -->
</div>
<div class="faqMainContentPanel">
    <div class="faqTopMenuPanel">
        <ul id="faqNav">
            <li id="liMyAccount" runat="server">
                <asp:HyperLink ID="lnkCreate" Text="Create" runat="server"></asp:HyperLink></li>
            <li id="liAddressBook" runat="server">
                <asp:HyperLink ID="lnkDesign" Text="Design" runat="server"></asp:HyperLink></li>
                <li id="li1" runat="server">
                <asp:HyperLink ID="lnkLaunch" Text="Launch" runat="server"></asp:HyperLink></li>
                <li id="li2" runat="server">
                <asp:HyperLink ID="lnkAnalyze" Text="Analyze" runat="server"></asp:HyperLink></li>
                <li id="li3" runat="server">
                <asp:HyperLink ID="lnkManage" Text="Manage" runat="server"></asp:HyperLink></li>
                <li id="li4" runat="server">
                <asp:HyperLink ID="lnkPps" Text="Pay per survey" runat="server"></asp:HyperLink></li>
             
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="faqSubMaincontent">
        <div class="faqLeftMenuPanel"><!-- left menu -->
            <div class="faqLeftTreeMenuPanel">            
            <div class="faqLeftMenu">
                 <uc:CreateLeftMenu ID="CreateLeftMenu" runat="server" />
                 <uc:DesignLeftMenu ID="DesignLeftMenu" runat="server" />
                 <uc:LaunchLeftMenu ID="LaunchLeftMenu" runat="server" />
                 <uc:AnalyzeLeftMenu ID="AnalyzeLeftMenu" runat="server" />
                 <uc:ManageLeftMenu ID="ManageLeftMenu" runat="server" />
                 <uc:PpsLeftMenu ID="PpsLeftMenu" runat="server" />
            </div>                
            </div>
            <div class="clear"></div>
        <!-- //left menu --></div>
        <div class="faqRightContentPanel"><!-- right content panel-->
           <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
          
           </asp:ContentPlaceHolder>
        <!-- //right content panel--></div>
        <div class="clear"></div>
    </div>
</div>

    <uc:Footer ID="ucFooter" runat="server" />
    </div>
     <script type="text/javascript" >
         $(document).ready(function () {
             $('a').each(function () {
                 if (document.URL.indexOf($(this).attr('href')) >= 0) {                   
                     $(this).parentsUntil(".menu").addClass('activelink');
                 }
             });
         });
    </script>

    </form>
</body>
</html>
