﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ModelMaster.master" AutoEventWireup="true"
    CodeFile="Feedback.aspx.cs" Inherits="ReportBug" %>

<%@ Register Src="~/UserControls/ReportaBugControl.ascx" TagName="ContactUsControl"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <uc1:ContactUsControl ID="ReportABugControl1" runat="server" />
</asp:Content>
