﻿<%@ WebHandler Language="C#" Class="ImageStreaming" %>

using System;
using System.Web;
using System.Drawing;
using System.Drawing.Imaging;
using System.IO;
using Insighto.Business.Charts;
using CovalenseUtilities.Helpers;
using DevExpress.XtraCharts;
using System.Web.UI.WebControls;
using System.Configuration;
using System.Linq;
using System.Web.UI.HtmlControls;

public class ImageStreaming : IHttpHandler
{

    public void ProcessRequest(HttpContext context)
    {
        //try
        //{
        //    int surveyID, questionID;
        //    DateTime startDate, endDate;
        //    SurveyCore surcore = new SurveyCore();
        //    Survey SelectedSurvey = new Survey();           
        //    surveyID = ValidationHelper.GetInteger(context.Request.QueryString["surveyId"].ToString(), 0);
        //    questionID = ValidationHelper.GetInteger(context.Request.QueryString["questionId"].ToString(), 0);
        //    startDate = Convert.ToDateTime(context.Request.QueryString["startDate"].ToString());
        //    endDate = Convert.ToDateTime(context.Request.QueryString["endDate"].ToString());
        //    // string picPath = context.Request.QueryString["picPath"].ToString();
        //    SelectedSurvey = surcore.GetSurveyWithResponsesCount(surveyID, startDate, endDate);
        //    string PicPath = ConfigurationManager.AppSettings["RootPath"] + SelectedSurvey.USER_ID + "\\sample.png";
        //    var s = SelectedSurvey.surveyQues.Where(q => q.QUESTION_ID == questionID).FirstOrDefault();
        //    // if (s.RESPONSE_COUNT != null && s.RESPONSE_COUNT > 0)
        //    // {
        //    DevExpress.XtraCharts.Web.WebChartControl wbchrt = null;
        //    wbchrt = BuildQuetions.GetChart(s, 0, startDate, endDate);
        //    ViewType viewType = BuildQuetions.GetChartViewType(s.CHART_TYPE, s.QUESTION_TYPE);
        //    if (s.QUESTION_TYPE == 4 && (viewType == ViewType.Pie || viewType == ViewType.Doughnut || viewType == ViewType.Doughnut3D || viewType == ViewType.Pie3D))
        //    {

        //        foreach (DevExpress.XtraCharts.Series series in wbchrt.Series)
        //        {
        //            series.PointOptions.PointView = PointView.ArgumentAndValues;
        //        }
        //        wbchrt.Legend.Visible = false;
        //    }
        //    wbchrt.Height = (Unit)500;
        //    wbchrt.Width = (Unit)400;
        //    string Id = "WbchrtPdf" + Convert.ToInt32(s.QUESTION_ID);
        //    wbchrt.ID = Id;    
         
        //    if (s != null && wbchrt != null && (s.QUESTION_TYPE == 1 || s.QUESTION_TYPE == 2 || s.QUESTION_TYPE == 3 || s.QUESTION_TYPE == 4 || s.QUESTION_TYPE == 10 || s.QUESTION_TYPE == 11 || s.QUESTION_TYPE == 12 || s.QUESTION_TYPE == 13 || s.QUESTION_TYPE == 15))
        //        ChartExtraFeatures.SetchartDiagramProp(wbchrt, s);                


        //    DevExpress.XtraCharts.ChartControl piechartControl = new DevExpress.XtraCharts.ChartControl();
        //    ((DevExpress.XtraCharts.Native.IChartContainer)piechartControl).Chart.Assign(((DevExpress.XtraCharts.Native.IChartContainer)wbchrt).Chart);
        //    piechartControl.Height = 400;
        //    piechartControl.Width = 500;
        //    piechartControl.ExportToImage(PicPath, ImageFormat.Png);           
        //    System.Drawing.Image image = System.Drawing.Image.FromFile(PicPath);
        //    piechartControl.Dispose();
        //    using (MemoryStream stream = new MemoryStream())
        //    {
        //     //Save image to stream.
        //    image.Save(stream, ImageFormat.Png);
        //     image.Dispose();
        //    context.Response.ContentType = "image/png";
        //     context.Response.OutputStream.Write(stream.GetBuffer(), 0, stream.GetBuffer().Length);
        //    //string Id = "WbchrtPdf" + Convert.ToInt32(s.QUESTION_ID);
        //    //wbchrt.ID = Id;          
        //    context.Response.Flush();
        //    context.Response.End();


        //    // }
        //    }
        //}
        //catch (Exception ex)
        //{
        //}
        //// }      

    }

    public bool IsReusable
    {
        get
        {
            return false;
        }
    }

}