﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="InsightoPollsPromoEmail.aspx.cs" Inherits="InsightoPollsPromoEmail" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label runat="server" ID="lbl1"></asp:Label>
    <br />
    <asp:Label runat="server" ID="lblerror1"></asp:Label>
    <br />
    <asp:Label runat="server" ID="lblerror2"></asp:Label>
    <br />
    </div>
    </form>
</body>
</html>
