﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PageNotFound.aspx.cs" Inherits="Insighto.Pages.PageNotFound"
    MasterPageFile="~/Login.master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="marginNewPanel">
        <div class="PageNotFound">
            <div class="shadow" id="dvResourceMessage" runat="server">
               <%-- <h1>
                    404 Page Not Found</h1>
                <div class="defaultH">
                </div>
                <p>
                    We could not find the Web Page you requested. This is either because:</p>
                <ul>
                    <li>There's an error in the address or link.</li>
                    <li>Or you have entered the address or link incorrectly.</li>
                </ul>
                <p>
                    <br />
                    <a href="#">Click here</a> to go back the previous page
                </p>
                <div class="defaultH">
                </div>
                <p>
                    If you have found is via a search engine like google you can view our site here:
                    www.insighto.com</p>--%>
            </div>
        </div>
    </div>
</asp:Content>
