﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="pptdemo.aspx.cs" Inherits="pptdemo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Button ID="Button1" runat="server" onclick="Button1_Click" 
            Text="click here" />
            <br />
        <br />
        <br />
        <asp:Label ID="lbltesting" runat="server" Text="this lable used for testing" 
            Visible="False"></asp:Label>
        <br />
        <br />
    
    </div>
    </form>
</body>
</html>
