﻿<%@ Master Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="PreLaunch.master.cs"
    Inherits="PreLaunch" %>

<%@ Register Src="~/UserControls/PreLaunchHeader.ascx" TagName="PreLaunchHeader"
    TagPrefix="uc" %>
<%@ Register Src="~/UserControls/PreLaunchSideNav.ascx" TagName="PreLaunchSideNav"
    TagPrefix="uc" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="Server">
    <uc:PreLaunchHeader ID="ucPreLaunchHeader" runat="server" />
    <div class="clear">
    </div>
    <div class="contentPanel">
        <!-- //content panel -->
        <div class="surveyCreateTextPanel">
            <!-- //PreLaunch content panel -->
            <div class="gridTopMenuPanel">
                <!-- PreLaunch  menu -->
                <uc:PreLaunchSideNav ID="ucPreLaunchSideNav" runat="server" />
                <!-- //PreLaunch  menu -->
            </div>
            <div class="clear">
            </div>
            <asp:ContentPlaceHolder ID="PreLaunchMainContent" runat="server">
            </asp:ContentPlaceHolder>
            <div class="clear">
            </div>
            <!-- //PreLaunch content panel -->
        </div>
        <div class="clear">
        </div>
        <!-- //content panel -->
    </div>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('input:text:first').focus();
        });
    </script>
</asp:Content>
