﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RenderChartsForSurvey.aspx.cs" Inherits="RenderChartsForSurvey" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
                         <asp:Panel ID="rpnl_reportsdata" runat="server"  CssClass="padno"  Width="600">
                         </asp:Panel>  
    
    </div>
    </form>
    <script src="Charts/FusionCharts.js" type="text/javascript"></script>
     <script type="text/javascript" src="Charts/jquery.min.js"></script>
      <script type="text/javascript" src="FusionCharts/FusionCharts.js"></script>   
    <script src="Charts/FusionChartsExportComponent.js" type="text/javascript"></script>

	<script type="text/javascript">
	    //The Preloader is loaded here by checking the Initialization of JavaScript Class.
	  //  var chartnamerepeat = "chart,";
	    FusionCharts.addEventListener("initialized", function (e, a) {
	   // alert(e.sender.id);


	    $("#chartContainerParent #floader").show();
	      
	    });

	    FusionCharts.addEventListener("Rendered", function (e, a) {
	       // alert("ppt");
	        FusionCharts(e.sender.id).exportChart(); 
            $("#chartContainerParent #floader").hide();
	    });

	    //FusionCharts.setCurrentRenderer("javascript");

	    //FusionCharts.addEventListener("Rendered", function (e, a) {
	    //    $("#chartContainerParent #floader").hide();
	    //});



</script>


</body>
</html>
