﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Sample.aspx.cs" Inherits="Sample" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:TextBox ID="txtPwd" runat="server"></asp:TextBox><br />
    <asp:Button ID="btnDecrypt" runat="server" Text="Decrypt"  OnClick="btnDecrypt_Click"/><br />
    <asp:DropDownList ID="ddlCountry" runat="server"></asp:DropDownList>
    </div>
    </form>
</body>
</html>
