﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SingleSeries.aspx.cs" Inherits="SingleSeries" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
 <script src="Charts/FusionCharts.js" type="text/javascript"></script>
     <script type="text/javascript" src="Charts/jquery.min.js"></script>
      <script type="text/javascript" src="FusionCharts/FusionCharts.js"></script>   
    <script src="Charts/FusionChartsExportComponent.js" type="text/javascript"></script>
<body>
   <form id='form1' name='form1' method='post' runat="server">        
   <asp:Literal ID="Literal1" runat="server"></asp:Literal>      
   </form>
</body>
</html>
