﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="TestPageForSurveys.aspx.cs" Inherits="TestPageForSurveys" %>
<%@ Register src="UserControls/SurveyCopyFromTemplate.ascx" tagname="SurveyCopyFromTemplate" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">


    <uc1:SurveyCopyFromTemplate ID="SurveyCopyFromTemplate1" runat="server" />


</asp:Content>

