﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="Test.aspx.cs" Inherits="Test" %>
<%@ Import Namespace="Insighto.Data" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
<div>
  <%-- <asp:Button ID="btnGet" runat="server" OnClick="btnGet_Click" Text="Get"/>--%>
  <asp:TextBox ID="txtKey" runat="server"></asp:TextBox><br />
  <asp:Button ID="btnDecode" runat="server" Text="Decode" OnClick="btnDecode_Click" />
</div>

</asp:Content>

