﻿<%@ Page Title="" Language="C#"  AutoEventWireup="true"  CodeFile="twittershare.aspx.cs" inherits="twittershare" Culture="auto" UICulture="auto" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
 <title></title>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">

    // Must be load at the earliest
    twttr.events.bind('tweet', function (event) {
        TweetPosted();
    });

    ShowValue = function (name, result, msg) {
        window.opener.displaySuccess(name, result, msg);
        window.close();
    }


    DoTweet = function () {
        window.resizeTo(300, 20);
        window.moveTo(screen.width/3, screen.height/2);
        // Load Tweeter events
        ShowTwttr();
        // Pause for a sec
        setTimeout(ClickShareLink, 1000);
    }

    ClickShareLink = function () {
        document.getElementById("shareLink").click();
    }

    TweetPosted = function () {
        alert("Tweet Posted");
        window.close();
    }

    ShowTwttr = function () {
        var myURL = "http://www.insighto.com";
        var mytext = "Text";
        var url = "http://twitter.com/share" + "?url=" + encodeURIComponent(myURL) +
                  "&text=" + encodeURIComponent(mytext);
        document.getElementById("shareLink").href = url;
    }


    twttr.events.bind('tweet', function (event) {

        alert('thank you for tweeting');

    });


    function show_login_status(network, status) {

        alert(status);
        alert(twttr.arbiterInform);


        if (status) {

            alert("Logged in to " + network);

        } else {

            alert("Not logged in to " + network);

        }

    }

</script>
</head>
<body style="margin-top:0px;margin-left:0px;margin-right:0px;"  >
    <form id="form1" runat="server" >
<%--<div  id="twitteruser" class="tweet">
<a id="shareLink" href="http://twitter.com/share" class="twitter-share-button"></a>
</div>

<img style="display:none;" src="https://twitter.com/login?redirect_after_login=%2Fimages%2Fspinner.gif" onload="show_login_status('Twitter', true)" onerror="show_login_status('Twitter', false)" />
--%>

<%--<asp:HiddenField ID="OT" Value="" Visible="false" runat="server" />
<asp:HiddenField ID="OV" Value="" Visible="false" runat="server" />
<asp:HiddenField ID="sn" Value="" Visible="false" runat="server" />
<asp:HiddenField ID="uid" Value="" Visible="false" runat="server" />
<asp:HiddenField ID="fc" Value="" Visible="false" runat="server" />
<asp:HiddenField ID="ts" Value="" Visible="false" runat="server" />--%>
     </form>
    </body>
    </html>
