﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ModelMaster.master" AutoEventWireup="true"
    CodeFile="ViewFolderPopUp.aspx.cs" Inherits="Insighto.Pages.ViewFolderPopUp"%>

<asp:Content ID="Content2" ContentPlaceHolderID="HeaderPlaceHolder" runat="Server">
    <div class="popupHeading">
        <!-- popup heading -->
        <div class="popupTitle">
            <h3>
                <asp:Label ID="lblTitle" runat="server" Text="Manage  Folders"></asp:Label>
            </h3>
        </div>
        <%--<div class="popupClosePanel">
            <a href="#" class="popupCloseLink" onclick="closeModalSelf(false,'');" title="Close">
                &nbsp;</a>
        </div>--%>
        <!-- //popup heading -->
    </div>
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="popupContentPanel">
        <!-- popup content panel -->
        <div class="successPanel" id="dvSuccessMsg" runat="server" visible="false">
            <div>
                <asp:Label ID="lblSuccessMsg" runat="server" Visible="False"
                    meta:resourcekey="lblSuccessMsgResource1"></asp:Label>
            </div>
        </div>
        <div class="errorMessagePanel" id="dvErrMsg" runat="server" visible="false">
            <div>
                <asp:Label ID="lblErrMsg" runat="server" Visible="False" Text="fyt."
                    meta:resourcekey="lblErrMsgResource1"></asp:Label>
            </div>
        </div>
        <div class="formPanel">
            <!-- form -->
            <p class="defaultHeight">
            </p>
            <div class="div_pnl_rightcolumn">
                <asp:Label ID="lblMoveSurveys" runat="server" Text="Move Surveys to Folder :"></asp:Label>
               
                <asp:DropDownList ID="ddlFolders" runat="server" CssClass="dropdownMedium" OnSelectedIndexChanged="ddlFolders_SelectedIndexChanged"
                    AutoPostBack="True" meta:resourcekey="ddlFoldersResource1">
                </asp:DropDownList>
            </div>
            <%--<asp:LinkButton  ID="linkBtn"  CssClass="MoveSurveysIcon" runat="server" 
            Text="Move Surveys to category" ></asp:LinkButton>--%>
            <p class="defaultHeight">
            </p>
            <div class="clear">
            </div>
            <div>
                <div id="ptoolbar">
                </div>
                <table id="tblJobKits">
                </table>
            </div>
            <asp:HiddenField ID="hdntxtValue" runat="server" />
            <!-- //form -->
        </div>
        <div class="clear">
        </div>
        <!-- //popup content panel -->
    </div>
    <script type="text/javascript">       

   	   var serviceUrl = 'AjaxService.aspx';
   	   var displayMode = 'All';
       var folderId = <%= FolderId %>
	   $(document).ready(function () {
	       $("#tblJobKits").jqGrid({
	           url: serviceUrl,
	           postData: { method: "FindSurveysByFolder", mode: 'All', cid: folderId, reqType: "folders" },
	           datatype: 'json',
	           colNames: ['','<%= SurveyMode %> Name', '<%= SurveyMode %> Category', 'Created By', 'Sent to', 'Responses', 'Status'],
	           colModel: [
                {name:'SURVEY_ID',index:'SURVEY_ID', hidden: true},
				{ name: 'SurveyUrl', index: 'SURVEY_NAME', width: 130, align: 'left', editable: false, resizable: false, size: 300},
                { name: 'SURVEY_CATEGORY', index: 'SURVEY_CATEGORY', align: 'left', width: 170, editable: false, resizable: false, size: 300 },
				{ name: 'NAME', index: 'Name', width: 130, align: 'left', editable: false, resizable: false, size: 300 },
                { name: 'SEND_TO', index: 'SEND_TO', width: 130, align:'center',  editable:false, resizable:false, size: 300 },
				{ name: 'TOTAL_RESPONSES', index: 'TOTAL_RESPONSES', width: 130, align: 'center', editable: false, resizable: false, size: 300 },
				{ name: 'STATUS', index: 'STATUS', align: 'center', width: 100, editable: false, resizable: false, size: 150 }

				 ],
	           rowNum: <%=_recordsCount %>,
	           rowList: [10, 20, 30, 40, 50],
	           pager: '#ptoolbar',
	           gridview: true,
	           sortname: 'SURVEY_ID',
	           sortorder: "DESC",
	           viewrecords: true,
	           multiselect: true,

	           jsonReader: { repeatitems: false },
	           width: 710,
	           caption: '',
	           height: '100%',
	           loadComplete: function () {

	           }
	       });

	       $("#tblJobKits").jqGrid('navGrid', '#ptoolbar', { del: false, add: false, edit: false, search: false,refresh:false });
	       jQuery("#cb_tblJobKits").click(function() {         
                var grid = jQuery("#tblJobKits");
                  var ids = grid.jqGrid('getGridParam', 'selarrrow');    
	           if (ids.length > 0) {
	               var names = [];
	               for (var i = 0, il = ids.length; i < il; i++) {
	                   var name = grid.jqGrid('getCell', ids[i], 'SURVEY_ID');
	                   names.push(name);
	               }                
	               $("#ContentPlaceHolder1_hdntxtValue").val(names);                   

	           } else
               {
                 $("#ContentPlaceHolder1_hdntxtValue").val("");
               }
           
           });
           jQuery("#tblJobKits").click(function () {         
           $('#cb_tblJobKits').removeAttr('checked');
	           var s;             
                s = jQuery("#tblJobKits").jqGrid('getGridParam', 'selarrrow');

	           var grid = jQuery("#tblJobKits");
	           var ids = grid.jqGrid('getGridParam', 'selarrrow');            
	           if (ids.length > 0) {                
	               var names = [];
	               for (var i = 0, il = ids.length; i < il; i++) {
	                   var name = grid.jqGrid('getCell', ids[i], 'SURVEY_ID');                     
	                   names.push(name);
	               }
	               $("#ContentPlaceHolder1_hdntxtValue").val(names);
	           } else
               {
                 $("#ContentPlaceHolder1_hdntxtValue").val("");
               }

	       });

	   });
      
	   function gridReload() {
		   $("#tblJobKits").jqGrid('setGridParam', { url: serviceUrl, page: 1 }).trigger("reloadGrid");
	   }

    </script>
</asp:Content>
