@charset "utf-8";
.landing {
}
body
{
	color:#878686;
	background:#FFF;
	margin:0px;
	padding:0px;
	font-family: 'Conv_MyriadPro-Cond', 'Conv_MyriadPro-Regular', Arial, Helvetica, sans-serif;
	font-size:18px;
	*overflow:hidden;
}
h1, h2, h3, h4, h5, ul, li, form, td
{
	margin:0px;
	padding:0px;
}
.maincontainer
{
	clear:both;
	width:1004px;	
	margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
#header
{
	height:92px;
	background:url(../images/logo_bg.png) repeat-x;
}
.logo
{
	width:317px;
	height:72px;
	padding:6px 0px 7px 22px;
}
#bannerbg
{
   
	height:405px;
	background:url(../images/main_banner_bg.png) repeat-x;
}
.left_main_txtbox
{
	width:656px;
	float:left;
}
.lblRequired
{
    
    padding-left: 20px;
    color:Red;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}
.main_txt
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:38px;
	font-weight:bold;
	color:#3e3e3e;
}
.and_its_better
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	color:#3e3e3e;
}
.from_box
{
	width:329px;
	float:left;
	margin-top:29px;
	background:#9a4694;
    z-index: 1;
    left: 663px;
    top: 53px;
    position: absolute;
    height: 419px;
}
.to_discoverd_survey
{
	color:#FFF;
	text-align:center;
	font-size:24px;
	margin:15px 20px 7px 20px;
	font-family:Arial, Helvetica, sans-serif;
    height: 53px;
    width: 305px;
}
.sign_up_now
{
	color:#f7a501;
	text-align:center;
	font-size:18px;
	margin:3px 20px 10px 20px;
	font-family:Arial, Helvetica, sans-serif;
}
.form_field
{
	width:260px;
	border:solid 1px #CCCCCC;
	border-radius:4px;
	margin:0px 0px 10px 32px;
	height:30px;
	padding-left:0.5em;
	font-size:14px;
	
}
.sign_up_detail
{
	padding:0px 32px;
}
.sign_up_button
{
	width:130px;
	float:left;
}
.its_free
{
	color:#FFF;
	text-align:left;
	font-size:24px;
	margin:10px 20px 7px 20px;
	font-family:Arial, Helvetica, sans-serif;
}
.no_credit_card
{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	padding:7px 0px;
}
.logo_area
{
	margin:20px 20px 10px 20px;
	clear:both;
	height:85px;
	border-bottom:dashed 1px #e6e6e6;
}
.logo_imrb
{
	width:132px;
	background:url(../images/logo_imrb.png) no-repeat;
	height:65px;
	float:left;
	margin:0px 75px 0px 0px;
}
.logo_ddb_mudra
{
	width:143px;
	background:url(../images/logo_ddb_mudra.png) no-repeat;
	height:65px;
	float:left;
	margin:0px 51px 0px 0px;
}
.logo_the_strategist
{
	width:194px;
	background:url(../images/logo_the_strategist.png) no-repeat;
	height:65px;
	float:left;
	margin:0px 57px 0px 0px;
}
.logo_people_matters
{
	width:107px;
	background:url(../images/logo_people_matters.png) no-repeat;
	height:65px;
	float:left;
	margin:0px 63px 0px 0px;
}
.logo_tmp_worldwide
{
	width:101px;
	background:url(../images/logo_tmp_worldwide.png) no-repeat;
	height:65px;
	float:left;
}
.main_content
{
	margin:20px 20px 20px 20px;
	clear:both;
}
.helpful_temp_box
{
	width:300px;
	margin-right:30px;
	float:left;
}
.helpful_template
{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	line-height:31px;
	padding-left:15px;
	background:#984492;
}
.header_bottom_border
{
	background:url(../images/bottom_border_shadow.png) repeat-x;
	height:10px;
}
.content
{
	padding:0px 15px;
}
.real_time_box
{
	width:304px;
	float:left;
}
.page_main_content
{
	width:442px;
	float:left;
	margin:0px 35px 20px 20px;
}
.page_main_content_shadow
{
	background:url(../images/main_content_shadow.png) no-repeat;
	width:422px;
	height:28px;
	margin-bottom:10px;
}
.clear
{
	margin:0px;
	padding:0px;
	clear:both;
}
.wht_client_sys_box
{
	width:487px;
	float:left;
}
.wht_client_sys
{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	line-height:31px;
	padding-left:15px;
	background:#984492;
	width:250px;
}
.testimonial_content
{
	padding:0px 10px 10px 30px;
}
.testimonial_by
{
	text-align:right;
	padding-right:15px;
}
.footer_area
{
	margin:20px 40px 10px 35px;
	clear:both;
	border-top:dashed 1px #e6e6e6;
}
.copyright
{
	width:277px;
	float:left;
	margin:15px 0px 15px 0px;
	font-size:15px;
	height:12px;
}
.privacy
{
	width:377px;
	height:12px;
	left:740px;
	float:right;
	font-size:15px;
	margin:10px 0px;
	top:1160px;
}
.privacy ul
{
	margin:0px;
	padding:0px;
}
.privacy ul li
{
	list-style:none;
	float:left;
}
.privacy ul li a
{
	text-decoration:none;
	color:#878686;
	padding:9px;
}
.privacy ul li a:hover
{
	text-decoration:none;
	color:#984492;
}